
@font-face {
    font-family: 'header';
    src: url('fonts/soupofjustice-webfont.eot');
    src: url('fonts/soupofjustice-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/soupofjustice-webfont.woff2') format('woff2'),
         url('fonts/soupofjustice-webfont.woff') format('woff'),
         url('fonts/soupofjustice-webfont.ttf') format('truetype'),
         url('fonts/soupofjustice-webfont.svg#header') format('svg');
    font-weight: normal;
    font-style: normal;

}