html {height: 100%; width: 100%; max-width: 100%; max-height: 100%; position: relative; overflow: hidden;}
body {width: 100%; height: 100%; background: #000000; margin: 0;  max-width: 100%; max-height: 100%; position: relative; overflow: hidden;}


.container {position: relative; width: 100%; height: 100%;}
.game {position: absolute;}
body.desktop .game {top: 0; bottom: 0; left: 0; right: 0; margin: auto;}


.id1-play {font: 70px header;}
.id2-instructions {font: 75px header;}
.id3-instructions_copy1 {font: bold 26px Arial;}
.id5-your_score {font: 75px header;}
.id6-play_again {font: 70px header;}
.id7-rotate_device {font: 75px header;}
.id8-best {font: 50px header;}
.end_score {font: bold 140px header;}
.in_game_score {font: 80px header;}
