<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ezra1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,276}}</string>
                <key>sourceSize</key>
                <string>{163,276}</string>
            </dict>
            <key>Ezra2.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{163,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,276}}</string>
                <key>sourceSize</key>
                <string>{163,276}</string>
            </dict>
            <key>Ezra3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{163,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,276}}</string>
                <key>sourceSize</key>
                <string>{163,276}</string>
            </dict>
            <key>Ezra_sitting.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{71,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,141}}</string>
                <key>sourceSize</key>
                <string>{71,141}</string>
            </dict>
            <key>Hera1.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{163,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,276}}</string>
                <key>sourceSize</key>
                <string>{163,276}</string>
            </dict>
            <key>Hera2.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,2},{163,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,276}}</string>
                <key>sourceSize</key>
                <string>{163,276}</string>
            </dict>
            <key>Hera3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{163,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,276}}</string>
                <key>sourceSize</key>
                <string>{163,276}</string>
            </dict>
            <key>Hera_Sitting.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,280},{92,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,149}}</string>
                <key>sourceSize</key>
                <string>{92,149}</string>
            </dict>
            <key>Kanan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,280},{163,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,276}}</string>
                <key>sourceSize</key>
                <string>{163,276}</string>
            </dict>
            <key>Kanan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,280},{163,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,276}}</string>
                <key>sourceSize</key>
                <string>{163,276}</string>
            </dict>
            <key>Kanan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,280},{163,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,276}}</string>
                <key>sourceSize</key>
                <string>{163,276}</string>
            </dict>
            <key>Kanan_Sitting.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,280},{98,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,156}}</string>
                <key>sourceSize</key>
                <string>{98,156}</string>
            </dict>
            <key>Sabine1.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,280},{163,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,276}}</string>
                <key>sourceSize</key>
                <string>{163,276}</string>
            </dict>
            <key>Sabine2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{163,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,276}}</string>
                <key>sourceSize</key>
                <string>{163,276}</string>
            </dict>
            <key>Sabine3.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,558},{163,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,276}}</string>
                <key>sourceSize</key>
                <string>{163,276}</string>
            </dict>
            <key>Sabine_Sitting.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,558},{67,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,145}}</string>
                <key>sourceSize</key>
                <string>{67,145}</string>
            </dict>
            <key>Zeb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,558},{163,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,276}}</string>
                <key>sourceSize</key>
                <string>{163,276}</string>
            </dict>
            <key>Zeb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,558},{163,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,276}}</string>
                <key>sourceSize</key>
                <string>{163,276}</string>
            </dict>
            <key>Zeb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,558},{163,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,276}}</string>
                <key>sourceSize</key>
                <string>{163,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites_npcs.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28385913eb028e5c700f245a6c337f05:6229be70f22739fe26b8eae034648c79:53605bf8489e968d928ac2b5884428b4$</string>
            <key>textureFileName</key>
            <string>sprites_npcs.png</string>
        </dict>
    </dict>
</plist>
