<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_billy_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,0},{315,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{315,418}}</string>
				<key>sourceSize</key>
				<string>{315,418}</string>
			</dict>

			<key>char_billy_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,424},{315,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{315,418}}</string>
				<key>sourceSize</key>
				<string>{315,418}</string>
			</dict>

			<key>char_billy_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,848},{315,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{315,418}}</string>
				<key>sourceSize</key>
				<string>{315,418}</string>
			</dict>

			<key>char_blossom_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1138,1365},{162,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,177}}</string>
				<key>sourceSize</key>
				<string>{162,177}</string>
			</dict>

			<key>char_blossom_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,1747},{162,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,177}}</string>
				<key>sourceSize</key>
				<string>{162,177}</string>
			</dict>

			<key>char_blossom_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,1747},{162,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,177}}</string>
				<key>sourceSize</key>
				<string>{162,177}</string>
			</dict>

			<key>char_bubbles_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,1662},{279,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,213}}</string>
				<key>sourceSize</key>
				<string>{279,213}</string>
			</dict>

			<key>char_bubbles_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,1176},{279,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,213}}</string>
				<key>sourceSize</key>
				<string>{279,213}</string>
			</dict>

			<key>char_bubbles_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,1662},{279,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,213}}</string>
				<key>sourceSize</key>
				<string>{279,213}</string>
			</dict>

			<key>char_buttercup_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,856},{139,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,235}}</string>
				<key>sourceSize</key>
				<string>{139,235}</string>
			</dict>

			<key>char_buttercup_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,1097},{139,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,235}}</string>
				<key>sourceSize</key>
				<string>{139,235}</string>
			</dict>

			<key>char_buttercup_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,615},{139,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,235}}</string>
				<key>sourceSize</key>
				<string>{139,235}</string>
			</dict>

			<key>char_him_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,920},{335,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,454}}</string>
				<key>sourceSize</key>
				<string>{335,454}</string>
			</dict>

			<key>char_him_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,460},{335,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,454}}</string>
				<key>sourceSize</key>
				<string>{335,454}</string>
			</dict>

			<key>char_him_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{335,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,454}}</string>
				<key>sourceSize</key>
				<string>{335,454}</string>
			</dict>

			<key>char_lumpkins_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,0},{314,386}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{314,386}}</string>
				<key>sourceSize</key>
				<string>{314,386}</string>
			</dict>

			<key>char_lumpkins_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,392},{314,386}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{314,386}}</string>
				<key>sourceSize</key>
				<string>{314,386}</string>
			</dict>

			<key>char_lumpkins_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,784},{314,386}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{314,386}}</string>
				<key>sourceSize</key>
				<string>{314,386}</string>
			</dict>

			<key>char_mayor_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,0},{155,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,199}}</string>
				<key>sourceSize</key>
				<string>{155,199}</string>
			</dict>

			<key>char_mayor_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,205},{155,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,199}}</string>
				<key>sourceSize</key>
				<string>{155,199}</string>
			</dict>

			<key>char_mayor_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,410},{155,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,199}}</string>
				<key>sourceSize</key>
				<string>{155,199}</string>
			</dict>

			<key>char_mojo_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1380},{328,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{328,276}}</string>
				<key>sourceSize</key>
				<string>{328,276}</string>
			</dict>

			<key>char_mojo_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,1380},{328,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{328,276}}</string>
				<key>sourceSize</key>
				<string>{328,276}</string>
			</dict>

			<key>char_mojo_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1662},{328,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{328,276}}</string>
				<key>sourceSize</key>
				<string>{328,276}</string>
			</dict>

			<key>char_morbucks_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,1571},{229,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{229,170}}</string>
				<key>sourceSize</key>
				<string>{229,170}</string>
			</dict>

			<key>char_morbucks_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,1395},{229,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{229,170}}</string>
				<key>sourceSize</key>
				<string>{229,170}</string>
			</dict>

			<key>char_morbucks_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1395},{229,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{229,170}}</string>
				<key>sourceSize</key>
				<string>{229,170}</string>
			</dict>

			<key>char_utonium_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,910},{204,449}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,449}}</string>
				<key>sourceSize</key>
				<string>{204,449}</string>
			</dict>

			<key>char_utonium_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,0},{204,449}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,449}}</string>
				<key>sourceSize</key>
				<string>{204,449}</string>
			</dict>

			<key>char_utonium_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,455},{204,449}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,449}}</string>
				<key>sourceSize</key>
				<string>{204,449}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>char.png</string>
			</dict>
		</dict>
</plist>