<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_cloud_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,1113},{186,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,443}}</string>
				<key>sourceSize</key>
				<string>{186,443}</string>
			</dict>

			<key>fx_cloud_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,1562},{186,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,443}}</string>
				<key>sourceSize</key>
				<string>{186,443}</string>
			</dict>

			<key>fx_cloud_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,664},{186,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,443}}</string>
				<key>sourceSize</key>
				<string>{186,443}</string>
			</dict>

			<key>fx_cloud_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,0},{186,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,443}}</string>
				<key>sourceSize</key>
				<string>{186,443}</string>
			</dict>

			<key>fx_cloud_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1296,449},{186,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,443}}</string>
				<key>sourceSize</key>
				<string>{186,443}</string>
			</dict>

			<key>fx_cloud_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,664},{186,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,443}}</string>
				<key>sourceSize</key>
				<string>{186,443}</string>
			</dict>

			<key>fx_cloud_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,1562},{186,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,443}}</string>
				<key>sourceSize</key>
				<string>{186,443}</string>
			</dict>

			<key>fx_cloud_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,1113},{186,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,443}}</string>
				<key>sourceSize</key>
				<string>{186,443}</string>
			</dict>

			<key>fx_poof_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{602,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{602,249}}</string>
				<key>sourceSize</key>
				<string>{602,249}</string>
			</dict>

			<key>fx_poof_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,255},{602,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{602,249}}</string>
				<key>sourceSize</key>
				<string>{602,249}</string>
			</dict>

			<key>fx_poof_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,510},{602,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{602,249}}</string>
				<key>sourceSize</key>
				<string>{602,249}</string>
			</dict>

			<key>fx_poof_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1785},{602,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{602,249}}</string>
				<key>sourceSize</key>
				<string>{602,249}</string>
			</dict>

			<key>fx_poof_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1020},{602,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{602,249}}</string>
				<key>sourceSize</key>
				<string>{602,249}</string>
			</dict>

			<key>fx_poof_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1275},{602,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{602,249}}</string>
				<key>sourceSize</key>
				<string>{602,249}</string>
			</dict>

			<key>fx_poof_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1530},{602,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{602,249}}</string>
				<key>sourceSize</key>
				<string>{602,249}</string>
			</dict>

			<key>fx_poof_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,765},{602,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{602,249}}</string>
				<key>sourceSize</key>
				<string>{602,249}</string>
			</dict>

			<key>fx_star_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,1299},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

			<key>fx_star_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,1237},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

			<key>fx_star_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,1175},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

			<key>fx_star_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,1113},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,56}}</string>
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>

			<key>fx_trail0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,1410},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,146}}</string>
				<key>sourceSize</key>
				<string>{150,146}</string>
			</dict>

			<key>fx_trail0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,1410},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,146}}</string>
				<key>sourceSize</key>
				<string>{150,146}</string>
			</dict>

			<key>fx_trail0_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,0},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,146}}</string>
				<key>sourceSize</key>
				<string>{150,146}</string>
			</dict>

			<key>fx_trail0_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,0},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,146}}</string>
				<key>sourceSize</key>
				<string>{150,146}</string>
			</dict>

			<key>fx_trail0_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,832},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,146}}</string>
				<key>sourceSize</key>
				<string>{150,146}</string>
			</dict>

			<key>fx_trail0_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,832},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,146}}</string>
				<key>sourceSize</key>
				<string>{150,146}</string>
			</dict>

			<key>fx_trail0_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,152},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,146}}</string>
				<key>sourceSize</key>
				<string>{150,146}</string>
			</dict>

			<key>fx_trail0_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1661,152},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,146}}</string>
				<key>sourceSize</key>
				<string>{150,146}</string>
			</dict>

			<key>fx_trail0_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,1866},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,146}}</string>
				<key>sourceSize</key>
				<string>{150,146}</string>
			</dict>

			<key>fx_trail0_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,1866},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,146}}</string>
				<key>sourceSize</key>
				<string>{150,146}</string>
			</dict>

			<key>fx_trail0_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1662,542},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,146}}</string>
				<key>sourceSize</key>
				<string>{150,146}</string>
			</dict>

			<key>fx_trail0_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1662,542},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,146}}</string>
				<key>sourceSize</key>
				<string>{150,146}</string>
			</dict>

			<key>fx_trail0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,1106},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,146}}</string>
				<key>sourceSize</key>
				<string>{150,146}</string>
			</dict>

			<key>fx_trail0_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,1106},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,146}}</string>
				<key>sourceSize</key>
				<string>{150,146}</string>
			</dict>

			<key>fx_trail0_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,1258},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,146}}</string>
				<key>sourceSize</key>
				<string>{150,146}</string>
			</dict>

			<key>fx_trail0_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,1258},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,146}}</string>
				<key>sourceSize</key>
				<string>{150,146}</string>
			</dict>

			<key>fx_trail0_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,1562},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,146}}</string>
				<key>sourceSize</key>
				<string>{150,146}</string>
			</dict>

			<key>fx_trail0_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,1562},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,146}}</string>
				<key>sourceSize</key>
				<string>{150,146}</string>
			</dict>

			<key>fx_trail0_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,1714},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,146}}</string>
				<key>sourceSize</key>
				<string>{150,146}</string>
			</dict>

			<key>fx_trail0_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,1714},{150,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,146}}</string>
				<key>sourceSize</key>
				<string>{150,146}</string>
			</dict>

			<key>fx_trail1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,256},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,256},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,0},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail1_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,0},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail1_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1408},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail1_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1408},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail1_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1152},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail1_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1152},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail1_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1024},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail1_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1024},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail1_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,896},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail1_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,768},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,128},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail1_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,640},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail1_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,640},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,128},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,384},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,384},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,512},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,512},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1280},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1280},{298,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,122}}</string>
				<key>sourceSize</key>
				<string>{298,122}</string>
			</dict>

			<key>fx_trail2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1662,304},{150,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,113}}</string>
				<key>sourceSize</key>
				<string>{150,113}</string>
			</dict>

			<key>fx_trail2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1662,304},{150,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,113}}</string>
				<key>sourceSize</key>
				<string>{150,113}</string>
			</dict>

			<key>fx_trail2_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1740,1222},{150,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,113}}</string>
				<key>sourceSize</key>
				<string>{150,113}</string>
			</dict>

			<key>fx_trail2_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1740,1222},{150,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,113}}</string>
				<key>sourceSize</key>
				<string>{150,113}</string>
			</dict>

			<key>fx_trail2_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1662,423},{150,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,113}}</string>
				<key>sourceSize</key>
				<string>{150,113}</string>
			</dict>

			<key>fx_trail2_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1662,423},{150,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,113}}</string>
				<key>sourceSize</key>
				<string>{150,113}</string>
			</dict>

			<key>fx_trail2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,984},{150,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,113}}</string>
				<key>sourceSize</key>
				<string>{150,113}</string>
			</dict>

			<key>fx_trail2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,984},{150,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,113}}</string>
				<key>sourceSize</key>
				<string>{150,113}</string>
			</dict>

			<key>fx_trail2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1662,694},{150,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,113}}</string>
				<key>sourceSize</key>
				<string>{150,113}</string>
			</dict>

			<key>fx_trail2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1662,694},{150,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,113}}</string>
				<key>sourceSize</key>
				<string>{150,113}</string>
			</dict>

			<key>fx_trail2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1740,1103},{150,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,113}}</string>
				<key>sourceSize</key>
				<string>{150,113}</string>
			</dict>

			<key>fx_trail2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1740,1103},{150,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,113}}</string>
				<key>sourceSize</key>
				<string>{150,113}</string>
			</dict>

			<key>fx_trail2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1740,1103},{150,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,113}}</string>
				<key>sourceSize</key>
				<string>{150,113}</string>
			</dict>

			<key>fx_trail2_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1740,1103},{150,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,113}}</string>
				<key>sourceSize</key>
				<string>{150,113}</string>
			</dict>

			<key>fx_trail3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,498},{203,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,160}}</string>
				<key>sourceSize</key>
				<string>{203,160}</string>
			</dict>

			<key>fx_trail3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,498},{203,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,160}}</string>
				<key>sourceSize</key>
				<string>{203,160}</string>
			</dict>

			<key>fx_trail3_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1868},{203,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,160}}</string>
				<key>sourceSize</key>
				<string>{203,160}</string>
			</dict>

			<key>fx_trail3_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1868},{203,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,160}}</string>
				<key>sourceSize</key>
				<string>{203,160}</string>
			</dict>

			<key>fx_trail3_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,1536},{203,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,160}}</string>
				<key>sourceSize</key>
				<string>{203,160}</string>
			</dict>

			<key>fx_trail3_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,1536},{203,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,160}}</string>
				<key>sourceSize</key>
				<string>{203,160}</string>
			</dict>

			<key>fx_trail3_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,1702},{203,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,160}}</string>
				<key>sourceSize</key>
				<string>{203,160}</string>
			</dict>

			<key>fx_trail3_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,1868},{203,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,160}}</string>
				<key>sourceSize</key>
				<string>{203,160}</string>
			</dict>

			<key>fx_trail3_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,0},{203,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,160}}</string>
				<key>sourceSize</key>
				<string>{203,160}</string>
			</dict>

			<key>fx_trail3_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,0},{203,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,160}}</string>
				<key>sourceSize</key>
				<string>{203,160}</string>
			</dict>

			<key>fx_trail3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1702},{203,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,160}}</string>
				<key>sourceSize</key>
				<string>{203,160}</string>
			</dict>

			<key>fx_trail3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1702},{203,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,160}}</string>
				<key>sourceSize</key>
				<string>{203,160}</string>
			</dict>

			<key>fx_trail3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,166},{203,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,160}}</string>
				<key>sourceSize</key>
				<string>{203,160}</string>
			</dict>

			<key>fx_trail3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,166},{203,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,160}}</string>
				<key>sourceSize</key>
				<string>{203,160}</string>
			</dict>

			<key>fx_trail3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,332},{203,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,160}}</string>
				<key>sourceSize</key>
				<string>{203,160}</string>
			</dict>

			<key>fx_trail3_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,332},{203,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,160}}</string>
				<key>sourceSize</key>
				<string>{203,160}</string>
			</dict>

			<key>fx_trail3_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1536},{203,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,160}}</string>
				<key>sourceSize</key>
				<string>{203,160}</string>
			</dict>

			<key>fx_trail3_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1536},{203,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,160}}</string>
				<key>sourceSize</key>
				<string>{203,160}</string>
			</dict>

			<key>fx_trail4_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1296,898},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1296,898},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,208},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,208},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,1314},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,1314},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,1522},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,1522},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,0},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,0},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1488,416},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1488,416},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,449},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1488,624},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1488,624},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,898},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1470,898},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,1730},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,1730},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,449},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1313,0},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1313,0},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,1106},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,1106},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1313,208},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

			<key>fx_trail4_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1313,208},{168,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,202}}</string>
				<key>sourceSize</key>
				<string>{168,202}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
			</dict>
		</dict>
</plist>