<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_bathD.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,0},{140,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,127}}</string>
				<key>sourceSize</key>
				<string>{140,127}</string>
			</dict>

			<key>ui_bathU.png</key>
			<dict>
				<key>frame</key>
				<string>{{1602,0},{140,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,127}}</string>
				<key>sourceSize</key>
				<string>{140,127}</string>
			</dict>

			<key>ui_brushD.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,667},{140,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,128}}</string>
				<key>sourceSize</key>
				<string>{140,128}</string>
			</dict>

			<key>ui_brushU.png</key>
			<dict>
				<key>frame</key>
				<string>{{1602,399},{140,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,128}}</string>
				<key>sourceSize</key>
				<string>{140,128}</string>
			</dict>

			<key>ui_btnHowToPlay_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,573},{441,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,119}}</string>
				<key>sourceSize</key>
				<string>{441,119}</string>
			</dict>

			<key>ui_btnHowToPlay_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,856},{441,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,119}}</string>
				<key>sourceSize</key>
				<string>{441,119}</string>
			</dict>

			<key>ui_btnLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,473},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_btnPlayAgainD.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,698},{379,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{379,112}}</string>
				<key>sourceSize</key>
				<string>{379,112}</string>
			</dict>

			<key>ui_btnPlayAgainU.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,862},{379,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{379,112}}</string>
				<key>sourceSize</key>
				<string>{379,112}</string>
			</dict>

			<key>ui_btnPlay_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{1386,862},{229,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{229,133}}</string>
				<key>sourceSize</key>
				<string>{229,133}</string>
			</dict>

			<key>ui_btnPlay_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,334},{229,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{229,133}}</string>
				<key>sourceSize</key>
				<string>{229,133}</string>
			</dict>

			<key>ui_btnRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,473},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_bulb0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,956},{260,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,43}}</string>
				<key>sourceSize</key>
				<string>{260,43}</string>
			</dict>

			<key>ui_bulb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,956},{40,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,41}}</string>
				<key>sourceSize</key>
				<string>{40,41}</string>
			</dict>

			<key>ui_clothesD.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,133},{140,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,127}}</string>
				<key>sourceSize</key>
				<string>{140,127}</string>
			</dict>

			<key>ui_clothesU.png</key>
			<dict>
				<key>frame</key>
				<string>{{1602,266},{140,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,127}}</string>
				<key>sourceSize</key>
				<string>{140,127}</string>
			</dict>

			<key>ui_combD.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,533},{140,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,128}}</string>
				<key>sourceSize</key>
				<string>{140,128}</string>
			</dict>

			<key>ui_combU.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,266},{140,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,128}}</string>
				<key>sourceSize</key>
				<string>{140,128}</string>
			</dict>

			<key>ui_dryD.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,400},{140,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,127}}</string>
				<key>sourceSize</key>
				<string>{140,127}</string>
			</dict>

			<key>ui_dryU.png</key>
			<dict>
				<key>frame</key>
				<string>{{1602,133},{140,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,127}}</string>
				<key>sourceSize</key>
				<string>{140,127}</string>
			</dict>

			<key>ui_newRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,0},{232,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,328}}</string>
				<key>sourceSize</key>
				<string>{232,328}</string>
			</dict>

			<key>ui_perfect.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,856},{548,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{548,94}}</string>
				<key>sourceSize</key>
				<string>{548,94}</string>
			</dict>

			<key>ui_preGameBubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,573},{610,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{610,277}}</string>
				<key>sourceSize</key>
				<string>{610,277}</string>
			</dict>

			<key>ui_preGameProf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1063,0},{387,856}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{387,856}}</string>
				<key>sourceSize</key>
				<string>{387,856}</string>
			</dict>

			<key>ui_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{744,567}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{744,567}}</string>
				<key>sourceSize</key>
				<string>{744,567}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>