<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mg7_BrownSugarGlow.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,348},{217,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,130}}</string>
                <key>sourceSize</key>
                <string>{217,130}</string>
            </dict>
            <key>mg7_FlourGlow.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,409},{163,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,186}}</string>
                <key>sourceSize</key>
                <string>{163,186}</string>
            </dict>
            <key>mg7_HoneyGLow.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,199},{176,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,163}}</string>
                <key>sourceSize</key>
                <string>{176,163}</string>
            </dict>
            <key>mg7_MixMuffins_Bowl.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,169},{333,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,177}}</string>
                <key>sourceSize</key>
                <string>{333,177}</string>
            </dict>
            <key>mg7_MixMuffins_BowlContents1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{291,71}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{291,71}}</string>
                <key>sourceSize</key>
                <string>{291,105}</string>
            </dict>
            <key>mg7_MixMuffins_BowlContents2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{291,75}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{291,75}}</string>
                <key>sourceSize</key>
                <string>{291,105}</string>
            </dict>
            <key>mg7_MixMuffins_BowlContents3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{291,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,105}}</string>
                <key>sourceSize</key>
                <string>{291,105}</string>
            </dict>
            <key>mg7_MixMuffins_FlourPot.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,508},{118,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,152}}</string>
                <key>sourceSize</key>
                <string>{118,152}</string>
            </dict>
            <key>mg7_MixMuffins_FlourPotS.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,205},{175,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,27}}</string>
                <key>sourceSize</key>
                <string>{175,27}</string>
            </dict>
            <key>mg7_MixMuffins_HoneyPot.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,348},{128,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,158}}</string>
                <key>sourceSize</key>
                <string>{128,158}</string>
            </dict>
            <key>mg7_MixMuffins_HoneyPotS.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,480},{162,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,25}}</string>
                <key>sourceSize</key>
                <string>{162,25}</string>
            </dict>
            <key>mg7_MixMuffins_LOSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{486,165}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{486,165}}</string>
                <key>sourceSize</key>
                <string>{492,167}</string>
            </dict>
            <key>mg7_MixMuffins_PepperShaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,507},{61,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,117}}</string>
                <key>sourceSize</key>
                <string>{61,117}</string>
            </dict>
            <key>mg7_MixMuffins_PepperShakerS.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,672},{82,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,50}}</string>
                <key>sourceSize</key>
                <string>{82,50}</string>
            </dict>
            <key>mg7_MixMuffins_Pitcher.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,507},{157,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,163}}</string>
                <key>sourceSize</key>
                <string>{157,163}</string>
            </dict>
            <key>mg7_MixMuffins_PitcherS.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,340},{167,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,67}}</string>
                <key>sourceSize</key>
                <string>{167,67}</string>
            </dict>
            <key>mg7_MixMuffins_SaltShaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,626},{61,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,116}}</string>
                <key>sourceSize</key>
                <string>{61,116}</string>
            </dict>
            <key>mg7_MixMuffins_SaltShakerS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{91,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,52}}</string>
                <key>sourceSize</key>
                <string>{91,52}</string>
            </dict>
            <key>mg7_MixMuffins_SquareBowl.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,234},{172,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,104}}</string>
                <key>sourceSize</key>
                <string>{172,104}</string>
            </dict>
            <key>mg7_MixMuffins_SquareBowlS.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,169},{185,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,28}}</string>
                <key>sourceSize</key>
                <string>{185,28}</string>
            </dict>
            <key>mg7_MixMuffins_WIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{488,201}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{488,201}}</string>
                <key>sourceSize</key>
                <string>{494,205}</string>
            </dict>
            <key>mg7_PepperShaderGlow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{96,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,163}}</string>
                <key>sourceSize</key>
                <string>{96,163}</string>
            </dict>
            <key>mg7_PitcherGlow.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,364},{203,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,210}}</string>
                <key>sourceSize</key>
                <string>{203,210}</string>
            </dict>
            <key>mg7_SaltShakerGlow.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,462},{91,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,161}}</string>
                <key>sourceSize</key>
                <string>{91,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minigame_7_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bac776d8a088e769f79a07f35e71119:4f9027149506f7d7f2be8d118633c029:79d6834e1d6d86aa8d41000dd291f2ef$</string>
            <key>textureFileName</key>
            <string>minigame_7_0.png</string>
        </dict>
    </dict>
</plist>
