<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PogoJump_LOSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{106,218}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{106,218}}</string>
                <key>sourceSize</key>
                <string>{110,218}</string>
            </dict>
            <key>PogoJump_WIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{366,474}}</string>
                <key>offset</key>
                <string>{-200,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,86},{366,474}}</string>
                <key>sourceSize</key>
                <string>{996,560}</string>
            </dict>
            <key>WaterWave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{622,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{622,90}}</string>
                <key>sourceSize</key>
                <string>{622,102}</string>
            </dict>
            <key>WaterWave2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{622,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{622,90}}</string>
                <key>sourceSize</key>
                <string>{622,102}</string>
            </dict>
            <key>WaterWave3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{622,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,102}}</string>
                <key>sourceSize</key>
                <string>{622,102}</string>
            </dict>
            <key>mg5_PogoJump_Goldie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{115,244}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{115,244}}</string>
                <key>sourceSize</key>
                <string>{119,252}</string>
            </dict>
            <key>mg5_PogoJump_GoldieBlink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{39,18}}</string>
                <key>offset</key>
                <string>{18,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,89},{39,18}}</string>
                <key>sourceSize</key>
                <string>{119,252}</string>
            </dict>
            <key>mg5_PogoJump_RockA1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,724},{238,97}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{238,97}}</string>
                <key>sourceSize</key>
                <string>{252,109}</string>
            </dict>
            <key>mg5_PogoJump_RockA1_GLOW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{238,109}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,109}}</string>
                <key>sourceSize</key>
                <string>{252,109}</string>
            </dict>
            <key>mg5_PogoJump_RockA2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,823},{206,79}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{206,79}}</string>
                <key>sourceSize</key>
                <string>{252,109}</string>
            </dict>
            <key>mg5_PogoJump_RockA2_GLOW.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,823},{202,93}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{202,93}}</string>
                <key>sourceSize</key>
                <string>{252,109}</string>
            </dict>
            <key>mg5_PogoJump_RockA3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{210,77}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,9},{210,77}}</string>
                <key>sourceSize</key>
                <string>{252,109}</string>
            </dict>
            <key>mg5_PogoJump_RockA3_GLOW.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,918},{210,79}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{210,79}}</string>
                <key>sourceSize</key>
                <string>{252,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minigame_5_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05f66c8635e1d6a4dd8d2069b54da9fd:044f8e77dcf4695b7c3f3866430ed227:747db9a6748129434d61ea15f2095c79$</string>
            <key>textureFileName</key>
            <string>minigame_5_0.png</string>
        </dict>
    </dict>
</plist>
