<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bldg_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,519},{1056,357}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1056,357}}</string>
				<key>sourceSize</key>
				<string>{1056,357}</string>
			</dict>

			<key>bldg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1677},{986,357}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{986,357}}</string>
				<key>sourceSize</key>
				<string>{986,357}</string>
			</dict>

			<key>bldg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1281},{987,391}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{987,391}}</string>
				<key>sourceSize</key>
				<string>{987,391}</string>
			</dict>

			<key>bldg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,25},{1152,376}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1152,376}}</string>
				<key>sourceSize</key>
				<string>{1152,376}</string>
			</dict>

			<key>bldg_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,881},{1006,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1006,395}}</string>
				<key>sourceSize</key>
				<string>{1006,395}</string>
			</dict>

			<key>pavement.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,406},{1152,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1152,108}}</string>
				<key>sourceSize</key>
				<string>{1152,108}</string>
			</dict>

			<key>road.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1155,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1155,20}}</string>
				<key>sourceSize</key>
				<string>{1155,20}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>bgSprite.png</string>
			</dict>
		</dict>
</plist>