<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>charPlayer_death_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,965},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_death_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,772},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_death_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,1158},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_death_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,965},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_death_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,772},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_death_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,579},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_death_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,386},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_death_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,193},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_death_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,386},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_death_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_death_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,1544},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_death_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,1158},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_death_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,1158},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_hit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,579},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_hit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,386},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,193},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,0},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,1737},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,1544},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,1351},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,1158},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,965},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,772},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_idle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,579},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_idle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,386},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_jump_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,193},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_jump_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,0},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_jump_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,1737},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_jump_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,0},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_power_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,1351},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_power_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,1158},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_power_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,965},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_punch_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,772},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_punch_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,579},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_punch_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,386},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_punch_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,193},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1930},{115,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,12}}</string>
				<key>sourceSize</key>
				<string>{115,12}</string>
			</dict>

			<key>charPlayer_slide_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1737},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_slide_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1544},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_slide_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1351},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

			<key>charPlayer_slide_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1158},{259,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,188}}</string>
				<key>sourceSize</key>
				<string>{259,188}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>charPlayer.png</string>
			</dict>
		</dict>
</plist>