<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_cloudA_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1330},{276,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,107}}</string>
				<key>sourceSize</key>
				<string>{276,107}</string>
			</dict>

			<key>ui_cloudA_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1554},{276,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,107}}</string>
				<key>sourceSize</key>
				<string>{276,107}</string>
			</dict>

			<key>ui_cloudA_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1778},{276,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,107}}</string>
				<key>sourceSize</key>
				<string>{276,107}</string>
			</dict>

			<key>ui_cloudA_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1666},{276,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,107}}</string>
				<key>sourceSize</key>
				<string>{276,107}</string>
			</dict>

			<key>ui_cloudA_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1778},{276,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,107}}</string>
				<key>sourceSize</key>
				<string>{276,107}</string>
			</dict>

			<key>ui_cloudA_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1442},{276,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,107}}</string>
				<key>sourceSize</key>
				<string>{276,107}</string>
			</dict>

			<key>ui_cloudA_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1330},{276,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,107}}</string>
				<key>sourceSize</key>
				<string>{276,107}</string>
			</dict>

			<key>ui_cloudA_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1442},{276,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,107}}</string>
				<key>sourceSize</key>
				<string>{276,107}</string>
			</dict>

			<key>ui_cloudA_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1890},{276,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,107}}</string>
				<key>sourceSize</key>
				<string>{276,107}</string>
			</dict>

			<key>ui_cloudA_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,0},{276,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,107}}</string>
				<key>sourceSize</key>
				<string>{276,107}</string>
			</dict>

			<key>ui_cloudA_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,112},{276,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,107}}</string>
				<key>sourceSize</key>
				<string>{276,107}</string>
			</dict>

			<key>ui_cloudA_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,224},{276,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,107}}</string>
				<key>sourceSize</key>
				<string>{276,107}</string>
			</dict>

			<key>ui_cloudA_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1666},{276,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,107}}</string>
				<key>sourceSize</key>
				<string>{276,107}</string>
			</dict>

			<key>ui_cloudA_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1554},{276,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,107}}</string>
				<key>sourceSize</key>
				<string>{276,107}</string>
			</dict>

			<key>ui_cloudA_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1890},{276,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{276,107}}</string>
				<key>sourceSize</key>
				<string>{276,107}</string>
			</dict>

			<key>ui_cloudB_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{404,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{404,100}}</string>
				<key>sourceSize</key>
				<string>{404,100}</string>
			</dict>

			<key>ui_cloudB_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,315},{404,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{404,100}}</string>
				<key>sourceSize</key>
				<string>{404,100}</string>
			</dict>

			<key>ui_cloudB_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,210},{404,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{404,100}}</string>
				<key>sourceSize</key>
				<string>{404,100}</string>
			</dict>

			<key>ui_cloudB_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,105},{404,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{404,100}}</string>
				<key>sourceSize</key>
				<string>{404,100}</string>
			</dict>

			<key>ui_cloudC_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,804},{384,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,123}}</string>
				<key>sourceSize</key>
				<string>{384,123}</string>
			</dict>

			<key>ui_cloudC_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,932},{384,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,123}}</string>
				<key>sourceSize</key>
				<string>{384,123}</string>
			</dict>

			<key>ui_cloudC_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,420},{384,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,123}}</string>
				<key>sourceSize</key>
				<string>{384,123}</string>
			</dict>

			<key>ui_cloudC_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1188},{384,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,123}}</string>
				<key>sourceSize</key>
				<string>{384,123}</string>
			</dict>

			<key>ui_cloudC_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1316},{384,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,123}}</string>
				<key>sourceSize</key>
				<string>{384,123}</string>
			</dict>

			<key>ui_cloudC_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1060},{384,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,123}}</string>
				<key>sourceSize</key>
				<string>{384,123}</string>
			</dict>

			<key>ui_cloudC_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,548},{384,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,123}}</string>
				<key>sourceSize</key>
				<string>{384,123}</string>
			</dict>

			<key>ui_cloudC_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,676},{384,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,123}}</string>
				<key>sourceSize</key>
				<string>{384,123}</string>
			</dict>

			<key>ui_cloudC_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1828},{384,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,123}}</string>
				<key>sourceSize</key>
				<string>{384,123}</string>
			</dict>

			<key>ui_cloudC_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,420},{384,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,123}}</string>
				<key>sourceSize</key>
				<string>{384,123}</string>
			</dict>

			<key>ui_cloudC_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1444},{384,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,123}}</string>
				<key>sourceSize</key>
				<string>{384,123}</string>
			</dict>

			<key>ui_cloudC_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1572},{384,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,123}}</string>
				<key>sourceSize</key>
				<string>{384,123}</string>
			</dict>

			<key>ui_cloudC_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1700},{384,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,123}}</string>
				<key>sourceSize</key>
				<string>{384,123}</string>
			</dict>

			<key>ui_cloudC_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,548},{384,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,123}}</string>
				<key>sourceSize</key>
				<string>{384,123}</string>
			</dict>

			<key>ui_cloudD_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,676},{311,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,104}}</string>
				<key>sourceSize</key>
				<string>{311,104}</string>
			</dict>

			<key>ui_cloudD_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,785},{311,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,104}}</string>
				<key>sourceSize</key>
				<string>{311,104}</string>
			</dict>

			<key>ui_cloudD_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,894},{311,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,104}}</string>
				<key>sourceSize</key>
				<string>{311,104}</string>
			</dict>

			<key>ui_cloudD_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1003},{311,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,104}}</string>
				<key>sourceSize</key>
				<string>{311,104}</string>
			</dict>

			<key>ui_cloudD_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1112},{311,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,104}}</string>
				<key>sourceSize</key>
				<string>{311,104}</string>
			</dict>

			<key>ui_cloudD_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1221},{311,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,104}}</string>
				<key>sourceSize</key>
				<string>{311,104}</string>
			</dict>

			<key>ui_cloudE_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,940},{204,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,127}}</string>
				<key>sourceSize</key>
				<string>{204,127}</string>
			</dict>

			<key>ui_cloudE_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,808},{204,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,127}}</string>
				<key>sourceSize</key>
				<string>{204,127}</string>
			</dict>

			<key>ui_cloudE_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1072},{204,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,127}}</string>
				<key>sourceSize</key>
				<string>{204,127}</string>
			</dict>

			<key>ui_cloudE_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,396},{204,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,127}}</string>
				<key>sourceSize</key>
				<string>{204,127}</string>
			</dict>

			<key>ui_cloudE_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,528},{204,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,127}}</string>
				<key>sourceSize</key>
				<string>{204,127}</string>
			</dict>

			<key>ui_cloudE_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,676},{204,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,127}}</string>
				<key>sourceSize</key>
				<string>{204,127}</string>
			</dict>

			<key>ui_cloudE_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,264},{204,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,127}}</string>
				<key>sourceSize</key>
				<string>{204,127}</string>
			</dict>

			<key>ui_cloudE_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,132},{204,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,127}}</string>
				<key>sourceSize</key>
				<string>{204,127}</string>
			</dict>

			<key>ui_cloudE_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,0},{204,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,127}}</string>
				<key>sourceSize</key>
				<string>{204,127}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>cloud.png</string>
			</dict>
		</dict>
</plist>