<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>charDarwin_power_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,0},{285,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,188}}</string>
				<key>sourceSize</key>
				<string>{285,188}</string>
			</dict>

			<key>charDarwin_power_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{285,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,188}}</string>
				<key>sourceSize</key>
				<string>{285,188}</string>
			</dict>

			<key>charDarwin_power_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,193},{285,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,188}}</string>
				<key>sourceSize</key>
				<string>{285,188}</string>
			</dict>

			<key>charDarwin_power_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,386},{285,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,188}}</string>
				<key>sourceSize</key>
				<string>{285,188}</string>
			</dict>

			<key>charDarwin_power_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,193},{285,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,188}}</string>
				<key>sourceSize</key>
				<string>{285,188}</string>
			</dict>

			<key>charDarwin_power_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,386},{285,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,188}}</string>
				<key>sourceSize</key>
				<string>{285,188}</string>
			</dict>

			<key>charDarwin_power_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,0},{285,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,188}}</string>
				<key>sourceSize</key>
				<string>{285,188}</string>
			</dict>

			<key>charDarwin_power_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,193},{285,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,188}}</string>
				<key>sourceSize</key>
				<string>{285,188}</string>
			</dict>

			<key>charDarwin_power_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,579},{285,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,188}}</string>
				<key>sourceSize</key>
				<string>{285,188}</string>
			</dict>

			<key>charDarwin_power_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,772},{285,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,188}}</string>
				<key>sourceSize</key>
				<string>{285,188}</string>
			</dict>

			<key>charDarwin_power_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,386},{285,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,188}}</string>
				<key>sourceSize</key>
				<string>{285,188}</string>
			</dict>

			<key>charDarwin_power_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,772},{285,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,188}}</string>
				<key>sourceSize</key>
				<string>{285,188}</string>
			</dict>

			<key>charDarwin_power_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,579},{285,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,188}}</string>
				<key>sourceSize</key>
				<string>{285,188}</string>
			</dict>

			<key>charEn_blue_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,615},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_blue_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1025,0},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_blue_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1025,205},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_blue_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,410},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_blue_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,615},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_blue_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,410},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_blue_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,784},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_green_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,579},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_green_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,784},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_green_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,579},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_green_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,410},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_green_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,205},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_green_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1510,410},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_green_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1510,615},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_orange_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,410},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_orange_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,615},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_orange_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1490,205},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_orange_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,0},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_orange_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,0},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_orange_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,205},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_orange_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1490,0},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_yellow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,615},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_yellow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1335,0},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_yellow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1335,205},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_yellow_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1645,0},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_yellow_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1645,205},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_yellow_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1665,615},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>charEn_yellow_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1665,410},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,200}}</string>
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>

			<key>gobj_ballBlue_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,948},{85,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,50}}</string>
				<key>sourceSize</key>
				<string>{85,50}</string>
			</dict>

			<key>gobj_ballBlue_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,965},{85,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,50}}</string>
				<key>sourceSize</key>
				<string>{85,50}</string>
			</dict>

			<key>gobj_ballBlue_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,965},{85,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,50}}</string>
				<key>sourceSize</key>
				<string>{85,50}</string>
			</dict>

			<key>gobj_ballBlue_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,965},{85,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,50}}</string>
				<key>sourceSize</key>
				<string>{85,50}</string>
			</dict>

			<key>gobj_ballYellow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,965},{85,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,50}}</string>
				<key>sourceSize</key>
				<string>{85,50}</string>
			</dict>

			<key>gobj_ballYellow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,965},{85,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,50}}</string>
				<key>sourceSize</key>
				<string>{85,50}</string>
			</dict>

			<key>gobj_ballYellow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,965},{85,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,50}}</string>
				<key>sourceSize</key>
				<string>{85,50}</string>
			</dict>

			<key>gobj_ballYellow_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,948},{85,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,50}}</string>
				<key>sourceSize</key>
				<string>{85,50}</string>
			</dict>

			<key>gobj_cat_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1184,820},{93,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,123}}</string>
				<key>sourceSize</key>
				<string>{93,123}</string>
			</dict>

			<key>gobj_cat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,128},{93,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,123}}</string>
				<key>sourceSize</key>
				<string>{93,123}</string>
			</dict>

			<key>gobj_cat_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,820},{93,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,123}}</string>
				<key>sourceSize</key>
				<string>{93,123}</string>
			</dict>

			<key>gobj_cat_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,820},{93,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,123}}</string>
				<key>sourceSize</key>
				<string>{93,123}</string>
			</dict>

			<key>gobj_cat_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,820},{93,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,123}}</string>
				<key>sourceSize</key>
				<string>{93,123}</string>
			</dict>

			<key>gobj_cat_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1576,820},{93,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,123}}</string>
				<key>sourceSize</key>
				<string>{93,123}</string>
			</dict>

			<key>gobj_cat_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,820},{93,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,123}}</string>
				<key>sourceSize</key>
				<string>{93,123}</string>
			</dict>

			<key>gobj_cat_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,0},{93,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,123}}</string>
				<key>sourceSize</key>
				<string>{93,123}</string>
			</dict>

			<key>gobj_cone_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1836,940},{65,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,77}}</string>
				<key>sourceSize</key>
				<string>{65,77}</string>
			</dict>

			<key>gobj_fireHydrant_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1820,626},{77,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,119}}</string>
				<key>sourceSize</key>
				<string>{77,119}</string>
			</dict>

			<key>gobj_pickUp_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,948},{79,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,69}}</string>
				<key>sourceSize</key>
				<string>{79,69}</string>
			</dict>

			<key>gobj_pickUp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,948},{79,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,69}}</string>
				<key>sourceSize</key>
				<string>{79,69}</string>
			</dict>

			<key>gobj_pickUp_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1820,404},{79,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,69}}</string>
				<key>sourceSize</key>
				<string>{79,69}</string>
			</dict>

			<key>gobj_pickUp_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1820,478},{79,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,69}}</string>
				<key>sourceSize</key>
				<string>{79,69}</string>
			</dict>

			<key>gobj_pickUp_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1668,948},{79,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,69}}</string>
				<key>sourceSize</key>
				<string>{79,69}</string>
			</dict>

			<key>gobj_pickUp_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1752,940},{79,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,69}}</string>
				<key>sourceSize</key>
				<string>{79,69}</string>
			</dict>

			<key>gobj_pickUp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1332,948},{79,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,69}}</string>
				<key>sourceSize</key>
				<string>{79,69}</string>
			</dict>

			<key>gobj_pickUp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1416,948},{79,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,69}}</string>
				<key>sourceSize</key>
				<string>{79,69}</string>
			</dict>

			<key>gobj_pickUp_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,948},{79,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,69}}</string>
				<key>sourceSize</key>
				<string>{79,69}</string>
			</dict>

			<key>gobj_pickUp_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,948},{79,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,69}}</string>
				<key>sourceSize</key>
				<string>{79,69}</string>
			</dict>

			<key>gobj_pickUp_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1820,552},{79,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,69}}</string>
				<key>sourceSize</key>
				<string>{79,69}</string>
			</dict>

			<key>gobj_pickUp_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,948},{79,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,69}}</string>
				<key>sourceSize</key>
				<string>{79,69}</string>
			</dict>

			<key>gobj_pickUp_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,256},{79,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,69}}</string>
				<key>sourceSize</key>
				<string>{79,69}</string>
			</dict>

			<key>gobj_pickUp_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,330},{79,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,69}}</string>
				<key>sourceSize</key>
				<string>{79,69}</string>
			</dict>

			<key>gobj_sewer_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1772,820},{93,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,115}}</string>
				<key>sourceSize</key>
				<string>{93,115}</string>
			</dict>

			<key>gobj_sewer_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1674,820},{93,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,115}}</string>
				<key>sourceSize</key>
				<string>{93,115}</string>
			</dict>

			<key>gobj_sewer_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,820},{93,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,115}}</string>
				<key>sourceSize</key>
				<string>{93,115}</string>
			</dict>

			<key>gobj_sewer_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1282,820},{93,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,115}}</string>
				<key>sourceSize</key>
				<string>{93,115}</string>
			</dict>

			<key>gobj_spike_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,989},{85,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,27}}</string>
				<key>sourceSize</key>
				<string>{85,27}</string>
			</dict>

			<key>gobj_spike_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,989},{85,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,27}}</string>
				<key>sourceSize</key>
				<string>{85,27}</string>
			</dict>

			<key>gobj_spike_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,989},{85,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,27}}</string>
				<key>sourceSize</key>
				<string>{85,27}</string>
			</dict>

			<key>gobj_spike_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,989},{85,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,27}}</string>
				<key>sourceSize</key>
				<string>{85,27}</string>
			</dict>

			<key>gobj_trashCan_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1870,750},{69,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,107}}</string>
				<key>sourceSize</key>
				<string>{69,107}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>gobj.png</string>
			</dict>
		</dict>
</plist>