<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,945},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>btn_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,945},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_barFrame.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,497},{306,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{306,52}}</string>
				<key>sourceSize</key>
				<string>{306,52}</string>
			</dict>

			<key>ui_bar_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,554},{284,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,22}}</string>
				<key>sourceSize</key>
				<string>{284,22}</string>
			</dict>

			<key>ui_bar_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,608},{284,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,22}}</string>
				<key>sourceSize</key>
				<string>{284,22}</string>
			</dict>

			<key>ui_bar_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,797},{284,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,22}}</string>
				<key>sourceSize</key>
				<string>{284,22}</string>
			</dict>

			<key>ui_bar_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,959},{284,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,22}}</string>
				<key>sourceSize</key>
				<string>{284,22}</string>
			</dict>

			<key>ui_bar_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,851},{284,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,22}}</string>
				<key>sourceSize</key>
				<string>{284,22}</string>
			</dict>

			<key>ui_bar_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,878},{284,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,22}}</string>
				<key>sourceSize</key>
				<string>{284,22}</string>
			</dict>

			<key>ui_bar_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,905},{284,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,22}}</string>
				<key>sourceSize</key>
				<string>{284,22}</string>
			</dict>

			<key>ui_bar_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,932},{284,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,22}}</string>
				<key>sourceSize</key>
				<string>{284,22}</string>
			</dict>

			<key>ui_bar_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,824},{284,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,22}}</string>
				<key>sourceSize</key>
				<string>{284,22}</string>
			</dict>

			<key>ui_bar_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,986},{284,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,22}}</string>
				<key>sourceSize</key>
				<string>{284,22}</string>
			</dict>

			<key>ui_bar_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,635},{284,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,22}}</string>
				<key>sourceSize</key>
				<string>{284,22}</string>
			</dict>

			<key>ui_bar_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,554},{284,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,22}}</string>
				<key>sourceSize</key>
				<string>{284,22}</string>
			</dict>

			<key>ui_bar_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,581},{284,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,22}}</string>
				<key>sourceSize</key>
				<string>{284,22}</string>
			</dict>

			<key>ui_bar_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,662},{284,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,22}}</string>
				<key>sourceSize</key>
				<string>{284,22}</string>
			</dict>

			<key>ui_bar_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,689},{284,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,22}}</string>
				<key>sourceSize</key>
				<string>{284,22}</string>
			</dict>

			<key>ui_bar_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,716},{284,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,22}}</string>
				<key>sourceSize</key>
				<string>{284,22}</string>
			</dict>

			<key>ui_bar_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,743},{284,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,22}}</string>
				<key>sourceSize</key>
				<string>{284,22}</string>
			</dict>

			<key>ui_bar_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,770},{284,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,22}}</string>
				<key>sourceSize</key>
				<string>{284,22}</string>
			</dict>

			<key>ui_btnHtp_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,302},{394,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{394,58}}</string>
				<key>sourceSize</key>
				<string>{394,58}</string>
			</dict>

			<key>ui_btnHtp_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,233},{394,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{394,64}}</string>
				<key>sourceSize</key>
				<string>{394,64}</string>
			</dict>

			<key>ui_btnPlay_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,428},{148,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,58}}</string>
				<key>sourceSize</key>
				<string>{148,58}</string>
			</dict>

			<key>ui_btnPlay_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,233},{147,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,64}}</string>
				<key>sourceSize</key>
				<string>{147,64}</string>
			</dict>

			<key>ui_btnPlayhowto_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,772},{183,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,87}}</string>
				<key>sourceSize</key>
				<string>{183,87}</string>
			</dict>

			<key>ui_btnPlayhowto_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,680},{183,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,87}}</string>
				<key>sourceSize</key>
				<string>{183,87}</string>
			</dict>

			<key>ui_btn_playAgainD.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,365},{334,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{334,58}}</string>
				<key>sourceSize</key>
				<string>{334,58}</string>
			</dict>

			<key>ui_btn_playAgainU.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,428},{333,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{333,64}}</string>
				<key>sourceSize</key>
				<string>{333,64}</string>
			</dict>

			<key>ui_darwinStatus.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,864},{148,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,151}}</string>
				<key>sourceSize</key>
				<string>{148,151}</string>
			</dict>

			<key>ui_downArrow_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,877},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,63}}</string>
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>

			<key>ui_downArrow_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,366},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,63}}</string>
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>

			<key>ui_hearts_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,581},{67,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,59}}</string>
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>

			<key>ui_hearts_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,840},{67,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,59}}</string>
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>

			<key>ui_hearts_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,904},{67,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,59}}</string>
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>

			<key>ui_hearts_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,302},{67,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,59}}</string>
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>

			<key>ui_hearts_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,681},{67,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,59}}</string>
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>

			<key>ui_hearts_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,617},{67,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,59}}</string>
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>

			<key>ui_hearts_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,302},{67,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,59}}</string>
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>

			<key>ui_hearts_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,745},{67,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,59}}</string>
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>

			<key>ui_hearts_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,553},{67,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,59}}</string>
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>

			<key>ui_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{998,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{998,228}}</string>
				<key>sourceSize</key>
				<string>{998,228}</string>
			</dict>

			<key>ui_newRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,581},{259,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,94}}</string>
				<key>sourceSize</key>
				<string>{259,94}</string>
			</dict>

			<key>ui_status_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,393},{148,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,155}}</string>
				<key>sourceSize</key>
				<string>{148,155}</string>
			</dict>

			<key>ui_status_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,680},{148,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,155}}</string>
				<key>sourceSize</key>
				<string>{148,155}</string>
			</dict>

			<key>ui_status_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,233},{148,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,155}}</string>
				<key>sourceSize</key>
				<string>{148,155}</string>
			</dict>

			<key>ui_status_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,864},{148,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,155}}</string>
				<key>sourceSize</key>
				<string>{148,155}</string>
			</dict>

			<key>ui_upArrow_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,434},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,63}}</string>
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>

			<key>ui_upArrow_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,809},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,63}}</string>
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>