<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SparkleBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,27}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>SparkleYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,160},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,27}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>button_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,555},{162,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,145}}</string>
                <key>sourceSize</key>
                <string>{162,145}</string>
            </dict>
            <key>icon_3pigs.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,399},{174,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,154}}</string>
                <key>sourceSize</key>
                <string>{174,156}</string>
            </dict>
            <key>icon_3pigs_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,241},{174,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,156}}</string>
                <key>sourceSize</key>
                <string>{174,156}</string>
            </dict>
            <key>icon_3pigs_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{174,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,156}}</string>
                <key>sourceSize</key>
                <string>{174,156}</string>
            </dict>
            <key>icon_Frog_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,702},{126,128}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{126,128}}</string>
                <key>sourceSize</key>
                <string>{174,156}</string>
            </dict>
            <key>icon_Frog_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,834},{126,128}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,28},{126,128}}</string>
                <key>sourceSize</key>
                <string>{174,156}</string>
            </dict>
            <key>icon_GB.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,160},{146,136}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{146,136}}</string>
                <key>sourceSize</key>
                <string>{174,156}</string>
            </dict>
            <key>icon_GB_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,702},{154,140}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{154,140}}</string>
                <key>sourceSize</key>
                <string>{174,156}</string>
            </dict>
            <key>icon_GB_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,844},{154,140}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{154,140}}</string>
                <key>sourceSize</key>
                <string>{174,156}</string>
            </dict>
            <key>icon_Humpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,298},{124,132}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{124,132}}</string>
                <key>sourceSize</key>
                <string>{174,156}</string>
            </dict>
            <key>icon_Humpty_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,298},{130,134}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{130,134}}</string>
                <key>sourceSize</key>
                <string>{174,156}</string>
            </dict>
            <key>icon_Humpty_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,434},{130,134}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{130,134}}</string>
                <key>sourceSize</key>
                <string>{174,156}</string>
            </dict>
            <key>icon_Red_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,570},{130,130}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{130,130}}</string>
                <key>sourceSize</key>
                <string>{174,156}</string>
            </dict>
            <key>icon_Red_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,702},{130,130}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{130,130}}</string>
                <key>sourceSize</key>
                <string>{174,156}</string>
            </dict>
            <key>icon_Wolf.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,570},{124,130}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,25},{124,130}}</string>
                <key>sourceSize</key>
                <string>{174,156}</string>
            </dict>
            <key>icon_Wolf_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,432},{124,132}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{124,132}}</string>
                <key>sourceSize</key>
                <string>{174,156}</string>
            </dict>
            <key>icon_Wolf_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,844},{124,132}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{124,132}}</string>
                <key>sourceSize</key>
                <string>{174,156}</string>
            </dict>
            <key>intro_Bear.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{372,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,404}}</string>
                <key>sourceSize</key>
                <string>{372,404}</string>
            </dict>
            <key>loading_bear.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,811},{131,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,211}}</string>
                <key>sourceSize</key>
                <string>{131,211}</string>
            </dict>
            <key>loading_goldie_pogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,542},{138,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,267}}</string>
                <key>sourceSize</key>
                <string>{138,267}</string>
            </dict>
            <key>map_adventure_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{242,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,237}}</string>
                <key>sourceSize</key>
                <string>{242,237}</string>
            </dict>
            <key>pause_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{532,538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,538}}</string>
                <key>sourceSize</key>
                <string>{532,538}</string>
            </dict>
            <key>starbar_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{78,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,27}}</string>
                <key>sourceSize</key>
                <string>{78,27}</string>
            </dict>
            <key>starbar_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,241},{58,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,9}}</string>
                <key>sourceSize</key>
                <string>{58,9}</string>
            </dict>
            <key>starbar_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,986},{78,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,27}}</string>
                <key>sourceSize</key>
                <string>{78,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>initial_universal_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e31a48d58711495d62a836c7496f6524:c3cdcb2bc8febefa432cd51a5de42a0f:b08f48050ec05c78a6bec83e14be907d$</string>
            <key>textureFileName</key>
            <string>initial_universal_0.png</string>
        </dict>
    </dict>
</plist>
