<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animals/ono_animal_elephant.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,817},{106,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,147}}</string>
                <key>sourceSize</key>
                <string>{106,147}</string>
            </dict>
            <key>animals/ono_animal_rhino.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,730},{62,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,125}}</string>
                <key>sourceSize</key>
                <string>{62,125}</string>
            </dict>
            <key>characters/ono_animation/ono_fly_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{251,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{251,161}}</string>
                <key>sourceSize</key>
                <string>{251,165}</string>
            </dict>
            <key>characters/ono_animation/ono_fly_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,411},{235,153}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{235,153}}</string>
                <key>sourceSize</key>
                <string>{251,165}</string>
            </dict>
            <key>characters/ono_animation/ono_fly_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{209,157}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{209,157}}</string>
                <key>sourceSize</key>
                <string>{251,165}</string>
            </dict>
            <key>characters/ono_animation/ono_fly_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{251,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{251,161}}</string>
                <key>sourceSize</key>
                <string>{251,165}</string>
            </dict>
            <key>characters/ono_animation/ono_fly_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{227,159}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{227,159}}</string>
                <key>sourceSize</key>
                <string>{251,165}</string>
            </dict>
            <key>characters/ono_animation/ono_tilt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,861},{187,152}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,9},{187,152}}</string>
                <key>sourceSize</key>
                <string>{251,168}</string>
            </dict>
            <key>characters/ono_animation/ono_tilt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,861},{187,152}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,10},{187,152}}</string>
                <key>sourceSize</key>
                <string>{251,168}</string>
            </dict>
            <key>characters/ono_animation/ono_turn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{247,160}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,160}}</string>
                <key>sourceSize</key>
                <string>{247,164}</string>
            </dict>
            <key>characters/ono_animation/ono_turn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,461},{225,160}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{225,160}}</string>
                <key>sourceSize</key>
                <string>{247,164}</string>
            </dict>
            <key>characters/ono_animation/ono_turn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,566},{215,162}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{215,162}}</string>
                <key>sourceSize</key>
                <string>{247,164}</string>
            </dict>
            <key>characters/vulture_animation/vulture_fly_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{306,177}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,65},{306,177}}</string>
                <key>sourceSize</key>
                <string>{334,261}</string>
            </dict>
            <key>characters/vulture_animation/vulture_fly_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,208},{246,251}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{246,251}}</string>
                <key>sourceSize</key>
                <string>{334,261}</string>
            </dict>
            <key>characters/vulture_animation/vulture_fly_glow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,212}}</string>
                <key>offset</key>
                <string>{-1,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,68},{312,212}}</string>
                <key>sourceSize</key>
                <string>{352,280}</string>
            </dict>
            <key>characters/vulture_animation/vulture_fly_glow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,181},{288,228}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,43},{288,228}}</string>
                <key>sourceSize</key>
                <string>{352,280}</string>
            </dict>
            <key>environments/lion_guard_hiding_beshte_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,89},{90,65}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,20},{90,65}}</string>
                <key>sourceSize</key>
                <string>{160,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_beshte_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,243},{98,63}}</string>
                <key>offset</key>
                <string>{20,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,5},{98,63}}</string>
                <key>sourceSize</key>
                <string>{160,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_beshte_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,308},{98,63}}</string>
                <key>offset</key>
                <string>{20,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,5},{98,63}}</string>
                <key>sourceSize</key>
                <string>{160,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_bunga_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,281},{64,69}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,8},{64,69}}</string>
                <key>sourceSize</key>
                <string>{160,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_bunga_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,352},{64,69}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,8},{64,69}}</string>
                <key>sourceSize</key>
                <string>{160,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_bush_glow_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,659},{133,59}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{133,59}}</string>
                <key>sourceSize</key>
                <string>{133,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_fuli_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,545},{80,71}}</string>
                <key>offset</key>
                <string>{28,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,10},{80,71}}</string>
                <key>sourceSize</key>
                <string>{160,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_fuli_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,208},{66,71}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,10},{66,71}}</string>
                <key>sourceSize</key>
                <string>{160,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_glow_beshte_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,623},{107,71}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{107,71}}</string>
                <key>sourceSize</key>
                <string>{133,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_glow_bunga_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,618},{73,61}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{73,61}}</string>
                <key>sourceSize</key>
                <string>{133,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_glow_bunga_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,557},{73,77}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{73,77}}</string>
                <key>sourceSize</key>
                <string>{133,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_glow_kion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,216},{57,73}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{133,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_kion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{90,85}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,6},{90,85}}</string>
                <key>sourceSize</key>
                <string>{160,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_kion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,350},{50,65}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,3},{50,65}}</string>
                <key>sourceSize</key>
                <string>{160,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_kion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,417},{50,65}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,3},{50,65}}</string>
                <key>sourceSize</key>
                <string>{160,99}</string>
            </dict>
            <key>environments/ono_grass_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,291},{52,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,57}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>environments/ono_pickup_bug_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,701},{63,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{63,66}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>environments/ono_rock_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,423},{156,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,159}}</string>
                <key>sourceSize</key>
                <string>{156,159}</string>
            </dict>
            <key>environments/ono_tree_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{300,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,204}}</string>
                <key>sourceSize</key>
                <string>{300,204}</string>
            </dict>
            <key>ui/hide_seek_panel/ui_gameplay_character_lg_hiding_beshte_found.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,681},{107,63}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,6},{107,63}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/hide_seek_panel/ui_gameplay_character_lg_hiding_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,584},{149,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,73}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/hide_seek_panel/ui_gameplay_character_lg_hiding_kion_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,636},{71,63}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,7},{71,63}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/progress_meter/ui_gameplay_character_lg_distance_beshte.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,769},{63,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{63,63}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ui/progress_meter/ui_gameplay_character_lg_distance_beshte_found.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,156},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ui/progress_meter/ui_gameplay_character_lg_distance_beshte_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,696},{63,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{63,63}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ui/progress_meter/ui_gameplay_character_lg_distance_bunga.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,710},{63,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{63,63}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ui/progress_meter/ui_gameplay_character_lg_distance_bunga_found.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,730},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ui/progress_meter/ui_gameplay_character_lg_distance_bunga_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,720},{63,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{63,63}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ui/progress_meter/ui_gameplay_character_lg_distance_finish.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,484},{35,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,71}}</string>
                <key>sourceSize</key>
                <string>{35,71}</string>
            </dict>
            <key>ui/progress_meter/ui_gameplay_character_lg_distance_fuli.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,720},{63,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{63,63}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ui/progress_meter/ui_gameplay_character_lg_distance_fuli_found.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,730},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ui/progress_meter/ui_gameplay_character_lg_distance_fuli_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,720},{63,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{63,63}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ui/progress_meter/ui_gameplay_character_lg_distance_kion.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,746},{63,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{63,63}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ui/progress_meter/ui_gameplay_character_lg_distance_kion_found.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,623},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ui/progress_meter/ui_gameplay_character_lg_distance_kion_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,761},{63,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{63,63}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>ui/ui_gameplay_character_lg_hiding_beshte_found.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,681},{107,63}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,6},{107,63}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/ui_gameplay_character_lg_hiding_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,584},{149,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,73}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/ui_gameplay_character_lg_hiding_kion_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,636},{71,63}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,7},{71,63}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/ui_gameplay_character_ono_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,461},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{80,82}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay_ono_pngs_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b5d956abd7ab594e1129d15f6984d27:3/3$</string>
            <key>textureFileName</key>
            <string>gameplay_ono_pngs_2.png</string>
        </dict>
    </dict>
</plist>
