<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animals/ono_animal_gazelle.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,846},{30,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,60}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>animals/ono_animal_thorn.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,651},{111,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,122}}</string>
                <key>sourceSize</key>
                <string>{111,122}</string>
            </dict>
            <key>animals/ono_animal_thorn_broken.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,775},{111,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,122}}</string>
                <key>sourceSize</key>
                <string>{111,122}</string>
            </dict>
            <key>characters/ono_animation/ono_left_turn_mog_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,908},{23,20}}</string>
                <key>offset</key>
                <string>{-46,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,73},{23,20}}</string>
                <key>sourceSize</key>
                <string>{247,164}</string>
            </dict>
            <key>characters/ono_animation/ono_left_turn_mog_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,930},{23,20}}</string>
                <key>offset</key>
                <string>{-46,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,81},{23,20}}</string>
                <key>sourceSize</key>
                <string>{247,164}</string>
            </dict>
            <key>characters/ono_animation/ono_right_turn_mog_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,952},{23,18}}</string>
                <key>offset</key>
                <string>{-44,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,63},{23,18}}</string>
                <key>sourceSize</key>
                <string>{247,164}</string>
            </dict>
            <key>characters/ono_animation/ono_right_turn_mog_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,529},{23,18}}</string>
                <key>offset</key>
                <string>{-42,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,57},{23,18}}</string>
                <key>sourceSize</key>
                <string>{247,164}</string>
            </dict>
            <key>characters/ono_animation/ono_right_turn_mog_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,549},{23,18}}</string>
                <key>offset</key>
                <string>{-42,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,57},{23,18}}</string>
                <key>sourceSize</key>
                <string>{247,164}</string>
            </dict>
            <key>characters/ono_animation/ono_right_turn_mog_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{23,18}}</string>
                <key>offset</key>
                <string>{-44,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,62},{23,18}}</string>
                <key>sourceSize</key>
                <string>{247,164}</string>
            </dict>
            <key>characters/ono_animation/ono_turn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,846},{239,160}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{239,160}}</string>
                <key>sourceSize</key>
                <string>{247,164}</string>
            </dict>
            <key>characters/vulture_animation/vulture_fly_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,386},{294,193}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,68},{294,193}}</string>
                <key>sourceSize</key>
                <string>{334,261}</string>
            </dict>
            <key>characters/vulture_animation/vulture_fly_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,2},{270,209}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,43},{270,209}}</string>
                <key>sourceSize</key>
                <string>{334,261}</string>
            </dict>
            <key>characters/vulture_animation/vulture_fly_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{334,195}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{334,195}}</string>
                <key>sourceSize</key>
                <string>{334,261}</string>
            </dict>
            <key>characters/vulture_animation/vulture_fly_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,626},{320,191}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,62},{320,191}}</string>
                <key>sourceSize</key>
                <string>{334,261}</string>
            </dict>
            <key>characters/vulture_animation/vulture_fly_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,819},{240,199}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,59},{240,199}}</string>
                <key>sourceSize</key>
                <string>{334,261}</string>
            </dict>
            <key>characters/vulture_animation/vulture_fly_glow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,428},{326,196}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,65},{326,196}}</string>
                <key>sourceSize</key>
                <string>{352,280}</string>
            </dict>
            <key>characters/vulture_animation/vulture_fly_glow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{352,214}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{352,214}}</string>
                <key>sourceSize</key>
                <string>{352,280}</string>
            </dict>
            <key>characters/vulture_animation/vulture_fly_glow_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,218},{336,208}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,64},{336,208}}</string>
                <key>sourceSize</key>
                <string>{352,280}</string>
            </dict>
            <key>characters/vulture_animation/vulture_fly_glow_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{258,218}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,58},{258,218}}</string>
                <key>sourceSize</key>
                <string>{352,280}</string>
            </dict>
            <key>environments/lion_guard_hiding_bunga_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,971},{66,51}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,28},{66,51}}</string>
                <key>sourceSize</key>
                <string>{160,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_bush_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,974},{83,41}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{83,41}}</string>
                <key>sourceSize</key>
                <string>{133,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_bush_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,846},{125,51}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,44},{125,51}}</string>
                <key>sourceSize</key>
                <string>{133,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_bush_glow_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,971},{91,49}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{91,49}}</string>
                <key>sourceSize</key>
                <string>{133,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_fuli_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{88,87}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,4},{88,87}}</string>
                <key>sourceSize</key>
                <string>{160,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_kion_glow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,899},{57,73}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{57,73}}</string>
                <key>sourceSize</key>
                <string>{133,99}</string>
            </dict>
            <key>environments/ono_bush_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,508},{74,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,68}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>environments/ono_hazard_storm_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,581},{313,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,263}}</string>
                <key>sourceSize</key>
                <string>{313,263}</string>
            </dict>
            <key>environments/ono_hazard_storm_cloud_lightning_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,461},{38,66}}</string>
                <key>offset</key>
                <string>{12,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,1},{38,66}}</string>
                <key>sourceSize</key>
                <string>{98,168}</string>
            </dict>
            <key>environments/ono_hazard_storm_cloud_lightning_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,899},{66,122}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{66,122}}</string>
                <key>sourceSize</key>
                <string>{98,168}</string>
            </dict>
            <key>environments/ono_hazard_storm_cloud_lightning_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,819},{88,150}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{88,150}}</string>
                <key>sourceSize</key>
                <string>{98,168}</string>
            </dict>
            <key>environments/ono_hazard_storm_cloud_lightning_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{98,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,168}}</string>
                <key>sourceSize</key>
                <string>{98,168}</string>
            </dict>
            <key>environments/ono_pickup_bug_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,387},{39,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{39,72}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>environments/ono_pond_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{383,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,307}}</string>
                <key>sourceSize</key>
                <string>{383,307}</string>
            </dict>
            <key>environments/ono_rock_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,909},{68,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,59}}</string>
                <key>sourceSize</key>
                <string>{68,59}</string>
            </dict>
            <key>environments/ono_tree_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,213},{270,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,171}}</string>
                <key>sourceSize</key>
                <string>{270,171}</string>
            </dict>
            <key>ui/hide_seek_panel/ui_gameplay_character_lg_hiding_beshte_found_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,578},{113,71}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,2},{113,71}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/hide_seek_panel/ui_gameplay_character_lg_hiding_beshte_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,899},{109,65}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,5},{109,65}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/hide_seek_panel/ui_gameplay_character_lg_hiding_bunga_found.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,350},{45,35}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,34},{45,35}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/hide_seek_panel/ui_gameplay_character_lg_hiding_bunga_found_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,974},{51,43}}</string>
                <key>offset</key>
                <string>{24,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,30},{51,43}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/hide_seek_panel/ui_gameplay_character_lg_hiding_bunga_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,311},{47,37}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,33},{47,37}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/hide_seek_panel/ui_gameplay_character_lg_hiding_frame_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,508},{149,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,73}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/hide_seek_panel/ui_gameplay_character_lg_hiding_fuli_found.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,966},{65,37}}</string>
                <key>offset</key>
                <string>{-34,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{65,37}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/hide_seek_panel/ui_gameplay_character_lg_hiding_fuli_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,583},{67,39}}</string>
                <key>offset</key>
                <string>{-34,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,31},{67,39}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/hide_seek_panel/ui_gameplay_character_lg_hiding_kion_found.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,846},{69,61}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,8},{69,61}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/ui_gameplay_character_lg_hiding_beshte_found_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,578},{113,71}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,2},{113,71}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/ui_gameplay_character_lg_hiding_beshte_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,899},{109,65}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,5},{109,65}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/ui_gameplay_character_lg_hiding_bunga_found.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,350},{45,35}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,34},{45,35}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/ui_gameplay_character_lg_hiding_bunga_found_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,974},{51,43}}</string>
                <key>offset</key>
                <string>{24,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,30},{51,43}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/ui_gameplay_character_lg_hiding_bunga_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,311},{47,37}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,33},{47,37}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/ui_gameplay_character_lg_hiding_frame_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,508},{149,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,73}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/ui_gameplay_character_lg_hiding_fuli_found.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,966},{65,37}}</string>
                <key>offset</key>
                <string>{-34,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{65,37}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/ui_gameplay_character_lg_hiding_fuli_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,583},{67,39}}</string>
                <key>offset</key>
                <string>{-34,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,31},{67,39}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/ui_gameplay_character_lg_hiding_kion_found.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,846},{69,61}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,8},{69,61}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay_ono_pngs_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b5d956abd7ab594e1129d15f6984d27:2/3$</string>
            <key>textureFileName</key>
            <string>gameplay_ono_pngs_1.png</string>
        </dict>
    </dict>
</plist>
