<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animals/ono_animal_buffalo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{38,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,101}}</string>
                <key>sourceSize</key>
                <string>{38,101}</string>
            </dict>
            <key>animals/ono_animal_giraffe.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,912},{33,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,95}}</string>
                <key>sourceSize</key>
                <string>{33,95}</string>
            </dict>
            <key>characters/ono_animation/ono_fly_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,580},{247,159}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{247,159}}</string>
                <key>sourceSize</key>
                <string>{251,165}</string>
            </dict>
            <key>characters/ono_animation/ono_fly_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,580},{241,159}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{241,159}}</string>
                <key>sourceSize</key>
                <string>{251,165}</string>
            </dict>
            <key>characters/ono_animation/ono_left_turn_mog_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{21,22}}</string>
                <key>offset</key>
                <string>{-45,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,87},{21,22}}</string>
                <key>sourceSize</key>
                <string>{247,164}</string>
            </dict>
            <key>characters/ono_animation/ono_left_turn_mog_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,26},{21,22}}</string>
                <key>offset</key>
                <string>{-45,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,89},{21,22}}</string>
                <key>sourceSize</key>
                <string>{247,164}</string>
            </dict>
            <key>characters/vulture_animation/vulture_fly_glow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,741},{264,270}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{264,270}}</string>
                <key>sourceSize</key>
                <string>{352,280}</string>
            </dict>
            <key>environments/finish_line_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{996,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{996,88}}</string>
                <key>sourceSize</key>
                <string>{996,88}</string>
            </dict>
            <key>environments/lion_guard_hiding_glow_beshte_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,931},{99,73}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{99,73}}</string>
                <key>sourceSize</key>
                <string>{133,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_glow_fuli_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,912},{97,95}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{97,95}}</string>
                <key>sourceSize</key>
                <string>{133,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_glow_fuli_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,708},{75,79}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,6},{75,79}}</string>
                <key>sourceSize</key>
                <string>{133,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_glow_kion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,741},{99,93}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{99,93}}</string>
                <key>sourceSize</key>
                <string>{133,99}</string>
            </dict>
            <key>environments/lion_guard_hiding_kion_glow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,836},{99,93}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{99,93}}</string>
                <key>sourceSize</key>
                <string>{133,99}</string>
            </dict>
            <key>environments/ono_bread_crumbs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,95},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>environments/ono_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{255,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,330}}</string>
                <key>sourceSize</key>
                <string>{255,330}</string>
            </dict>
            <key>environments/ono_hazard_storm_cloud_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,741},{313,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,263}}</string>
                <key>sourceSize</key>
                <string>{313,263}</string>
            </dict>
            <key>environments/ono_log_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,912},{68,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,99}}</string>
                <key>sourceSize</key>
                <string>{68,99}</string>
            </dict>
            <key>environments/ono_obstacle_bee.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,73},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>environments/ono_pickup_bug_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,580},{79,62}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{79,62}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>environments/ono_pickup_bug_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,644},{77,62}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{77,62}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>environments/ono_river.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{996,486}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,53},{996,486}}</string>
                <key>sourceSize</key>
                <string>{996,560}</string>
            </dict>
            <key>environments/ono_rock_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,580},{158,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,159}}</string>
                <key>sourceSize</key>
                <string>{158,159}</string>
            </dict>
            <key>ui/hide_seek_panel/ui_gameplay_character_lg_hiding_fuli_found_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,860},{71,45}}</string>
                <key>offset</key>
                <string>{-34,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{71,45}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/hide_seek_panel/ui_gameplay_character_lg_hiding_kion_found_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,789},{75,69}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,4},{75,69}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/progress_meter/ui_gameplay_character_lg_distance_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1013},{800,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,9}}</string>
                <key>sourceSize</key>
                <string>{800,9}</string>
            </dict>
            <key>ui/progress_meter/ui_gameplay_character_lg_distance_ono_marker.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,50},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>ui/ui_gameplay_character_lg_hiding_fuli_found_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,860},{71,45}}</string>
                <key>offset</key>
                <string>{-34,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{71,45}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/ui_gameplay_character_lg_hiding_kion_found_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,789},{75,69}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,4},{75,69}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>ui/ui_gameplay_character_ono.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,912},{92,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{92,94}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay_ono_pngs_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b5d956abd7ab594e1129d15f6984d27:1/3$</string>
            <key>textureFileName</key>
            <string>gameplay_ono_pngs_0.png</string>
        </dict>
    </dict>
</plist>
