<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_29_10_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,54}</string>
                <key>spriteSourceSize</key>
                <string>{47,54}</string>
                <key>textureRect</key>
                <string>{{199,135},{47,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_29_1_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,78}</string>
                <key>spriteSourceSize</key>
                <string>{116,78}</string>
                <key>textureRect</key>
                <string>{{2,114},{116,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_29_2_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,55}</string>
                <key>spriteSourceSize</key>
                <string>{36,55}</string>
                <key>textureRect</key>
                <string>{{47,239},{36,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_29_3_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{86,239},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_29_4_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,130}</string>
                <key>spriteSourceSize</key>
                <string>{83,130}</string>
                <key>textureRect</key>
                <string>{{143,2},{83,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_29_5_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,55}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{121,135},{75,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_29_5_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,55}</string>
                <key>spriteSourceSize</key>
                <string>{75,55}</string>
                <key>textureRect</key>
                <string>{{121,193},{75,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_29_6_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,41}</string>
                <key>spriteSourceSize</key>
                <string>{37,41}</string>
                <key>textureRect</key>
                <string>{{47,195},{37,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_29_7_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,109}</string>
                <key>spriteSourceSize</key>
                <string>{138,109}</string>
                <key>textureRect</key>
                <string>{{2,2},{138,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_29_8_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,88}</string>
                <key>spriteSourceSize</key>
                <string>{43,88}</string>
                <key>textureRect</key>
                <string>{{199,192},{43,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_29_9_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,60}</string>
                <key>spriteSourceSize</key>
                <string>{42,60}</string>
                <key>textureRect</key>
                <string>{{2,195},{42,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>g0_level29_0.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d96ba50c548068046e196bc699177ab5:afc93922c4794ae3a5cec5e9654e06b0:c431d89a0ddb29c5b73e7c5f356bb2e2$</string>
            <key>textureFileName</key>
            <string>g0_level29_0.png</string>
        </dict>
    </dict>
</plist>
