<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_27_10_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,73}</string>
                <key>spriteSourceSize</key>
                <string>{121,73}</string>
                <key>textureRect</key>
                <string>{{328,284},{121,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_27_11_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,73}</string>
                <key>spriteSourceSize</key>
                <string>{49,73}</string>
                <key>textureRect</key>
                <string>{{452,347},{49,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_27_1_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,152}</string>
                <key>spriteSourceSize</key>
                <string>{94,152}</string>
                <key>textureRect</key>
                <string>{{2,659},{94,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_27_2_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{56,60}</string>
                <key>textureRect</key>
                <string>{{452,284},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_27_2_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,50}</string>
                <key>textureRect</key>
                <string>{{2,570},{44,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_27_3_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,116}</string>
                <key>spriteSourceSize</key>
                <string>{75,116}</string>
                <key>textureRect</key>
                <string>{{434,540},{75,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_27_4_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,130}</string>
                <key>spriteSourceSize</key>
                <string>{142,130}</string>
                <key>textureRect</key>
                <string>{{328,151},{142,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_27_4_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,146}</string>
                <key>spriteSourceSize</key>
                <string>{152,146}</string>
                <key>textureRect</key>
                <string>{{328,2},{152,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_27_5_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,114}</string>
                <key>spriteSourceSize</key>
                <string>{72,114}</string>
                <key>textureRect</key>
                <string>{{438,423},{72,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_27_6_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,139}</string>
                <key>spriteSourceSize</key>
                <string>{103,139}</string>
                <key>textureRect</key>
                <string>{{328,428},{103,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_27_7_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,263}</string>
                <key>spriteSourceSize</key>
                <string>{323,263}</string>
                <key>textureRect</key>
                <string>{{2,2},{323,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_27_7_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,263}</string>
                <key>spriteSourceSize</key>
                <string>{323,263}</string>
                <key>textureRect</key>
                <string>{{2,268},{323,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_27_8_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,31}</string>
                <key>spriteSourceSize</key>
                <string>{107,31}</string>
                <key>textureRect</key>
                <string>{{328,360},{107,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_27_8_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,31}</string>
                <key>spriteSourceSize</key>
                <string>{107,31}</string>
                <key>textureRect</key>
                <string>{{328,394},{107,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_27_9_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,49}</string>
                <key>spriteSourceSize</key>
                <string>{44,49}</string>
                <key>textureRect</key>
                <string>{{49,570},{44,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_27_9_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,49}</string>
                <key>spriteSourceSize</key>
                <string>{44,49}</string>
                <key>textureRect</key>
                <string>{{96,570},{44,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>g0_level27_0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0bddce13bb87393cfe6889c63d8cd06:d7d40221efe17ea44625cb66260fd698:1b3e22ef515161aa3b7c241639340f4f$</string>
            <key>textureFileName</key>
            <string>g0_level27_0.png</string>
        </dict>
    </dict>
</plist>
