<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_31_10_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,118}</string>
                <key>spriteSourceSize</key>
                <string>{147,118}</string>
                <key>textureRect</key>
                <string>{{193,353},{147,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_31_1_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,69}</string>
                <key>spriteSourceSize</key>
                <string>{105,69}</string>
                <key>textureRect</key>
                <string>{{379,182},{105,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_31_2_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,177}</string>
                <key>spriteSourceSize</key>
                <string>{129,177}</string>
                <key>textureRect</key>
                <string>{{379,2},{129,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_31_3_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,84}</string>
                <key>spriteSourceSize</key>
                <string>{85,84}</string>
                <key>textureRect</key>
                <string>{{379,254},{85,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_31_4_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,104}</string>
                <key>spriteSourceSize</key>
                <string>{199,104}</string>
                <key>textureRect</key>
                <string>{{177,246},{199,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_31_5_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,165}</string>
                <key>spriteSourceSize</key>
                <string>{172,165}</string>
                <key>textureRect</key>
                <string>{{2,246},{172,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_31_6_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,86}</string>
                <key>spriteSourceSize</key>
                <string>{188,86}</string>
                <key>textureRect</key>
                <string>{{2,414},{188,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_31_7_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,156}</string>
                <key>spriteSourceSize</key>
                <string>{109,156}</string>
                <key>textureRect</key>
                <string>{{343,353},{109,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_31_8_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,179}</string>
                <key>spriteSourceSize</key>
                <string>{109,179}</string>
                <key>textureRect</key>
                <string>{{219,2},{109,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_31_9_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,241}</string>
                <key>spriteSourceSize</key>
                <string>{214,241}</string>
                <key>textureRect</key>
                <string>{{2,2},{214,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>g0_level31_0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ebf2f40e50b3aa0788917fd726651d9:f63f24560c4ed8c6a8ea36c39ccbb289:7e3da06cd0fefa34a091cba2ffd92ba4$</string>
            <key>textureFileName</key>
            <string>g0_level31_0.png</string>
        </dict>
    </dict>
</plist>
