<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_30_10_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,73}</string>
                <key>spriteSourceSize</key>
                <string>{54,73}</string>
                <key>textureRect</key>
                <string>{{444,92},{54,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_30_1_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{45,41}</string>
                <key>textureRect</key>
                <string>{{444,168},{45,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_30_2_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,45}</string>
                <key>spriteSourceSize</key>
                <string>{44,45}</string>
                <key>textureRect</key>
                <string>{{276,132},{44,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_30_2_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,45}</string>
                <key>spriteSourceSize</key>
                <string>{44,45}</string>
                <key>textureRect</key>
                <string>{{276,180},{44,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_30_3_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,87}</string>
                <key>spriteSourceSize</key>
                <string>{126,87}</string>
                <key>textureRect</key>
                <string>{{348,2},{126,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_30_3_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,81}</string>
                <key>spriteSourceSize</key>
                <string>{91,81}</string>
                <key>textureRect</key>
                <string>{{182,132},{91,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_30_4_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,198}</string>
                <key>spriteSourceSize</key>
                <string>{161,198}</string>
                <key>textureRect</key>
                <string>{{2,2},{161,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_30_4_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,198}</string>
                <key>spriteSourceSize</key>
                <string>{161,198}</string>
                <key>textureRect</key>
                <string>{{2,203},{161,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_30_5_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,89}</string>
                <key>spriteSourceSize</key>
                <string>{91,89}</string>
                <key>textureRect</key>
                <string>{{88,404},{91,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_30_6_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,127}</string>
                <key>spriteSourceSize</key>
                <string>{163,127}</string>
                <key>textureRect</key>
                <string>{{182,2},{163,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_30_7_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{83,96}</string>
                <key>textureRect</key>
                <string>{{2,404},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_30_8_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,74}</string>
                <key>spriteSourceSize</key>
                <string>{93,74}</string>
                <key>textureRect</key>
                <string>{{348,92},{93,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obj_30_9_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,23}</string>
                <key>spriteSourceSize</key>
                <string>{78,23}</string>
                <key>textureRect</key>
                <string>{{323,169},{78,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>g0_level30_0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1e3e10d48981d872b355627cd449610:75b6c670f1446225133cf2cc7fe68e0a:bb9e0129a1f559e1300a78ad148b3875$</string>
            <key>textureFileName</key>
            <string>g0_level30_0.png</string>
        </dict>
    </dict>
</plist>
