<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_gameplay.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{996,560}</string>
                <key>spriteSourceSize</key>
                <string>{996,560}</string>
                <key>textureRect</key>
                <string>{{2,2},{996,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{792,638},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{792,638},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_hint_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{980,940},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_next_end_level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{792,638},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_replay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{792,638},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_replay_end_level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{792,638},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_replay_end_level_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{792,694},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_replay_result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{792,638},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_story_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{792,638},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_story_next_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{792,750},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_level_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,89}</string>
                <key>spriteSourceSize</key>
                <string>{93,89}</string>
                <key>textureRect</key>
                <string>{{915,848},{93,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help_btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,50}</string>
                <key>spriteSourceSize</key>
                <string>{120,50}</string>
                <key>textureRect</key>
                <string>{{792,806},{120,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>promoscreen_bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{996,560}</string>
                <key>spriteSourceSize</key>
                <string>{996,560}</string>
                <key>textureRect</key>
                <string>{{2,2},{996,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quit_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{787,360}</string>
                <key>spriteSourceSize</key>
                <string>{787,360}</string>
                <key>textureRect</key>
                <string>{{2,639},{787,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quit_btn_no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,103}</string>
                <key>spriteSourceSize</key>
                <string>{99,103}</string>
                <key>textureRect</key>
                <string>{{919,742},{99,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quit_btn_yes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,107}</string>
                <key>spriteSourceSize</key>
                <string>{114,107}</string>
                <key>textureRect</key>
                <string>{{792,912},{114,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stopwatch_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{941,565},{68,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>temp_btn_hint_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{980,982},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>temp_timer_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,50}</string>
                <key>spriteSourceSize</key>
                <string>{115,50}</string>
                <key>textureRect</key>
                <string>{{792,859},{115,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timer_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{909,940},{68,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_hint_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{919,639},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_hud_bottom_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{936,70}</string>
                <key>spriteSourceSize</key>
                <string>{936,70}</string>
                <key>textureRect</key>
                <string>{{2,565},{936,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameplay_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b42f0e8335bfa824eee29552d1b1218:583b42fa620fe4b039a69b647c01c363:a913beb3f87d6218f2487f3f430ce66b$</string>
            <key>textureFileName</key>
            <string>gameplay_0.png</string>
        </dict>
    </dict>
</plist>
