<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>test_notification.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{701,91}</string>
                <key>spriteSourceSize</key>
                <string>{701,91}</string>
                <key>textureRect</key>
                <string>{{2,305},{701,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_hud_top_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{747,52}</string>
                <key>spriteSourceSize</key>
                <string>{747,52}</string>
                <key>textureRect</key>
                <string>{{2,399},{747,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_share_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,300}</string>
                <key>spriteSourceSize</key>
                <string>{510,300}</string>
                <key>textureRect</key>
                <string>{{2,2},{510,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameplay_3.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b42f0e8335bfa824eee29552d1b1218:583b42fa620fe4b039a69b647c01c363:a913beb3f87d6218f2487f3f430ce66b$</string>
            <key>textureFileName</key>
            <string>gameplay_3.png</string>
        </dict>
    </dict>
</plist>
