<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,189}</string>
                <key>spriteSourceSize</key>
                <string>{205,189}</string>
                <key>textureRect</key>
                <string>{{792,388},{205,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_quit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,190}</string>
                <key>spriteSourceSize</key>
                <string>{205,190}</string>
                <key>textureRect</key>
                <string>{{792,2},{205,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_resume.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,190}</string>
                <key>spriteSourceSize</key>
                <string>{205,190}</string>
                <key>textureRect</key>
                <string>{{792,195},{205,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_sound_off_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,189}</string>
                <key>spriteSourceSize</key>
                <string>{205,189}</string>
                <key>textureRect</key>
                <string>{{517,527},{205,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_sound_on_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,189}</string>
                <key>spriteSourceSize</key>
                <string>{205,189}</string>
                <key>textureRect</key>
                <string>{{781,580},{205,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>combo_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,27}</string>
                <key>spriteSourceSize</key>
                <string>{67,27}</string>
                <key>textureRect</key>
                <string>{{517,719},{67,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>combo_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,29}</string>
                <key>spriteSourceSize</key>
                <string>{268,29}</string>
                <key>textureRect</key>
                <string>{{517,495},{268,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_level_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{787,490}</string>
                <key>spriteSourceSize</key>
                <string>{787,490}</string>
                <key>textureRect</key>
                <string>{{2,2},{787,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flashlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{2,495},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,175}</string>
                <key>spriteSourceSize</key>
                <string>{403,175}</string>
                <key>textureRect</key>
                <string>{{517,772},{403,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>temp_stopwatch_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{517,950},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>temp_wrong_click.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{725,672},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_button_hint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{725,630},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_hint_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,100}</string>
                <key>spriteSourceSize</key>
                <string>{53,100}</string>
                <key>textureRect</key>
                <string>{{725,527},{53,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_hint_sparkle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,88}</string>
                <key>spriteSourceSize</key>
                <string>{89,88}</string>
                <key>textureRect</key>
                <string>{{923,864},{89,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_particle_sparkle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,88}</string>
                <key>spriteSourceSize</key>
                <string>{89,88}</string>
                <key>textureRect</key>
                <string>{{923,864},{89,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_relatedgames_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{787,490}</string>
                <key>spriteSourceSize</key>
                <string>{787,490}</string>
                <key>textureRect</key>
                <string>{{2,2},{787,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_result_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{787,490}</string>
                <key>spriteSourceSize</key>
                <string>{787,490}</string>
                <key>textureRect</key>
                <string>{{2,2},{787,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_star_end_earned.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,89}</string>
                <key>spriteSourceSize</key>
                <string>{93,89}</string>
                <key>textureRect</key>
                <string>{{923,772},{93,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameplay_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b42f0e8335bfa824eee29552d1b1218:583b42fa620fe4b039a69b647c01c363:a913beb3f87d6218f2487f3f430ce66b$</string>
            <key>textureFileName</key>
            <string>gameplay_1.png</string>
        </dict>
    </dict>
</plist>
