<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level_select_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,38}</string>
                <key>spriteSourceSize</key>
                <string>{35,38}</string>
                <key>textureRect</key>
                <string>{{2,968},{35,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_select_star_earned.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,38}</string>
                <key>spriteSourceSize</key>
                <string>{35,38}</string>
                <key>textureRect</key>
                <string>{{40,968},{35,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelselect_bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{996,560}</string>
                <key>spriteSourceSize</key>
                <string>{996,560}</string>
                <key>textureRect</key>
                <string>{{2,2},{996,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_btn_level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{2,565},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_btn_level_locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{2,728},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_button_level_select_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{2,891},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_button_level_select_prev.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{74,74}</string>
                <key>textureRect</key>
                <string>{{79,891},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>initial_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f721734c1bdca1ab3b5dad6bdcd2b79:cdc6add3587a3eee67e7a0b7b12194f5:1fc1a61833bf5ff4d3f7a0dfe3a43a96$</string>
            <key>textureFileName</key>
            <string>initial_0.png</string>
        </dict>
    </dict>
</plist>
