<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_enBossAttack_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,532},{161,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,162}}</string>
				<key>sourceSize</key>
				<string>{161,162}</string>
			</dict>

			<key>char_enBossAttack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1863},{161,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,162}}</string>
				<key>sourceSize</key>
				<string>{161,162}</string>
			</dict>

			<key>char_enBossAttack_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,1534},{161,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,162}}</string>
				<key>sourceSize</key>
				<string>{161,162}</string>
			</dict>

			<key>char_enBossAttack_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,1367},{161,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,162}}</string>
				<key>sourceSize</key>
				<string>{161,162}</string>
			</dict>

			<key>char_enBossAttack_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,866},{161,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,162}}</string>
				<key>sourceSize</key>
				<string>{161,162}</string>
			</dict>

			<key>char_enBossAttack_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,1033},{161,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,162}}</string>
				<key>sourceSize</key>
				<string>{161,162}</string>
			</dict>

			<key>char_enBossAttack_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,0},{161,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,162}}</string>
				<key>sourceSize</key>
				<string>{161,162}</string>
			</dict>

			<key>char_enBossAttack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,1825},{161,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,162}}</string>
				<key>sourceSize</key>
				<string>{161,162}</string>
			</dict>

			<key>char_enBossAttack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,365},{161,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,162}}</string>
				<key>sourceSize</key>
				<string>{161,162}</string>
			</dict>

			<key>char_enBossAttack_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,532},{161,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,162}}</string>
				<key>sourceSize</key>
				<string>{161,162}</string>
			</dict>

			<key>char_enBossAttack_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1696},{161,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,162}}</string>
				<key>sourceSize</key>
				<string>{161,162}</string>
			</dict>

			<key>char_enBossAttack_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,365},{161,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,162}}</string>
				<key>sourceSize</key>
				<string>{161,162}</string>
			</dict>

			<key>char_enBossAttack_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,1200},{161,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,162}}</string>
				<key>sourceSize</key>
				<string>{161,162}</string>
			</dict>

			<key>char_enBossAttack_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,699},{161,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,162}}</string>
				<key>sourceSize</key>
				<string>{161,162}</string>
			</dict>

			<key>char_enBossAttack_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,1825},{161,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,162}}</string>
				<key>sourceSize</key>
				<string>{161,162}</string>
			</dict>

			<key>char_enBossFall_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,402},{200,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,196}}</string>
				<key>sourceSize</key>
				<string>{200,196}</string>
			</dict>

			<key>char_enBossFall_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,603},{200,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,196}}</string>
				<key>sourceSize</key>
				<string>{200,196}</string>
			</dict>

			<key>char_enBossFall_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,402},{200,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,196}}</string>
				<key>sourceSize</key>
				<string>{200,196}</string>
			</dict>

			<key>char_enBossFall_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,603},{200,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,196}}</string>
				<key>sourceSize</key>
				<string>{200,196}</string>
			</dict>

			<key>char_enBossFall_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,201},{200,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,196}}</string>
				<key>sourceSize</key>
				<string>{200,196}</string>
			</dict>

			<key>char_enBossFall_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{200,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,196}}</string>
				<key>sourceSize</key>
				<string>{200,196}</string>
			</dict>

			<key>char_enBossFall_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1608},{200,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,196}}</string>
				<key>sourceSize</key>
				<string>{200,196}</string>
			</dict>

			<key>char_enBossFall_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,804},{200,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,196}}</string>
				<key>sourceSize</key>
				<string>{200,196}</string>
			</dict>

			<key>char_enBossFall_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1005},{200,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,196}}</string>
				<key>sourceSize</key>
				<string>{200,196}</string>
			</dict>

			<key>char_enBossFall_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1206},{200,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,196}}</string>
				<key>sourceSize</key>
				<string>{200,196}</string>
			</dict>

			<key>char_enBossFall_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1407},{200,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,196}}</string>
				<key>sourceSize</key>
				<string>{200,196}</string>
			</dict>

			<key>char_enBossFall_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,804},{200,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,196}}</string>
				<key>sourceSize</key>
				<string>{200,196}</string>
			</dict>

			<key>char_enBossFall_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1809},{200,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,196}}</string>
				<key>sourceSize</key>
				<string>{200,196}</string>
			</dict>

			<key>char_enBossFall_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,0},{200,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,196}}</string>
				<key>sourceSize</key>
				<string>{200,196}</string>
			</dict>

			<key>char_enBossFall_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,201},{200,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,196}}</string>
				<key>sourceSize</key>
				<string>{200,196}</string>
			</dict>

			<key>char_enBossIn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,529},{131,524}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,524}}</string>
				<key>sourceSize</key>
				<string>{131,524}</string>
			</dict>

			<key>char_enBossIn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,1058},{131,524}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,524}}</string>
				<key>sourceSize</key>
				<string>{131,524}</string>
			</dict>

			<key>char_enBossIn_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,1228},{131,524}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,524}}</string>
				<key>sourceSize</key>
				<string>{131,524}</string>
			</dict>

			<key>char_enBossIn_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,699},{131,524}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,524}}</string>
				<key>sourceSize</key>
				<string>{131,524}</string>
			</dict>

			<key>char_enBossIn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,1058},{131,524}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,524}}</string>
				<key>sourceSize</key>
				<string>{131,524}</string>
			</dict>

			<key>char_enBossIn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,1058},{131,524}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,524}}</string>
				<key>sourceSize</key>
				<string>{131,524}</string>
			</dict>

			<key>char_enBossIn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,529},{131,524}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,524}}</string>
				<key>sourceSize</key>
				<string>{131,524}</string>
			</dict>

			<key>char_enBossIn_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,1058},{131,524}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,524}}</string>
				<key>sourceSize</key>
				<string>{131,524}</string>
			</dict>

			<key>char_enBossIn_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1046,696},{131,524}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,524}}</string>
				<key>sourceSize</key>
				<string>{131,524}</string>
			</dict>

			<key>char_enBossIn_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1049,0},{131,524}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,524}}</string>
				<key>sourceSize</key>
				<string>{131,524}</string>
			</dict>

			<key>char_enBossIn_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1046,1225},{131,524}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,524}}</string>
				<key>sourceSize</key>
				<string>{131,524}</string>
			</dict>

			<key>char_enBossIn_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,167},{131,524}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,524}}</string>
				<key>sourceSize</key>
				<string>{131,524}</string>
			</dict>

			<key>char_enBossOut_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,730},{166,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,360}}</string>
				<key>sourceSize</key>
				<string>{166,360}</string>
			</dict>

			<key>char_enBossOut_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,0},{166,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,360}}</string>
				<key>sourceSize</key>
				<string>{166,360}</string>
			</dict>

			<key>char_enBossOut_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,730},{166,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,360}}</string>
				<key>sourceSize</key>
				<string>{166,360}</string>
			</dict>

			<key>char_enBossOut_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,0},{166,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,360}}</string>
				<key>sourceSize</key>
				<string>{166,360}</string>
			</dict>

			<key>char_enBossOut_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,0},{166,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,360}}</string>
				<key>sourceSize</key>
				<string>{166,360}</string>
			</dict>

			<key>char_enBossOut_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,365},{166,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,360}}</string>
				<key>sourceSize</key>
				<string>{166,360}</string>
			</dict>

			<key>char_enBossOut_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1095},{166,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,360}}</string>
				<key>sourceSize</key>
				<string>{166,360}</string>
			</dict>

			<key>char_enBossOut_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1460},{166,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,360}}</string>
				<key>sourceSize</key>
				<string>{166,360}</string>
			</dict>

			<key>char_enBossOut_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1095},{166,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,360}}</string>
				<key>sourceSize</key>
				<string>{166,360}</string>
			</dict>

			<key>char_enBossOut_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1460},{166,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,360}}</string>
				<key>sourceSize</key>
				<string>{166,360}</string>
			</dict>

			<key>char_enBoss_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,897},{98,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,162}}</string>
				<key>sourceSize</key>
				<string>{98,162}</string>
			</dict>

			<key>char_enBoss_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,167},{98,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,162}}</string>
				<key>sourceSize</key>
				<string>{98,162}</string>
			</dict>

			<key>char_enBoss_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,1757},{98,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,162}}</string>
				<key>sourceSize</key>
				<string>{98,162}</string>
			</dict>

			<key>char_enBoss_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,730},{98,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,162}}</string>
				<key>sourceSize</key>
				<string>{98,162}</string>
			</dict>

			<key>char_enBoss_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,1587},{98,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,162}}</string>
				<key>sourceSize</key>
				<string>{98,162}</string>
			</dict>

			<key>char_enBoss_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1049,529},{98,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,162}}</string>
				<key>sourceSize</key>
				<string>{98,162}</string>
			</dict>

			<key>char_enBoss_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,1754},{98,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,162}}</string>
				<key>sourceSize</key>
				<string>{98,162}</string>
			</dict>

			<key>char_enBoss_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1757},{98,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,162}}</string>
				<key>sourceSize</key>
				<string>{98,162}</string>
			</dict>

			<key>char_enBoss_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,0},{98,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,162}}</string>
				<key>sourceSize</key>
				<string>{98,162}</string>
			</dict>

			<key>char_enBoss_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,897},{98,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,162}}</string>
				<key>sourceSize</key>
				<string>{98,162}</string>
			</dict>

			<key>char_robinArm_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,846},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,53}}</string>
				<key>sourceSize</key>
				<string>{52,53}</string>
			</dict>

			<key>char_robinArm_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,904},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,53}}</string>
				<key>sourceSize</key>
				<string>{52,53}</string>
			</dict>

			<key>char_robinArm_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1946},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,53}}</string>
				<key>sourceSize</key>
				<string>{52,53}</string>
			</dict>

			<key>char_robinArm_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,1946},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,53}}</string>
				<key>sourceSize</key>
				<string>{52,53}</string>
			</dict>

			<key>char_robinArm_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,730},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,53}}</string>
				<key>sourceSize</key>
				<string>{52,53}</string>
			</dict>

			<key>char_robinArm_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,788},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,53}}</string>
				<key>sourceSize</key>
				<string>{52,53}</string>
			</dict>

			<key>char_robinArm_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,1946},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,53}}</string>
				<key>sourceSize</key>
				<string>{52,53}</string>
			</dict>

			<key>char_robin_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,1571},{179,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,120}}</string>
				<key>sourceSize</key>
				<string>{179,120}</string>
			</dict>

			<key>char_robin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,1446},{179,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,120}}</string>
				<key>sourceSize</key>
				<string>{179,120}</string>
			</dict>

			<key>char_robin_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1321},{179,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,120}}</string>
				<key>sourceSize</key>
				<string>{179,120}</string>
			</dict>

			<key>char_robin_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1571},{179,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,120}}</string>
				<key>sourceSize</key>
				<string>{179,120}</string>
			</dict>

			<key>char_robin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,1321},{179,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,120}}</string>
				<key>sourceSize</key>
				<string>{179,120}</string>
			</dict>

			<key>char_robin_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,1196},{179,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,120}}</string>
				<key>sourceSize</key>
				<string>{179,120}</string>
			</dict>

			<key>char_robin_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,1071},{179,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,120}}</string>
				<key>sourceSize</key>
				<string>{179,120}</string>
			</dict>

			<key>char_robin_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,1821},{179,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,120}}</string>
				<key>sourceSize</key>
				<string>{179,120}</string>
			</dict>

			<key>char_robin_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,1696},{179,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,120}}</string>
				<key>sourceSize</key>
				<string>{179,120}</string>
			</dict>

			<key>char_robin_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1196},{179,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,120}}</string>
				<key>sourceSize</key>
				<string>{179,120}</string>
			</dict>

			<key>char_robin_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1446},{179,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,120}}</string>
				<key>sourceSize</key>
				<string>{179,120}</string>
			</dict>

			<key>char_robin_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1071},{179,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,120}}</string>
				<key>sourceSize</key>
				<string>{179,120}</string>
			</dict>

			<key>gobj_bird_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,962},{46,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,48}}</string>
				<key>sourceSize</key>
				<string>{46,48}</string>
			</dict>

			<key>hit_robin.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,1005},{192,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,61}}</string>
				<key>sourceSize</key>
				<string>{192,61}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>char.png</string>
			</dict>
		</dict>
</plist>