<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qz0_q1_a1_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,447}</string>
                <key>spriteSourceSize</key>
                <string>{380,447}</string>
                <key>textureRect</key>
                <string>{{2,452},{380,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q1_a2_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{462,447}</string>
                <key>spriteSourceSize</key>
                <string>{462,447}</string>
                <key>textureRect</key>
                <string>{{2,2},{462,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q1_a3_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,447}</string>
                <key>spriteSourceSize</key>
                <string>{277,447}</string>
                <key>textureRect</key>
                <string>{{693,452},{277,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q1_a4_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,447}</string>
                <key>spriteSourceSize</key>
                <string>{300,447}</string>
                <key>textureRect</key>
                <string>{{467,2},{300,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q1_a5_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,447}</string>
                <key>spriteSourceSize</key>
                <string>{305,447}</string>
                <key>textureRect</key>
                <string>{{385,452},{305,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>g0_level1_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48753df048efa0c8d0bb837ee8a98480:6e057bccd666e5e3d7aac623bedc98c6:4e464ec587f024a732f075a8c6226fd6$</string>
            <key>textureFileName</key>
            <string>g0_level1_0.png</string>
        </dict>
    </dict>
</plist>
