<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qz0_q4_a1_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,396}</string>
                <key>spriteSourceSize</key>
                <string>{450,396}</string>
                <key>textureRect</key>
                <string>{{571,2},{450,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q4_a2_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,400}</string>
                <key>spriteSourceSize</key>
                <string>{514,400}</string>
                <key>textureRect</key>
                <string>{{2,405},{514,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q4_a4_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,400}</string>
                <key>spriteSourceSize</key>
                <string>{566,400}</string>
                <key>textureRect</key>
                <string>{{2,2},{566,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q4_a5_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,400}</string>
                <key>spriteSourceSize</key>
                <string>{322,400}</string>
                <key>textureRect</key>
                <string>{{571,401},{322,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>g0_level4_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:741c15912ba779bea3d182677f87a5c2:684093c7274ec1555e5a388fd431e191:02450d2f79420e6b0288ceb5078ec9f7$</string>
            <key>textureFileName</key>
            <string>g0_level4_0.png</string>
        </dict>
    </dict>
</plist>
