<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qz0_q2_a1_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,260}</string>
                <key>spriteSourceSize</key>
                <string>{300,260}</string>
                <key>textureRect</key>
                <string>{{2,2},{300,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q2_a2_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,260}</string>
                <key>spriteSourceSize</key>
                <string>{300,260}</string>
                <key>textureRect</key>
                <string>{{305,2},{300,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q2_a3_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,260}</string>
                <key>spriteSourceSize</key>
                <string>{300,260}</string>
                <key>textureRect</key>
                <string>{{608,2},{300,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q2_a4_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,260}</string>
                <key>spriteSourceSize</key>
                <string>{300,260}</string>
                <key>textureRect</key>
                <string>{{2,265},{300,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q2_a5_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,260}</string>
                <key>spriteSourceSize</key>
                <string>{300,260}</string>
                <key>textureRect</key>
                <string>{{2,528},{300,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>g0_level2_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:395486b4fe60a6bd92e6bb420e0f7426:52a2dd78d52c6ca91cc2adabac7ed451:82897d8c9b114cac73e05368d51bcb43$</string>
            <key>textureFileName</key>
            <string>g0_level2_0.png</string>
        </dict>
    </dict>
</plist>
