<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_continue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{480,967},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{816,565},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{480,967},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_replay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{480,967},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_replay_result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{480,967},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{889,565},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_story_skip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{480,967},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameplay_bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{996,560}</string>
                <key>spriteSourceSize</key>
                <string>{996,560}</string>
                <key>textureRect</key>
                <string>{{2,2},{996,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nav_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{1001,2},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nav_fill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{1001,18},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>promoscreen_bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{996,560}</string>
                <key>spriteSourceSize</key>
                <string>{996,560}</string>
                <key>textureRect</key>
                <string>{{2,2},{996,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_r1_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{475,413}</string>
                <key>spriteSourceSize</key>
                <string>{475,413}</string>
                <key>textureRect</key>
                <string>{{2,565},{475,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_r2_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,399}</string>
                <key>spriteSourceSize</key>
                <string>{333,399}</string>
                <key>textureRect</key>
                <string>{{480,565},{333,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameplay_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc0e92885c78773641c27ac21c2070b0:21c8fdb9b28c821ee83e721a4436d76c:38e5704dab721e1312bfa9b661c550f2$</string>
            <key>textureFileName</key>
            <string>gameplay_0.png</string>
        </dict>
    </dict>
</plist>
