<config>

    <!-- SERVICES -->
    <!-- Enable, disable, and configure services here -->
	<services>
		<!--<service type="canadaTracking" enabled="false" showGameTitle="Show Title: Game Title"/>
		<service type="nickavatar" enabled="false" url="http://54.243.42.37:8080/nick/avatar" />
		<service type="leaderboard" enabled="false" url="http://hs.nick.com/scores/" keyword="power-rangers-samurai-super-samurai" />-->
	</services>

	<!-- ACHIEVEMENTS -->
	<achievements enabled="true"/>

	<!-- LOCALIZATION -->
    <localization>
    	<region>en</region>
    </localization>

</config>
