<?xml version="1.0" encoding="utf-8"?>
<config>
	
	<tracking enabled="false">
		<gameName>YourTrackingName</gameName>
		<!-- The localization region to load. Loads string files in strings/strings_<two letter locale>.xml. or, will load string.xml by default. -->
		<!-- <locale>ru</locale> -->
	</tracking>

	<options>
		<voteButton>true</voteButton>
		<voteURL>http://www.nick.com/kids-choice-sports/vote/</voteURL>
<!-- 		<hostingURL1><![CDATA[nick.com/games/kids-choice-sports-2015-football-flick.html]]></hostingURL1>
		<hostingURL2><![CDATA[nick-q.mtvi.com/games/kids-choice-sports-2015-football-flick.html]]></hostingURL2>
		
		<banner1ExpireDate><![CDATA[LOCAL:2015-07-17 00:00:00]]></banner1ExpireDate>
		<premiumAppReleaseDate><![CDATA[LOCAL:2015-07-16 00:00:00]]></premiumAppReleaseDate>
		
		<bumperURL><![CDATA[http://www.nick.com/common/bumpers/bumperFrameless.jhtml?wBumper=fullexternal&advertiser=]]></bumperURL>
		<itunesURL><![CDATA[https://itunes.apple.com/us/app/nick-sports/id995385574?ls=1&mt=8&at=10lphm&ct=23_mo_app_nick-sports]]></itunesURL>
		<amazonURL><![CDATA[http://www.amazon.com/gp/product/B00ZZ3VCCM]]></amazonURL>
		<googleURL><![CDATA[https://play.google.com/store/apps/details?id=com.mtvn.nickelodeonsports]]></googleURL>
 -->		
		<unlockCode>TARGETX2</unlockCode>
		<unlockCode2>WIN</unlockCode2>
		
	</options>

</config>