<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,447},{297,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{297,225}}</string>
				<key>sourceSize</key>
				<string>{297,225}</string>
			</dict>

			<key>gobj_fishTrophy.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,155},{307,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{307,137}}</string>
				<key>sourceSize</key>
				<string>{307,137}</string>
			</dict>

			<key>gobj_headphones.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,678},{219,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,204}}</string>
				<key>sourceSize</key>
				<string>{219,204}</string>
			</dict>

			<key>gobj_pillow.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,298},{303,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{303,143}}</string>
				<key>sourceSize</key>
				<string>{303,143}</string>
			</dict>

			<key>gobj_pinkPkPeanuts.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,888},{215,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{215,103}}</string>
				<key>sourceSize</key>
				<string>{215,103}</string>
			</dict>

			<key>gobj_skiGoggles.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{308,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{308,149}}</string>
				<key>sourceSize</key>
				<string>{308,149}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>gobj.png</string>
			</dict>
		</dict>
</plist>