<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_pandaCollect_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,861},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaCollect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,1435},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaCollect_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,861},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaCollect_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,574},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaCollect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,1148},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaCollect_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,861},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaCollect_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,574},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaCollect_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,287},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaCollect_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,0},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaCollect_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1722},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaCollect_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1435},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaCollect_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1148},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,287},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,0},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaHit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1435},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaHit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1148},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1722},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1435},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1148},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,1722},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,574},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,287},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,0},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaHit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1722},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,861},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,861},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,287},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,574},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,287},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,0},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1722},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1435},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1148},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,861},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_pandaIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,574},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>char_panda0.png</string>
			</dict>
		</dict>
</plist>