<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_grizzCollect_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,861},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzCollect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,1435},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzCollect_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,861},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzCollect_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,574},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzCollect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,1148},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzCollect_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,861},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzCollect_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,574},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzCollect_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,287},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzCollect_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,0},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzCollect_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1722},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzCollect_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1435},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzCollect_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1148},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,287},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,0},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzHit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1435},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzHit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1148},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1722},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1435},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1148},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,1722},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,574},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,287},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,0},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzHit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1722},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,861},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,861},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,287},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,574},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,287},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,0},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1722},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1435},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1148},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,861},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_grizzIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,574},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>char_grizz0.png</string>
			</dict>
		</dict>
</plist>