<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_iceBearIn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1148},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearIn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,287},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearIn_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1722},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearIn_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1435},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearIn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,0},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearIn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1722},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearIn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1435},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearIn_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1148},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearIn_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,861},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearIn_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,574},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearIn_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,287},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearIn_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,0},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearOut_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,574},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearOut_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,861},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearOut_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,287},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearOut_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearOut_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,574},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearOut_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,287},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearOut_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,0},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearOut_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1722},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearOut_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1435},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearOut_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1148},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearOut_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,861},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

			<key>char_iceBearOut_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,574},{275,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,281}}</string>
				<key>sourceSize</key>
				<string>{275,281}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>char_iceBear1.png</string>
			</dict>
		</dict>
</plist>