@font-face {
    font-family: 'LoveYaLikeASister';
    font-style: normal;
    src:url('../fonts/LoveYaLikeASister.ttf') format('truetype'),
        url('../fonts/LoveYaLikeASister.woff') format('woff');
}