<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>endscreen/ui_endscreen_meter_medal_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,146},{60,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>gameplay/pickup_backing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>ui/animal_rescue_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{61,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,70}}</string>
                <key>sourceSize</key>
                <string>{61,70}</string>
            </dict>
            <key>ui/ui_gameplay_alert_animal_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay_universal1.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cf511908f43a8fa1514f2539d93597b:2/2$</string>
            <key>textureFileName</key>
            <string>gameplay_universal1.png</string>
        </dict>
    </dict>
</plist>
