<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>endscreen/ui_endscreen_button_animals.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,752},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>endscreen/ui_endscreen_button_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,751},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>endscreen/ui_endscreen_button_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,751},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>endscreen/ui_endscreen_highscore_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,275},{429,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,85}}</string>
                <key>sourceSize</key>
                <string>{429,85}</string>
            </dict>
            <key>endscreen/ui_endscreen_meter_backing.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{351,119},{459,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,50}}</string>
                <key>sourceSize</key>
                <string>{459,50}</string>
            </dict>
            <key>endscreen/ui_endscreen_meter_fill.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{351,171},{459,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,50}}</string>
                <key>sourceSize</key>
                <string>{459,50}</string>
            </dict>
            <key>endscreen/ui_endscreen_meter_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,39},{489,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,78}}</string>
                <key>sourceSize</key>
                <string>{489,78}</string>
            </dict>
            <key>endscreen/ui_endscreen_meter_marks.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,967},{297,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,47}}</string>
                <key>sourceSize</key>
                <string>{297,47}</string>
            </dict>
            <key>endscreen/ui_endscreen_meter_medal_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,950},{68,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{68,71}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>endscreen/ui_endscreen_meter_medal_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,192},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{80,81}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>endscreen/ui_endscreen_meter_medal_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,39},{90,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{90,91}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>endscreen/ui_endscreen_meter_medal_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,753},{100,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{100,101}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>endscreen/ui_endscreen_meter_medal_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,843},{110,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,111}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>endscreen/ui_endscreen_meter_medal_beshte.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,277},{46,31}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,42},{46,31}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>endscreen/ui_endscreen_meter_medal_bunga.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,365},{42,43}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{42,43}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>endscreen/ui_endscreen_meter_medal_fuli.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,275},{48,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,36},{48,39}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>endscreen/ui_endscreen_meter_medal_kion.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,362},{40,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,32},{40,45}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>endscreen/ui_endscreen_meter_medal_ono.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,326},{48,37}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,37},{48,37}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>endscreen/ui_endscreen_star_burst.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,620},{98,93}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{98,93}}</string>
                <key>sourceSize</key>
                <string>{136,129}</string>
            </dict>
            <key>endscreen/ui_endscreen_star_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,550},{125,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,119}}</string>
                <key>sourceSize</key>
                <string>{125,119}</string>
            </dict>
            <key>endscreen/ui_endscreen_star_filled.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,851},{119,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,113}}</string>
                <key>sourceSize</key>
                <string>{119,113}</string>
            </dict>
            <key>gameplay/effects/bird/bird_fly_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,277},{38,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>gameplay/effects/bird/bird_fly_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,550},{38,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,31}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>gameplay/effects/bird/bird_fly_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,277},{40,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,33}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>gameplay/effects/bird/bird_fly_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,550},{38,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,31}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>gameplay/effects/burst_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,865},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>gameplay/effects/drop/beshte_water_particle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1009},{7,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,12}}</string>
                <key>sourceSize</key>
                <string>{7,12}</string>
            </dict>
            <key>gameplay/effects/flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1009},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>gameplay/effects/leaves/particle_bush_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1009},{12,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,9}}</string>
                <key>sourceSize</key>
                <string>{12,9}</string>
            </dict>
            <key>gameplay/effects/leaves/particle_bush_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1009},{15,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{15,7}}</string>
                <key>sourceSize</key>
                <string>{15,9}</string>
            </dict>
            <key>gameplay/effects/leaves/particle_bush_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,998},{6,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,14}}</string>
                <key>sourceSize</key>
                <string>{6,14}</string>
            </dict>
            <key>gameplay/effects/leaves/particle_bush_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1009},{10,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,13}}</string>
                <key>sourceSize</key>
                <string>{10,13}</string>
            </dict>
            <key>gameplay/effects/leaves/particle_bush_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,998},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>gameplay/effects/lightning/hazard_storm_cloud_lightning_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,956},{38,66}}</string>
                <key>offset</key>
                <string>{12,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,1},{38,66}}</string>
                <key>sourceSize</key>
                <string>{98,168}</string>
            </dict>
            <key>gameplay/effects/lightning/hazard_storm_cloud_lightning_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,852},{66,122}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{66,122}}</string>
                <key>sourceSize</key>
                <string>{98,168}</string>
            </dict>
            <key>gameplay/effects/lightning/hazard_storm_cloud_lightning_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,865},{88,150}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{88,150}}</string>
                <key>sourceSize</key>
                <string>{98,168}</string>
            </dict>
            <key>gameplay/effects/lightning/hazard_storm_cloud_lightning_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,583},{98,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,168}}</string>
                <key>sourceSize</key>
                <string>{98,168}</string>
            </dict>
            <key>gameplay/effects/log/particle_log.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,46},{7,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,33}}</string>
                <key>sourceSize</key>
                <string>{7,33}</string>
            </dict>
            <key>gameplay/effects/mud/effect_mud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,102},{208,88}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{208,88}}</string>
                <key>sourceSize</key>
                <string>{242,116}</string>
            </dict>
            <key>gameplay/effects/mud/effect_mud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,316},{230,104}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{230,104}}</string>
                <key>sourceSize</key>
                <string>{242,116}</string>
            </dict>
            <key>gameplay/effects/mud/effect_mud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,420},{242,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,116}}</string>
                <key>sourceSize</key>
                <string>{242,116}</string>
            </dict>
            <key>gameplay/effects/poof/effect_poof_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,733},{106,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{106,92}}</string>
                <key>sourceSize</key>
                <string>{160,138}</string>
            </dict>
            <key>gameplay/effects/rock/particle_rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,998},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>gameplay/effects/sparkles/sparkle_large_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,119},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>gameplay/effects/sparkles/sparkle_medium_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>gameplay/effects/sparkles/sparkle_medium_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>gameplay/effects/sparkles/sparkle_small_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1009},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>gameplay/effects/sparkles/sparkle_small_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1009},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>gameplay/effects/sparkles/sparkle_small_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1009},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>gameplay/effects/thorns/particle_thorns_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1009},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>gameplay/effects/thorns/particle_thorns_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,998},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>gameplay/effects/thorns/particle_thorns_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1009},{4,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,7}}</string>
                <key>sourceSize</key>
                <string>{4,7}</string>
            </dict>
            <key>gameplay/effects/thorns/particle_thorns_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1009},{4,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,12}}</string>
                <key>sourceSize</key>
                <string>{4,12}</string>
            </dict>
            <key>gameplay/effects/water/effect_splash_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,46},{170,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{170,114}}</string>
                <key>sourceSize</key>
                <string>{226,126}</string>
            </dict>
            <key>gameplay/effects/water/effect_splash_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,422},{218,122}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{218,122}}</string>
                <key>sourceSize</key>
                <string>{226,126}</string>
            </dict>
            <key>gameplay/effects/water/effect_splash_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,422},{226,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,126}}</string>
                <key>sourceSize</key>
                <string>{226,126}</string>
            </dict>
            <key>gameplay/pickup_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,956},{64,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,65}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>gameplay/pickup_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,275},{52,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{52,49}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>ui/arrow_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,132},{90,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,56}}</string>
                <key>sourceSize</key>
                <string>{90,56}</string>
            </dict>
            <key>ui/arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,190},{90,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,56}}</string>
                <key>sourceSize</key>
                <string>{90,56}</string>
            </dict>
            <key>ui/progress_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,223},{459,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,50}}</string>
                <key>sourceSize</key>
                <string>{459,50}</string>
            </dict>
            <key>ui/screen_effect_horizontal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{996,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{996,35}}</string>
                <key>sourceSize</key>
                <string>{996,35}</string>
            </dict>
            <key>ui/screen_effect_vertical.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{40,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,560}}</string>
                <key>sourceSize</key>
                <string>{40,560}</string>
            </dict>
            <key>ui/ui_button_animals.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,665},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ui/ui_button_animals_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,192},{122,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,123}}</string>
                <key>sourceSize</key>
                <string>{122,123}</string>
            </dict>
            <key>ui/ui_button_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,671},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>ui/ui_button_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,569},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>ui/ui_button_mainmenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,671},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>ui/ui_button_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,665},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ui/ui_button_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,875},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>ui/ui_button_skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,671},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>ui/ui_button_sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,715},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ui/ui_button_sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,795},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ui/ui_exclamation_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,753},{35,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,105}}</string>
                <key>sourceSize</key>
                <string>{35,105}</string>
            </dict>
            <key>ui/ui_gameplay_alert.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,162},{169,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,113}}</string>
                <key>sourceSize</key>
                <string>{169,113}</string>
            </dict>
            <key>ui/ui_gameplay_alert_animal.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,277},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>ui/ui_gameplay_alert_animal_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,875},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>ui/ui_gameplay_character_flourish.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,745},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{96,96}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>ui/ui_gameplay_character_flourish_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,851},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>ui/ui_gameplay_meter_backing.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,71},{212,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,29}}</string>
                <key>sourceSize</key>
                <string>{212,29}</string>
            </dict>
            <key>ui/ui_gameplay_meter_backing_roar.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,538},{214,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,29}}</string>
                <key>sourceSize</key>
                <string>{214,29}</string>
            </dict>
            <key>ui/ui_gameplay_meter_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,39},{212,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,30}}</string>
                <key>sourceSize</key>
                <string>{212,30}</string>
            </dict>
            <key>ui/ui_gameplay_meter_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,362},{244,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{244,56}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>ui/ui_gameplay_meter_frame_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,546},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>ui/ui_gameplay_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,362},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>ui/ui_gameplay_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{254,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,255}}</string>
                <key>sourceSize</key>
                <string>{254,255}</string>
            </dict>
            <key>ui/ui_gameplay_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,326},{254,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,255}}</string>
                <key>sourceSize</key>
                <string>{254,255}</string>
            </dict>
            <key>ui/ui_gameplay_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,362},{75,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,53}}</string>
                <key>sourceSize</key>
                <string>{75,53}</string>
            </dict>
            <key>ui/ui_gameplay_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,620},{110,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,111}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>ui/ui_gameplay_tap_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,856},{97,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,123}}</string>
                <key>sourceSize</key>
                <string>{97,123}</string>
            </dict>
            <key>ui/ui_gameplay_tap_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,865},{113,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,131}}</string>
                <key>sourceSize</key>
                <string>{113,131}</string>
            </dict>
            <key>ui/ui_gameplay_warning_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,569},{141,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,94}}</string>
                <key>sourceSize</key>
                <string>{141,94}</string>
            </dict>
            <key>ui/ui_gameplay_warning_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,248},{84,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,76}}</string>
                <key>sourceSize</key>
                <string>{84,76}</string>
            </dict>
            <key>ui/ui_gameplay_warning_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,149},{18,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,72}}</string>
                <key>sourceSize</key>
                <string>{18,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay_universal0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cf511908f43a8fa1514f2539d93597b:1/2$</string>
            <key>textureFileName</key>
            <string>gameplay_universal0.png</string>
        </dict>
    </dict>
</plist>
