<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_vol_off_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,150},{140,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,133}}</string>
                <key>sourceSize</key>
                <string>{140,133}</string>
            </dict>
            <key>loading_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{369,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,72}}</string>
                <key>sourceSize</key>
                <string>{369,72}</string>
            </dict>
            <key>loading_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{349,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,50}}</string>
                <key>sourceSize</key>
                <string>{349,50}</string>
            </dict>
            <key>loading_faceplate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{369,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,72}}</string>
                <key>sourceSize</key>
                <string>{369,72}</string>
            </dict>
            <key>mute_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>preload_0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57824995b8fd336aca68f38f35159a2e:f04b2dd6e31e031923c93826c8f74754:7d1088815ca9e6266ea2d589c7eca328$</string>
            <key>textureFileName</key>
            <string>preload_0.png</string>
        </dict>
    </dict>
</plist>
