<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_bad_bag.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,0},{158,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,201}}</string>
				<key>sourceSize</key>
				<string>{158,201}</string>
			</dict>

			<key>gobj_bad_book.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,344},{100,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,145}}</string>
				<key>sourceSize</key>
				<string>{100,145}</string>
			</dict>

			<key>gobj_bad_extinguisher.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,327},{170,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,163}}</string>
				<key>sourceSize</key>
				<string>{170,163}</string>
			</dict>

			<key>gobj_bad_screwDriver.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,464},{140,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,111}}</string>
				<key>sourceSize</key>
				<string>{140,111}</string>
			</dict>

			<key>gobj_bad_tableTop.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{237,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,197}}</string>
				<key>sourceSize</key>
				<string>{237,197}</string>
			</dict>

			<key>gobj_bad_telephone.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,0},{96,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,165}}</string>
				<key>sourceSize</key>
				<string>{96,165}</string>
			</dict>

			<key>gobj_good_juice.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,344},{84,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,154}}</string>
				<key>sourceSize</key>
				<string>{84,154}</string>
			</dict>

			<key>gobj_good_milk.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,496},{125,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,59}}</string>
				<key>sourceSize</key>
				<string>{125,59}</string>
			</dict>

			<key>gobj_good_pancake.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,327},{170,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,131}}</string>
				<key>sourceSize</key>
				<string>{170,131}</string>
			</dict>

			<key>gobj_good_pretzel.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,207},{135,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,131}}</string>
				<key>sourceSize</key>
				<string>{135,131}</string>
			</dict>

			<key>gobj_good_steak.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,203},{201,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,118}}</string>
				<key>sourceSize</key>
				<string>{201,118}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{548,581}</string>
			<key>textureFileName</key>
			<string>gobj.png</string>
			</dict>
		</dict>
</plist>