<?xml version="1.0"?>
<xsl:stylesheet version="1.0" 
  xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:xsl="http://www.w3.org/1999/XSL/Transform" 
  xmlns:its="http://www.w3.org/2005/11/its" its:version="1.0">
  <int id="fieldRows">8</int>
  <int id="fieldCols">6</int>
  <int id="tileColors">6</int>
  <int id="tileSize">160</int>
  <int id="maxSeconds">63</int>
  <int id="swapSpeed">200</int>
  <int id="fallSpeed">100</int>
  <int id="destroySpeed">200</int>
  <int id="suggestionSpeed">500</int>
  <int id="suggestionDelay">3000</int>
  <int id="match3points">1000</int>
  <number id="match3multiplier">1.0</number>
  <int id="match4points">300</int>
  <number id="match4multiplier">5.0</number>
  <int id="match5points">400</int>
  <number id="match5multiplier">10.0</number>
  <number id="gameMultiplierDecaySpeed">0.05</number>
  <string id="spritesheet">spritesheet</string>
  <string id="mute">mute</string>
  <string id="effectsVolume">effects_volume</string>
  <string id="musicVolume">music_volume</string>
  <string id="tutorialComplete">tutorial_complete</string>
</xsl:stylesheet>
