<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coal.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,806},{116,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,98}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>fish_1_cured_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{111,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,126}}</string>
                <key>sourceSize</key>
                <string>{111,126}</string>
            </dict>
            <key>fish_1_cured_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,893},{111,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,126}}</string>
                <key>sourceSize</key>
                <string>{111,126}</string>
            </dict>
            <key>fish_1_cured_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,139},{111,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,126}}</string>
                <key>sourceSize</key>
                <string>{111,126}</string>
            </dict>
            <key>fish_1_jerk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,550},{111,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,126}}</string>
                <key>sourceSize</key>
                <string>{111,126}</string>
            </dict>
            <key>fish_1_jerk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,678},{111,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,126}}</string>
                <key>sourceSize</key>
                <string>{111,126}</string>
            </dict>
            <key>fish_1_jerk_throw.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,550},{111,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,126}}</string>
                <key>sourceSize</key>
                <string>{111,126}</string>
            </dict>
            <key>fish_3_cheer.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,817},{100,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,149}}</string>
                <key>sourceSize</key>
                <string>{100,149}</string>
            </dict>
            <key>fish_3_cured_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{100,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,149}}</string>
                <key>sourceSize</key>
                <string>{100,149}</string>
            </dict>
            <key>fish_3_cured_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,153},{100,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,149}}</string>
                <key>sourceSize</key>
                <string>{100,149}</string>
            </dict>
            <key>fish_3_cured_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,304},{100,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,149}}</string>
                <key>sourceSize</key>
                <string>{100,149}</string>
            </dict>
            <key>fish_3_jerk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,455},{100,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,149}}</string>
                <key>sourceSize</key>
                <string>{100,149}</string>
            </dict>
            <key>fish_3_jerk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,606},{100,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,149}}</string>
                <key>sourceSize</key>
                <string>{100,149}</string>
            </dict>
            <key>fish_3_jerk_throw.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,757},{100,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,149}}</string>
                <key>sourceSize</key>
                <string>{100,149}</string>
            </dict>
            <key>fish_3_throw.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,274},{101,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,137}}</string>
                <key>sourceSize</key>
                <string>{101,137}</string>
            </dict>
            <key>fish_4_jerk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{74,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,134}}</string>
                <key>sourceSize</key>
                <string>{74,134}</string>
            </dict>
            <key>fish_4_jerk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,138},{74,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,134}}</string>
                <key>sourceSize</key>
                <string>{74,134}</string>
            </dict>
            <key>fish_4_jerk_throw.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,274},{74,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,134}}</string>
                <key>sourceSize</key>
                <string>{74,134}</string>
            </dict>
            <key>fish_4_throw.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,908},{74,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,104}}</string>
                <key>sourceSize</key>
                <string>{74,104}</string>
            </dict>
            <key>gift_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,908},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>gift_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,806},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>gift_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,908},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jerktonium.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,906},{115,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,85}}</string>
                <key>sourceSize</key>
                <string>{115,85}</string>
            </dict>
            <key>patrick_cured_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>patrick_jerk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{120,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>patrick_jerk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{120,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>patrick_throw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{120,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>sandy_cured.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{126,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,135}}</string>
                <key>sourceSize</key>
                <string>{126,135}</string>
            </dict>
            <key>sandy_cured_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{130,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,161}}</string>
                <key>sourceSize</key>
                <string>{130,161}</string>
            </dict>
            <key>sandy_cured_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{130,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,161}}</string>
                <key>sourceSize</key>
                <string>{130,161}</string>
            </dict>
            <key>sandy_cured_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,165},{130,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,161}}</string>
                <key>sourceSize</key>
                <string>{130,161}</string>
            </dict>
            <key>sandy_jerk.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,413},{126,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,135}}</string>
                <key>sourceSize</key>
                <string>{126,135}</string>
            </dict>
            <key>sandy_jerk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,328},{130,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,161}}</string>
                <key>sourceSize</key>
                <string>{130,161}</string>
            </dict>
            <key>sandy_jerk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,491},{130,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,161}}</string>
                <key>sourceSize</key>
                <string>{130,161}</string>
            </dict>
            <key>sandy_jerk_throw.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,654},{130,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,161}}</string>
                <key>sourceSize</key>
                <string>{130,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stop_motion_sheet2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ed1ce47c715d7898bbb64ead846c93a:4a90c4fab4e2a705a878d1b67319f01e:e77d494edafd0c653933d5f2cb9a7b76$</string>
            <key>textureFileName</key>
            <string>stop_motion_sheet2.png</string>
        </dict>
    </dict>
</plist>
