<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_2_throw.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,550},{136,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,165}}</string>
                <key>sourceSize</key>
                <string>{136,165}</string>
            </dict>
            <key>fish_3_cured.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,717},{65,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,131}}</string>
                <key>sourceSize</key>
                <string>{65,131}</string>
            </dict>
            <key>note_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,741},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{42,52}</string>
            </dict>
            <key>note_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,795},{38,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,54}}</string>
                <key>sourceSize</key>
                <string>{38,54}</string>
            </dict>
            <key>poof.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,682},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>robot_walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{551,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,466}}</string>
                <key>sourceSize</key>
                <string>{551,466}</string>
            </dict>
            <key>sandy_cheer.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,852},{130,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,161}}</string>
                <key>sourceSize</key>
                <string>{130,161}</string>
            </dict>
            <key>sb_idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{276,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,168}}</string>
                <key>sourceSize</key>
                <string>{276,168}</string>
            </dict>
            <key>sb_idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,172},{276,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,168}}</string>
                <key>sourceSize</key>
                <string>{276,168}</string>
            </dict>
            <key>sb_idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,342},{276,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,168}}</string>
                <key>sourceSize</key>
                <string>{276,168}</string>
            </dict>
            <key>sb_sing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,512},{276,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,168}}</string>
                <key>sourceSize</key>
                <string>{276,168}</string>
            </dict>
            <key>sb_sing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,682},{276,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,168}}</string>
                <key>sourceSize</key>
                <string>{276,168}</string>
            </dict>
            <key>sb_sing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,852},{276,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,168}}</string>
                <key>sourceSize</key>
                <string>{276,168}</string>
            </dict>
            <key>transition.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{712,546}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{712,546}}</string>
                <key>sourceSize</key>
                <string>{712,546}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stop_motion_sheet0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ed1ce47c715d7898bbb64ead846c93a:4a90c4fab4e2a705a878d1b67319f01e:e77d494edafd0c653933d5f2cb9a7b76$</string>
            <key>textureFileName</key>
            <string>stop_motion_sheet0.png</string>
        </dict>
    </dict>
</plist>
