<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_1_cheer.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,893},{111,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,126}}</string>
                <key>sourceSize</key>
                <string>{111,126}</string>
            </dict>
            <key>fish_1_throw.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,328},{124,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,115}}</string>
                <key>sourceSize</key>
                <string>{124,115}</string>
            </dict>
            <key>fish_2_cheer.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,316},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,173}}</string>
                <key>sourceSize</key>
                <string>{131,173}</string>
            </dict>
            <key>fish_2_cured.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,734},{78,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,157}}</string>
                <key>sourceSize</key>
                <string>{78,157}</string>
            </dict>
            <key>fish_2_cured_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,190},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,173}}</string>
                <key>sourceSize</key>
                <string>{131,173}</string>
            </dict>
            <key>fish_2_cured_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,365},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,173}}</string>
                <key>sourceSize</key>
                <string>{131,173}</string>
            </dict>
            <key>fish_2_cured_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,491},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,173}}</string>
                <key>sourceSize</key>
                <string>{131,173}</string>
            </dict>
            <key>fish_2_jerk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,540},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,173}}</string>
                <key>sourceSize</key>
                <string>{131,173}</string>
            </dict>
            <key>fish_2_jerk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,666},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,173}}</string>
                <key>sourceSize</key>
                <string>{131,173}</string>
            </dict>
            <key>fish_2_jerk_throw.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,715},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,173}}</string>
                <key>sourceSize</key>
                <string>{131,173}</string>
            </dict>
            <key>fish_4_cheer.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,190},{74,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,134}}</string>
                <key>sourceSize</key>
                <string>{74,134}</string>
            </dict>
            <key>fish_4_cured_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,326},{74,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,134}}</string>
                <key>sourceSize</key>
                <string>{74,134}</string>
            </dict>
            <key>fish_4_cured_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,462},{74,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,134}}</string>
                <key>sourceSize</key>
                <string>{74,134}</string>
            </dict>
            <key>fish_4_cured_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,598},{74,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,134}}</string>
                <key>sourceSize</key>
                <string>{74,134}</string>
            </dict>
            <key>gift_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,893},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>patrick_cheer.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,601},{120,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>patrick_cured.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,172},{123,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,154}}</string>
                <key>sourceSize</key>
                <string>{123,154}</string>
            </dict>
            <key>patrick_cured_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,841},{120,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>patrick_cured_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,841},{120,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,180}}</string>
                <key>sourceSize</key>
                <string>{120,180}</string>
            </dict>
            <key>patrick_jerk.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,445},{123,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,154}}</string>
                <key>sourceSize</key>
                <string>{123,154}</string>
            </dict>
            <key>robot_walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{551,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,466}}</string>
                <key>sourceSize</key>
                <string>{551,466}</string>
            </dict>
            <key>robot_walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{551,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,466}}</string>
                <key>sourceSize</key>
                <string>{551,466}</string>
            </dict>
            <key>sandy_throw.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,172},{133,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,142}}</string>
                <key>sourceSize</key>
                <string>{133,142}</string>
            </dict>
            <key>sb_launcher.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{258,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,168}}</string>
                <key>sourceSize</key>
                <string>{258,168}</string>
            </dict>
            <key>sunsplash.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,2},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,186}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stop_motion_sheet1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ed1ce47c715d7898bbb64ead846c93a:4a90c4fab4e2a705a878d1b67319f01e:e77d494edafd0c653933d5f2cb9a7b76$</string>
            <key>textureFileName</key>
            <string>stop_motion_sheet1.png</string>
        </dict>
    </dict>
</plist>
