<?xml version="1.0" encoding="UTF-8"?>

	<!-- Note : To control the Nickelodeon anti-piracy check, use assets/preloader/config.ini -->
	
    <!-- Ensure YES/NO settings are in ALL CAPS!! -->

<settings>

	<!-- Change to YES to enable click tracking (for Canadian region) -->
	<tracking>NO</tracking>

	<!-- Change to NO to disable the rotate screen -->
	<rotateScreen>YES</rotateScreen>

	<!-- Change to the width (in pixels) below which the game will start to scale on smaller devices/containers -->
	<scaleBelow>960</scaleBelow>

	<!-- Change to YES to show FPS in the top left corner of the screen -->
	<showFPS>NO</showFPS>

	<!-- Used for internal AOP testing only! -->
	<testMode>NO</testMode>

	<!-- Set to YES to enable Basement Blitz -->
	<bonusMode>YES</bonusMode>

</settings>