<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>PreGame_textB.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1450},{410,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{410,150}}</string>
				<key>sourceSize</key>
				<string>{410,150}</string>
			</dict>

			<key>preGame_Anais.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,0},{764,638}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{764,638}}</string>
				<key>sourceSize</key>
				<string>{764,638}</string>
			</dict>

			<key>preGame_Darwin.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1475},{204,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,207}}</string>
				<key>sourceSize</key>
				<string>{204,207}</string>
			</dict>

			<key>preGame_DarwinGumball.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{764,724}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{764,724}}</string>
				<key>sourceSize</key>
				<string>{764,724}</string>
			</dict>

			<key>preGame_Gumball.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1748},{215,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{215,227}}</string>
				<key>sourceSize</key>
				<string>{215,227}</string>
			</dict>

			<key>preGame_Penny.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,644},{724,825}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{724,825}}</string>
				<key>sourceSize</key>
				<string>{724,825}</string>
			</dict>

			<key>preGame_Sarah.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,1450},{303,551}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{303,551}}</string>
				<key>sourceSize</key>
				<string>{303,551}</string>
			</dict>

			<key>preGame_Tobias.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,730},{764,714}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{764,714}}</string>
				<key>sourceSize</key>
				<string>{764,714}</string>
			</dict>

			<key>preGame_textA.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1606},{255,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,136}}</string>
				<key>sourceSize</key>
				<string>{255,136}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>preGame.png</string>
			</dict>
		</dict>
</plist>