<?xml version="1.0" encoding="UTF-8"?>

	<!-- Note : To control the Nickelodeon anti-piracy check, use assets/preloader/config.ini -->
	
    <!-- Ensure YES/NO settings are in ALL CAPS!! -->

<settings>

	<!-- Change to YES to enable click tracking (for Canadian region) -->
	<tracking>NO</tracking>

	<!-- Change to NO to disable the rotate screen -->
	<rotateScreen>YES</rotateScreen>

	<!-- Change to the width (in pixels) below which the game will start to scale on smaller devices/containers -->
	<scaleBelow>960</scaleBelow>

<!-- INTERNATIONAL SWITCHES -->

	<!-- Change to NO to switch to international fonts, and turn off VO -->
	<english>NO</english>

	<!-- Change to NO to switch off any Power Rangers characters/content -->
	<powerRangers>YES</powerRangers>

	<!-- Change to NO to switch off any Alvin characters/content -->
	<alvin>YES</alvin>

<!-- OPTIONS -->

	<!-- Change to YES/NO to switch on/off the sponsorsip splash screen -->
	<sponsor>NO</sponsor>

	<!-- Change to YES/NO to switch on/off the intro animatic -->
	<animatic>NO</animatic>

	<!-- Change to YES/NO to enabled/disable mode 2 -->
	<mode2>YES</mode2>




<!-- DEBUG/TESTING SWITCHES *** These must be set to NO for deployment *** -->

	<!-- Change to YES to show FPS in the top left corner of the screen -->
	<showFPS>NO</showFPS>

	<!-- Used for internal AOP testing only! -->
	<testMode>YES</testMode>

	<!-- Used for testing only! -->
	<showDebugInfo>NO</showDebugInfo>

</settings>