<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_bugsCannonBall_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,1846},{141,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{141,187}}</string>
				<key>sourceSize</key>
				<string>{145,187}</string>
			</dict>

			<key>char_bugsDive_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,1192},{119,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,4},{119,373}}</string>
				<key>sourceSize</key>
				<string>{122,377}</string>
			</dict>

			<key>char_bugsDive_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,292},{119,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{119,373}}</string>
				<key>sourceSize</key>
				<string>{122,377}</string>
			</dict>

			<key>char_bugsDive_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,1565},{119,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{119,373}}</string>
				<key>sourceSize</key>
				<string>{122,377}</string>
			</dict>

			<key>char_bugsDive_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,1192},{119,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{119,372}}</string>
				<key>sourceSize</key>
				<string>{122,377}</string>
			</dict>

			<key>char_bugsDive_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,1192},{119,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{119,372}}</string>
				<key>sourceSize</key>
				<string>{122,377}</string>
			</dict>

			<key>char_bugsDive_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,1192},{119,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{119,372}}</string>
				<key>sourceSize</key>
				<string>{122,377}</string>
			</dict>

			<key>char_bugsHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,1618},{223,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,227}}</string>
				<key>sourceSize</key>
				<string>{223,227}</string>
			</dict>

			<key>char_bugsHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,1030},{218,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{218,222}}</string>
				<key>sourceSize</key>
				<string>{223,227}</string>
			</dict>

			<key>char_bugsHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,553},{213,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,6},{213,217}}</string>
				<key>sourceSize</key>
				<string>{223,227}</string>
			</dict>

			<key>char_bugsHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,771},{206,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,8},{206,213}}</string>
				<key>sourceSize</key>
				<string>{223,227}</string>
			</dict>

			<key>char_bugsHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,771},{206,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,8},{206,213}}</string>
				<key>sourceSize</key>
				<string>{223,227}</string>
			</dict>

			<key>char_bugsHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,771},{206,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,8},{206,213}}</string>
				<key>sourceSize</key>
				<string>{223,227}</string>
			</dict>

			<key>char_bugsIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,328},{165,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,1},{165,320}}</string>
				<key>sourceSize</key>
				<string>{290,360}</string>
			</dict>

			<key>char_bugsJump_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,1566},{118,347}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,1},{118,347}}</string>
				<key>sourceSize</key>
				<string>{266,354}</string>
			</dict>

			<key>char_bugsJump_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,1566},{118,347}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,1},{118,347}}</string>
				<key>sourceSize</key>
				<string>{266,354}</string>
			</dict>

			<key>char_bugsJump_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,1566},{118,347}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,1},{118,347}}</string>
				<key>sourceSize</key>
				<string>{266,354}</string>
			</dict>

			<key>char_bugsJump_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,1277},{169,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,109},{169,245}}</string>
				<key>sourceSize</key>
				<string>{266,354}</string>
			</dict>

			<key>char_bugsJump_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,1277},{169,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,109},{169,245}}</string>
				<key>sourceSize</key>
				<string>{266,354}</string>
			</dict>

			<key>char_bugsJump_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,1277},{169,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,109},{169,245}}</string>
				<key>sourceSize</key>
				<string>{266,354}</string>
			</dict>

			<key>char_bugsJump_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,0},{150,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,43},{150,291}}</string>
				<key>sourceSize</key>
				<string>{266,354}</string>
			</dict>

			<key>char_bugsJump_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,292},{141,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{124,8},{141,288}}</string>
				<key>sourceSize</key>
				<string>{266,354}</string>
			</dict>

			<key>char_bugsPose_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,1815},{149,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{55,49},{149,221}}</string>
				<key>sourceSize</key>
				<string>{221,270}</string>
			</dict>

			<key>char_bugsPose_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,944},{127,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{47,0},{127,247}}</string>
				<key>sourceSize</key>
				<string>{221,270}</string>
			</dict>

			<key>char_bugsPose_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,1318},{221,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,30},{221,204}}</string>
				<key>sourceSize</key>
				<string>{221,270}</string>
			</dict>

			<key>char_bugsPose_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,0},{201,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,22},{201,234}}</string>
				<key>sourceSize</key>
				<string>{221,270}</string>
			</dict>

			<key>char_bugsRun_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1318},{233,299}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,21},{233,299}}</string>
				<key>sourceSize</key>
				<string>{290,360}</string>
			</dict>

			<key>char_bugsRun_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,1523},{209,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,28},{209,291}}</string>
				<key>sourceSize</key>
				<string>{290,360}</string>
			</dict>

			<key>char_bugsRun_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,843},{171,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,46},{171,285}}</string>
				<key>sourceSize</key>
				<string>{290,360}</string>
			</dict>

			<key>char_bugsRun_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,649},{153,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{58,40},{153,294}}</string>
				<key>sourceSize</key>
				<string>{290,360}</string>
			</dict>

			<key>char_bugsRun_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,0},{159,301}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,34},{159,301}}</string>
				<key>sourceSize</key>
				<string>{290,360}</string>
			</dict>

			<key>char_bugsRun_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,0},{188,327}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,29},{188,327}}</string>
				<key>sourceSize</key>
				<string>{290,360}</string>
			</dict>

			<key>char_bugsRun_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1030},{261,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,22},{261,287}}</string>
				<key>sourceSize</key>
				<string>{290,360}</string>
			</dict>

			<key>char_bugsRun_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,1564},{182,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,36},{182,284}}</string>
				<key>sourceSize</key>
				<string>{290,360}</string>
			</dict>

			<key>char_bugsRun_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,1564},{155,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,46},{155,276}}</string>
				<key>sourceSize</key>
				<string>{290,360}</string>
			</dict>

			<key>char_bugsRun_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,1129},{153,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{58,40},{153,283}}</string>
				<key>sourceSize</key>
				<string>{290,360}</string>
			</dict>

			<key>char_bugsRun_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,1277},{183,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,34},{183,286}}</string>
				<key>sourceSize</key>
				<string>{290,360}</string>
			</dict>

			<key>char_bugsRun_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1618},{227,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,29},{227,277}}</string>
				<key>sourceSize</key>
				<string>{290,360}</string>
			</dict>

			<key>char_bugsRun_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,265},{217,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,22},{217,287}}</string>
				<key>sourceSize</key>
				<string>{290,360}</string>
			</dict>

			<key>char_bugsRun_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,985},{204,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,28},{204,291}}</string>
				<key>sourceSize</key>
				<string>{290,360}</string>
			</dict>

			<key>char_bugsRun_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,553},{192,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,36},{192,289}}</string>
				<key>sourceSize</key>
				<string>{290,360}</string>
			</dict>

			<key>char_bugsSwanDive_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,775},{313,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,14},{313,254}}</string>
				<key>sourceSize</key>
				<string>{346,268}</string>
			</dict>

			<key>char_bugsSwanDive_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,520},{313,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,14},{313,254}}</string>
				<key>sourceSize</key>
				<string>{346,268}</string>
			</dict>

			<key>char_bugsSwanDive_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,265},{313,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,14},{313,254}}</string>
				<key>sourceSize</key>
				<string>{346,268}</string>
			</dict>

			<key>char_bugsSwanDive_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{331,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,4},{331,264}}</string>
				<key>sourceSize</key>
				<string>{346,268}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>char.png</string>
			</dict>
		</dict>
</plist>