<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_blue_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1150},{685,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{685,18}}</string>
				<key>sourceSize</key>
				<string>{685,18}</string>
			</dict>

			<key>bg_blue_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1102},{685,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{685,18}}</string>
				<key>sourceSize</key>
				<string>{685,18}</string>
			</dict>

			<key>bg_blue_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1126},{685,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{685,18}}</string>
				<key>sourceSize</key>
				<string>{685,18}</string>
			</dict>

			<key>bg_blue_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1102},{685,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{685,18}}</string>
				<key>sourceSize</key>
				<string>{685,18}</string>
			</dict>

			<key>bg_blue_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1150},{685,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{685,18}}</string>
				<key>sourceSize</key>
				<string>{685,18}</string>
			</dict>

			<key>bg_cloud0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1026,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1026,330}}</string>
				<key>sourceSize</key>
				<string>{1026,330}</string>
			</dict>

			<key>bg_cloud1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,852},{741,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{741,174}}</string>
				<key>sourceSize</key>
				<string>{741,174}</string>
			</dict>

			<key>bg_cloud2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,336},{1026,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1026,330}}</string>
				<key>sourceSize</key>
				<string>{1026,330}</string>
			</dict>

			<key>bg_cloud3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,672},{744,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{744,174}}</string>
				<key>sourceSize</key>
				<string>{744,174}</string>
			</dict>

			<key>bg_moon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1221},{543,543}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{543,543}}</string>
				<key>sourceSize</key>
				<string>{543,543}</string>
			</dict>

			<key>bg_yellow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1078},{685,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{685,18}}</string>
				<key>sourceSize</key>
				<string>{685,18}</string>
			</dict>

			<key>bg_yellow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1197},{685,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{685,18}}</string>
				<key>sourceSize</key>
				<string>{685,18}</string>
			</dict>

			<key>bg_yellow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1174},{685,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{685,17}}</string>
				<key>sourceSize</key>
				<string>{685,17}</string>
			</dict>

			<key>bg_yellow_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1032},{686,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{686,17}}</string>
				<key>sourceSize</key>
				<string>{686,17}</string>
			</dict>

			<key>bg_yellow_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1055},{686,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{686,17}}</string>
				<key>sourceSize</key>
				<string>{686,17}</string>
			</dict>

			<key>gameScreen_bg0.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,1221},{128,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,512}}</string>
				<key>sourceSize</key>
				<string>{128,512}</string>
			</dict>

			<key>gameScreen_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,672},{128,1330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,1330}}</string>
				<key>sourceSize</key>
				<string>{128,1330}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>gameScreen_0.png</string>
			</dict>
		</dict>
</plist>