<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_farSplashBg0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1640,923}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1640,923}}</string>
				<key>sourceSize</key>
				<string>{1640,923}</string>
			</dict>

			<key>gobj_farSplashBg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,929},{843,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{843,213}}</string>
				<key>sourceSize</key>
				<string>{843,213}</string>
			</dict>

			<key>gobj_farSplashBird_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,1796},{110,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,113}}</string>
				<key>sourceSize</key>
				<string>{110,113}</string>
			</dict>

			<key>gobj_farSplashBird_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,1915},{110,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,113}}</string>
				<key>sourceSize</key>
				<string>{110,113}</string>
			</dict>

			<key>gobj_farSplashBird_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1796},{110,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,113}}</string>
				<key>sourceSize</key>
				<string>{110,113}</string>
			</dict>

			<key>gobj_farSplashBird_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1915},{110,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,113}}</string>
				<key>sourceSize</key>
				<string>{110,113}</string>
			</dict>

			<key>gobj_farSplashBird_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1915},{110,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,113}}</string>
				<key>sourceSize</key>
				<string>{110,113}</string>
			</dict>

			<key>gobj_farSplashBird_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1915},{110,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,113}}</string>
				<key>sourceSize</key>
				<string>{110,113}</string>
			</dict>

			<key>gobj_farSplash_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1148},{249,642}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,642}}</string>
				<key>sourceSize</key>
				<string>{249,642}</string>
			</dict>

			<key>gobj_farSplash_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,929},{249,642}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,642}}</string>
				<key>sourceSize</key>
				<string>{249,642}</string>
			</dict>

			<key>gobj_farSplash_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,1148},{249,642}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,642}}</string>
				<key>sourceSize</key>
				<string>{249,642}</string>
			</dict>

			<key>gobj_farSplash_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,929},{249,642}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,642}}</string>
				<key>sourceSize</key>
				<string>{249,642}</string>
			</dict>

			<key>gobj_farSplash_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,1148},{249,642}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,642}}</string>
				<key>sourceSize</key>
				<string>{249,642}</string>
			</dict>

			<key>gobj_farSplash_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,1148},{249,642}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,642}}</string>
				<key>sourceSize</key>
				<string>{249,642}</string>
			</dict>

			<key>gobj_farSplash_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1148},{249,642}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,642}}</string>
				<key>sourceSize</key>
				<string>{249,642}</string>
			</dict>

			<key>gobj_farSplash_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1148},{249,642}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,642}}</string>
				<key>sourceSize</key>
				<string>{249,642}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>gobj_far.png</string>
			</dict>
		</dict>
</plist>