<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_megaSplash_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,420},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

			<key>gobj_megaSplash_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,420},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

			<key>gobj_megaSplash_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,840},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

			<key>gobj_megaSplash_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,840},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

			<key>gobj_megaSplash_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,0},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

			<key>gobj_megaSplash_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,0},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

			<key>gobj_megaSplash_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1260},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

			<key>gobj_megaSplash_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1260},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

			<key>gobj_megaSplash_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

			<key>gobj_megaSplash_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

			<key>gobj_megaSplash_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,420},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

			<key>gobj_megaSplash_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,420},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

			<key>gobj_megaSplash_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,420},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

			<key>gobj_megaSplash_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

			<key>gobj_megaSplash_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

			<key>gobj_megaSplash_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,420},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

			<key>gobj_megaSplash_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,0},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

			<key>gobj_megaSplash_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,0},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

			<key>gobj_megaSplash_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,1260},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

			<key>gobj_megaSplash_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,1260},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

			<key>gobj_megaSplash_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,840},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

			<key>gobj_megaSplash_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,840},{443,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,414}}</string>
				<key>sourceSize</key>
				<string>{443,414}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>gobj_mega.png</string>
			</dict>
		</dict>
</plist>