<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HUD_HP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{282,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,62}}</string>
                <key>sourceSize</key>
                <string>{282,62}</string>
            </dict>
            <key>HUD_HP_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,746},{156,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,26}}</string>
                <key>sourceSize</key>
                <string>{156,26}</string>
            </dict>
            <key>HUD_PWR.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,952},{282,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,62}}</string>
                <key>sourceSize</key>
                <string>{282,62}</string>
            </dict>
            <key>HUD_PWR_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,774},{156,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,26}}</string>
                <key>sourceSize</key>
                <string>{156,26}</string>
            </dict>
            <key>HUD_XP_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,594},{10,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{10,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>HUD_XP_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,100},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>HUD_XP_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,130},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>HUD_XP_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,952},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>HUD_XP_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,860},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>HUD_XP_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,160},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>HUD_XP_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,190},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>HUD_XP_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,220},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>HUD_XP_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,250},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>HUD_XP_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,280},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>HUD_XP_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,802},{156,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,26}}</string>
                <key>sourceSize</key>
                <string>{156,26}</string>
            </dict>
            <key>HUD_backing.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,920},{178,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,30}}</string>
                <key>sourceSize</key>
                <string>{178,30}</string>
            </dict>
            <key>HUD_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,358},{88,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,62}}</string>
                <key>sourceSize</key>
                <string>{88,62}</string>
            </dict>
            <key>button_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,100},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,920},{172,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,84}}</string>
                <key>sourceSize</key>
                <string>{172,84}</string>
            </dict>
            <key>button_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,186},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button_vol_off_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,272},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button_vol_on_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,422},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,508},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>button_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,908},{172,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,84}}</string>
                <key>sourceSize</key>
                <string>{172,84}</string>
            </dict>
            <key>fists_double1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{888,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{888,344}}</string>
                <key>sourceSize</key>
                <string>{888,344}</string>
            </dict>
            <key>fists_double2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{892,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{892,396}}</string>
                <key>sourceSize</key>
                <string>{892,396}</string>
            </dict>
            <key>hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,54},{92,96}}</string>
                <key>sourceSize</key>
                <string>{188,204}</string>
            </dict>
            <key>hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{188,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,204}}</string>
                <key>sourceSize</key>
                <string>{188,204}</string>
            </dict>
            <key>hit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,746},{188,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,204}}</string>
                <key>sourceSize</key>
                <string>{188,204}</string>
            </dict>
            <key>hit4.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,746},{144,172}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{144,172}}</string>
                <key>sourceSize</key>
                <string>{188,204}</string>
            </dict>
            <key>hit5.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,746},{132,160}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{132,160}}</string>
                <key>sourceSize</key>
                <string>{188,204}</string>
            </dict>
            <key>particle_brix_dark1.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,830},{58,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,40}}</string>
                <key>sourceSize</key>
                <string>{58,40}</string>
            </dict>
            <key>particle_brix_dark2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,872},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>particle_brix_dark3.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,872},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>particle_brix_dark4.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,594},{70,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,46}}</string>
                <key>sourceSize</key>
                <string>{70,46}</string>
            </dict>
            <key>particle_brix_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,830},{58,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,40}}</string>
                <key>sourceSize</key>
                <string>{58,40}</string>
            </dict>
            <key>particle_brix_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,912},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>particle_brix_light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,830},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>particle_brix_light4.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,642},{70,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,46}}</string>
                <key>sourceSize</key>
                <string>{70,46}</string>
            </dict>
            <key>particle_cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,746},{186,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,160}}</string>
                <key>sourceSize</key>
                <string>{186,160}</string>
            </dict>
            <key>particle_cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,872},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>particle_cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,690},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay_universal_0.png</string>
            <key>size</key>
            <string>{1008,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b76130513634239df6eea98c1b46672c:c45e30a2ed6ea760741b29adf0353ee8:31bb08de9f66c887d941b15631c0603f$</string>
            <key>textureFileName</key>
            <string>gameplay_universal_0.png</string>
        </dict>
    </dict>
</plist>
