<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fists_punch_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{734,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{734,404}}</string>
                <key>sourceSize</key>
                <string>{734,404}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay_universal_4.png</string>
            <key>size</key>
            <string>{738,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b76130513634239df6eea98c1b46672c:c45e30a2ed6ea760741b29adf0353ee8:31bb08de9f66c887d941b15631c0603f$</string>
            <key>textureFileName</key>
            <string>gameplay_universal_4.png</string>
        </dict>
    </dict>
</plist>
