<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{806,258}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,33},{806,258}}</string>
                <key>sourceSize</key>
                <string>{808,386}</string>
            </dict>
            <key>ogre_hurt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{878,732}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{878,732}}</string>
                <key>sourceSize</key>
                <string>{878,732}</string>
            </dict>
            <key>skelly_dead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,736},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay_easy_2.png</string>
            <key>size</key>
            <string>{998,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e20ae131d29fde5947ca8a2fde52668c:c6380b59ef411967847e64bbfbb14274:ccbee56817d122c302f18fe310786553$</string>
            <key>textureFileName</key>
            <string>gameplay_easy_2.png</string>
        </dict>
    </dict>
</plist>
