html { touch-action: manipulation; }
html, body { padding: 0; border: 0; margin: 0; overflow: hidden; }
@font-face { font-family: 'Baloo-Regular'; font-style: normal; font-weight: normal; src: url('assets/font/facfbf9ee5db53f4d93b1c3a8ac05527.ttf'); }
@font-face { font-family: 'GarfieldAa'; font-style: normal; font-weight: normal; src: url('assets/font/942413a2fd1d76f47876e360e3b2b316.otf'); }
