<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SWR_Mini_Debris_Asteroid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>SWR_Mini_Debris_Asteroid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>SWR_Mini_Debris_Asteroid3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{111,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,101}}</string>
                <key>sourceSize</key>
                <string>{111,101}</string>
            </dict>
            <key>SWR_Mini_Debris_Asteroid4.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{95,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,86}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>SWR_Mini_Debris_Asteroid5.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>SWR_Mini_Debris_Asteroid6.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{81,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,75}}</string>
                <key>sourceSize</key>
                <string>{81,75}</string>
            </dict>
            <key>SWR_Mini_Debris_Asteroid7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>SWR_Mini_Debris_Debris1.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,105},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SWR_Mini_Debris_Debris2.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,105},{68,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,67}}</string>
                <key>sourceSize</key>
                <string>{68,67}</string>
            </dict>
            <key>SWR_Mini_Debris_Debris3.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,105},{69,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,66}}</string>
                <key>sourceSize</key>
                <string>{69,66}</string>
            </dict>
            <key>SWR_Mini_Debris_Debris4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,105},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>SWR_Mini_Debris_Debris5.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,105},{92,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,66}}</string>
                <key>sourceSize</key>
                <string>{92,66}</string>
            </dict>
            <key>SWR_Mini_Debris_Debris6.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,105},{101,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,93}}</string>
                <key>sourceSize</key>
                <string>{101,93}</string>
            </dict>
            <key>SWR_Mini_Debris_Debris7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>SWR_Mini_Debris_GREEN.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,200},{150,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,183}}</string>
                <key>sourceSize</key>
                <string>{150,183}</string>
            </dict>
            <key>SWR_Mini_Debris_GhostSide.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,200},{80,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,114}}</string>
                <key>sourceSize</key>
                <string>{80,114}</string>
            </dict>
            <key>SWR_Mini_Debris_GhostTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,200},{89,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,108}}</string>
                <key>sourceSize</key>
                <string>{89,108}</string>
            </dict>
            <key>SWR_Mini_Debris_RED.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{150,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,183}}</string>
                <key>sourceSize</key>
                <string>{150,183}</string>
            </dict>
            <key>SWR_Mini_Debris_YELLOW.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,385},{150,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,183}}</string>
                <key>sourceSize</key>
                <string>{150,183}</string>
            </dict>
            <key>fire_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,385},{117,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,47}}</string>
                <key>sourceSize</key>
                <string>{117,47}</string>
            </dict>
            <key>fire_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{212,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,102}}</string>
                <key>sourceSize</key>
                <string>{212,102}</string>
            </dict>
            <key>turret_laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,570},{43,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,107}}</string>
                <key>sourceSize</key>
                <string>{43,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites_asteroidgame.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19e5c2c5bf6abed3243d0699e43734a7:05c80021a1402b185aea0d6e12803708:591c0b07c792ebfb8171678bfc28b8f5$</string>
            <key>textureFileName</key>
            <string>sprites_asteroidgame.png</string>
        </dict>
    </dict>
</plist>
