<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qz0_q40_a1_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,385}</string>
                <key>spriteSourceSize</key>
                <string>{385,385}</string>
                <key>textureRect</key>
                <string>{{2,2},{385,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q40_a2_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,385}</string>
                <key>spriteSourceSize</key>
                <string>{385,385}</string>
                <key>textureRect</key>
                <string>{{2,390},{385,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q40_a3_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,385}</string>
                <key>spriteSourceSize</key>
                <string>{385,385}</string>
                <key>textureRect</key>
                <string>{{390,2},{385,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q40_a4_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,385}</string>
                <key>spriteSourceSize</key>
                <string>{385,385}</string>
                <key>textureRect</key>
                <string>{{390,390},{385,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>g0_level40_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:215a82a69228b222fe30435c1fb50e15:b0fde632e3e08a89d25016ea86141af4:0c967b2ba6c6c79eece9dd4af9163fa3$</string>
            <key>textureFileName</key>
            <string>g0_level40_0.png</string>
        </dict>
    </dict>
</plist>
