<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qz0_q38_a1_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,385}</string>
                <key>spriteSourceSize</key>
                <string>{385,385}</string>
                <key>textureRect</key>
                <string>{{2,2},{385,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q38_a2_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,385}</string>
                <key>spriteSourceSize</key>
                <string>{385,385}</string>
                <key>textureRect</key>
                <string>{{2,390},{385,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q38_a3_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,385}</string>
                <key>spriteSourceSize</key>
                <string>{385,385}</string>
                <key>textureRect</key>
                <string>{{390,2},{385,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q38_a4_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,385}</string>
                <key>spriteSourceSize</key>
                <string>{385,385}</string>
                <key>textureRect</key>
                <string>{{390,390},{385,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>g0_level38_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f7bf1b0f7a8d0b8d04a939e4a710734:70f8de17e8c4bb2f7fe1d3e51a5c8c1f:945ba784b2718769314c7905ccedec35$</string>
            <key>textureFileName</key>
            <string>g0_level38_0.png</string>
        </dict>
    </dict>
</plist>
