<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_grizzNoScore_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,0},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzNoScore_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,1809},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzNoScore_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,0},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzNoScore_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1809},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzNoScore_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,1608},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzNoScore_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,1407},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzNoScore_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,1206},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzNoScore_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,1005},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzNoScore_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,804},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzNoScore_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,603},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzNoScore_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,402},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzNoScore_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,201},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzScore_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1608},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzScore_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1407},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzScore_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1608},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzScore_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1407},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzScore_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1206},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzScore_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1005},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzScore_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,804},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzScore_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,603},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzScore_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,402},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzScore_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,201},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzScore_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,0},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_grizzScore_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1809},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_icaBearScore_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1206},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_icaBearScore_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1005},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_icaBearScore_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1206},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_icaBearScore_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1005},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_icaBearScore_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,804},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_icaBearScore_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,603},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_icaBearScore_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,603},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_icaBearScore_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,201},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_icaBearScore_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,0},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_icaBearScore_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1809},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_icaBearScore_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1608},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_icaBearScore_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1407},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_iceBearNoScore_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,804},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_iceBearNoScore_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,603},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_iceBearNoScore_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,804},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_iceBearNoScore_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,603},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_iceBearNoScore_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,402},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_iceBearNoScore_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,201},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_iceBearNoScore_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,0},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_iceBearNoScore_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,1809},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_iceBearNoScore_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,1608},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_iceBearNoScore_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,1407},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_iceBearNoScore_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,1206},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_iceBearNoScore_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,1005},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaNoScore_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,402},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaNoScore_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,201},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaNoScore_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,402},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaNoScore_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,201},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaNoScore_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,0},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaNoScore_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1809},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaNoScore_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1608},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaNoScore_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1407},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaNoScore_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1206},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaNoScore_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1005},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaNoScore_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,804},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaNoScore_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,603},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaScore_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,0},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaScore_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1809},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaScore_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaScore_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,402},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaScore_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1608},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaScore_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1407},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaScore_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1206},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaScore_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1005},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaScore_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,804},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaScore_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,603},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaScore_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,402},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_pandaScore_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,201},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_relayGlow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,804},{150,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,161}}</string>
				<key>sourceSize</key>
				<string>{150,161}</string>
			</dict>

			<key>fx_scoreAdded_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,402},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_scoreAdded_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,201},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_scoreAdded_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,402},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_scoreAdded_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,201},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_scoreAdded_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,0},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_scoreAdded_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,1809},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_scoreAdded_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,1608},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_scoreAdded_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,1407},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_scoreAdded_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,1206},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_scoreAdded_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,1005},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_scoreAdded_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,804},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

			<key>fx_scoreAdded_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,603},{195,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,195}}</string>
				<key>sourceSize</key>
				<string>{195,195}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
			</dict>
		</dict>
</plist>