<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_relayGrizz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1368,774},{121,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,147}}</string>
				<key>sourceSize</key>
				<string>{121,147}</string>
			</dict>

			<key>btn_relayIceBear2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1372,0},{121,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,132}}</string>
				<key>sourceSize</key>
				<string>{121,132}</string>
			</dict>

			<key>btn_relayPanda2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1372,138},{121,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,137}}</string>
				<key>sourceSize</key>
				<string>{121,137}</string>
			</dict>
		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>ui2.png</string>
			</dict>
		</dict>
</plist>
