<?xml version="1.0" encoding="UTF-8"?>

	<!-- Note : To control the Nickelodeon anti-piracy check, use assets/preloader/config.ini -->
	
    <!-- Ensure YES/NO settings are in ALL CAPS!! -->

<settings>

	<!-- Change to YES to enable click tracking (for Canadian region) -->
	<tracking>NO</tracking>

	<!-- Change to NO to disable the rotate screen -->
	<rotateScreen>YES</rotateScreen>

	<!-- Change to the width (in pixels) below which the game will start to scale on smaller devices/containers -->
	<scaleBelow>960</scaleBelow>

<!-- DEBUG/TESTING SWITCHES -->

	<!-- Change to YES to show FPS in the top left corner of the screen -->
	<showFPS>NO</showFPS>

	<!-- Used for internal AOP testing only! -->
	<testMode>YES</testMode>

	<!-- Used for testing only.  Must be set to NO for deployment. -->
	<showDebugInfo>NO</showDebugInfo>

	<!-- Show or hide humanoid Kraang -->
	<showKraang>NO</showKraang>

	<!-- Set to YES to unlock the Party Wagon -->
	<wagon>NO</wagon>

	<!-- Set to YES to show a sponsorship splash screen -->
	<sponsor>NO</sponsor>

	<!-- Time in seconds that sponsorship splash screen shows -->
	<sponsorTime>4</sponsorTime>

</settings>