<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tie_laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,107}}</string>
                <key>sourceSize</key>
                <string>{43,107}</string>
            </dict>
            <key>turret_crosshair.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>turret_fighter.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{185,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,212}}</string>
                <key>sourceSize</key>
                <string>{185,212}</string>
            </dict>
            <key>turret_fighter_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{185,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,212}}</string>
                <key>sourceSize</key>
                <string>{185,212}</string>
            </dict>
            <key>turret_hud.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{600,462}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,462}}</string>
                <key>sourceSize</key>
                <string>{600,462}</string>
            </dict>
            <key>turret_laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,216},{43,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,107}}</string>
                <key>sourceSize</key>
                <string>{43,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites_turret.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db71893d98b6128149af5c77592e0ec4:63f9380066ffd8a021d519e2fe69ab58:9a279daaef570c68a72b8c62aa019d74$</string>
            <key>textureFileName</key>
            <string>sprites_turret.png</string>
        </dict>
    </dict>
</plist>
