<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_darwinWalkBack_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,882},{99,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,116}}</string>
				<key>sourceSize</key>
				<string>{99,116}</string>
			</dict>

			<key>char_darwinWalkBack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,882},{99,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,116}}</string>
				<key>sourceSize</key>
				<string>{99,116}</string>
			</dict>

			<key>char_darwinWalkBack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1537,376},{99,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,116}}</string>
				<key>sourceSize</key>
				<string>{99,116}</string>
			</dict>

			<key>char_darwinWalkBack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1545,498},{99,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,116}}</string>
				<key>sourceSize</key>
				<string>{99,116}</string>
			</dict>

			<key>char_darwinWalkBack_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1545,620},{99,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,116}}</string>
				<key>sourceSize</key>
				<string>{99,116}</string>
			</dict>

			<key>char_darwinWalkBack_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1545,742},{99,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,116}}</string>
				<key>sourceSize</key>
				<string>{99,116}</string>
			</dict>

			<key>char_darwinWalkFront_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1650,498},{99,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,116}}</string>
				<key>sourceSize</key>
				<string>{99,116}</string>
			</dict>

			<key>char_darwinWalkFront_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1755,554},{99,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,116}}</string>
				<key>sourceSize</key>
				<string>{99,116}</string>
			</dict>

			<key>char_darwinWalkFront_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1755,432},{99,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,116}}</string>
				<key>sourceSize</key>
				<string>{99,116}</string>
			</dict>

			<key>char_darwinWalkFront_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1747,310},{99,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,116}}</string>
				<key>sourceSize</key>
				<string>{99,116}</string>
			</dict>

			<key>char_darwinWalkFront_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1707,0},{99,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,116}}</string>
				<key>sourceSize</key>
				<string>{99,116}</string>
			</dict>

			<key>char_darwinWalkFront_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1656,188},{99,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,116}}</string>
				<key>sourceSize</key>
				<string>{99,116}</string>
			</dict>

			<key>char_darwinWalkSide_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1650,864},{99,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,116}}</string>
				<key>sourceSize</key>
				<string>{99,116}</string>
			</dict>

			<key>char_darwinWalkSide_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1650,742},{99,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,116}}</string>
				<key>sourceSize</key>
				<string>{99,116}</string>
			</dict>

			<key>char_darwinWalkSide_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1650,620},{99,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,116}}</string>
				<key>sourceSize</key>
				<string>{99,116}</string>
			</dict>

			<key>char_darwinWalkSide_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1755,676},{99,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,116}}</string>
				<key>sourceSize</key>
				<string>{99,116}</string>
			</dict>

			<key>char_darwinWalkSide_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1642,376},{99,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,116}}</string>
				<key>sourceSize</key>
				<string>{99,116}</string>
			</dict>

			<key>char_darwinWalkSide_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1545,864},{99,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,116}}</string>
				<key>sourceSize</key>
				<string>{99,116}</string>
			</dict>

			<key>char_gumballWalkBack_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,852},{126,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,146}}</string>
				<key>sourceSize</key>
				<string>{126,146}</string>
			</dict>

			<key>char_gumballWalkBack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,852},{126,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,146}}</string>
				<key>sourceSize</key>
				<string>{126,146}</string>
			</dict>

			<key>char_gumballWalkBack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,852},{126,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,146}}</string>
				<key>sourceSize</key>
				<string>{126,146}</string>
			</dict>

			<key>char_gumballWalkBack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,852},{126,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,146}}</string>
				<key>sourceSize</key>
				<string>{126,146}</string>
			</dict>

			<key>char_gumballWalkBack_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,852},{126,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,146}}</string>
				<key>sourceSize</key>
				<string>{126,146}</string>
			</dict>

			<key>char_gumballWalkBack_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,852},{126,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,146}}</string>
				<key>sourceSize</key>
				<string>{126,146}</string>
			</dict>

			<key>char_gumballWalkFront_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,456},{126,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,146}}</string>
				<key>sourceSize</key>
				<string>{126,146}</string>
			</dict>

			<key>char_gumballWalkFront_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,730},{126,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,146}}</string>
				<key>sourceSize</key>
				<string>{126,146}</string>
			</dict>

			<key>char_gumballWalkFront_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,426},{126,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,146}}</string>
				<key>sourceSize</key>
				<string>{126,146}</string>
			</dict>

			<key>char_gumballWalkFront_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,578},{126,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,146}}</string>
				<key>sourceSize</key>
				<string>{126,146}</string>
			</dict>

			<key>char_gumballWalkFront_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,578},{126,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,146}}</string>
				<key>sourceSize</key>
				<string>{126,146}</string>
			</dict>

			<key>char_gumballWalkFront_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,426},{126,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,146}}</string>
				<key>sourceSize</key>
				<string>{126,146}</string>
			</dict>

			<key>char_gumballWalkSide_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1056,760},{126,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,146}}</string>
				<key>sourceSize</key>
				<string>{126,146}</string>
			</dict>

			<key>char_gumballWalkSide_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,730},{126,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,146}}</string>
				<key>sourceSize</key>
				<string>{126,146}</string>
			</dict>

			<key>char_gumballWalkSide_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,0},{126,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,146}}</string>
				<key>sourceSize</key>
				<string>{126,146}</string>
			</dict>

			<key>char_gumballWalkSide_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,152},{126,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,146}}</string>
				<key>sourceSize</key>
				<string>{126,146}</string>
			</dict>

			<key>char_gumballWalkSide_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,304},{126,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,146}}</string>
				<key>sourceSize</key>
				<string>{126,146}</string>
			</dict>

			<key>char_gumballWalkSide_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1056,608},{126,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,146}}</string>
				<key>sourceSize</key>
				<string>{126,146}</string>
			</dict>

			<key>char_nicoleWalkBack_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1188,752},{113,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,182}}</string>
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>

			<key>char_nicoleWalkBack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1188,564},{113,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,182}}</string>
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>

			<key>char_nicoleWalkBack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,376},{113,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,182}}</string>
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>

			<key>char_nicoleWalkBack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1418,188},{113,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,182}}</string>
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>

			<key>char_nicoleWalkBack_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1426,564},{113,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,182}}</string>
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>

			<key>char_nicoleWalkBack_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1469,0},{113,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,182}}</string>
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>

			<key>char_nicoleWalkFront_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1588,0},{113,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,182}}</string>
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>

			<key>char_nicoleWalkFront_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,188},{113,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,182}}</string>
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>

			<key>char_nicoleWalkFront_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,0},{113,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,182}}</string>
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>

			<key>char_nicoleWalkFront_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1231,0},{113,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,182}}</string>
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>

			<key>char_nicoleWalkFront_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1299,188},{113,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,182}}</string>
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>

			<key>char_nicoleWalkFront_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,0},{113,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,182}}</string>
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>

			<key>char_nicoleWalkSide_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1299,376},{113,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,182}}</string>
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>

			<key>char_nicoleWalkSide_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1307,564},{113,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,182}}</string>
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>

			<key>char_nicoleWalkSide_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1307,752},{113,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,182}}</string>
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>

			<key>char_nicoleWalkSide_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1537,188},{113,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,182}}</string>
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>

			<key>char_nicoleWalkSide_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1426,752},{113,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,182}}</string>
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>

			<key>char_nicoleWalkSide_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1418,376},{113,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,182}}</string>
				<key>sourceSize</key>
				<string>{113,182}</string>
			</dict>

			<key>char_richardWalkBack_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,426},{190,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,207}}</string>
				<key>sourceSize</key>
				<string>{190,207}</string>
			</dict>

			<key>char_richardWalkBack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,639},{190,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,207}}</string>
				<key>sourceSize</key>
				<string>{190,207}</string>
			</dict>

			<key>char_richardWalkBack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,0},{190,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,207}}</string>
				<key>sourceSize</key>
				<string>{190,207}</string>
			</dict>

			<key>char_richardWalkBack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,213},{190,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,207}}</string>
				<key>sourceSize</key>
				<string>{190,207}</string>
			</dict>

			<key>char_richardWalkBack_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,213},{190,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,207}}</string>
				<key>sourceSize</key>
				<string>{190,207}</string>
			</dict>

			<key>char_richardWalkBack_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,0},{190,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,207}}</string>
				<key>sourceSize</key>
				<string>{190,207}</string>
			</dict>

			<key>char_richardWalkFront_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,639},{190,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,207}}</string>
				<key>sourceSize</key>
				<string>{190,207}</string>
			</dict>

			<key>char_richardWalkFront_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,0},{190,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,207}}</string>
				<key>sourceSize</key>
				<string>{190,207}</string>
			</dict>

			<key>char_richardWalkFront_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,639},{190,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,207}}</string>
				<key>sourceSize</key>
				<string>{190,207}</string>
			</dict>

			<key>char_richardWalkFront_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,426},{190,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,207}}</string>
				<key>sourceSize</key>
				<string>{190,207}</string>
			</dict>

			<key>char_richardWalkFront_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,213},{190,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,207}}</string>
				<key>sourceSize</key>
				<string>{190,207}</string>
			</dict>

			<key>char_richardWalkFront_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,213},{190,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,207}}</string>
				<key>sourceSize</key>
				<string>{190,207}</string>
			</dict>

			<key>char_richardWalkSide_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{190,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,207}}</string>
				<key>sourceSize</key>
				<string>{190,207}</string>
			</dict>

			<key>char_richardWalkSide_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,426},{190,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,207}}</string>
				<key>sourceSize</key>
				<string>{190,207}</string>
			</dict>

			<key>char_richardWalkSide_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,213},{190,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,207}}</string>
				<key>sourceSize</key>
				<string>{190,207}</string>
			</dict>

			<key>char_richardWalkSide_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,0},{190,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,207}}</string>
				<key>sourceSize</key>
				<string>{190,207}</string>
			</dict>

			<key>char_richardWalkSide_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,639},{190,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,207}}</string>
				<key>sourceSize</key>
				<string>{190,207}</string>
			</dict>

			<key>char_richardWalkSide_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,426},{190,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,207}}</string>
				<key>sourceSize</key>
				<string>{190,207}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>char.png</string>
			</dict>
		</dict>
</plist>