/*@font-face {
    font-family: 'chunkfiveroman';
    src: url('../fonts/chunkfive-webfont.eot');
    src: url('../fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chunkfive-webfont.woff') format('woff'),
         url('../fonts/chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'Gumball8bitThin';
    src: url('../fonts/Gumball8bitThin.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gumball8bitWires';
    src: url('../fonts/Gumball8bitWires.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VarelaRoundRegular';
    src: url('../fonts/VarelaRound-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fredburger_headline';
    src: url('../fonts/fredburger_headline.ttf');
}

@font-face {
    font-family: 'fredburger';
    src: url('../fonts/fredburger_regular.ttf');
}

@font-face {
    font-family: 'lubalin';
    src: url('../fonts/lubalin.ttf');
} 
