<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_tobiasFrown_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,222},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasFrown_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1242,444},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasFrown_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,444},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasFrown_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,222},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasFrown_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1242,222},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasFrown_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1242,0},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasFrown_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,1776},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasFrown_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,1554},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasFrown_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,1332},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasFrown_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,1110},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasFrown_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,888},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasFrown_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,666},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHappy_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,0},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHappy_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,1776},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHappy_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1776},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHappy_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1554},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHappy_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1332},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHappy_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1110},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHappy_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,888},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHappy_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,666},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHappy_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,1554},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHappy_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,1332},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHappy_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,1110},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHappy_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,888},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHappy_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,666},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHappy_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,444},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHappy_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,222},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHappy_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,0},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,444},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1242,666},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,222},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,0},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,0},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,1776},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,1554},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,1332},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,1110},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,888},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,666},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasHit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,444},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,1776},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,1554},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,1332},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,1110},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,1776},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,888},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,666},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,444},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasIn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,222},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasIn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,0},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasIn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1776},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasIn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1554},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasIn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1332},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasIn_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1110},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasOut_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,1776},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasOut_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,888},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasOut_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,666},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasOut_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,444},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasOut_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,222},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_tobiasOut_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim_tobias.png</string>
			</dict>
		</dict>
</plist>