<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_anaisFrown_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,666},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisFrown_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,444},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisFrown_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,888},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisFrown_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,666},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisFrown_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,222},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisFrown_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,0},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisFrown_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1776},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisFrown_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1554},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisFrown_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1554},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisFrown_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1554},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisFrown_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1332},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisFrown_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1110},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHappy_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,444},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHappy_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,222},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHappy_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,222},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHappy_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,0},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHappy_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,1776},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHappy_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,1554},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHappy_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,0},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHappy_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,1554},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHappy_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,1554},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHappy_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,1332},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHappy_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,1110},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHappy_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,888},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHappy_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,666},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHappy_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,444},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,1332},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,1332},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1332},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1110},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,1110},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,888},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,666},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,444},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,222},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,0},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1776},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisHit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1554},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,0},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,888},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,666},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,444},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,0},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,222},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,1776},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisIn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,1332},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisIn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,1110},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisIn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,888},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisIn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,666},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisIn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,444},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisIn_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,222},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisOut_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,0},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisOut_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,1776},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisOut_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,1554},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisOut_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,1332},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisOut_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,1110},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_anaisOut_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,888},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim_anais.png</string>
			</dict>
		</dict>
</plist>