<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_gumDarDodge_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,0},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarDodge_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,1648},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarDodge_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1648},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarDodge_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1442},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarDodge_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1236},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarDodge_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1030},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarDodge_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,824},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarDodge_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,618},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarDodge_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,1442},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarDodge_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,1236},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarDodge_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,1030},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarDodge_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,824},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarDodge_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,618},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarDodge_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,412},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarDodge_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,206},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarDodge_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,0},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarRun_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,412},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarRun_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,206},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarRun_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,206},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarRun_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,0},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarRun_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1648},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarRun_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1442},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarRun_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1236},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarRun_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1030},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarRun_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,824},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarRun_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,618},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarRun_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,412},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarRun_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,206},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarRun_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarRun_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,1648},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarRun_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,1442},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarRun_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,1236},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarRun_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,1030},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarRun_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,824},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarRun_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,618},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarRun_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,412},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>char2.png</string>
			</dict>
		</dict>
</plist>