<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_gumDarWalkLeft_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,412},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkLeft_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,206},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkLeft_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,1442},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkLeft_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,1236},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkLeft_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkLeft_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,412},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkLeft_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,824},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkLeft_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,618},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkLeft_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,412},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkLeft_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,206},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkLeft_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,0},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkLeft_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,1648},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkRight_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,1030},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkRight_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,824},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkRight_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,824},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkRight_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,618},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkRight_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,618},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkRight_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1030},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkRight_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,206},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkRight_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,0},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkRight_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1648},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkRight_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1442},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkRight_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1236},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

			<key>char_gumDarWalkRight_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1030},{362,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{362,200}}</string>
				<key>sourceSize</key>
				<string>{362,200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>char3.png</string>
			</dict>
		</dict>
</plist>