<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mg21_PigGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{117,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,92}}</string>
                <key>sourceSize</key>
                <string>{117,92}</string>
            </dict>
            <key>mg21_PigWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,96},{113,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,92}}</string>
                <key>sourceSize</key>
                <string>{117,92}</string>
            </dict>
            <key>mg21_PigsLose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{117,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,92}}</string>
                <key>sourceSize</key>
                <string>{117,92}</string>
            </dict>
            <key>mg21_cart.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,275},{85,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,75}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>mg21_cart_LOSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,87}}</string>
                <key>sourceSize</key>
                <string>{127,87}</string>
            </dict>
            <key>mg21_house_boulder.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,190},{98,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,83}}</string>
                <key>sourceSize</key>
                <string>{98,83}</string>
            </dict>
            <key>minigame_21_obstacle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>minigame_21_target.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minigame_21_0.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3da52bfc1271cb700883fbacbe843be:e7eaeee2c5c34be581b8032466e4abe7:97fca201cfb4332c10e4c7e61c0d2659$</string>
            <key>textureFileName</key>
            <string>minigame_21_0.png</string>
        </dict>
    </dict>
</plist>
