<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_Bad_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{25,24}</string>
                <key>spriteSourceSize</key>
                <string>{129,122}</string>
                <key>textureRect</key>
                <string>{{43,8},{25,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_Bad_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{101,96}</string>
                <key>spriteSourceSize</key>
                <string>{129,122}</string>
                <key>textureRect</key>
                <string>{{387,8},{101,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_Bad_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{125,122}</string>
                <key>spriteSourceSize</key>
                <string>{129,122}</string>
                <key>textureRect</key>
                <string>{{278,114},{125,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_Bad_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{125,120}</string>
                <key>spriteSourceSize</key>
                <string>{129,122}</string>
                <key>textureRect</key>
                <string>{{143,114},{125,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_Fall_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,94}</string>
                <key>spriteSourceSize</key>
                <string>{46,96}</string>
                <key>textureRect</key>
                <string>{{120,8},{46,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_Fall_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{32,84}</string>
                <key>spriteSourceSize</key>
                <string>{46,96}</string>
                <key>textureRect</key>
                <string>{{78,8},{32,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_Love_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-47}</string>
                <key>spriteSize</key>
                <string>{90,80}</string>
                <key>spriteSourceSize</key>
                <string>{242,180}</string>
                <key>textureRect</key>
                <string>{{176,8},{90,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_Love_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-26}</string>
                <key>spriteSize</key>
                <string>{126,106}</string>
                <key>spriteSourceSize</key>
                <string>{242,180}</string>
                <key>textureRect</key>
                <string>{{413,114},{126,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_Love_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{188,134}</string>
                <key>spriteSourceSize</key>
                <string>{242,180}</string>
                <key>textureRect</key>
                <string>{{145,246},{188,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_Love_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{188,130}</string>
                <key>spriteSourceSize</key>
                <string>{242,180}</string>
                <key>textureRect</key>
                <string>{{343,246},{188,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_Love_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{220,160}</string>
                <key>spriteSourceSize</key>
                <string>{242,180}</string>
                <key>textureRect</key>
                <string>{{8,390},{220,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_Poof_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{25,26}</string>
                <key>spriteSourceSize</key>
                <string>{129,122}</string>
                <key>textureRect</key>
                <string>{{8,8},{25,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_Poof_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{101,96}</string>
                <key>spriteSourceSize</key>
                <string>{129,122}</string>
                <key>textureRect</key>
                <string>{{276,8},{101,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_Poof_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{127,122}</string>
                <key>spriteSourceSize</key>
                <string>{129,122}</string>
                <key>textureRect</key>
                <string>{{8,246},{127,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_Poof_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{125,120}</string>
                <key>spriteSourceSize</key>
                <string>{129,122}</string>
                <key>textureRect</key>
                <string>{{8,114},{125,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fx.png</string>
            <key>size</key>
            <string>{558,558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:374356beb3c412b6169220538e3d0225:d0c9d5503ff8e158ffa59ed1c62d5d82:d99486f53b1e82211347b334ece304e4$</string>
            <key>textureFileName</key>
            <string>fx.png</string>
        </dict>
    </dict>
</plist>
