<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,31}}</string>
                <key>sourceSize</key>
                <string>{304,31}</string>
            </dict>
            <key>loading_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{304,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,31}}</string>
                <key>sourceSize</key>
                <string>{304,31}</string>
            </dict>
            <key>loading_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{342,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,89}}</string>
                <key>sourceSize</key>
                <string>{342,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites_loadbar.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3d6e9938bd67937df4b28740f0a6479:62e33abc7b8ba02e1c833c4154e533cc:0591ca78304e8e4a3d88a2ffcf51993f$</string>
            <key>textureFileName</key>
            <string>sprites_loadbar.png</string>
        </dict>
    </dict>
</plist>
