<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>story_bunga.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{365,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,446}}</string>
                <key>sourceSize</key>
                <string>{365,446}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>story_bunga_pngs_0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28ac9e0dadd4195d255b6fc6a997946c:07e28b7182f28f1d3d246b0e397df0ea:e0dd8581a3ad4cef5008abad65cd0229$</string>
            <key>textureFileName</key>
            <string>story_bunga_pngs_0.png</string>
        </dict>
    </dict>
</plist>
