html, body {
	background-color: #000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin  : 0;
	padding : 0;
}

#content {
	position : relative;
	background-position : center;
	background-repeat : no-repeat;
	background-size : auto 100%;
	margin-left : auto;
	margin-right : auto;
	overflow : hidden;
}
#content canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0 auto;
}

#font-preloader {
	position : absolute;
	top : -9999px;
	left : -9999px;
}

#captions {
	opacity: 0;
	transition: opacity 2s ease-in-out;
	-moz-transition: opacity 2s ease-in-out;
	-webkit-transition: opacity 2s ease-in-out;
	position: absolute;
    color: #fff;
    z-index: 1;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    padding: 8px 84px;
	font-family: arial;
	font-size: 1.1em;
	line-height : 1.1em;
}
#captions.fadeIn {
	opacity: 1;
	transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
}

#font-preloader {
	position : absolute;
	top : -9999px;
	left : -9999px;
}

@font-face {
	font-family : 'londrina';
	src : url(static/assets/fonts/LondrinaSolid-Regular.woff) format('woff');
	font-weight : bold;
	font-style : normal;
}
