<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>character1_cheer_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,306},{280,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,305}}</string>
				<key>sourceSize</key>
				<string>{280,305}</string>
			</dict>

			<key>character1_cheer_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,0},{280,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,305}}</string>
				<key>sourceSize</key>
				<string>{280,305}</string>
			</dict>

			<key>character1_cheer_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{280,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,305}}</string>
				<key>sourceSize</key>
				<string>{280,305}</string>
			</dict>

			<key>character1_cheer_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,612},{280,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,305}}</string>
				<key>sourceSize</key>
				<string>{280,305}</string>
			</dict>

			<key>character1_cheer_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,612},{280,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,305}}</string>
				<key>sourceSize</key>
				<string>{280,305}</string>
			</dict>

			<key>character1_cheer_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,306},{280,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,305}}</string>
				<key>sourceSize</key>
				<string>{280,305}</string>
			</dict>

			<key>character1_cheer_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,0},{280,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,305}}</string>
				<key>sourceSize</key>
				<string>{280,305}</string>
			</dict>

			<key>character1_cheer_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,612},{280,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,305}}</string>
				<key>sourceSize</key>
				<string>{280,305}</string>
			</dict>

			<key>character1_cheer_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,306},{280,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,305}}</string>
				<key>sourceSize</key>
				<string>{280,305}</string>
			</dict>

			<key>character1_cheer_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,0},{280,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,305}}</string>
				<key>sourceSize</key>
				<string>{280,305}</string>
			</dict>

			<key>character1_cheer_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,612},{280,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,305}}</string>
				<key>sourceSize</key>
				<string>{280,305}</string>
			</dict>

			<key>character1_cheer_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,306},{280,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,305}}</string>
				<key>sourceSize</key>
				<string>{280,305}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>character1a.png</string>
			</dict>
		</dict>
</plist>