<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>character0_cheer_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1305},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_cheer_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1044},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_cheer_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,522},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_cheer_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,261},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_cheer_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,783},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_cheer_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,522},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_cheer_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,261},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_cheer_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,0},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_cheer_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1566},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_cheer_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1305},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_cheer_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1044},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_cheer_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,783},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,261},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1405,261},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle1_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1405,0},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1686,522},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1686,261},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1686,0},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1405,1566},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1405,1305},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1405,1044},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1405,783},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1405,522},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,1566},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,1305},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle2_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,783},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle2_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,522},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,1044},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,783},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,522},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,261},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,0},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1566},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1305},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_idle2_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1044},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_nag_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,1566},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_nag_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,1305},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_nag_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,0},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_nag_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1566},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_nag_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1686,783},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_nag_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,0},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_nag_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1566},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_nag_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1305},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_nag_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1044},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_nag_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,783},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_nag_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,522},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

			<key>character0_nag_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,261},{280,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,260}}</string>
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>character0.png</string>
			</dict>
		</dict>
</plist>