<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>character2_cheer_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,662},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_cheer_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,331},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_cheer_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,1324},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_cheer_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,993},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_cheer_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,0},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_cheer_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1655},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_cheer_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1324},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_cheer_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,993},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_cheer_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,662},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_cheer_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,331},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_cheer_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_cheer_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,662},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,662},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,331},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,1324},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle1_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,993},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,0},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,1655},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,1324},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,993},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,662},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,331},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,0},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,1655},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,662},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,331},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle2_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,1324},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle2_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,993},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,0},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1655},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1324},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,993},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1086,1655},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,331},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,0},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_idle2_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,1655},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_nag_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,662},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_nag_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,331},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_nag_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,993},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_nag_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,993},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_nag_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,331},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_nag_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,0},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_nag_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1655},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_nag_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1655},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_nag_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1655},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_nag_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1324},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_nag_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1324},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

			<key>character2_nag_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1324},{180,330}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,330}}</string>
				<key>sourceSize</key>
				<string>{180,330}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>character2.png</string>
			</dict>
		</dict>
</plist>