<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cut_character0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,494},{239,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{239,300}}</string>
				<key>sourceSize</key>
				<string>{239,300}</string>
			</dict>

			<key>cut_character0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,494},{239,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{239,300}}</string>
				<key>sourceSize</key>
				<string>{239,300}</string>
			</dict>

			<key>cut_character0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,0},{239,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{239,300}}</string>
				<key>sourceSize</key>
				<string>{239,300}</string>
			</dict>

			<key>cut_character1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,314},{140,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,296}}</string>
				<key>sourceSize</key>
				<string>{140,296}</string>
			</dict>

			<key>cut_character1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,314},{140,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,296}}</string>
				<key>sourceSize</key>
				<string>{140,296}</string>
			</dict>

			<key>cut_character1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,613},{140,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,296}}</string>
				<key>sourceSize</key>
				<string>{140,296}</string>
			</dict>

			<key>cut_character2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,0},{142,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,311}}</string>
				<key>sourceSize</key>
				<string>{142,311}</string>
			</dict>

			<key>cut_character2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,303},{142,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,311}}</string>
				<key>sourceSize</key>
				<string>{142,311}</string>
			</dict>

			<key>cut_character2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,617},{142,311}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,311}}</string>
				<key>sourceSize</key>
				<string>{142,311}</string>
			</dict>

			<key>jarsA_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,363},{240,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{240,128}}</string>
				<key>sourceSize</key>
				<string>{240,128}</string>
			</dict>

			<key>jarsA_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{373,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{373,210}}</string>
				<key>sourceSize</key>
				<string>{373,210}</string>
			</dict>

			<key>jarsB_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,797},{214,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,133}}</string>
				<key>sourceSize</key>
				<string>{214,133}</string>
			</dict>

			<key>jarsB_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,213},{265,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,147}}</string>
				<key>sourceSize</key>
				<string>{265,147}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>cutscene.png</string>
			</dict>
		</dict>
</plist>