<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>chips.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,867},{95,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,55}}</string>
				<key>sourceSize</key>
				<string>{95,55}</string>
			</dict>

			<key>chips_break0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,923},{95,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,55}}</string>
				<key>sourceSize</key>
				<string>{95,55}</string>
			</dict>

			<key>chips_break0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,761},{95,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,55}}</string>
				<key>sourceSize</key>
				<string>{95,55}</string>
			</dict>

			<key>chips_break0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,761},{95,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,55}}</string>
				<key>sourceSize</key>
				<string>{95,55}</string>
			</dict>

			<key>chips_break1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,923},{95,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,55}}</string>
				<key>sourceSize</key>
				<string>{95,55}</string>
			</dict>

			<key>chips_break1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,0},{95,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,55}}</string>
				<key>sourceSize</key>
				<string>{95,55}</string>
			</dict>

			<key>chips_break1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,0},{95,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,55}}</string>
				<key>sourceSize</key>
				<string>{95,55}</string>
			</dict>

			<key>chips_break2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,705},{95,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,55}}</string>
				<key>sourceSize</key>
				<string>{95,55}</string>
			</dict>

			<key>chips_break2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,867},{95,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,55}}</string>
				<key>sourceSize</key>
				<string>{95,55}</string>
			</dict>

			<key>chips_break2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,867},{95,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,55}}</string>
				<key>sourceSize</key>
				<string>{95,55}</string>
			</dict>

			<key>crack_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,786},{110,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,80}}</string>
				<key>sourceSize</key>
				<string>{110,80}</string>
			</dict>

			<key>crack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,705},{110,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,80}}</string>
				<key>sourceSize</key>
				<string>{110,80}</string>
			</dict>

			<key>crack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,906},{110,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,80}}</string>
				<key>sourceSize</key>
				<string>{110,80}</string>
			</dict>

			<key>flies_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>flies_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>flies_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,846},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>flies_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,0},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>flies_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>flies_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>flies_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>flies_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,141},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>flies_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,705},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>flies_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,423},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>flies_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,564},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>flies_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,282},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>sprinkle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,299},{75,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,80}}</string>
				<key>sourceSize</key>
				<string>{75,80}</string>
			</dict>

			<key>sprinkle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,218},{75,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,80}}</string>
				<key>sourceSize</key>
				<string>{75,80}</string>
			</dict>

			<key>sprinkle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,137},{75,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,80}}</string>
				<key>sourceSize</key>
				<string>{75,80}</string>
			</dict>

			<key>sprinkle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,56},{75,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,80}}</string>
				<key>sourceSize</key>
				<string>{75,80}</string>
			</dict>

			<key>sprinkle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,380},{75,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,80}}</string>
				<key>sourceSize</key>
				<string>{75,80}</string>
			</dict>

			<key>tail_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,987},{70,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,35}}</string>
				<key>sourceSize</key>
				<string>{70,35}</string>
			</dict>

			<key>tail_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,987},{70,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,35}}</string>
				<key>sourceSize</key>
				<string>{70,35}</string>
			</dict>

			<key>tail_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,987},{70,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,35}}</string>
				<key>sourceSize</key>
				<string>{70,35}</string>
			</dict>

			<key>tail_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,987},{70,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,35}}</string>
				<key>sourceSize</key>
				<string>{70,35}</string>
			</dict>

			<key>puff_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,453},{195,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,150}}</string>
				<key>sourceSize</key>
				<string>{195,150}</string>
			</dict>

			<key>puff_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,604},{195,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,150}}</string>
				<key>sourceSize</key>
				<string>{195,150}</string>
			</dict>

			<key>puff_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,755},{195,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,150}}</string>
				<key>sourceSize</key>
				<string>{195,150}</string>
			</dict>

			<key>puff_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,302},{195,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,150}}</string>
				<key>sourceSize</key>
				<string>{195,150}</string>
			</dict>

			<key>puff_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{195,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,150}}</string>
				<key>sourceSize</key>
				<string>{195,150}</string>
			</dict>

			<key>puff_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,151},{195,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,150}}</string>
				<key>sourceSize</key>
				<string>{195,150}</string>
			</dict>

			<key>pinwheel.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,906},{75,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,92}}</string>
				<key>sourceSize</key>
				<string>{75,92}</string>
			</dict>

			<key>stick.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,461},{37,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,90}}</string>
				<key>sourceSize</key>
				<string>{37,90}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
			</dict>
		</dict>
</plist>