<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lizard0_despawn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,91},{60,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,90}}</string>
				<key>sourceSize</key>
				<string>{60,90}</string>
			</dict>

			<key>lizard0_despawn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,205},{60,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,90}}</string>
				<key>sourceSize</key>
				<string>{60,90}</string>
			</dict>

			<key>lizard0_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,0},{60,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,90}}</string>
				<key>sourceSize</key>
				<string>{60,90}</string>
			</dict>

			<key>lizard0_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,296},{60,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,90}}</string>
				<key>sourceSize</key>
				<string>{60,90}</string>
			</dict>

			<key>lizard0_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,296},{60,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,90}}</string>
				<key>sourceSize</key>
				<string>{60,90}</string>
			</dict>

			<key>lizard0_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,296},{60,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,90}}</string>
				<key>sourceSize</key>
				<string>{60,90}</string>
			</dict>

			<key>lizard0_idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,0},{60,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,90}}</string>
				<key>sourceSize</key>
				<string>{60,90}</string>
			</dict>

			<key>lizard0_idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,91},{60,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,90}}</string>
				<key>sourceSize</key>
				<string>{60,90}</string>
			</dict>

			<key>lizard0_idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,91},{60,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,90}}</string>
				<key>sourceSize</key>
				<string>{60,90}</string>
			</dict>

			<key>lizard0_idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,91},{60,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,90}}</string>
				<key>sourceSize</key>
				<string>{60,90}</string>
			</dict>

			<key>lizard0_spawn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,205},{60,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,90}}</string>
				<key>sourceSize</key>
				<string>{60,90}</string>
			</dict>

			<key>lizard0_spawn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,91},{60,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,90}}</string>
				<key>sourceSize</key>
				<string>{60,90}</string>
			</dict>

			<key>lizard0_spawn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,91},{60,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,90}}</string>
				<key>sourceSize</key>
				<string>{60,90}</string>
			</dict>

			<key>lizard0_spawn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,91},{60,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,90}}</string>
				<key>sourceSize</key>
				<string>{60,90}</string>
			</dict>

			<key>lizard1_despawn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,309},{85,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,30}}</string>
				<key>sourceSize</key>
				<string>{85,30}</string>
			</dict>

			<key>lizard1_despawn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,247},{85,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,30}}</string>
				<key>sourceSize</key>
				<string>{85,30}</string>
			</dict>

			<key>lizard1_despawn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,216},{85,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,30}}</string>
				<key>sourceSize</key>
				<string>{85,30}</string>
			</dict>

			<key>lizard1_despawn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,371},{85,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,30}}</string>
				<key>sourceSize</key>
				<string>{85,30}</string>
			</dict>

			<key>lizard1_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,340},{85,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,30}}</string>
				<key>sourceSize</key>
				<string>{85,30}</string>
			</dict>

			<key>lizard1_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,402},{85,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,30}}</string>
				<key>sourceSize</key>
				<string>{85,30}</string>
			</dict>

			<key>lizard1_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,433},{85,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,30}}</string>
				<key>sourceSize</key>
				<string>{85,30}</string>
			</dict>

			<key>lizard1_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,402},{85,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,30}}</string>
				<key>sourceSize</key>
				<string>{85,30}</string>
			</dict>

			<key>lizard1_idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,340},{85,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,30}}</string>
				<key>sourceSize</key>
				<string>{85,30}</string>
			</dict>

			<key>lizard1_idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,340},{85,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,30}}</string>
				<key>sourceSize</key>
				<string>{85,30}</string>
			</dict>

			<key>lizard1_spawn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,371},{85,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,30}}</string>
				<key>sourceSize</key>
				<string>{85,30}</string>
			</dict>

			<key>lizard1_spawn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,216},{85,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,30}}</string>
				<key>sourceSize</key>
				<string>{85,30}</string>
			</dict>

			<key>lizard1_spawn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,247},{85,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,30}}</string>
				<key>sourceSize</key>
				<string>{85,30}</string>
			</dict>

			<key>lizard1_spawn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,278},{85,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,30}}</string>
				<key>sourceSize</key>
				<string>{85,30}</string>
			</dict>

			<key>lizard2_despawn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,41},{70,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,40}}</string>
				<key>sourceSize</key>
				<string>{70,40}</string>
			</dict>

			<key>lizard2_despawn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,464},{70,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,40}}</string>
				<key>sourceSize</key>
				<string>{70,40}</string>
			</dict>

			<key>lizard2_despawn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,0},{70,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,40}}</string>
				<key>sourceSize</key>
				<string>{70,40}</string>
			</dict>

			<key>lizard2_despawn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,464},{70,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,40}}</string>
				<key>sourceSize</key>
				<string>{70,40}</string>
			</dict>

			<key>lizard2_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,82},{70,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,40}}</string>
				<key>sourceSize</key>
				<string>{70,40}</string>
			</dict>

			<key>lizard2_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,464},{70,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,40}}</string>
				<key>sourceSize</key>
				<string>{70,40}</string>
			</dict>

			<key>lizard2_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,123},{70,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,40}}</string>
				<key>sourceSize</key>
				<string>{70,40}</string>
			</dict>

			<key>lizard2_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,164},{70,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,40}}</string>
				<key>sourceSize</key>
				<string>{70,40}</string>
			</dict>

			<key>lizard2_idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,123},{70,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,40}}</string>
				<key>sourceSize</key>
				<string>{70,40}</string>
			</dict>

			<key>lizard2_idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,464},{70,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,40}}</string>
				<key>sourceSize</key>
				<string>{70,40}</string>
			</dict>

			<key>lizard2_spawn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,464},{70,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,40}}</string>
				<key>sourceSize</key>
				<string>{70,40}</string>
			</dict>

			<key>lizard2_spawn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,0},{70,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,40}}</string>
				<key>sourceSize</key>
				<string>{70,40}</string>
			</dict>

			<key>lizard2_spawn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,464},{70,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,40}}</string>
				<key>sourceSize</key>
				<string>{70,40}</string>
			</dict>

			<key>lizard2_spawn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,41},{70,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,40}}</string>
				<key>sourceSize</key>
				<string>{70,40}</string>
			</dict>

			<key>lizard3_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{165,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,35}}</string>
				<key>sourceSize</key>
				<string>{165,35}</string>
			</dict>

			<key>lizard3_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{165,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,35}}</string>
				<key>sourceSize</key>
				<string>{165,35}</string>
			</dict>

			<key>lizard3_idle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,72},{165,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,35}}</string>
				<key>sourceSize</key>
				<string>{165,35}</string>
			</dict>

			<key>lizard3_idle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,72},{165,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,35}}</string>
				<key>sourceSize</key>
				<string>{165,35}</string>
			</dict>

			<key>lizard3_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,36},{165,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,35}}</string>
				<key>sourceSize</key>
				<string>{165,35}</string>
			</dict>

			<key>lizard3_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,36},{165,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,35}}</string>
				<key>sourceSize</key>
				<string>{165,35}</string>
			</dict>

			<key>lizard3_idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{165,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,35}}</string>
				<key>sourceSize</key>
				<string>{165,35}</string>
			</dict>

			<key>lizard3_idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{165,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,35}}</string>
				<key>sourceSize</key>
				<string>{165,35}</string>
			</dict>

			<key>lizard3_idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,108},{165,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,35}}</string>
				<key>sourceSize</key>
				<string>{165,35}</string>
			</dict>

			<key>lizard3_idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,108},{165,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,35}}</string>
				<key>sourceSize</key>
				<string>{165,35}</string>
			</dict>

			<key>lizard3_idle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,144},{165,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,35}}</string>
				<key>sourceSize</key>
				<string>{165,35}</string>
			</dict>

			<key>lizard3_idle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,144},{165,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,35}}</string>
				<key>sourceSize</key>
				<string>{165,35}</string>
			</dict>

			<key>lizard4_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,441},{132,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,44}}</string>
				<key>sourceSize</key>
				<string>{132,44}</string>
			</dict>

			<key>lizard4_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,441},{132,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,44}}</string>
				<key>sourceSize</key>
				<string>{132,44}</string>
			</dict>

			<key>lizard4_idle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,306},{132,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,44}}</string>
				<key>sourceSize</key>
				<string>{132,44}</string>
			</dict>

			<key>lizard4_idle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,306},{132,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,44}}</string>
				<key>sourceSize</key>
				<string>{132,44}</string>
			</dict>

			<key>lizard4_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,261},{132,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,44}}</string>
				<key>sourceSize</key>
				<string>{132,44}</string>
			</dict>

			<key>lizard4_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,261},{132,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,44}}</string>
				<key>sourceSize</key>
				<string>{132,44}</string>
			</dict>

			<key>lizard4_idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,216},{132,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,44}}</string>
				<key>sourceSize</key>
				<string>{132,44}</string>
			</dict>

			<key>lizard4_idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,216},{132,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,44}}</string>
				<key>sourceSize</key>
				<string>{132,44}</string>
			</dict>

			<key>lizard4_idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,351},{132,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,44}}</string>
				<key>sourceSize</key>
				<string>{132,44}</string>
			</dict>

			<key>lizard4_idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,351},{132,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,44}}</string>
				<key>sourceSize</key>
				<string>{132,44}</string>
			</dict>

			<key>lizard4_idle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,396},{132,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,44}}</string>
				<key>sourceSize</key>
				<string>{132,44}</string>
			</dict>

			<key>lizard4_idle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,396},{132,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,44}}</string>
				<key>sourceSize</key>
				<string>{132,44}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>lizards.png</string>
			</dict>
		</dict>
</plist>