<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mask_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,319},{172,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,76}}</string>
				<key>sourceSize</key>
				<string>{172,76}</string>
			</dict>

			<key>mask_0_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,587},{62,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,65}}</string>
				<key>sourceSize</key>
				<string>{62,65}</string>
			</dict>

			<key>mask_0_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,720},{66,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,70}}</string>
				<key>sourceSize</key>
				<string>{66,70}</string>
			</dict>

			<key>mask_0_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,455},{174,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,66}}</string>
				<key>sourceSize</key>
				<string>{174,66}</string>
			</dict>

			<key>mask_0_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,809},{186,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,67}}</string>
				<key>sourceSize</key>
				<string>{186,67}</string>
			</dict>

			<key>mask_0_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,267},{205,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,46}}</string>
				<key>sourceSize</key>
				<string>{205,46}</string>
			</dict>

			<key>mask_0_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,299},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,77}}</string>
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>

			<key>mask_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,589},{194,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{194,66}}</string>
				<key>sourceSize</key>
				<string>{194,66}</string>
			</dict>

			<key>mask_0_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,67},{145,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,86}}</string>
				<key>sourceSize</key>
				<string>{145,86}</string>
			</dict>

			<key>mask_0_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,159},{219,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,52}}</string>
				<key>sourceSize</key>
				<string>{219,52}</string>
			</dict>

			<key>mask_0_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,217},{215,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{215,44}}</string>
				<key>sourceSize</key>
				<string>{215,44}</string>
			</dict>

			<key>mask_0_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,882},{181,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,79}}</string>
				<key>sourceSize</key>
				<string>{181,79}</string>
			</dict>

			<key>mask_0_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,319},{202,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,130}}</string>
				<key>sourceSize</key>
				<string>{202,130}</string>
			</dict>

			<key>mask_0_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,661},{192,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,53}}</string>
				<key>sourceSize</key>
				<string>{192,53}</string>
			</dict>

			<key>mask_0_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,882},{185,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,63}}</string>
				<key>sourceSize</key>
				<string>{185,63}</string>
			</dict>

			<key>mask_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,221},{73,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,72}}</string>
				<key>sourceSize</key>
				<string>{73,72}</string>
			</dict>

			<key>mask_1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,295},{89,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,163}}</string>
				<key>sourceSize</key>
				<string>{89,163}</string>
			</dict>

			<key>mask_1_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,67},{80,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,148}}</string>
				<key>sourceSize</key>
				<string>{80,148}</string>
			</dict>

			<key>mask_1_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,720},{104,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,66}}</string>
				<key>sourceSize</key>
				<string>{104,66}</string>
			</dict>

			<key>mask_1_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,527},{138,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,54}}</string>
				<key>sourceSize</key>
				<string>{138,54}</string>
			</dict>

			<key>mask_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,382},{67,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,76}}</string>
				<key>sourceSize</key>
				<string>{67,76}</string>
			</dict>

			<key>mask_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,839},{117,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,52}}</string>
				<key>sourceSize</key>
				<string>{117,52}</string>
			</dict>

			<key>mask_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,527},{165,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,47}}</string>
				<key>sourceSize</key>
				<string>{165,47}</string>
			</dict>

			<key>mask_1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,455},{201,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,128}}</string>
				<key>sourceSize</key>
				<string>{201,128}</string>
			</dict>

			<key>mask_1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{248,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,153}}</string>
				<key>sourceSize</key>
				<string>{248,153}</string>
			</dict>

			<key>mask_1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,897},{116,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,53}}</string>
				<key>sourceSize</key>
				<string>{116,53}</string>
			</dict>

			<key>mask_1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,720},{179,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,113}}</string>
				<key>sourceSize</key>
				<string>{179,113}</string>
			</dict>

			<key>mask_1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,217},{162,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,72}}</string>
				<key>sourceSize</key>
				<string>{162,72}</string>
			</dict>

			<key>mask_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,839},{102,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,37}}</string>
				<key>sourceSize</key>
				<string>{102,37}</string>
			</dict>

			<key>mask_2_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,951},{183,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,55}}</string>
				<key>sourceSize</key>
				<string>{183,55}</string>
			</dict>

			<key>mask_2_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,159},{160,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,52}}</string>
				<key>sourceSize</key>
				<string>{160,52}</string>
			</dict>

			<key>mask_2_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,967},{175,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,47}}</string>
				<key>sourceSize</key>
				<string>{175,47}</string>
			</dict>

			<key>mask_2_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,720},{189,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{189,83}}</string>
				<key>sourceSize</key>
				<string>{189,84}</string>
			</dict>

			<key>mask_2_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,956},{103,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,58}}</string>
				<key>sourceSize</key>
				<string>{103,58}</string>
			</dict>

			<key>mask_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,589},{176,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,63}}</string>
				<key>sourceSize</key>
				<string>{176,63}</string>
			</dict>

			<key>mask_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,661},{167,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{167,45}}</string>
				<key>sourceSize</key>
				<string>{168,45}</string>
			</dict>

			<key>mask_2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,587},{85,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,50}}</string>
				<key>sourceSize</key>
				<string>{85,50}</string>
			</dict>

			<key>mask_2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,0},{155,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,61}}</string>
				<key>sourceSize</key>
				<string>{155,61}</string>
			</dict>

			<key>mask_2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,658},{142,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,56}}</string>
				<key>sourceSize</key>
				<string>{142,56}</string>
			</dict>

			<key>mask_2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,401},{91,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,31}}</string>
				<key>sourceSize</key>
				<string>{91,31}</string>
			</dict>

			<key>mask_2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,221},{78,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,58}}</string>
				<key>sourceSize</key>
				<string>{78,58}</string>
			</dict>

			<key>mask_2_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,0},{47,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,72}}</string>
				<key>sourceSize</key>
				<string>{47,72}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>masks.png</string>
			</dict>
		</dict>
</plist>