<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bar_fill.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1005},{252,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{252,18}}</string>
				<key>sourceSize</key>
				<string>{252,18}</string>
			</dict>

			<key>panel_counter.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,889},{165,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,114}}</string>
				<key>sourceSize</key>
				<string>{165,114}</string>
			</dict>

			<key>bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,616},{408,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{408,84}}</string>
				<key>sourceSize</key>
				<string>{408,84}</string>
			</dict>

			<key>btn_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,923},{49,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,73}}</string>
				<key>sourceSize</key>
				<string>{49,73}</string>
			</dict>

			<key>btn_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,923},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>btn_howTo_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,82},{272,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{272,77}}</string>
				<key>sourceSize</key>
				<string>{272,77}</string>
			</dict>

			<key>btn_howTo_u.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,0},{272,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{272,81}}</string>
				<key>sourceSize</key>
				<string>{272,81}</string>
			</dict>

			<key>new.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,238},{124,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,68}}</string>
				<key>sourceSize</key>
				<string>{124,68}</string>
			</dict>

			<key>btn_nextDay_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,571},{277,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,104}}</string>
				<key>sourceSize</key>
				<string>{277,104}</string>
			</dict>

			<key>btn_nextDay_u.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,889},{277,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,110}}</string>
				<key>sourceSize</key>
				<string>{277,110}</string>
			</dict>

			<key>btn_play_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,160},{272,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{272,77}}</string>
				<key>sourceSize</key>
				<string>{272,77}</string>
			</dict>

			<key>btn_play_u.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,923},{272,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{272,81}}</string>
				<key>sourceSize</key>
				<string>{272,81}</string>
			</dict>

			<key>panel_results.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{506,323}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{506,323}}</string>
				<key>sourceSize</key>
				<string>{506,323}</string>
			</dict>

			<key>balloon0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,701},{377,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{377,221}}</string>
				<key>sourceSize</key>
				<string>{377,221}</string>
			</dict>

			<key>balloon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,324},{287,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{287,246}}</string>
				<key>sourceSize</key>
				<string>{287,246}</string>
			</dict>

			<key>balloon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,701},{287,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{287,187}}</string>
				<key>sourceSize</key>
				<string>{287,187}</string>
			</dict>

			<key>balloon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,324},{427,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,291}}</string>
				<key>sourceSize</key>
				<string>{427,291}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>