@font-face {
    font-family: 'ammansansarabic';
    src: url('AMMANSANSARABIC-BOLD.woff2') format('woff2'),
    url('AMMANSANSARABIC-BOLD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}