@font-face {
    font-family: 'garagegothic';
    src: url('GARAGEGOTHIC-REGULAR.woff2') format('woff2'),
    url('GARAGEGOTHIC-REGULAR.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}