<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>story_ono.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{643,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{643,444}}</string>
                <key>sourceSize</key>
                <string>{643,444}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>story_ono_pngs_0.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8b591b622a4fed77f5bbb0cb4f44bab:e45939e6ce6d06097ea40984d01d516d:7ca90a7fede1c854287a5f5559747b11$</string>
            <key>textureFileName</key>
            <string>story_ono_pngs_0.png</string>
        </dict>
    </dict>
</plist>
