<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_koalaGlider_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{190,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,165}}</string>
				<key>sourceSize</key>
				<string>{190,165}</string>
			</dict>

			<key>anim_koalaGlider_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,170},{190,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,165}}</string>
				<key>sourceSize</key>
				<string>{190,165}</string>
			</dict>

			<key>anim_koalaGlider_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,680},{190,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,165}}</string>
				<key>sourceSize</key>
				<string>{190,165}</string>
			</dict>

			<key>anim_koalaGlider_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,340},{190,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,165}}</string>
				<key>sourceSize</key>
				<string>{190,165}</string>
			</dict>

			<key>anim_koalaGlider_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,340},{190,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,165}}</string>
				<key>sourceSize</key>
				<string>{190,165}</string>
			</dict>

			<key>anim_koalaGlider_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,510},{190,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,165}}</string>
				<key>sourceSize</key>
				<string>{190,165}</string>
			</dict>

			<key>anim_koalaGlider_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,680},{190,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,165}}</string>
				<key>sourceSize</key>
				<string>{190,165}</string>
			</dict>

			<key>anim_koalaGlider_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,850},{190,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,165}}</string>
				<key>sourceSize</key>
				<string>{190,165}</string>
			</dict>

			<key>anim_koalaGlider_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,0},{190,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,165}}</string>
				<key>sourceSize</key>
				<string>{190,165}</string>
			</dict>

			<key>anim_koalaGlider_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,170},{190,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,165}}</string>
				<key>sourceSize</key>
				<string>{190,165}</string>
			</dict>

			<key>anim_koalaGlider_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,850},{190,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,165}}</string>
				<key>sourceSize</key>
				<string>{190,165}</string>
			</dict>

			<key>anim_koalaGlider_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,510},{190,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,165}}</string>
				<key>sourceSize</key>
				<string>{190,165}</string>
			</dict>

			<key>anim_koalaTrip_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,405},{150,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,130}}</string>
				<key>sourceSize</key>
				<string>{150,130}</string>
			</dict>

			<key>anim_koalaTrip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,270},{150,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,130}}</string>
				<key>sourceSize</key>
				<string>{150,130}</string>
			</dict>

			<key>anim_koalaTrip_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,0},{150,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,130}}</string>
				<key>sourceSize</key>
				<string>{150,130}</string>
			</dict>

			<key>anim_koalaTrip_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,270},{150,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,130}}</string>
				<key>sourceSize</key>
				<string>{150,130}</string>
			</dict>

			<key>anim_koalaTrip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,135},{150,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,130}}</string>
				<key>sourceSize</key>
				<string>{150,130}</string>
			</dict>

			<key>anim_koalaTrip_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,0},{150,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,130}}</string>
				<key>sourceSize</key>
				<string>{150,130}</string>
			</dict>

			<key>anim_koalaTrip_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,810},{150,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,130}}</string>
				<key>sourceSize</key>
				<string>{150,130}</string>
			</dict>

			<key>anim_koalaTrip_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,540},{150,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,130}}</string>
				<key>sourceSize</key>
				<string>{150,130}</string>
			</dict>

			<key>anim_koalaTrip_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,540},{150,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,130}}</string>
				<key>sourceSize</key>
				<string>{150,130}</string>
			</dict>

			<key>anim_koalaTrip_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,405},{150,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,130}}</string>
				<key>sourceSize</key>
				<string>{150,130}</string>
			</dict>

			<key>anim_koalaTrip_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,675},{150,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,130}}</string>
				<key>sourceSize</key>
				<string>{150,130}</string>
			</dict>

			<key>anim_koalaTrip_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,135},{150,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,130}}</string>
				<key>sourceSize</key>
				<string>{150,130}</string>
			</dict>

			<key>anim_koalaWalkRight_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,675},{91,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,103}}</string>
				<key>sourceSize</key>
				<string>{91,103}</string>
			</dict>

			<key>anim_koalaWalkRight_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,783},{91,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,103}}</string>
				<key>sourceSize</key>
				<string>{91,103}</string>
			</dict>

			<key>anim_koalaWalkRight_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,432},{91,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,103}}</string>
				<key>sourceSize</key>
				<string>{91,103}</string>
			</dict>

			<key>anim_koalaWalkRight_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,891},{91,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,103}}</string>
				<key>sourceSize</key>
				<string>{91,103}</string>
			</dict>

			<key>anim_koalaWalkRight_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,891},{91,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,103}}</string>
				<key>sourceSize</key>
				<string>{91,103}</string>
			</dict>

			<key>anim_koalaWalkRight_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,675},{91,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,103}}</string>
				<key>sourceSize</key>
				<string>{91,103}</string>
			</dict>

			<key>anim_koalaWalkRight_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,783},{91,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,103}}</string>
				<key>sourceSize</key>
				<string>{91,103}</string>
			</dict>

			<key>anim_koalaWalkRight_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,540},{91,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,103}}</string>
				<key>sourceSize</key>
				<string>{91,103}</string>
			</dict>

			<key>anim_koalaWalkRight_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,0},{91,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,103}}</string>
				<key>sourceSize</key>
				<string>{91,103}</string>
			</dict>

			<key>anim_koalaWalkRight_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,108},{91,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,103}}</string>
				<key>sourceSize</key>
				<string>{91,103}</string>
			</dict>

			<key>anim_koalaWalkRight_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,216},{91,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,103}}</string>
				<key>sourceSize</key>
				<string>{91,103}</string>
			</dict>

			<key>anim_koalaWalkRight_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,324},{91,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,103}}</string>
				<key>sourceSize</key>
				<string>{91,103}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>char_koala.png</string>
			</dict>
		</dict>
</plist>