<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_panDrag_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1710},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_panDrag_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1855},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_panDrag_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,1855},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_panDrag_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,1710},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_panDrag_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,1710},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_panDrag_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,1855},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_panDrag_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,1710},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_panDrag_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,1855},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_panDrag_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1710},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_panDrag_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1855},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_panDrag_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,1710},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_panDrag_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,1855},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_panHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1563,132},{205,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,130}}</string>
				<key>sourceSize</key>
				<string>{205,130}</string>
			</dict>

			<key>anim_panIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,532},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_panIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,665},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_panIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,1064},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_panIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,931},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_panIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,798},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_panIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,1197},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_panIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,1330},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_panIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,1463},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_panIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,266},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_panIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,133},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_panIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,399},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_panIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,0},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_panLand_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,1728},{205,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,127}}</string>
				<key>sourceSize</key>
				<string>{205,127}</string>
			</dict>

			<key>anim_panLand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,1728},{205,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,127}}</string>
				<key>sourceSize</key>
				<string>{205,127}</string>
			</dict>

			<key>anim_panLand_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1563,399},{205,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,127}}</string>
				<key>sourceSize</key>
				<string>{205,127}</string>
			</dict>

			<key>anim_panLand_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,1596},{205,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,127}}</string>
				<key>sourceSize</key>
				<string>{205,127}</string>
			</dict>

			<key>anim_panLand_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,1596},{205,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,127}}</string>
				<key>sourceSize</key>
				<string>{205,127}</string>
			</dict>

			<key>anim_panLand_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,1728},{205,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,127}}</string>
				<key>sourceSize</key>
				<string>{205,127}</string>
			</dict>

			<key>anim_panLand_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,1860},{205,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,127}}</string>
				<key>sourceSize</key>
				<string>{205,127}</string>
			</dict>

			<key>anim_panLand_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,1860},{205,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,127}}</string>
				<key>sourceSize</key>
				<string>{205,127}</string>
			</dict>

			<key>anim_panLand_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1563,531},{205,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,127}}</string>
				<key>sourceSize</key>
				<string>{205,127}</string>
			</dict>

			<key>anim_panLand_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1563,0},{205,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,127}}</string>
				<key>sourceSize</key>
				<string>{205,127}</string>
			</dict>

			<key>anim_panLand_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1563,663},{205,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,127}}</string>
				<key>sourceSize</key>
				<string>{205,127}</string>
			</dict>

			<key>anim_panLand_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1563,267},{205,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,127}}</string>
				<key>sourceSize</key>
				<string>{205,127}</string>
			</dict>

			<key>anim_panParachute_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1140},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_panParachute_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,0},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_panParachute_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_panParachute_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1140},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_panParachute_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,570},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_panParachute_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,1140},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_panParachute_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,0},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_panParachute_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,570},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_panParachute_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1140},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_panParachute_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,570},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_panParachute_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,0},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_panParachute_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,570},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>char_panda.png</string>
			</dict>
		</dict>
</plist>