<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_iceBearDrag_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1175,1845},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_iceBearDrag_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,290},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_iceBearDrag_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,145},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_iceBearDrag_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,1015},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_iceBearDrag_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,435},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_iceBearDrag_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,580},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_iceBearDrag_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,725},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_iceBearDrag_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,870},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_iceBearDrag_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,1450},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_iceBearDrag_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,1305},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_iceBearDrag_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,1160},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_iceBearDrag_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,0},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_iceBearHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,1330},{215,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{215,126}}</string>
				<key>sourceSize</key>
				<string>{215,126}</string>
			</dict>

			<key>anim_iceBearIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,1595},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_iceBearIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,0},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_iceBearIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,266},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_iceBearIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1400,1845},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_iceBearIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,133},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_iceBearIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,931},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_iceBearIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,798},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_iceBearIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,532},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_iceBearIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,1197},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_iceBearIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,1064},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_iceBearIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,665},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_iceBearIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,399},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_iceBearLand_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1845},{230,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,130}}</string>
				<key>sourceSize</key>
				<string>{230,130}</string>
			</dict>

			<key>anim_iceBearLand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1845},{230,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,130}}</string>
				<key>sourceSize</key>
				<string>{230,130}</string>
			</dict>

			<key>anim_iceBearLand_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,1710},{230,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,130}}</string>
				<key>sourceSize</key>
				<string>{230,130}</string>
			</dict>

			<key>anim_iceBearLand_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1845},{230,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,130}}</string>
				<key>sourceSize</key>
				<string>{230,130}</string>
			</dict>

			<key>anim_iceBearLand_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,1845},{230,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,130}}</string>
				<key>sourceSize</key>
				<string>{230,130}</string>
			</dict>

			<key>anim_iceBearLand_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1175,1710},{230,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,130}}</string>
				<key>sourceSize</key>
				<string>{230,130}</string>
			</dict>

			<key>anim_iceBearLand_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1710},{230,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,130}}</string>
				<key>sourceSize</key>
				<string>{230,130}</string>
			</dict>

			<key>anim_iceBearLand_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1845},{230,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,130}}</string>
				<key>sourceSize</key>
				<string>{230,130}</string>
			</dict>

			<key>anim_iceBearLand_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,1710},{230,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,130}}</string>
				<key>sourceSize</key>
				<string>{230,130}</string>
			</dict>

			<key>anim_iceBearLand_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1710},{230,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,130}}</string>
				<key>sourceSize</key>
				<string>{230,130}</string>
			</dict>

			<key>anim_iceBearLand_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1710},{230,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,130}}</string>
				<key>sourceSize</key>
				<string>{230,130}</string>
			</dict>

			<key>anim_iceBearLand_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,1845},{230,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,130}}</string>
				<key>sourceSize</key>
				<string>{230,130}</string>
			</dict>

			<key>anim_iceBearParachute_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,0},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_iceBearParachute_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,1140},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_iceBearParachute_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,0},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_iceBearParachute_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1140},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_iceBearParachute_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,570},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_iceBearParachute_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,0},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_iceBearParachute_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1140},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_iceBearParachute_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,570},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_iceBearParachute_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_iceBearParachute_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,570},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_iceBearParachute_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,1140},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

			<key>anim_iceBearParachute_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,570},{330,565}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,565}}</string>
				<key>sourceSize</key>
				<string>{330,565}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>char_iceBear.png</string>
			</dict>
		</dict>
</plist>