<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_grizzDrag_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1560},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_grizzDrag_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,1560},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_grizzDrag_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1560},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_grizzDrag_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1850},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_grizzDrag_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,1705},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_grizzDrag_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1705},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_grizzDrag_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,1850},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_grizzDrag_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,1560},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_grizzDrag_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,1705},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_grizzDrag_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,1850},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_grizzDrag_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1850},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_grizzDrag_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1705},{220,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,140}}</string>
				<key>sourceSize</key>
				<string>{220,140}</string>
			</dict>

			<key>anim_grizzHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1388,1064},{195,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,130}}</string>
				<key>sourceSize</key>
				<string>{195,130}</string>
			</dict>

			<key>anim_grizzIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,1560},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_grizzIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,1693},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_grizzIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,665},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_grizzIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,399},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_grizzIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,1826},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_grizzIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1123,1560},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_grizzIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1123,1693},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_grizzIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1123,1826},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_grizzIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,133},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_grizzIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,0},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_grizzIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,266},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_grizzIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,532},{218,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,128}}</string>
				<key>sourceSize</key>
				<string>{218,128}</string>
			</dict>

			<key>anim_grizzLand_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,931},{203,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,128}}</string>
				<key>sourceSize</key>
				<string>{203,128}</string>
			</dict>

			<key>anim_grizzLand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,931},{203,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,128}}</string>
				<key>sourceSize</key>
				<string>{203,128}</string>
			</dict>

			<key>anim_grizzLand_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,1330},{203,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,128}}</string>
				<key>sourceSize</key>
				<string>{203,128}</string>
			</dict>

			<key>anim_grizzLand_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1388,931},{203,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,128}}</string>
				<key>sourceSize</key>
				<string>{203,128}</string>
			</dict>

			<key>anim_grizzLand_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,1064},{203,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,128}}</string>
				<key>sourceSize</key>
				<string>{203,128}</string>
			</dict>

			<key>anim_grizzLand_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,1197},{203,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,128}}</string>
				<key>sourceSize</key>
				<string>{203,128}</string>
			</dict>

			<key>anim_grizzLand_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1180,798},{203,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,128}}</string>
				<key>sourceSize</key>
				<string>{203,128}</string>
			</dict>

			<key>anim_grizzLand_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1346,1463},{203,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,128}}</string>
				<key>sourceSize</key>
				<string>{203,128}</string>
			</dict>

			<key>anim_grizzLand_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1346,1596},{203,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,128}}</string>
				<key>sourceSize</key>
				<string>{203,128}</string>
			</dict>

			<key>anim_grizzLand_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1346,1729},{203,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,128}}</string>
				<key>sourceSize</key>
				<string>{203,128}</string>
			</dict>

			<key>anim_grizzLand_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1346,1862},{203,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,128}}</string>
				<key>sourceSize</key>
				<string>{203,128}</string>
			</dict>

			<key>anim_grizzLand_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1388,798},{203,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,128}}</string>
				<key>sourceSize</key>
				<string>{203,128}</string>
			</dict>

			<key>anim_grizzParachute_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{290,515}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,515}}</string>
				<key>sourceSize</key>
				<string>{290,515}</string>
			</dict>

			<key>anim_grizzParachute_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,520},{290,515}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,515}}</string>
				<key>sourceSize</key>
				<string>{290,515}</string>
			</dict>

			<key>anim_grizzParachute_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,520},{290,515}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,515}}</string>
				<key>sourceSize</key>
				<string>{290,515}</string>
			</dict>

			<key>anim_grizzParachute_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,1040},{290,515}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,515}}</string>
				<key>sourceSize</key>
				<string>{290,515}</string>
			</dict>

			<key>anim_grizzParachute_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1040},{290,515}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,515}}</string>
				<key>sourceSize</key>
				<string>{290,515}</string>
			</dict>

			<key>anim_grizzParachute_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,0},{290,515}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,515}}</string>
				<key>sourceSize</key>
				<string>{290,515}</string>
			</dict>

			<key>anim_grizzParachute_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,520},{290,515}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,515}}</string>
				<key>sourceSize</key>
				<string>{290,515}</string>
			</dict>

			<key>anim_grizzParachute_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,1040},{290,515}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,515}}</string>
				<key>sourceSize</key>
				<string>{290,515}</string>
			</dict>

			<key>anim_grizzParachute_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,0},{290,515}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,515}}</string>
				<key>sourceSize</key>
				<string>{290,515}</string>
			</dict>

			<key>anim_grizzParachute_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,520},{290,515}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,515}}</string>
				<key>sourceSize</key>
				<string>{290,515}</string>
			</dict>

			<key>anim_grizzParachute_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,1040},{290,515}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,515}}</string>
				<key>sourceSize</key>
				<string>{290,515}</string>
			</dict>

			<key>anim_grizzParachute_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,0},{290,515}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{290,515}}</string>
				<key>sourceSize</key>
				<string>{290,515}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>char_grizz.png</string>
			</dict>
		</dict>
</plist>