<?xml version="1.0" encoding="utf-8" ?>

<config>

	<!-- LOCALIZATION --> 
	<!-- cn, en, la, ru, sc -->
	<localization>
		<region>en</region>
	</localization> 


	<!-- Piracy Control Url-->
	<piracycontrol>http://www.nick.com/games/spongebob-squarepants-boogiebob-dancepants.html</piracycontrol>
	
	<!-- Determines Piracy Control feature is activated or not. A value of 'true' activates it.-->
	<piratecontrolactivated>false</piratecontrolactivated>
	
	
	
	
	<!-- 
		ENABLE  = 1
		DISABLE = 0
	-->
	
	<!-- CANADA TRACKING -->
	<Canadatracking>0</Canadatracking>
	
	<!-- IN-GAME VOICE OVERS -->
	<gameVO>1</gameVO>
	
	<!-- if both achievement and code unlock buttons are disabled,-->
	<!-- there is no way to unlock the themes-->
	<!-- TOGGLE ACHIEVEMENT BUTTON-->
	<Achievement>1</Achievement>
		
	<!-- TOGGLE CODE UNLOCK-->
	<codebutton>1</codebutton>
	
	<!------ CODE UNLOCK ---------->
	<!-- Limited to 5 letters -->
	<!-- Not case sensitive -->
	<code>power</code>
	
	

</config>