<?xml version="1.0" encoding="utf-8" ?>

<!-- 
	ENABLE  = 1
	DISABLE = 0
-->

<!-- 0 - HIGHSCORE -->
<highscore>0</highscore>

<!-- 1 - NICK POINTS -->
<nickpoints>0</nickpoints>

<!-- 2 - LOCAL PROMOTIONS -->
<localpromotions>0</localpromotions>

<!-- PRINTABLES -->
<printables>0</printables>

<!-- UNIVERSAL END GAME SCREEN -->
<endscreen>0</endscreen>

<!-- UNIVERSAL WIN GAME SCREEN -->
<winscreen>0</winscreen>

<!-- ACHIEVEMENTS -->
<achievements>0</achievements>

<!-- BADGES -->
<badges>0</badges>

<!-- SERVER SPECIFIC CONTENT -->
<servercontent>0</servercontent>

<!-- REPORTING -->
<reporting>0</reporting>

<!-- TRACKING ID NUMBER -->
<trackingidnumber>0</trackingidnumber>

<!-- UNLOCK LEVELS -->
<unlocklevels>0</unlocklevels>

<!-- CANADA TRACKING -->
<Canadatracking>0</Canadatracking>