<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animals/carousel_baboon.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,550},{359,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,275}}</string>
                <key>sourceSize</key>
                <string>{359,275}</string>
            </dict>
            <key>animals/carousel_elephant_baby.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,212},{292,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,255}}</string>
                <key>sourceSize</key>
                <string>{292,255}</string>
            </dict>
            <key>animals/carousel_genet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{268,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,284}}</string>
                <key>sourceSize</key>
                <string>{268,284}</string>
            </dict>
            <key>animals/carousel_hyrax.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,469},{278,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,250}}</string>
                <key>sourceSize</key>
                <string>{278,250}</string>
            </dict>
            <key>animals/carousel_oryx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,385}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,385}}</string>
                <key>sourceSize</key>
                <string>{328,385}</string>
            </dict>
            <key>animals/carousel_porcupine_baby.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{298,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,208}}</string>
                <key>sourceSize</key>
                <string>{298,208}</string>
            </dict>
            <key>animals/carousel_serval.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{328,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,290}}</string>
                <key>sourceSize</key>
                <string>{328,290}</string>
            </dict>
            <key>animals/carousel_turtle.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,322},{383,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,226}}</string>
                <key>sourceSize</key>
                <string>{383,226}</string>
            </dict>
            <key>animals/carousel_wildebeest.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{385,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,318}}</string>
                <key>sourceSize</key>
                <string>{385,318}</string>
            </dict>
            <key>animals/carousel_zebra_baby.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,721},{266,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,275}}</string>
                <key>sourceSize</key>
                <string>{266,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animals_universal_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:581ce8b8003040412692c7204e0b49f9:b4bd166c4ae53b8b0898073fb2d9e832:d0696d4fcba6fc51269a933928cbf480$</string>
            <key>textureFileName</key>
            <string>animals_universal_2.png</string>
        </dict>
    </dict>
</plist>
