<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animals/carousel_baboon_baby.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,216},{159,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,215}}</string>
                <key>sourceSize</key>
                <string>{159,215}</string>
            </dict>
            <key>animals/carousel_buffalo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{418,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,292}}</string>
                <key>sourceSize</key>
                <string>{418,292}</string>
            </dict>
            <key>animals/carousel_eland.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,294},{385,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,343}}</string>
                <key>sourceSize</key>
                <string>{385,343}</string>
            </dict>
            <key>animals/carousel_gazelle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{205,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,382}}</string>
                <key>sourceSize</key>
                <string>{205,382}</string>
            </dict>
            <key>animals/carousel_giraffe_baby.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{128,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,318}}</string>
                <key>sourceSize</key>
                <string>{128,318}</string>
            </dict>
            <key>animals/carousel_hare.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,639},{216,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,306}}</string>
                <key>sourceSize</key>
                <string>{216,306}</string>
            </dict>
            <key>animals/carousel_hedgehog_baby.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,482},{207,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,181}}</string>
                <key>sourceSize</key>
                <string>{207,181}</string>
            </dict>
            <key>animals/carousel_hyrax_baby.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,296},{207,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,184}}</string>
                <key>sourceSize</key>
                <string>{207,184}</string>
            </dict>
            <key>animals/carousel_ostrich.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,665},{235,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,357}}</string>
                <key>sourceSize</key>
                <string>{235,357}</string>
            </dict>
            <key>animals/carousel_porcupine.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{405,290}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,290}}</string>
                <key>sourceSize</key>
                <string>{431,316}</string>
            </dict>
            <key>animals/carousel_zebra.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,639},{350,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,345}}</string>
                <key>sourceSize</key>
                <string>{350,345}</string>
            </dict>
            <key>question_mark_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,2},{181,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,212}}</string>
                <key>sourceSize</key>
                <string>{181,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animals_universal_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:581ce8b8003040412692c7204e0b49f9:b4bd166c4ae53b8b0898073fb2d9e832:d0696d4fcba6fc51269a933928cbf480$</string>
            <key>textureFileName</key>
            <string>animals_universal_1.png</string>
        </dict>
    </dict>
</plist>
