<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animals/carousel_aardvark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{531,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,267}}</string>
                <key>sourceSize</key>
                <string>{531,267}</string>
            </dict>
            <key>animals/carousel_bushbuck.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,622},{221,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,396}}</string>
                <key>sourceSize</key>
                <string>{221,396}</string>
            </dict>
            <key>animals/carousel_bushbuck_baby.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,576},{171,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,274}}</string>
                <key>sourceSize</key>
                <string>{171,274}</string>
            </dict>
            <key>animals/carousel_elephant.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,2},{475,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,380}}</string>
                <key>sourceSize</key>
                <string>{475,380}</string>
            </dict>
            <key>animals/carousel_giraffe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{113,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,398}}</string>
                <key>sourceSize</key>
                <string>{113,398}</string>
            </dict>
            <key>animals/carousel_hedgehog.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,622},{296,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,234}}</string>
                <key>sourceSize</key>
                <string>{296,234}</string>
            </dict>
            <key>animals/carousel_impala.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,622},{210,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,387}}</string>
                <key>sourceSize</key>
                <string>{210,387}</string>
            </dict>
            <key>animals/carousel_mongoose.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,384},{471,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,236}}</string>
                <key>sourceSize</key>
                <string>{471,236}</string>
            </dict>
            <key>animals/carousel_rhino.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{518,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,303}}</string>
                <key>sourceSize</key>
                <string>{518,303}</string>
            </dict>
            <key>carousel_button_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,852},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>carousel_button_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,920},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>question_mark_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,852},{83,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,66}}</string>
                <key>sourceSize</key>
                <string>{83,66}</string>
            </dict>
            <key>question_mark_bottom_beshte.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,927},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>question_mark_bottom_bunga.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,858},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>question_mark_bottom_fuli.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,933},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>question_mark_bottom_kion.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,858},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>question_mark_bottom_ono.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,933},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animals_universal_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:581ce8b8003040412692c7204e0b49f9:b4bd166c4ae53b8b0898073fb2d9e832:d0696d4fcba6fc51269a933928cbf480$</string>
            <key>textureFileName</key>
            <string>animals_universal_0.png</string>
        </dict>
    </dict>
</plist>
