<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animals/carousel_gazelle_baby.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{155,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,249}}</string>
                <key>sourceSize</key>
                <string>{155,249}</string>
            </dict>
            <key>animals/carousel_greyheadedbushshrike.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{273,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,212}}</string>
                <key>sourceSize</key>
                <string>{273,212}</string>
            </dict>
            <key>animals/carousel_mongoose_baby.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,216},{250,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,204}}</string>
                <key>sourceSize</key>
                <string>{250,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animals_universal_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:581ce8b8003040412692c7204e0b49f9:b4bd166c4ae53b8b0898073fb2d9e832:d0696d4fcba6fc51269a933928cbf480$</string>
            <key>textureFileName</key>
            <string>animals_universal_3.png</string>
        </dict>
    </dict>
</plist>
