<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lv4_obj10_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,120}</string>
                <key>spriteSourceSize</key>
                <string>{49,120}</string>
                <key>textureRect</key>
                <string>{{965,2},{49,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv4_obj10_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,65}</string>
                <key>spriteSourceSize</key>
                <string>{110,65}</string>
                <key>textureRect</key>
                <string>{{2,708},{110,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv4_obj3_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,116}</string>
                <key>spriteSourceSize</key>
                <string>{46,116}</string>
                <key>textureRect</key>
                <string>{{965,247},{46,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv4_obj3_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,65}</string>
                <key>spriteSourceSize</key>
                <string>{110,65}</string>
                <key>textureRect</key>
                <string>{{90,600},{110,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv4_obj4_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,119}</string>
                <key>spriteSourceSize</key>
                <string>{47,119}</string>
                <key>textureRect</key>
                <string>{{965,125},{47,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv4_obj4_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,65}</string>
                <key>spriteSourceSize</key>
                <string>{110,65}</string>
                <key>textureRect</key>
                <string>{{2,776},{110,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv4_obj5_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,62}</string>
                <key>spriteSourceSize</key>
                <string>{39,62}</string>
                <key>textureRect</key>
                <string>{{965,479},{39,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv4_obj5_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,65}</string>
                <key>spriteSourceSize</key>
                <string>{110,65}</string>
                <key>textureRect</key>
                <string>{{2,844},{110,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv4_obj6_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,65}</string>
                <key>spriteSourceSize</key>
                <string>{110,65}</string>
                <key>textureRect</key>
                <string>{{2,912},{110,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv4_obj7_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,53}</string>
                <key>spriteSourceSize</key>
                <string>{39,53}</string>
                <key>textureRect</key>
                <string>{{965,544},{39,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv4_obj7_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,65}</string>
                <key>spriteSourceSize</key>
                <string>{110,65}</string>
                <key>textureRect</key>
                <string>{{115,668},{110,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv4_obj8_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,105}</string>
                <key>spriteSourceSize</key>
                <string>{85,105}</string>
                <key>textureRect</key>
                <string>{{2,600},{85,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv4_obj8_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,65}</string>
                <key>spriteSourceSize</key>
                <string>{110,65}</string>
                <key>textureRect</key>
                <string>{{203,600},{110,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv4_obj9_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,110}</string>
                <key>spriteSourceSize</key>
                <string>{40,110}</string>
                <key>textureRect</key>
                <string>{{965,366},{40,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv4_obj9_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,65}</string>
                <key>spriteSourceSize</key>
                <string>{110,65}</string>
                <key>textureRect</key>
                <string>{{115,736},{110,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv4_story1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,560}</string>
                <key>spriteSourceSize</key>
                <string>{960,560}</string>
                <key>textureRect</key>
                <string>{{2,2},{960,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>g0_level4_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:044bf44c1d364fabd5777ddd697fa274:1f07ea4cc2031f80750007a54c82366a:2fbd01af143dc7b468b4398950941167$</string>
            <key>textureFileName</key>
            <string>g0_level4_0.png</string>
        </dict>
    </dict>
</plist>
