<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lv_5_background.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,560}</string>
                <key>spriteSourceSize</key>
                <string>{960,560}</string>
                <key>textureRect</key>
                <string>{{2,2},{960,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>g0_level5_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69c0f1faa2e436ff3ce4d8411d4c1389:73128a45b41b0ba0497cba1bbfbfa91d:aa027fee61ba304f0acf29601d2c6c42$</string>
            <key>textureFileName</key>
            <string>g0_level5_1.png</string>
        </dict>
    </dict>
</plist>
