<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lv3_obj10_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,140}</string>
                <key>spriteSourceSize</key>
                <string>{58,140}</string>
                <key>textureRect</key>
                <string>{{81,870},{58,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv3_obj10_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,65}</string>
                <key>spriteSourceSize</key>
                <string>{110,65}</string>
                <key>textureRect</key>
                <string>{{132,767},{110,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv3_obj3_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,72}</string>
                <key>spriteSourceSize</key>
                <string>{82,72}</string>
                <key>textureRect</key>
                <string>{{132,692},{82,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv3_obj3_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,65}</string>
                <key>spriteSourceSize</key>
                <string>{110,65}</string>
                <key>textureRect</key>
                <string>{{193,565},{110,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv3_obj4_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,159}</string>
                <key>spriteSourceSize</key>
                <string>{84,159}</string>
                <key>textureRect</key>
                <string>{{2,565},{84,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv3_obj4_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,65}</string>
                <key>spriteSourceSize</key>
                <string>{110,65}</string>
                <key>textureRect</key>
                <string>{{217,633},{110,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv3_obj5_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,140}</string>
                <key>spriteSourceSize</key>
                <string>{76,140}</string>
                <key>textureRect</key>
                <string>{{2,882},{76,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv3_obj5_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,65}</string>
                <key>spriteSourceSize</key>
                <string>{110,65}</string>
                <key>textureRect</key>
                <string>{{306,565},{110,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv3_obj6_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,140}</string>
                <key>spriteSourceSize</key>
                <string>{61,140}</string>
                <key>textureRect</key>
                <string>{{68,727},{61,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv3_obj6_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,65}</string>
                <key>spriteSourceSize</key>
                <string>{110,65}</string>
                <key>textureRect</key>
                <string>{{142,835},{110,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv3_obj7_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,63}</string>
                <key>spriteSourceSize</key>
                <string>{40,63}</string>
                <key>textureRect</key>
                <string>{{965,2},{40,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv3_obj7_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,65}</string>
                <key>spriteSourceSize</key>
                <string>{110,65}</string>
                <key>textureRect</key>
                <string>{{142,903},{110,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv3_obj8_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,124}</string>
                <key>spriteSourceSize</key>
                <string>{101,124}</string>
                <key>textureRect</key>
                <string>{{89,565},{101,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv3_obj8_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,65}</string>
                <key>spriteSourceSize</key>
                <string>{110,65}</string>
                <key>textureRect</key>
                <string>{{245,701},{110,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv3_obj9_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,152}</string>
                <key>spriteSourceSize</key>
                <string>{63,152}</string>
                <key>textureRect</key>
                <string>{{2,727},{63,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv3_obj9_image_alt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,65}</string>
                <key>spriteSourceSize</key>
                <string>{110,65}</string>
                <key>textureRect</key>
                <string>{{330,633},{110,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv3_story1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,560}</string>
                <key>spriteSourceSize</key>
                <string>{960,560}</string>
                <key>textureRect</key>
                <string>{{2,2},{960,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>g0_level3_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ae0eebda8088e48ae27dfde1e5ae114:d10d0b459960108e35f8c7e05a48b1b4:536618fdf52b5ea5043fe7787f6eaced$</string>
            <key>textureFileName</key>
            <string>g0_level3_0.png</string>
        </dict>
    </dict>
</plist>
