<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lv4_obj6_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,116}</string>
                <key>spriteSourceSize</key>
                <string>{36,116}</string>
                <key>textureRect</key>
                <string>{{965,2},{36,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_4_background.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,560}</string>
                <key>spriteSourceSize</key>
                <string>{960,560}</string>
                <key>textureRect</key>
                <string>{{2,2},{960,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>g0_level4_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:044bf44c1d364fabd5777ddd697fa274:1f07ea4cc2031f80750007a54c82366a:2fbd01af143dc7b468b4398950941167$</string>
            <key>textureFileName</key>
            <string>g0_level4_1.png</string>
        </dict>
    </dict>
</plist>
