<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,272}</string>
                <key>spriteSourceSize</key>
                <string>{270,272}</string>
                <key>textureRect</key>
                <string>{{2,565},{270,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_level_locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{2,840},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_select_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{965,2},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_select_star_earned.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,17}</string>
                <key>spriteSourceSize</key>
                <string>{19,17}</string>
                <key>textureRect</key>
                <string>{{987,2},{19,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>levelselect_bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,560}</string>
                <key>spriteSourceSize</key>
                <string>{960,560}</string>
                <key>textureRect</key>
                <string>{{2,2},{960,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_3_idButtonOverlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{275,565},{300,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_4_idButtonOverlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{275,768},{300,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lv_5_idButtonOverlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{578,565},{300,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>initial_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19b903611bd2054be4b2ef296715c9c2:f48640fa6f3910ce6b7ec7f002083cfe:1fc1a61833bf5ff4d3f7a0dfe3a43a96$</string>
            <key>textureFileName</key>
            <string>initial_0.png</string>
        </dict>
    </dict>
</plist>
