<config>

   <!-- SERVICES -->
   <services>
      <service type="localStorage" enabled="false"/>
   </services>

   <!-- LOCALISATION SETTING - SET WITH LANGUAGE CODE IN BELOW LIST -->
		<!--

		English: en (Latin)
		Turkish: tr (Latin)
		Portuguese: pt (Latin)
		French: fr (Latin)
		Italian: it (Latin)
		Danish: da (Latin)
		Dutch: nl (Latin)
		German: de (Latin)
		Norwegian: no (Latin)
		Swedish: se (Latin)
		Polish: pl (Latin)
		Romanian: ro (Latin)
		Hungarian: hu (Cyrillic)
		Russian: ru (Cyrillic)
		Arabic: ar (Arabic)


		-->

   <localization>
	<languagecode>en</languagecode>
   </localization>

</config>