<config>
	
	<!-- CODE UNLOCK -->
	<unlockEnabled>true</unlockEnabled> <!-- Set whether or not to allow the use of the code unlock screen -->
	<unlockCode>00000</unlockCode> <!-- Set the code unlock number here, should be less than 10 digits and you can use the number 0 -->
	
    <!-- SERVICES -->
    <!-- Enable, disable, and configure services here -->
    
	<services>
		<service type="analytics" enabled="false" id="x" />
		<service type="canadaTracking" enabled="false" showGameTitle="SpongeBob: It's A SpongeBob Christmas"/>
		<service type="nickavatar" enabled="false" url="http://54.243.42.37:8080/nick/avatar" />
		<service type="leaderboard" enabled="false" url="http://hs.nick.com/scores/" keyword="power-rangers-samurai-super-samurai" />	
		<service type="omniture" enabled="false" />
		<service type="kontagent" enabled="false" id_qa="x" id_live="x" enabledQA="true" url="http://www.nick.com/games/data/spongebob/spongebob-gone-missing/embed/"/>	
	</services>
	
	<!-- ACHIEVEMENTS -->
	<achievements enabled="true"/>
		
	<!-- LOCALIZATION -->
	      
    <localization>
    	<region>en</region>
    </localization>
    	
    <!-- MINIGAME SETTING -->
    <!--  
    0 - None.
    1 - Swat
    2 - Match 3
    3 - Pong
    -->
    <minigame type="0"/>
    	
    <!-- CHUNKS -->
    <!-- Define bundles of folders and other chunks to load -->
    
    <chunks>
    	<!-- EX
    	<chunk id="chunk">
			<pack>load_part_1</pack> - loads a folder in assets named "load_part_1"
			<pack>load_part_2</pack> - loads a folder in assets named "load_part_2"
			<chunk>other_chunk</chunk> - loads another chunk named "other_chunk" which will have its own list of folders in assets
		</chunk>
    	-->
    	
    	<chunk id="preload">
    		<pack>preload</pack>
    	</chunk>
    	
    	<chunk id="preload_game_1">
    	    <pack>minigame_universal</pack>
    		<pack>minigame_whack</pack>
    	</chunk>
    	
    	<chunk id="preload_game_2">
    	    <pack>minigame_universal</pack>
    		<pack>minigame_slots</pack>
    	</chunk>
    	
    	<chunk id="preload_game_3">
    	    <pack>minigame_universal</pack>
    		<pack>minigame_pong</pack>
    	</chunk>
    	
    	<chunk id="initial_sd">
    		<pack>initial_universal</pack>
    		<pack>initial_sd</pack>
    	</chunk>
    	
    	<chunk id="initial_hd">
    		<pack>initial_universal</pack>
    		<pack>initial_hd</pack>     
    	</chunk>
    	
    	<chunk id="initial_audio_with_soundfx">
    		<pack>initial_music</pack>
    		<pack>initial_soundfx</pack>
    	</chunk>
    	
    	<chunk id="initial_audio_only_music">
    		<pack>initial_music</pack>
    	</chunk>
    	
    	<chunk id="gameplay_sd">
    		<pack>gameplay_universal</pack>
    		<pack>gameplay_sd</pack>
    	</chunk>
    	
    	<chunk id="gameplay_hd">
    		<pack>gameplay_universal</pack>
    		<pack>gameplay_hd</pack>
    	</chunk>
    	
    	<chunk id="gameplay_audio_with_soundfx">
    		<pack>gameplay_music</pack>
    		<pack>gameplay_soundfx</pack>
    	</chunk>
    	
    	<chunk id="gameplay_audio_only_music">
    		<pack>gameplay_music</pack>
    	</chunk>

        <!-- END OF CHUNKS -->
    </chunks>
    
    <!-- QUALITY / BENCHMARKING -->
    <!-- index -->
    <!-- 	-1: Self determine via flambe benchmark -->
    <!-- 	 0: Lowest quality -->
    <!-- 	As the index increases the better the quality -->
    <!-- 	-1, 0, and 1 are the normal options, but more can be added if necessary (this is rare) -->
    <!-- forceLowQualityMobile -->
    <!-- 	Only affects html touch platforms -->
    <!-- 	False, do not force low quality -->
    <!-- 	True, force low quality -->
    <quality index="0" forceLowQualityMobile="true"/>
    
</config>