@font-face {
    font-family: 'Megalopolis';
    src: url('Assets/megalopolisextra-webfont.eot');
    src: url('Assets/megalopolisextra-webfont.eot?#iefix') format('embedded-opentype'),
         url('Assets/megalopolisextra-webfont.woff') format('woff'),
         url('Assets/megalopolisextra-webfont.ttf') format('truetype'),
         url('Assets/megalopolisextra-webfont.svg#megalopolis_extraregular') format('svg');
    font-weight: normal;
    font-style: normal;
}