<data>	
	<!-- URL is used for Anti-Piracy Redirect -->
	<url>http://www.nickjr.com/rusty-rivets/games/bits-on-the-fritz/</url>

	<!-- NOTE -->
	<!-- THIS GAME MUST BE SET AS locked="false" because it is the first game to be opened up.  Not doing this will result in a hard lock where users can't progress after the tutorial -->
	<show name="kart_game" locked="false"/>
	<!-- END NOTE -->
	
	<show name="contraption_game" locked="false"/>
	<show name="building_game" locked="false"/>
	<show name="cleanup_game" locked="false"/>

	<!-- Only enter values of "false" or "true" inside these elements -->
	<track>true</track>
	
	<sound>true</sound>
	<music>true</music>
	<vo>false</vo>
	<muteall>false</muteall>
	
	<debug>false</debug>
	<fps>false</fps>
	
	<skiptutorials>false</skiptutorials>
	<skipcutscenes>true</skipcutscenes>
	<playcutsenes>false</playcutsenes>
	
</data>