@font-face {
    font-family: 'Placard MT Disney Channel';
    src: url('assets/fonts/placardmtdisneychannel.woff2') format('woff2'),
        url('assets/fonts/placardmtdisneychannel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
