<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cargo-bay-cross-section.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{610,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,444}}</string>
                <key>sourceSize</key>
                <string>{610,444}</string>
            </dict>
            <key>cargo-bay-inside.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{453,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,400}}</string>
                <key>sourceSize</key>
                <string>{453,400}</string>
            </dict>
            <key>cargo-box-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,448},{99,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,102}}</string>
                <key>sourceSize</key>
                <string>{99,102}</string>
            </dict>
            <key>cargo-box-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,448},{112,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,87}}</string>
                <key>sourceSize</key>
                <string>{112,87}</string>
            </dict>
            <key>cargo-box-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,448},{112,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,88}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
            <key>cargo-box-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,448},{119,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,86}}</string>
                <key>sourceSize</key>
                <string>{119,86}</string>
            </dict>
            <key>cargo-box-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,448},{87,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,80}}</string>
                <key>sourceSize</key>
                <string>{87,80}</string>
            </dict>
            <key>cargo-box-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{110,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,61}}</string>
                <key>sourceSize</key>
                <string>{110,61}</string>
            </dict>
            <key>cargo-door-rotator.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,850},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>cargo-door.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,850},{411,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,85}}</string>
                <key>sourceSize</key>
                <string>{411,85}</string>
            </dict>
            <key>cargo-help-arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,850},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites_cargocrane.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64f4cd0c6c8ecefd88b3d8aaa2ae064c:9c22519ad8a419cf39ea3e75a57ba945:c77ba2c7ea1255d5524b8cb5e0e9a7a6$</string>
            <key>textureFileName</key>
            <string>sprites_cargocrane.png</string>
        </dict>
    </dict>
</plist>
