<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mg9_RedCape_Lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{284,249}}</string>
                <key>offset</key>
                <string>{197,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{553,18},{284,249}}</string>
                <key>sourceSize</key>
                <string>{996,561}</string>
            </dict>
            <key>mg9_RedCape_Rip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,40}}</string>
                <key>sourceSize</key>
                <string>{344,40}</string>
            </dict>
            <key>mg9_RedCape_RipDotted.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{338,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,39}}</string>
                <key>sourceSize</key>
                <string>{338,39}</string>
            </dict>
            <key>mg9_RedCape_Stitch.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{19,45}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{19,45}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>mg9_RedCape_Win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{276,257}}</string>
                <key>offset</key>
                <string>{191,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{551,35},{276,257}}</string>
                <key>sourceSize</key>
                <string>{996,561}</string>
            </dict>
            <key>mg9_Red_Blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{285,140}}</string>
                <key>offset</key>
                <string>{192,170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,40},{285,140}}</string>
                <key>sourceSize</key>
                <string>{995,560}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minigame_9_0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c234203321b034eef7e31bc64983698:a09054a907d1b325df0ef10dd499ccfc:76b6462b6fccf698ad84fd7ed2e07a18$</string>
            <key>textureFileName</key>
            <string>minigame_9_0.png</string>
        </dict>
    </dict>
</plist>
