<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_gameplay.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{996,560}</string>
                <key>spriteSourceSize</key>
                <string>{996,560}</string>
                <key>textureRect</key>
                <string>{{2,2},{996,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_arrow_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{945,744},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_arrow_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{945,817},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{978,699},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_continue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,120}</string>
                <key>spriteSourceSize</key>
                <string>{279,120}</string>
                <key>textureRect</key>
                <string>{{308,868},{279,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{818,662},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_replay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{818,718},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_replay_result.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{818,718},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{818,774},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_story_next_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,120}</string>
                <key>spriteSourceSize</key>
                <string>{279,120}</string>
                <key>textureRect</key>
                <string>{{308,868},{279,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_story_skip_glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,120}</string>
                <key>spriteSourceSize</key>
                <string>{279,120}</string>
                <key>textureRect</key>
                <string>{{308,868},{279,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_take_quiz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,53}</string>
                <key>spriteSourceSize</key>
                <string>{124,53}</string>
                <key>textureRect</key>
                <string>{{818,662},{124,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>checkmark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{515,565},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>temp_match_answer1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{2,868},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>temp_match_answer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{155,868},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>temp_match_indicator.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,41}</string>
                <key>spriteSourceSize</key>
                <string>{30,41}</string>
                <key>textureRect</key>
                <string>{{982,655},{30,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>temp_slider_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{982,565},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>temp_slider_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{1001,2},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>template_circle_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{1001,25},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>template_circle_filled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{1001,41},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timer_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,50}</string>
                <key>spriteSourceSize</key>
                <string>{115,50}</string>
                <key>textureRect</key>
                <string>{{818,830},{115,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_rec_checked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{945,662},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_rec_empty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{945,703},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_share_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,300}</string>
                <key>spriteSourceSize</key>
                <string>{510,300}</string>
                <key>textureRect</key>
                <string>{{2,565},{510,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_strikes_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,94}</string>
                <key>spriteSourceSize</key>
                <string>{161,94}</string>
                <key>textureRect</key>
                <string>{{818,565},{161,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_strikes_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{982,618},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameplay_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b6e4f5499f6d30d6206df143fa46d36:9d3f144ec615a69116f297d65ad18b6c:5c25ae6c14c05f4246096cd8398952b3$</string>
            <key>textureFileName</key>
            <string>gameplay_0.png</string>
        </dict>
    </dict>
</plist>
