<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_promoscreen.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{996,560}</string>
                <key>spriteSourceSize</key>
                <string>{996,560}</string>
                <key>textureRect</key>
                <string>{{2,2},{996,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameplay_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b6e4f5499f6d30d6206df143fa46d36:9d3f144ec615a69116f297d65ad18b6c:5c25ae6c14c05f4246096cd8398952b3$</string>
            <key>textureFileName</key>
            <string>gameplay_1.png</string>
        </dict>
    </dict>
</plist>
