<?xml version="1.0" encoding="UTF-8"?>

	<!-- Note : To control the Nickelodeon anti-piracy check, use assets/preloader/config.ini -->
	
    <!-- Ensure YES/NO settings are in ALL CAPS!! -->

<settings>

	<!-- Change to YES to enable click tracking (for Canadian region) -->
	<tracking>NO</tracking>

	<!-- Change to NO to disable the rotate screen -->
	<rotateScreen>YES</rotateScreen>

	<!-- Change to the width (in pixels) below which the game will start to scale on smaller devices/containers -->
	<scaleBelow>960</scaleBelow>

	<!-- Change to YES to show FPS in the top left corner of the screen -->
	<showFPS>NO</showFPS>

	<!-- Used for internal AOP testing only! -->
	<testMode>NO</testMode>

	<!-- YES for English regions, NO for non-English -->
	<english>YES</english>

	<!-- YES for Trivia, NO for gold key pickups -->
	<!-- SHOULD NOW ALWAYS BE NO SINCE ACHIVEMENT WAS CHANGED TO COLLECT GOLDEN ITEMS!!! -->
	<trivia>NO</trivia>

	<!-- Dates/times for each of the rooms/levels to unlock -->
	<!-- Times are LOCAL (to the player) and format is "yyyy-mm-dd hh:mm:ss" -->
	<unlockRoom2><![CDATA[2017-05-23 06:00:00]]></unlockRoom2>
	<unlockRoom3><![CDATA[2017-05-24 06:00:00]]></unlockRoom3>
	<unlockRoom4><![CDATA[2017-05-25 12:00:00]]></unlockRoom4>
	<unlockRoom5><![CDATA[2017-05-26 06:00:00]]></unlockRoom5>

</settings>