@import url(https://fast.fonts.net/t/1.css?apiType=css&projectid=527e13bf-5041-4f3d-99fa-e5331af27b3a);

@font-face{ 
    font-family: "Century Gothic Bold"; 
    src: local('☺'), url('https://api2.fonts.com/FontSubsetter.ashx?d44f19a684109620e4841471a790e81836d2d8012f816aa8619c04e4569bd48106e364198b639950059046ac37a12a78934e9ebf90e93750013b109a633d2eb09bd9eef588df1e43dcb4e8365ddd7a5f&fctypeId=3&fcId=66a4da99-024e-406d-91ca-40af984c066f&languages=en,fi,fr,de,pt,es&ot=false&projectId=527e13bf-5041-4f3d-99fa-e5331af27b3a') format('woff');
    font-weight: bold;
}
@font-face{ 
    font-family: "Century Gothic"; 
    src: local('☺'), url('https://api2.fonts.com/FontSubsetter.ashx?d44f19a684109620e4841471a790e81836d2d8012f816aa8619c04e4569bd48106e364198b639950059046ac37a12a78934e9ebf90e93750013b109a633d2eb09bd9eef588df1e43dcb4e8365ddd7a5f&fctypeId=3&fcId=5e350022-0249-4901-b91d-d7fb02f3106c&languages=en,fi,fr,de,pt,es&ot=false&projectId=527e13bf-5041-4f3d-99fa-e5331af27b3a') format('woff');
}

/*
@font-face{ 
    font-family: "Century Gothic Bold"; 
    src: local('☺'), url('../media/fonts/CenturyGothicStd-Bold.woff') format('woff');
    font-weight: bold;
}
@font-face{ 
    font-family: "Century Gothic"; 
    src: local('☺'), url('../media/fonts/CenturyGothicStd.woff') format('woff');
}
*/