<?xml version="1.0" encoding="UTF-8"?>
<config>

    <!-- localisation -->
    <locale>en-GB</locale>

    <!-- debug -->
    <showFPS>true</showFPS>
    
    <!-- english VO toggle -->
    <vo>true</vo>

    <!-- region for glyph suport (currently all supported in single font) -->
    <region>en</region>

    <!-- services -->
    <services>
        <service type="eventReporting" enabled="true" showGameTitle="I Am Frankie: The iBot Challenge"/>
    </services>
    
</config>