<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beshte_story_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,720}}</string>
                <key>sourceSize</key>
                <string>{1024,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>story_beshte_jpgs_1.jpg</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e51de5dacd58b248456e09365cf89ee6:1829b22c6cbbddfd25caeb0b9f1cba92:e314d2e567ce07012efc7daef66a7ba3$</string>
            <key>textureFileName</key>
            <string>story_beshte_jpgs_1.jpg</string>
        </dict>
    </dict>
</plist>
