@media (min-width : 993px) and (max-width : 1200px) {
    .ad-wrap img {
        max-width: 100%;
        height: auto
    }
    .ad-wrap {
        height: auto
    }
    .thmb-crsl .owl-controls {
        left: -50px
    }
    #owl-show {
        margin-left: 50px;
        width: 75%;
    }
    .show-wrap {
        margin: 0
    }
    .tickercontainer {
        width: 62%
    }
    .show-carousel .btn {
        top: 38px
    }
    .main-crsl-wrap {
        width: 65%
    }
    .thmb-crsl .owl-nav div {
        height: 40px;
        line-height: 40px
    }
    .featured .inner-crsl-wrap{
        width: 67%;
    }
    .featured .inner-crsl img{
        height: 250px;
    }
}

@media (max-width: 1024px) {
}

@media (min-width: 993px) {
    .inrgameslide .des-pnl{ min-height:87px}
    .show-wrap {
        margin: 0 -15px
    }
    .list-unstyled > li .txt-orange {
        clear: left;
        color: #f58320;
        display: inline-block;
        /*float: left;
        height: 25px;
        line-height: 25px;    
        width: 25px;*/
    }
    .list-unstyled > li {
        margin-bottom: 10px;
    }
    .crsl-wrap .inrvdoslide .caption i.pvideo{ font-size:20px}
    .inrvdoslide .des-pnl{ min-height:78px}
    .mtgrnzcvr .inrvdoslide .des-pnl{ min-height: inherit}
}

@media (min-width: 768px) and (max-width: 992px) {
    .ad-wrap img{ width:94%}
    .sublogo img{ width:70%}
    .sublogo{ top:10px}
    .cloud-pnl{ height:114px; background-size:100%; width:190px; top: 70px;}
    .cloud-pnl h3{ font-size:16px; padding:2px 0 0 32px}
    .cloud-pnl li a{ font-size:13px; font-weight:700}
    .cloud-pnl li{ margin-left:0}
    .schedule{ top:157px; font-size:16px}
    .submenu{ top:227px; background-size:100%; text-align:left}
    .submenu ul{ margin:0 -15px; padding:0}
    .submenu li{text-align: center;line-height:44px}
    .submenu li.gm{ left:0; width: 119px;}
    .submenu li.vd{ left:0; width: 109px;}
    .submenu li.dw{ left:0; width:120px;}
    .submenu li.ab{ left:0; width: 117px;}
    .r-tabs .r-tabs-panel {
        height: inherit;
    }
    .navbar-brand.posn {
        position: inherit
    }
    .iframegame iframe {
        height: 500px
    }
    .ad-wrap {
        width: 100%;
        height: auto
    }
    .main-crsl img {
        height: auto !important
    }
    img {
        max-width: 100%;
        height: auto
    }
    #header .navbar-default {
        font: 14px "digital_sans_ef_medium"
    }
    .ticker-wrap {
        font-size: 12px
    }
    .thmb-crsl .owl-nav div {
        height: 32px;
        line-height: 34px;
        font-size: 20px
    }
    .show-carousel .btn {
        top: 20px
    }
    .thmb-crsl .owl-controls {
        left: -40px
    }
    #owl-show {
        width: 70%;
        margin-left: 40px
    }
    .show-wrap {
        margin: 0
    }
    .tickercontainer {
        margin-left: 21%;
        width: 58%
    }
    .top-ad figcaption, .rgt-bnr-wrap, .bottom-ad .ad-wrap.ad-tl {
        display: none
    }
    .sectionbheem #header .navbar-collapse{ padding-left:0}
    .sectionbheem #header{ text-align:left}
    #header, .navbar-nav {
        text-align: center;
        width: 100%
    }
    .navbar-header, .navbar-nav > li, .main-crsl-wrap {
        display: inline-block;
        float: none;
    }
    .sectionbheem .navbar-header{ float:left; margin-left:-15px}
    .sectionbheem .pull-right {
        float: right !important	
    }
    .sectionbheem .navbar-brand > img{ width:80%}
    .pull-right {
        float: none !important;
        display: inline-block
    }
    #header .navbar-brand {
        margin-top: 0;
        height: auto;
        margin-bottom: 10px
    }
    .main-crsl-wrap {
        width: 100%
    }
    .bottom-ad .ad-wrap:last-child {
        width: 98%;
        margin-left: 0
    }
    .bottom-ad {
        text-align: left
    }
    .btm-txt-wrap {
        font-size: 16px;
        font-weight: 400
    }
    .btm-txt-wrap strong {
        font-weight: 600
    }
    .star {
        text-align: left
    }
    .startb {
        text-align: right
    }
    #footer .fa-star {
        margin-right: 5%
    }
    .url small {
        font-size: 58%
    }
    .crsl-wrap .owl-controls .owl-prev {
        right: 132px
    }
    .more-link a {
        width: 75px
    }
    .crsl-wrap .owl-controls .owl-next {
        right: 85px
    }
    .crsl-wrap .owl-controls .owl-prev, .crsl-wrap .owl-controls .owl-next {
        font-size: 27px
    }
    .game-ad {
        padding: 15px
    }
    .sectionbheem.top-banner{background-image: url(https://s3.ap-south-1.amazonaws.com/pogons3/images/patternclr.jpg), url("https://s3.ap-south-1.amazonaws.com/pogons3/images/bheem-tab-bg.jpg");
                             background-position: left bottom, center top;
                             background-repeat: repeat-x, no-repeat;
                             min-height: 510px}
    .inner-crsl-wrap{ width:100%}
    .ad-box{ height:auto}
    .inrgameslide .des-pnl{ min-height:87px}
    .inrvdoslide .des-pnl{ min-height:78px}
}

@media (min-width:768px) {
    #page-content {
        left: 0!important
    }
    .navbar.navbar-fixed-top.slide-active {
        position: fixed
    }
    .navbar-header {
        left: 0!important
    }
    #slide-nav #slidemenu {
        display: none !important
    }
    .navbar-inverse .navbar-brand {
        display: none
    }
    .main-crsl .carousel-caption {
        font-size: 16px
    }
    .ad-wrap.ad-tc > a {
        display: inline-block
    }
}

@media (max-width: 767px) {    
    .p0-mb{
        padding: 0px !important;
    }
    .jgu-bg,
    .cb-bg,
    .chutki-bg,
    .mr-bg,
    .tj-bg{
        display:none;
    }
    #highlightCarousel img{
        width: 100%;
    }
    /*    .more-link a{ height:1.8em	}*/
    .ylwgrd .des-pnl h4, .grnzcvr .des-pnl h4{ font-size:13px}
    .sublogo {
        right: 10px;
        top: 50px;
    }
    .submenu{ 
        top:auto; 
        bottom: 0px;
        left:0px;
        right: 0;
        margin: auto;
        height: 44px;  
        background: url(https://s3.ap-south-1.amazonaws.com/pogons3/images/submenu-mob-bg.png) no-repeat;
        padding: 0px;
        width: 314px;
        background-size: 100%;
    }
    .submenu ul{
        margin: 19px auto 0px;
        padding: 0;
        text-align: center;
        width: 314px;
    }
    .submenu li{
        text-align: center; 
        line-height:inherit;
        font-size:13px;
        width:70px; 
        float: left;
    }
    .submenu li > a{
        padding: 0px !important;
    }
    .submenu li.gm{ width:81px;left: 0;}
    .submenu li.vd{ width:72px;left: 0;}
    .submenu li.dw{ width:77px;left: 0;}
    .submenu li.ab{ width: 83px;left: 0;}
    #slide-nav.navbar-inverse{ display:block}
    .featured .rgt-bnr-wrap{ width:100%;text-align:center}
    .popular-game .item-thumb{ display:block}
    .sectionbheem.top-banner{
        background-image: url(https://s3.ap-south-1.amazonaws.com/pogons3/images/patternclr.jpg), url("https://s3.ap-south-1.amazonaws.com/pogons3/images/bheem-mb-bg.jpg");
        background-position: left bottom, center top;
        background-size: auto, cover;
        background-repeat: repeat-x, no-repeat;
        min-height: 286px}	
    .inner-crsl-wrap{ width:100%}

    /* Accordion responsive breakpoint */
    .r-tabs .r-tabs-nav, .cloud-pnl, .schedule {
        display: none;
    }
    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
    .ad-wrap.ad-tc > a {
        display: inline-block
    }
    .game-ad {
        padding: 15px
    }
    .iframegame iframe {
        height: 400px
    }
    .navbar-header.slide-active {
        z-index: 9999
    }
    .main-crsl .carousel-caption {
        padding: 2px 19% 5px 5px;
    }
    .ad-wrap {
        width: 100%
    }
    .bottom-ad .ad-wrap {
        width: auto
    }
    #slide-nav .container {
        margin: 0;
        padding: 0!important;
    }
    #slide-nav .navbar-header {
        margin: 0 auto;
        padding: 0 15px;
    }
    #slide-nav .navbar.slide-active {
        position: absolute;
        width: 70%;
        top: -1px;
        z-index: 1000;
    }
    #slide-nav #slidemenu {
        background: #fff;
        left: -100%;
        width: 70%;
        min-width: 0;
        position: absolute;
        padding-left: 0;
        z-index: 2;
        top: -8px;
        margin: 0;
    }
    #slide-nav #slidemenu .navbar-nav {
        min-width: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px;
        margin: 0;
    }
    #slide-nav {
        border-top: 0
    }
    /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
    #slide-nav #navbar-height-col {
        position: fixed;
        top: 0;
        height: 100%;
        width: 70%;
        left: -70%;
        background: #eee;
    }
    #slide-nav.navbar-inverse #navbar-height-col {
        background: #fff;
        z-index: 1;
        border: 0;
    }
    .logohd {
        text-align: center;
        margin: 20px 0 20px
    }
    .logohd img {
        display: inline;
        height: 40px
    }
    #header .navbar-brand {
        display: inline-block;
        float: none;
        width: 70%;
    }
    .navbar-nav img {
        max-width: inherit;
        width: 80%;
    }
    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
        background-color: #fff;
        color: #414141;
        padding: 0
    }
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #414141;
    }
    .nav > li {
        text-align: left;
        font-size: 18px;
        font-weight: 600;
        padding-left: 10px;
        text-transform: uppercase;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 10px
    }
    .nav > li:hover a {
        color: #414141;
    }
    .nav > li:hover img {
        transform: rotate(20deg)
    }
    .nav > li:last-child {
        border-bottom: none
    }
    .nav > li > a {
        display: inline-block;
        vertical-align: middle;
        color: #9d9d9d
    }
    .navbar-header {
        text-align: center;
        margin-left: 10%
    }
    .main-crsl img {
        height: auto !important
    }
    .rgt-bnr-wrap {
        display: none;
    }
    .slidetxt h3{
        margin-top: 0px;
    }
    .right-ad {
        width: 100%;
        display: inline-block
    }
    .slidetxt{
        padding: 5% 0px 1%;
    }
    #highlightCarousel .carousel-indicators{
        text-align: center;
        right: 0;
        margin: auto;
        padding-bottom: 3%;
        bottom: 0px;
        position: relative;
    }
    .highlights h2{
        margin-top: 20px;
    }
    .top-ad figcaption, .top-ad, #show-warea, .ad-btm, .ftr-btm .star {
        display: none
    }
    .main-crsl-wrap {
        width: 100%
    }
    .main-crsl .carousel-caption {
        font-size: 11px;
        height: 38px
    }
    .main-crsl .carousel-control {
        height: 20px;
        width: 30px;
        line-height: 20px;
        font-size: 14px;
    }
    .main-crsl .carousel-control.left, .main-crsl .carousel-control.right {
        bottom: 10px
    }
    .main-crsl .carousel-control.left {
        right: 27px
    }
    .navbar-toggle {
        float: left;
        margin-top: 20px;
        border: none;
        padding: 9px 10px
    }
    .navbar-toggle .icon-bar {
        width: 35px;
        height: 3px
    }
    .navbar-toggle .icon-bar + .icon-bar {
        margin-top: 5px
    }
    .navbar-brand > img {
        display: inline;
        height: 40px
    }
    #header .navbar-brand {
        margin-top: 0;
        margin-bottom: 30px;
        text-align: center;
        width: 90%;
    }
    #header .navbar-default {
        border-bottom: none;
        margin-top: 0px!important;
        padding-bottom: 0px;
    }
    .banner-txt{
        height: 216px;
        margin: 10px auto 0;
        position: relative;
        width: 320px;
    }
    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #c8234a;
    }
    .crsl-wrap h2 {
        font-size: 32px;
        line-height: 35px;
    }
    .crsl-wrap .carousel-control {
        height: 28px;
        line-height: 28px;
        font-size: 18px;
        width: 30px
    }
    .crsl-wrap .carousel-control.right {
        right: 80px
    }
    .crsl-wrap .carousel-control.left {
        right: 110px
    }
    .bottom-ad .ad-wrap:last-child {
        display: none
    }
    .btm-txt-wrap {
        font-size: 16px;
        line-height: 18px;
        font-weight: 400
    }
    .btm-txt-wrap strong {
        font-weight: 600
    }
    .nav-links li {
        margin-bottom: 7px
    }
    #page-content.slide-active {
        background: #fcfcfc;
        opacity: .4
    }
    #header .navbar-brand {
        display: none
    }
    #slide-nav .navbar-brand {
        width: 60%;
        float: none;
        display: inline-block
    }
    #slide-nav .container {
        background-color: #fff;
        height: 70px
    }
    /*    .top-warea {
            margin-top: 20px
        }*/
    .chrcnt {
        margin: 0 15px 15px
    }
    .totlcmnt .row > div {
        float:left;
        margin-right:15px
    }
    .totlcmnt .row > div {
        float: left;
        margin-bottom: 20px;
    }
    .inrtitle h2 {
        font-size: 24px
    }
    .cmnt {
        width: 70%
    }
    .cmntdtl.orange-bg::before, 
    .cmntdtl.red-bg::before {
        top: 36%
    }
    .nav li span {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        margin-right: 10px;
        text-align: center;
        width: 50px;
    }
    .nav.navbar-nav li:nth-child(2) img {
        width: 100%;
    }
    .txt-red > h3 {
        font-size: 18px
    }
    .r-tabs .r-tabs-panel.r-tabs-state-active {
        margin-bottom: 15px
    }
    .popular-game .item-thumb {
        margin-bottom: 15px
    }
    .sublogo img{ width:174px}
    .ui-modal{
        width: 95%;
    }
    .fs-sm,
    .ui-modal .form-group{
        width: 100%;
    }
    .user-info-wrap .user-lft-wrap {
        border-right: none;
    }
    .user-nm{
        text-align: center;
    }
    .terms-txt label.error{
        float: right;
    }
    .char-img{
        text-align: center; 
    }
    .page-title {
        margin-top: 30px;
    }
    .featured .caption{
        margin-top: 0px;
        width: auto;
        padding: 10px;
    }
    .featured .caption p{
        display: none;
    }
    .featured .caption h4{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .sortby{
        position: relative;
        top: 0px;
        margin: 0px 0px 15px;
    }
    .sortby .form-control{
        font-size: 16px;
    }
}

/*@media (min-width: 524px) and (max-width: 767px) {
    .main-crsl .carousel-caption {
        padding-top: 10px !important
    }
}*/
@media (min-width: 481px) and (max-width: 767px) {
    .terms-txt label.error{
        margin-top: 44px;
    }
    .crsl-wrap .owl-controls{
        top: -60px;
    }
}

@media (max-width: 480px) {
    .url {
        font-size: 32px;
    }
    #header .navbar-brand {
        width: 60%;
        margin-bottom: 5px;
    }
    .navbar-toggle {
        margin-top: 10px
    }
    .main-crsl .pos {
        top: 17px
    }
    .iframegame iframe {
        height: 300px
    }
    .sublogo img{ width:174px}
    .inrtitle h2 {
        font-size: 18px
    }
    .crsl-wrap .caption h3{
        line-height: 29px;
    }
    .sublogo{ top:40px}
    .ui-modal .modal-body {
        padding: 15px 20px 45px;
    }
    .terms-txt label.error{
        margin-top: 63px;
    }
    .more-link{
        position: relative;
        display: block;
        text-align: right;
        margin-bottom: 15px;
    }
    .more-link a,
    .ylwgrd .more-link a, 
    .grnzcvr .more-link a{
        font-size: 16px;
        line-height: 16px;
        width: auto;
        text-align: left;
    }
    .more-link a span {
        font-size: 16px;
        font-weight: 400;
    }
    .ylwgrd .more-link span, 
    .grnzcvr .more-link span{
        display: inline-block;
    }
    .grnzcvr .more-link:before,
    .ylwgrd .more-link:before,
    .red-bg .more-link:before,
    .blu-bg .more-link:before{
        left: auto;
        right: 48px;
    }
    .grnzcvr .more-link:after,
    .ylwgrd .more-link:after,
    .red-bg .more-link:after,
    .blu-bg .more-link:after{
        left: auto;
        right: 49px;
    }
    .crsl-wrap.ylwgrd .owl-controls, 
    .crsl-wrap.grnzcvr .owl-controls,
    .crsl-wrap .owl-controls{
        top: -47px;
    }
    .crsl-wrap.ylwgrd .owl-nav .owl-next, 
    .crsl-wrap.grnzcvr .owl-nav .owl-next{
        right: 57px;
    }
    .crsl-wrap.ylwgrd .owl-nav .owl-prev, 
    .crsl-wrap.grnzcvr .owl-nav .owl-prev{
        right: 92px;
    }
    .crsl-wrap.ylwgrd h2, 
    .crsl-wrap.grnzcvr h2,    
    .crsl-wrap h2{
        margin-bottom: 15px;
    }
    .crsl-wrap.blu-bg .owl-controls .owl-prev i, 
    .crsl-wrap.blu-bg .owl-controls .owl-next i{
        line-height: 27px;
    }

    .red-bg.crsl-wrap .owl-controls .owl-prev,
    .blu-bg.crsl-wrap .owl-controls .owl-prev{
        right: 92px
    }
    .red-bg.crsl-wrap .owl-controls .owl-next,
    .blu-bg.crsl-wrap .owl-controls .owl-next{
        right: 57px
    }
    .crsl-wrap .owl-controls .owl-prev, 
    .crsl-wrap .owl-controls .owl-next {
        font-size: 16px;
        height: 30px;
        line-height: 30px;
        width: 30px
    }
    .featured h3{
        display: none;
    }
    .featured .inner-crsl img {
        height: 160px;
    }
    /*    .crsl-wrap .owl-controls {
            top: -60px
        }*/
}
@media (max-width: 320px) {
    .terms-wrap{
        display: inline-block;
    }
    .terms-wrap .checkbox{
        margin-top: 0px;
    }
}

