<?xml version="1.0" encoding="utf-8" ?>

<config>

	<!-- LOCALIZATION --> 
	<!-- cn, en, la, ru, sc -->
	<localization>
		<region>en</region>
		<defaultfont>arial</defaultfont>
	</localization> 

	
	
	<!-- Piracy Control Url-->
	<piracycontrol>http://www.nick.com/games/nickelodeon-dance-machine.html</piracycontrol>
	
	<!-- Determines Piracy Control feature is activated or not. A value of 'true' activates it.-->
	<piratecontrolactivated>false</piratecontrolactivated>
	
	<!-- determines whether deltaDNA is on or not. A value of 'true' activates it. -->
	<deltaDNA>false</deltaDNA>
	
	
	
	<!-- 
		ENABLE  = 1
		DISABLE = 0
	-->
	
	<!-- CANADA TRACKING -->
	<Canadatracking>0</Canadatracking>
	
	<!-- INTERNATIONAL : Disable/Enable Party Name Generator -->
	<name_generation>0</name_generation>
	
	<!-- INTERNATIONAL : Enable/Disable Party Name Auto Resize -->
	<name_autoresize>1</name_autoresize>
	
	
	<!-- gif controls -->
	
	<!-- ON SCREEN LIMIT -->
	<!-- FOR MOBILE: limits number of dancers on screen -->
	<screen_limit>20</screen_limit>
	
	<!-- MAXIMUM GIF RESIZE VALUE -->
	<!-- multiplier of original size -->
	<max_resize>2</max_resize>
	
	<!-- MINIMUM RESIZE VALUE -->
	<!-- multiplier of original size -->
	<min_resize>0.3</min_resize>
	

</config>