<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duo-cable_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{581,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,92}}</string>
                <key>sourceSize</key>
                <string>{581,92}</string>
            </dict>
            <key>duo-cable_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{581,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,92}}</string>
                <key>sourceSize</key>
                <string>{581,92}</string>
            </dict>
            <key>duo-cable_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{581,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,92}}</string>
                <key>sourceSize</key>
                <string>{581,92}</string>
            </dict>
            <key>duo-cable_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{581,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,92}}</string>
                <key>sourceSize</key>
                <string>{581,92}</string>
            </dict>
            <key>duo-port_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,284},{24,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,88}}</string>
                <key>sourceSize</key>
                <string>{24,88}</string>
            </dict>
            <key>duo-port_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,284},{24,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,88}}</string>
                <key>sourceSize</key>
                <string>{24,88}</string>
            </dict>
            <key>duo-port_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,284},{24,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,88}}</string>
                <key>sourceSize</key>
                <string>{24,88}</string>
            </dict>
            <key>duo-port_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,284},{24,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,88}}</string>
                <key>sourceSize</key>
                <string>{24,88}</string>
            </dict>
            <key>duo-prong.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,284},{33,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,67}}</string>
                <key>sourceSize</key>
                <string>{33,67}</string>
            </dict>
            <key>round-cable_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{609,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,100}}</string>
                <key>sourceSize</key>
                <string>{609,100}</string>
            </dict>
            <key>round-cable_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{609,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,100}}</string>
                <key>sourceSize</key>
                <string>{609,100}</string>
            </dict>
            <key>round-cable_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{609,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,100}}</string>
                <key>sourceSize</key>
                <string>{609,100}</string>
            </dict>
            <key>round-port_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,582},{38,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,64}}</string>
                <key>sourceSize</key>
                <string>{38,64}</string>
            </dict>
            <key>round-port_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,582},{38,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,64}}</string>
                <key>sourceSize</key>
                <string>{38,64}</string>
            </dict>
            <key>round-port_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,582},{38,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,64}}</string>
                <key>sourceSize</key>
                <string>{38,64}</string>
            </dict>
            <key>round-port_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,582},{38,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,64}}</string>
                <key>sourceSize</key>
                <string>{38,64}</string>
            </dict>
            <key>round-prong.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,582},{23,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,52}}</string>
                <key>sourceSize</key>
                <string>{23,52}</string>
            </dict>
            <key>square-port_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,582},{24,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,53}}</string>
                <key>sourceSize</key>
                <string>{24,53}</string>
            </dict>
            <key>square-port_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,582},{24,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,53}}</string>
                <key>sourceSize</key>
                <string>{24,53}</string>
            </dict>
            <key>square-port_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,582},{24,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,53}}</string>
                <key>sourceSize</key>
                <string>{24,53}</string>
            </dict>
            <key>square-port_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,582},{24,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,53}}</string>
                <key>sourceSize</key>
                <string>{24,53}</string>
            </dict>
            <key>square-prong.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,582},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>trio-cable_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{584,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,78}}</string>
                <key>sourceSize</key>
                <string>{584,78}</string>
            </dict>
            <key>trio-cable_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{584,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,78}}</string>
                <key>sourceSize</key>
                <string>{584,78}</string>
            </dict>
            <key>trio-cable_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{584,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,78}}</string>
                <key>sourceSize</key>
                <string>{584,78}</string>
            </dict>
            <key>trio-cable_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{584,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,78}}</string>
                <key>sourceSize</key>
                <string>{584,78}</string>
            </dict>
            <key>trio-port_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,924},{25,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,73}}</string>
                <key>sourceSize</key>
                <string>{25,73}</string>
            </dict>
            <key>trio-port_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,924},{25,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,73}}</string>
                <key>sourceSize</key>
                <string>{25,73}</string>
            </dict>
            <key>trio-port_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,924},{25,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,73}}</string>
                <key>sourceSize</key>
                <string>{25,73}</string>
            </dict>
            <key>trio-port_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,924},{25,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,73}}</string>
                <key>sourceSize</key>
                <string>{25,73}</string>
            </dict>
            <key>trio-prong.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,924},{23,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,52}}</string>
                <key>sourceSize</key>
                <string>{23,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites_cable_prongsplugs.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ba1ead83f1077dc3b5a730b7eb84d0a:47842a0631230338bb167c14754e12cc:bbdb515279a602a9a318aa79bf4e43a1$</string>
            <key>textureFileName</key>
            <string>sprites_cable_prongsplugs.png</string>
        </dict>
    </dict>
</plist>
