<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>round-cable_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{609,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,100}}</string>
                <key>sourceSize</key>
                <string>{609,100}</string>
            </dict>
            <key>sparks1.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2},{159,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,145}}</string>
                <key>sourceSize</key>
                <string>{159,145}</string>
            </dict>
            <key>sparks2.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{159,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,145}}</string>
                <key>sourceSize</key>
                <string>{159,145}</string>
            </dict>
            <key>sparks3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{159,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,145}}</string>
                <key>sourceSize</key>
                <string>{159,145}</string>
            </dict>
            <key>square-cable_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,149},{593,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{593,152}}</string>
                <key>sourceSize</key>
                <string>{593,152}</string>
            </dict>
            <key>square-cable_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{593,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{593,152}}</string>
                <key>sourceSize</key>
                <string>{593,152}</string>
            </dict>
            <key>square-cable_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{593,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{593,152}}</string>
                <key>sourceSize</key>
                <string>{593,152}</string>
            </dict>
            <key>square-cable_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{593,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{593,152}}</string>
                <key>sourceSize</key>
                <string>{593,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites_cable_cablesparks.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fea79764a542eb37bf76bd0daa61ca47:b5569886b028329744c062136d3d473a:d337e8ed1151045a03d206716754d218$</string>
            <key>textureFileName</key>
            <string>sprites_cable_cablesparks.png</string>
        </dict>
    </dict>
</plist>
