
@font-face {
    font-family: 'lubalin';
    src: url('lubalingraphitcturner-bold-webfont.eot');
    src: url('lubalingraphitcturner-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('lubalingraphitcturner-bold-webfont.woff') format('woff'),
    url('lubalingraphitcturner-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face{
font-family:"Fred";
src:url("d42c5ee6-b697-45d5-bfb3-eebdbc97e4f6.eot?#iefix");
src:url("d42c5ee6-b697-45d5-bfb3-eebdbc97e4f6.eot?#iefix") format("eot"),url("41e7b4a4-2c34-4816-a2eb-b9632cbda617.woff2") format("woff2"),url("080a5ca5-a071-4c64-8802-4e4a35dd8da6.woff") format("woff"),url("7a90531b-ba9a-45c5-8567-7c522910e5dc.ttf") format("truetype"),url("55679da0-9d40-4a66-9bfa-b95d4b788a98.svg#55679da0-9d40-4a66-9bfa-b95d4b788a98") format("svg");
}
@font-face{
font-family:"FredBold";
src:url("593fde79-4b33-427f-ad06-feedcfa57af4.eot?#iefix");
src:url("593fde79-4b33-427f-ad06-feedcfa57af4.eot?#iefix") format("eot"),url("05005a30-1065-4adb-ab11-c9aa7f8ff257.woff2") format("woff2"),url("a2f0323c-dcc2-4d03-8530-9a8292001383.woff") format("woff"),url("622547bb-e8f8-4496-bcf1-eb1a91fd69a0.ttf") format("truetype"),url("92d2de47-f436-40a2-85e0-4285c171ba12.svg#92d2de47-f436-40a2-85e0-4285c171ba12") format("svg");
}