<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_hitExplosion_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{339,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{339,314}}</string>
				<key>sourceSize</key>
				<string>{339,314}</string>
			</dict>

			<key>fx_hitExplosion_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,316},{339,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{339,314}}</string>
				<key>sourceSize</key>
				<string>{339,314}</string>
			</dict>

			<key>fx_hitExplosion_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,632},{339,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{339,314}}</string>
				<key>sourceSize</key>
				<string>{339,314}</string>
			</dict>

			<key>fx_hitExplosion_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,0},{339,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{339,314}}</string>
				<key>sourceSize</key>
				<string>{339,314}</string>
			</dict>

			<key>fx_hitExplosion_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,316},{339,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{339,314}}</string>
				<key>sourceSize</key>
				<string>{339,314}</string>
			</dict>

			<key>fx_hitExplosion_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,632},{339,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{339,314}}</string>
				<key>sourceSize</key>
				<string>{339,314}</string>
			</dict>

			<key>fx_hitExplosion_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,0},{339,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{339,314}}</string>
				<key>sourceSize</key>
				<string>{339,314}</string>
			</dict>

			<key>fx_hitExplosion_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,316},{339,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{339,314}}</string>
				<key>sourceSize</key>
				<string>{339,314}</string>
			</dict>

			<key>fx_hitExplosion_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,632},{339,314}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{339,314}}</string>
				<key>sourceSize</key>
				<string>{339,314}</string>
			</dict>

			<key>fx_hitSpark_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,948},{75,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,59}}</string>
				<key>sourceSize</key>
				<string>{75,59}</string>
			</dict>

			<key>fx_hitSpark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,948},{75,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,59}}</string>
				<key>sourceSize</key>
				<string>{75,59}</string>
			</dict>

			<key>fx_hitSpark_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,948},{75,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,59}}</string>
				<key>sourceSize</key>
				<string>{75,59}</string>
			</dict>

			<key>fx_hitSpark_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,948},{75,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,59}}</string>
				<key>sourceSize</key>
				<string>{75,59}</string>
			</dict>

			<key>fx_missileA_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,992},{173,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,20}}</string>
				<key>sourceSize</key>
				<string>{173,20}</string>
			</dict>

			<key>fx_missileA_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,948},{173,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,20}}</string>
				<key>sourceSize</key>
				<string>{173,20}</string>
			</dict>

			<key>fx_missileA_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,970},{173,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,20}}</string>
				<key>sourceSize</key>
				<string>{173,20}</string>
			</dict>

			<key>fx_missileA_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,948},{173,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,20}}</string>
				<key>sourceSize</key>
				<string>{173,20}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
			</dict>
		</dict>
</plist>