
@font-face {
    font-family: 'lamput-boldregular';
    src: url('lamput-bold-regular-webfont.woff2') format('woff2'),
         url('lamput-bold-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}