<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Confetti0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{232,232}}</string>
                <key>offset</key>
                <string>{8,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,164},{232,232}}</string>
                <key>sourceSize</key>
                <string>{300,420}</string>
            </dict>
            <key>Confetti0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,236}}</string>
                <key>offset</key>
                <string>{10,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,166},{228,236}}</string>
                <key>sourceSize</key>
                <string>{300,420}</string>
            </dict>
            <key>button_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{171,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,148}}</string>
                <key>sourceSize</key>
                <string>{171,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay_universal_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c33570200e6ce0f8766cdd46aad88ad4:319d7c7b71a0ac8a3fe42d3e69c8e702:6cc95ebd6fdc125fa9a7c09c7b0b7b2a$</string>
            <key>textureFileName</key>
            <string>gameplay_universal_3.png</string>
        </dict>
    </dict>
</plist>
