<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,385},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>BlueStar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,497},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>Confetti0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,806},{214,208}}</string>
                <key>offset</key>
                <string>{6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,75},{214,208}}</string>
                <key>sourceSize</key>
                <string>{300,420}</string>
            </dict>
            <key>Confetti0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{250,212}}</string>
                <key>offset</key>
                <string>{-6,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,71},{250,212}}</string>
                <key>sourceSize</key>
                <string>{300,420}</string>
            </dict>
            <key>Confetti0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,758},{278,258}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,99},{278,258}}</string>
                <key>sourceSize</key>
                <string>{300,420}</string>
            </dict>
            <key>Confetti0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,424},{268,250}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,116},{268,250}}</string>
                <key>sourceSize</key>
                <string>{300,420}</string>
            </dict>
            <key>Confetti0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,2},{240,228}}</string>
                <key>offset</key>
                <string>{6,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,156},{240,228}}</string>
                <key>sourceSize</key>
                <string>{300,420}</string>
            </dict>
            <key>OrangeBalloon_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,232},{176,186}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{176,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>OrangeStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,474},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>OrangeStar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,519},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>SparkleBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,760},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,49}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>SparkleYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,811},{48,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>button_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,676},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>genericGLOW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{478,478}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{478,478}}</string>
                <key>sourceSize</key>
                <string>{536,536}</string>
            </dict>
            <key>help_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{293,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,420}}</string>
                <key>sourceSize</key>
                <string>{293,420}</string>
            </dict>
            <key>lives_closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,320},{19,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{19,63}}</string>
                <key>sourceSize</key>
                <string>{83,63}</string>
            </dict>
            <key>lives_closing.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,676},{51,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{51,63}}</string>
                <key>sourceSize</key>
                <string>{83,63}</string>
            </dict>
            <key>lives_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,676},{83,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,63}}</string>
                <key>sourceSize</key>
                <string>{83,63}</string>
            </dict>
            <key>lives_stick.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,424},{270,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,48}}</string>
                <key>sourceSize</key>
                <string>{270,48}</string>
            </dict>
            <key>mouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,806},{132,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,192}}</string>
                <key>sourceSize</key>
                <string>{132,192}</string>
            </dict>
            <key>mouseClick.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,232},{64,86}}</string>
                <key>offset</key>
                <string>{-24,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{64,86}}</string>
                <key>sourceSize</key>
                <string>{132,192}</string>
            </dict>
            <key>quit_confirm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{621,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{621,322}}</string>
                <key>sourceSize</key>
                <string>{621,322}</string>
            </dict>
            <key>time_overlayRing.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,575},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{91,91}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>timer_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,668},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>timer_back_log.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,474},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>timer_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,320},{42,82}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,3},{42,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>timer_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,676},{42,82}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,3},{42,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>timer_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,676},{42,82}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,3},{42,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>timer_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,760},{42,82}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,3},{42,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>victorystar.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,575},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay_universal_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c33570200e6ce0f8766cdd46aad88ad4:319d7c7b71a0ac8a3fe42d3e69c8e702:6cc95ebd6fdc125fa9a7c09c7b0b7b2a$</string>
            <key>textureFileName</key>
            <string>gameplay_universal_0.png</string>
        </dict>
    </dict>
</plist>
