<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueBalloon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,809},{166,186}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{166,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>BlueBalloon_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{166,186}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{166,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>Confetti0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,476},{260,222}}</string>
                <key>offset</key>
                <string>{-6,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,59},{260,222}}</string>
                <key>sourceSize</key>
                <string>{300,420}</string>
            </dict>
            <key>Confetti0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,236},{272,238}}</string>
                <key>offset</key>
                <string>{-5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,42},{272,238}}</string>
                <key>sourceSize</key>
                <string>{300,420}</string>
            </dict>
            <key>Confetti0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{284,232}}</string>
                <key>offset</key>
                <string>{-3,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,39},{284,232}}</string>
                <key>sourceSize</key>
                <string>{300,420}</string>
            </dict>
            <key>Confetti0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{286,236}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,45},{286,236}}</string>
                <key>sourceSize</key>
                <string>{300,420}</string>
            </dict>
            <key>Confetti0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,240}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,57},{284,240}}</string>
                <key>sourceSize</key>
                <string>{300,420}</string>
            </dict>
            <key>Confetti0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,240},{252,238}}</string>
                <key>offset</key>
                <string>{4,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,137},{252,238}}</string>
                <key>sourceSize</key>
                <string>{300,420}</string>
            </dict>
            <key>Confetti0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{246,234}}</string>
                <key>offset</key>
                <string>{5,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,145},{246,234}}</string>
                <key>sourceSize</key>
                <string>{300,420}</string>
            </dict>
            <key>Confetti0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,700},{234,232}}</string>
                <key>offset</key>
                <string>{7,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,159},{234,232}}</string>
                <key>sourceSize</key>
                <string>{300,420}</string>
            </dict>
            <key>Confetti0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,664},{224,244}}</string>
                <key>offset</key>
                <string>{11,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,165},{224,244}}</string>
                <key>sourceSize</key>
                <string>{300,420}</string>
            </dict>
            <key>Hand_Tap2.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,606},{195,201}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{195,201}}</string>
                <key>sourceSize</key>
                <string>{225,209}</string>
            </dict>
            <key>OrangeBalloon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,480},{166,182}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{166,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>OrangeBalloon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,420},{168,184}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{168,184}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>OrangeBalloon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,236},{170,182}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{170,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>OrangeBalloon_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,480},{166,182}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{166,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{171,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,84}}</string>
                <key>sourceSize</key>
                <string>{171,84}</string>
            </dict>
            <key>button_vol_on_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,700},{163,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,162}}</string>
                <key>sourceSize</key>
                <string>{163,162}</string>
            </dict>
            <key>button_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,809},{168,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,159}}</string>
                <key>sourceSize</key>
                <string>{168,159}</string>
            </dict>
            <key>timer_back_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay_universal_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c33570200e6ce0f8766cdd46aad88ad4:319d7c7b71a0ac8a3fe42d3e69c8e702:6cc95ebd6fdc125fa9a7c09c7b0b7b2a$</string>
            <key>textureFileName</key>
            <string>gameplay_universal_2.png</string>
        </dict>
    </dict>
</plist>
