<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_bugsFloat_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,852},{190,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,150}}</string>
				<key>sourceSize</key>
				<string>{190,150}</string>
			</dict>

			<key>char_bugsFloat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,836},{190,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,150}}</string>
				<key>sourceSize</key>
				<string>{190,150}</string>
			</dict>

			<key>char_bugsFloat_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,836},{190,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,150}}</string>
				<key>sourceSize</key>
				<string>{190,150}</string>
			</dict>

			<key>char_bugsFloat_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,836},{190,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,150}}</string>
				<key>sourceSize</key>
				<string>{190,150}</string>
			</dict>

			<key>char_bugsFloat_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,852},{190,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,150}}</string>
				<key>sourceSize</key>
				<string>{190,150}</string>
			</dict>

			<key>char_bugsFloat_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,852},{190,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,150}}</string>
				<key>sourceSize</key>
				<string>{190,150}</string>
			</dict>

			<key>char_bugsFloat_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,0},{190,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,150}}</string>
				<key>sourceSize</key>
				<string>{190,150}</string>
			</dict>

			<key>char_bugsFloat_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,0},{190,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,150}}</string>
				<key>sourceSize</key>
				<string>{190,150}</string>
			</dict>

			<key>char_bugsLose_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,209},{220,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,205}}</string>
				<key>sourceSize</key>
				<string>{220,205}</string>
			</dict>

			<key>char_bugsLose_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,418},{220,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,205}}</string>
				<key>sourceSize</key>
				<string>{220,205}</string>
			</dict>

			<key>char_bugsLose_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,209},{220,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,205}}</string>
				<key>sourceSize</key>
				<string>{220,205}</string>
			</dict>

			<key>char_bugsLose_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,0},{220,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,205}}</string>
				<key>sourceSize</key>
				<string>{220,205}</string>
			</dict>

			<key>char_bugsLose_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,627},{220,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,205}}</string>
				<key>sourceSize</key>
				<string>{220,205}</string>
			</dict>

			<key>char_bugsLose_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,0},{220,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,205}}</string>
				<key>sourceSize</key>
				<string>{220,205}</string>
			</dict>

			<key>char_bugsLose_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,627},{220,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,205}}</string>
				<key>sourceSize</key>
				<string>{220,205}</string>
			</dict>

			<key>char_bugsLose_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,418},{220,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,205}}</string>
				<key>sourceSize</key>
				<string>{220,205}</string>
			</dict>

			<key>char_bugsLose_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,209},{220,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,205}}</string>
				<key>sourceSize</key>
				<string>{220,205}</string>
			</dict>

			<key>char_bugsLose_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,0},{220,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,205}}</string>
				<key>sourceSize</key>
				<string>{220,205}</string>
			</dict>

			<key>char_bugsLose_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,627},{220,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,205}}</string>
				<key>sourceSize</key>
				<string>{220,205}</string>
			</dict>

			<key>char_bugsLose_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,418},{220,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,205}}</string>
				<key>sourceSize</key>
				<string>{220,205}</string>
			</dict>

			<key>char_bugsWin_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,568},{230,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,280}}</string>
				<key>sourceSize</key>
				<string>{230,280}</string>
			</dict>

			<key>char_bugsWin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,284},{230,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,280}}</string>
				<key>sourceSize</key>
				<string>{230,280}</string>
			</dict>

			<key>char_bugsWin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,0},{230,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,280}}</string>
				<key>sourceSize</key>
				<string>{230,280}</string>
			</dict>

			<key>char_bugsWin_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,0},{230,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,280}}</string>
				<key>sourceSize</key>
				<string>{230,280}</string>
			</dict>

			<key>char_bugsWin_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,568},{230,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,280}}</string>
				<key>sourceSize</key>
				<string>{230,280}</string>
			</dict>

			<key>char_bugsWin_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,568},{230,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,280}}</string>
				<key>sourceSize</key>
				<string>{230,280}</string>
			</dict>

			<key>char_bugsWin_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,284},{230,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,280}}</string>
				<key>sourceSize</key>
				<string>{230,280}</string>
			</dict>

			<key>char_bugsWin_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,284},{230,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,280}}</string>
				<key>sourceSize</key>
				<string>{230,280}</string>
			</dict>

			<key>char_bugsWin_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{230,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,280}}</string>
				<key>sourceSize</key>
				<string>{230,280}</string>
			</dict>

			<key>char_bugsWin_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{230,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,280}}</string>
				<key>sourceSize</key>
				<string>{230,280}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>char_pool.png</string>
			</dict>
		</dict>
</plist>