<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_boost_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,622},{209,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,307}}</string>
				<key>sourceSize</key>
				<string>{209,307}</string>
			</dict>

			<key>fx_boost_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{209,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,307}}</string>
				<key>sourceSize</key>
				<string>{209,307}</string>
			</dict>

			<key>fx_boost_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,311},{209,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,307}}</string>
				<key>sourceSize</key>
				<string>{209,307}</string>
			</dict>

			<key>fx_boost_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,622},{209,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,307}}</string>
				<key>sourceSize</key>
				<string>{209,307}</string>
			</dict>

			<key>fx_boost_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{209,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,307}}</string>
				<key>sourceSize</key>
				<string>{209,307}</string>
			</dict>

			<key>fx_boost_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,311},{209,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,307}}</string>
				<key>sourceSize</key>
				<string>{209,307}</string>
			</dict>

			<key>fx_dive_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,480},{199,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,156}}</string>
				<key>sourceSize</key>
				<string>{199,156}</string>
			</dict>

			<key>fx_dive_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,320},{199,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,156}}</string>
				<key>sourceSize</key>
				<string>{199,156}</string>
			</dict>

			<key>fx_dive_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,640},{199,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,156}}</string>
				<key>sourceSize</key>
				<string>{199,156}</string>
			</dict>

			<key>fx_dive_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,160},{199,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,156}}</string>
				<key>sourceSize</key>
				<string>{199,156}</string>
			</dict>

			<key>fx_dive_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,640},{199,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,156}}</string>
				<key>sourceSize</key>
				<string>{199,156}</string>
			</dict>

			<key>fx_dive_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,480},{199,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,156}}</string>
				<key>sourceSize</key>
				<string>{199,156}</string>
			</dict>

			<key>fx_dive_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,160},{199,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,156}}</string>
				<key>sourceSize</key>
				<string>{199,156}</string>
			</dict>

			<key>fx_dive_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,320},{199,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,156}}</string>
				<key>sourceSize</key>
				<string>{199,156}</string>
			</dict>

			<key>fx_dive_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,0},{199,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,156}}</string>
				<key>sourceSize</key>
				<string>{199,156}</string>
			</dict>

			<key>fx_dive_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,0},{199,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,156}}</string>
				<key>sourceSize</key>
				<string>{199,156}</string>
			</dict>

			<key>fx_dive_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,800},{199,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,156}}</string>
				<key>sourceSize</key>
				<string>{199,156}</string>
			</dict>

			<key>fx_rainDrop_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,929},{9,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,51}}</string>
				<key>sourceSize</key>
				<string>{9,51}</string>
			</dict>

			<key>fx_ripple_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,960},{151,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,39}}</string>
				<key>sourceSize</key>
				<string>{151,39}</string>
			</dict>

			<key>fx_ripple_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,960},{151,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,39}}</string>
				<key>sourceSize</key>
				<string>{151,39}</string>
			</dict>

			<key>fx_ripple_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,800},{151,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,39}}</string>
				<key>sourceSize</key>
				<string>{151,39}</string>
			</dict>

			<key>fx_ripple_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,960},{151,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,39}}</string>
				<key>sourceSize</key>
				<string>{151,39}</string>
			</dict>

			<key>fx_ripple_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,843},{151,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,39}}</string>
				<key>sourceSize</key>
				<string>{151,39}</string>
			</dict>

			<key>fx_ripple_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,886},{151,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,39}}</string>
				<key>sourceSize</key>
				<string>{151,39}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
			</dict>
		</dict>
</plist>