<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_birdFly_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,241},{36,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,48}}</string>
				<key>sourceSize</key>
				<string>{36,48}</string>
			</dict>

			<key>gobj_birdFly_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,390},{36,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,48}}</string>
				<key>sourceSize</key>
				<string>{36,48}</string>
			</dict>

			<key>gobj_birdFly_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,241},{36,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,48}}</string>
				<key>sourceSize</key>
				<string>{36,48}</string>
			</dict>

			<key>gobj_birdFly_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,241},{36,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,48}}</string>
				<key>sourceSize</key>
				<string>{36,48}</string>
			</dict>

			<key>gobj_birdFly_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,241},{36,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,48}}</string>
				<key>sourceSize</key>
				<string>{36,48}</string>
			</dict>

			<key>gobj_birdFly_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,241},{36,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,48}}</string>
				<key>sourceSize</key>
				<string>{36,48}</string>
			</dict>

			<key>gobj_birdHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,161},{44,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,78}}</string>
				<key>sourceSize</key>
				<string>{44,78}</string>
			</dict>

			<key>gobj_birdHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,161},{44,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,78}}</string>
				<key>sourceSize</key>
				<string>{44,78}</string>
			</dict>

			<key>gobj_birdHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,0},{44,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,78}}</string>
				<key>sourceSize</key>
				<string>{44,78}</string>
			</dict>

			<key>gobj_birdHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,270},{44,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,78}}</string>
				<key>sourceSize</key>
				<string>{44,78}</string>
			</dict>

			<key>gobj_birdHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,80},{44,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,78}}</string>
				<key>sourceSize</key>
				<string>{44,78}</string>
			</dict>

			<key>gobj_birdHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,0},{44,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,78}}</string>
				<key>sourceSize</key>
				<string>{44,78}</string>
			</dict>

			<key>gobj_birdHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,80},{44,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,78}}</string>
				<key>sourceSize</key>
				<string>{44,78}</string>
			</dict>

			<key>gobj_birdHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,0},{44,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,78}}</string>
				<key>sourceSize</key>
				<string>{44,78}</string>
			</dict>

			<key>gobj_birdHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,161},{44,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,78}}</string>
				<key>sourceSize</key>
				<string>{44,78}</string>
			</dict>

			<key>gobj_birdHit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,80},{44,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,78}}</string>
				<key>sourceSize</key>
				<string>{44,78}</string>
			</dict>

			<key>gobj_board_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,270},{220,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,133}}</string>
				<key>sourceSize</key>
				<string>{220,133}</string>
			</dict>

			<key>gobj_board_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,0},{220,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,133}}</string>
				<key>sourceSize</key>
				<string>{220,133}</string>
			</dict>

			<key>gobj_board_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,135},{220,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,133}}</string>
				<key>sourceSize</key>
				<string>{220,133}</string>
			</dict>

			<key>gobj_board_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,0},{220,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,133}}</string>
				<key>sourceSize</key>
				<string>{220,133}</string>
			</dict>

			<key>gobj_board_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,135},{220,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,133}}</string>
				<key>sourceSize</key>
				<string>{220,133}</string>
			</dict>

			<key>gobj_board_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{220,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,133}}</string>
				<key>sourceSize</key>
				<string>{220,133}</string>
			</dict>

			<key>gobj_carrotIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,328},{34,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,85}}</string>
				<key>sourceSize</key>
				<string>{34,85}</string>
			</dict>

			<key>gobj_carrotIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,241},{34,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,85}}</string>
				<key>sourceSize</key>
				<string>{34,85}</string>
			</dict>

			<key>gobj_carrotIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,0},{34,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,85}}</string>
				<key>sourceSize</key>
				<string>{34,85}</string>
			</dict>

			<key>gobj_carrotIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,87},{34,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,85}}</string>
				<key>sourceSize</key>
				<string>{34,85}</string>
			</dict>

			<key>gobj_carrotIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,415},{34,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,85}}</string>
				<key>sourceSize</key>
				<string>{34,85}</string>
			</dict>

			<key>gobj_ramp_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,0},{195,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,392}}</string>
				<key>sourceSize</key>
				<string>{195,392}</string>
			</dict>

			<key>gobj_yosemiteFly_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,303},{138,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,85}}</string>
				<key>sourceSize</key>
				<string>{138,85}</string>
			</dict>

			<key>gobj_yosemiteFly_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,390},{138,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,85}}</string>
				<key>sourceSize</key>
				<string>{138,85}</string>
			</dict>

			<key>gobj_yosemiteFly_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,303},{138,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,85}}</string>
				<key>sourceSize</key>
				<string>{138,85}</string>
			</dict>

			<key>gobj_yosemiteHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,202},{151,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,99}}</string>
				<key>sourceSize</key>
				<string>{151,99}</string>
			</dict>

			<key>gobj_yosemiteHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,101},{151,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,99}}</string>
				<key>sourceSize</key>
				<string>{151,99}</string>
			</dict>

			<key>gobj_yosemiteHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,0},{151,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,99}}</string>
				<key>sourceSize</key>
				<string>{151,99}</string>
			</dict>

			<key>gobj_yosemiteHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,270},{151,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,99}}</string>
				<key>sourceSize</key>
				<string>{151,99}</string>
			</dict>

			<key>gobj_yosemiteHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,405},{151,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,99}}</string>
				<key>sourceSize</key>
				<string>{151,99}</string>
			</dict>

			<key>gobj_yosemiteHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,405},{151,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,99}}</string>
				<key>sourceSize</key>
				<string>{151,99}</string>
			</dict>

			<key>gobj_yosemiteHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,394},{151,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,99}}</string>
				<key>sourceSize</key>
				<string>{151,99}</string>
			</dict>

			<key>gobj_yosemiteHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,394},{151,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,99}}</string>
				<key>sourceSize</key>
				<string>{151,99}</string>
			</dict>

			<key>gobj_yosemiteHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,394},{151,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,99}}</string>
				<key>sourceSize</key>
				<string>{151,99}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,512}</string>
			<key>textureFileName</key>
			<string>gobj2.png</string>
			</dict>
		</dict>
</plist>