<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_collect_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,384},{292,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,380}}</string>
				<key>sourceSize</key>
				<string>{292,380}</string>
			</dict>

			<key>fx_collect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,1536},{292,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,380}}</string>
				<key>sourceSize</key>
				<string>{292,380}</string>
			</dict>

			<key>fx_collect_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,1152},{292,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,380}}</string>
				<key>sourceSize</key>
				<string>{292,380}</string>
			</dict>

			<key>fx_collect_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,768},{292,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,380}}</string>
				<key>sourceSize</key>
				<string>{292,380}</string>
			</dict>

			<key>fx_collect_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,384},{292,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,380}}</string>
				<key>sourceSize</key>
				<string>{292,380}</string>
			</dict>

			<key>fx_collect_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,0},{292,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,380}}</string>
				<key>sourceSize</key>
				<string>{292,380}</string>
			</dict>

			<key>fx_collect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1152},{292,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,380}}</string>
				<key>sourceSize</key>
				<string>{292,380}</string>
			</dict>

			<key>fx_collect_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1536},{292,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,380}}</string>
				<key>sourceSize</key>
				<string>{292,380}</string>
			</dict>

			<key>fx_collect_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,1152},{292,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,380}}</string>
				<key>sourceSize</key>
				<string>{292,380}</string>
			</dict>

			<key>fx_collect_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,768},{292,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,380}}</string>
				<key>sourceSize</key>
				<string>{292,380}</string>
			</dict>

			<key>fx_collect_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,0},{292,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,380}}</string>
				<key>sourceSize</key>
				<string>{292,380}</string>
			</dict>

			<key>fx_collect_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,384},{292,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,380}}</string>
				<key>sourceSize</key>
				<string>{292,380}</string>
			</dict>

			<key>fx_collect_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,768},{292,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,380}}</string>
				<key>sourceSize</key>
				<string>{292,380}</string>
			</dict>

			<key>fx_collect_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{292,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,380}}</string>
				<key>sourceSize</key>
				<string>{292,380}</string>
			</dict>

			<key>gobj_carrotIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,1536},{69,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,170}}</string>
				<key>sourceSize</key>
				<string>{69,170}</string>
			</dict>

			<key>gobj_carrotIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,1710},{69,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,170}}</string>
				<key>sourceSize</key>
				<string>{69,170}</string>
			</dict>

			<key>gobj_carrotIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,1710},{69,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,170}}</string>
				<key>sourceSize</key>
				<string>{69,170}</string>
			</dict>

			<key>gobj_carrotIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,1536},{69,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,170}}</string>
				<key>sourceSize</key>
				<string>{69,170}</string>
			</dict>

			<key>gobj_carrotIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,1536},{69,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,170}}</string>
				<key>sourceSize</key>
				<string>{69,170}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>gobj_carrot.png</string>
			</dict>
		</dict>
</plist>