<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EscapeShoe_Humpty_Lose2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{372,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,299}}</string>
                <key>sourceSize</key>
                <string>{372,299}</string>
            </dict>
            <key>mg17_EscapeShoe_BootShadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{386,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,152}}</string>
                <key>sourceSize</key>
                <string>{386,152}</string>
            </dict>
            <key>mg17_EscapeShoe_Humpty1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,234},{203,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,11},{203,230}}</string>
                <key>sourceSize</key>
                <string>{285,252}</string>
            </dict>
            <key>mg17_EscapeShoe_Humpty2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{205,230}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,11},{205,230}}</string>
                <key>sourceSize</key>
                <string>{285,252}</string>
            </dict>
            <key>mg17_EscapeShoe_Shoe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{367,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,280}}</string>
                <key>sourceSize</key>
                <string>{367,280}</string>
            </dict>
            <key>mg17_EscapeShoe_Win.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,303},{196,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,286}}</string>
                <key>sourceSize</key>
                <string>{196,286}</string>
            </dict>
            <key>mg2_Bowl_steam.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,303},{145,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,160}}</string>
                <key>sourceSize</key>
                <string>{145,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minigame_17_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68b9bd7796d6bef53646f4a6766c1884:90edcd12e5c2a2e2de6ed50398ee375a:8852a2b700664b86ecf30ab5de93e5cf$</string>
            <key>textureFileName</key>
            <string>minigame_17_0.png</string>
        </dict>
    </dict>
</plist>
