<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_gunA_block_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{82,122}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{382,830},{82,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_block_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{78,116}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{98,700},{78,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_block_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,11}</string>
                <key>spriteSize</key>
                <string>{116,124}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{474,830},{116,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_block_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,14}</string>
                <key>spriteSize</key>
                <string>{136,120}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{558,700},{136,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_block_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,10}</string>
                <key>spriteSize</key>
                <string>{122,108}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{8,576},{122,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_block_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,12}</string>
                <key>spriteSize</key>
                <string>{120,132}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{752,830},{120,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_block_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{142,126}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{600,830},{142,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_block_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,10}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{678,576},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_walk_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-3}</string>
                <key>spriteSize</key>
                <string>{82,120}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{798,700},{82,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_walk_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-2}</string>
                <key>spriteSize</key>
                <string>{78,116}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{186,700},{78,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_walk_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-3}</string>
                <key>spriteSize</key>
                <string>{80,114}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{8,700},{80,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_walk_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-4}</string>
                <key>spriteSize</key>
                <string>{84,112}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{140,576},{84,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_walk_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-3}</string>
                <key>spriteSize</key>
                <string>{80,114}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{500,576},{80,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_walk_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-3}</string>
                <key>spriteSize</key>
                <string>{80,114}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{816,576},{80,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_walk_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-2}</string>
                <key>spriteSize</key>
                <string>{78,116}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{186,700},{78,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_walk_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{78,114}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{590,576},{78,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_walk_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1}</string>
                <key>spriteSize</key>
                <string>{80,114}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{322,576},{80,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_walk_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{78,114}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{412,576},{78,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_walk_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-2}</string>
                <key>spriteSize</key>
                <string>{78,114}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{234,576},{78,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_walk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-3}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{704,700},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_walk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-5}</string>
                <key>spriteSize</key>
                <string>{88,118}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{274,700},{88,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_walk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-4}</string>
                <key>spriteSize</key>
                <string>{86,120}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{102,830},{86,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_walk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-3}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{372,700},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_walk_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-3}</string>
                <key>spriteSize</key>
                <string>{82,120}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{798,700},{82,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_walk_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-2}</string>
                <key>spriteSize</key>
                <string>{82,120}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{466,700},{82,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_walk_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-1}</string>
                <key>spriteSize</key>
                <string>{84,120}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{8,830},{84,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_walk_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-2}</string>
                <key>spriteSize</key>
                <string>{82,120}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{198,830},{82,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunA_walk_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-2}</string>
                <key>spriteSize</key>
                <string>{82,120}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{290,830},{82,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_block_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-14}</string>
                <key>spriteSize</key>
                <string>{88,96}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{114,460},{88,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_block_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-14}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{730,150},{84,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_block_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-6}</string>
                <key>spriteSize</key>
                <string>{116,90}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{824,150},{116,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_block_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{136,98}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{310,460},{136,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_block_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,5}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{456,460},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_block_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-6}</string>
                <key>spriteSize</key>
                <string>{120,94}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{8,354},{120,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_block_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{142,104}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{586,460},{142,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_block_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,5}</string>
                <key>spriteSize</key>
                <string>{126,106}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{738,460},{126,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_walk_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-16}</string>
                <key>spriteSize</key>
                <string>{88,96}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{212,460},{88,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_walk_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-15}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{424,250},{84,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_walk_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-15}</string>
                <key>spriteSize</key>
                <string>{86,92}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{730,250},{86,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_walk_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-16}</string>
                <key>spriteSize</key>
                <string>{86,90}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{634,150},{86,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_walk_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-15}</string>
                <key>spriteSize</key>
                <string>{90,92}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{518,250},{90,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_walk_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-15}</string>
                <key>spriteSize</key>
                <string>{94,92}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{320,250},{94,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_walk_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-15}</string>
                <key>spriteSize</key>
                <string>{102,92}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{618,250},{102,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_walk_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-15}</string>
                <key>spriteSize</key>
                <string>{104,90}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{520,150},{104,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_walk_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-14}</string>
                <key>spriteSize</key>
                <string>{104,90}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{206,250},{104,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_walk_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-15}</string>
                <key>spriteSize</key>
                <string>{92,90}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{104,250},{92,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_walk_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-15}</string>
                <key>spriteSize</key>
                <string>{86,90}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{8,250},{86,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_walk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-16}</string>
                <key>spriteSize</key>
                <string>{90,96}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{788,354},{90,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_walk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-16}</string>
                <key>spriteSize</key>
                <string>{90,96}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{352,354},{90,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_walk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-16}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{248,354},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_walk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-16}</string>
                <key>spriteSize</key>
                <string>{100,96}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{138,354},{100,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_walk_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-16}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{452,354},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_walk_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-15}</string>
                <key>spriteSize</key>
                <string>{108,96}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{570,354},{108,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_walk_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-15}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{826,250},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_walk_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-15}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{8,460},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gunB_walk_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-15}</string>
                <key>spriteSize</key>
                <string>{90,96}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{688,354},{90,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gun_sad_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-36}</string>
                <key>spriteSize</key>
                <string>{116,62}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{374,78},{116,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gun_sad_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-34}</string>
                <key>spriteSize</key>
                <string>{110,60}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{132,78},{110,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gun_sad_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-35}</string>
                <key>spriteSize</key>
                <string>{112,60}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{252,78},{112,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gun_sad_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-34}</string>
                <key>spriteSize</key>
                <string>{114,60}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{748,8},{114,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gun_sad_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-34}</string>
                <key>spriteSize</key>
                <string>{114,58}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{8,8},{114,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gun_sad_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-34}</string>
                <key>spriteSize</key>
                <string>{110,60}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{376,8},{110,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gun_sad_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-35}</string>
                <key>spriteSize</key>
                <string>{112,60}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{496,8},{112,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gun_sad_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-34}</string>
                <key>spriteSize</key>
                <string>{114,60}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{8,78},{114,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gun_sad_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-34}</string>
                <key>spriteSize</key>
                <string>{114,58}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{132,8},{114,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gun_sad_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-34}</string>
                <key>spriteSize</key>
                <string>{110,60}</string>
                <key>spriteSourceSize</key>
                <string>{156,150}</string>
                <key>textureRect</key>
                <string>{{256,8},{110,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gun_sad_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-36}</string>
                <key>spriteSize</key>
                <string>{118,64}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{264,150},{118,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gun_sad_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-36}</string>
                <key>spriteSize</key>
                <string>{118,64}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{392,150},{118,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gun_sad_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-36}</string>
                <key>spriteSize</key>
                <string>{120,60}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{618,8},{120,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gun_sad_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-36}</string>
                <key>spriteSize</key>
                <string>{116,62}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{138,150},{116,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gun_sad_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-37}</string>
                <key>spriteSize</key>
                <string>{118,62}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{626,78},{118,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gun_sad_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-37}</string>
                <key>spriteSize</key>
                <string>{118,62}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{754,78},{118,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gun_sad_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-35}</string>
                <key>spriteSize</key>
                <string>{120,62}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{8,150},{120,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_gun_sad_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-36}</string>
                <key>spriteSize</key>
                <string>{116,62}</string>
                <key>spriteSourceSize</key>
                <string>{164,158}</string>
                <key>textureRect</key>
                <string>{{500,78},{116,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>anim_gun.png</string>
            <key>size</key>
            <string>{948,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1578155fee3bc4d52e5a76f81f33b0d1:ad2e7b00e32cbbcd39bc0a3155da13b3:79a7e5e41f02041d246970434c5bbb3c$</string>
            <key>textureFileName</key>
            <string>anim_gun.png</string>
        </dict>
    </dict>
</plist>
