<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_btr_block_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,530},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_block_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,212},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_block_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,106},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_block_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,0},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_sad_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,636},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_sad_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,530},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_sad_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,424},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_sad_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,318},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_sad_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,424},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_sad_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,106},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_sad_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,0},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_sad_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,636},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_sad_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,424},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_sad_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,318},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_sad_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,212},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_sad_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,106},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_sad_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,0},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_sad_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,636},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_sad_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,636},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_sad_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,530},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_walk_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,318},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,212},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_walk_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,106},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_walk_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,212},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_walk_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,106},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_walk_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_walk_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,424},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_walk_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,318},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,106},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,0},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,636},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_walk_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,530},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_walk_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,424},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_walk_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,318},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_walk_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,318},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

			<key>anim_btr_walk_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,212},{151,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,100}}</string>
				<key>sourceSize</key>
				<string>{151,100}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{628,742}</string>
			<key>textureFileName</key>
			<string>anim_btr.png</string>
			</dict>
		</dict>
</plist>