<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_blo_block_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,0},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_block_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,0},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_block_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,695},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_block_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,556},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_sad_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,417},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_sad_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,278},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_sad_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,139},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_sad_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,695},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_sad_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,695},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_sad_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,556},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_sad_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,417},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_sad_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,278},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_sad_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,139},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_sad_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,0},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_sad_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,695},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_sad_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,556},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_sad_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,417},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_sad_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,278},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_sad_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,417},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_sad_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,139},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_walk_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,556},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,417},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_walk_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,139},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_walk_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_walk_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,0},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_walk_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,695},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_walk_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,556},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_walk_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,417},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,278},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,139},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,0},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_walk_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,695},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_walk_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,556},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_walk_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,417},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_walk_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,556},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

			<key>anim_blo_walk_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,278},{155,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,133}}</string>
				<key>sourceSize</key>
				<string>{155,133}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{805,834}</string>
			<key>textureFileName</key>
			<string>anim_blo.png</string>
			</dict>
		</dict>
</plist>