<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_jak_block_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,0},{113,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,119}}</string>
				<key>sourceSize</key>
				<string>{113,119}</string>
			</dict>

			<key>anim_jak_block_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,363},{113,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,119}}</string>
				<key>sourceSize</key>
				<string>{113,119}</string>
			</dict>

			<key>anim_jak_block_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,242},{113,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,119}}</string>
				<key>sourceSize</key>
				<string>{113,119}</string>
			</dict>

			<key>anim_jak_block_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,121},{113,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,119}}</string>
				<key>sourceSize</key>
				<string>{113,119}</string>
			</dict>

			<key>anim_jak_sad_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,0},{113,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,119}}</string>
				<key>sourceSize</key>
				<string>{113,119}</string>
			</dict>

			<key>anim_jak_sad_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,363},{113,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,119}}</string>
				<key>sourceSize</key>
				<string>{113,119}</string>
			</dict>

			<key>anim_jak_sad_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,242},{113,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,119}}</string>
				<key>sourceSize</key>
				<string>{113,119}</string>
			</dict>

			<key>anim_jak_sad_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,121},{113,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,119}}</string>
				<key>sourceSize</key>
				<string>{113,119}</string>
			</dict>

			<key>anim_jak_sad_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{113,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,119}}</string>
				<key>sourceSize</key>
				<string>{113,119}</string>
			</dict>

			<key>anim_jak_sad_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,121},{113,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,119}}</string>
				<key>sourceSize</key>
				<string>{113,119}</string>
			</dict>

			<key>anim_jak_sad_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,121},{113,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,119}}</string>
				<key>sourceSize</key>
				<string>{113,119}</string>
			</dict>

			<key>anim_jak_sad_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,0},{113,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,119}}</string>
				<key>sourceSize</key>
				<string>{113,119}</string>
			</dict>

			<key>anim_jak_walk_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,363},{113,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,119}}</string>
				<key>sourceSize</key>
				<string>{113,119}</string>
			</dict>

			<key>anim_jak_walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,242},{113,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,119}}</string>
				<key>sourceSize</key>
				<string>{113,119}</string>
			</dict>

			<key>anim_jak_walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,121},{113,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,119}}</string>
				<key>sourceSize</key>
				<string>{113,119}</string>
			</dict>

			<key>anim_jak_walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,0},{113,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,119}}</string>
				<key>sourceSize</key>
				<string>{113,119}</string>
			</dict>

			<key>anim_jak_walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,363},{113,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,119}}</string>
				<key>sourceSize</key>
				<string>{113,119}</string>
			</dict>

			<key>anim_jak_walk_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,363},{113,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,119}}</string>
				<key>sourceSize</key>
				<string>{113,119}</string>
			</dict>

			<key>anim_jak_walk_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,242},{113,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,119}}</string>
				<key>sourceSize</key>
				<string>{113,119}</string>
			</dict>

			<key>anim_jak_walk_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,242},{113,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,119}}</string>
				<key>sourceSize</key>
				<string>{113,119}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{575,484}</string>
			<key>textureFileName</key>
			<string>anim_jak.png</string>
			</dict>
		</dict>
</plist>