<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_gum_block_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,516},{143,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,123}}</string>
				<key>sourceSize</key>
				<string>{143,123}</string>
			</dict>

			<key>anim_gum_block_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,387},{143,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,123}}</string>
				<key>sourceSize</key>
				<string>{143,123}</string>
			</dict>

			<key>anim_gum_block_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,258},{143,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,123}}</string>
				<key>sourceSize</key>
				<string>{143,123}</string>
			</dict>

			<key>anim_gum_block_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,129},{143,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,123}}</string>
				<key>sourceSize</key>
				<string>{143,123}</string>
			</dict>

			<key>anim_gum_sad_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,0},{143,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,123}}</string>
				<key>sourceSize</key>
				<string>{143,123}</string>
			</dict>

			<key>anim_gum_sad_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,516},{143,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,123}}</string>
				<key>sourceSize</key>
				<string>{143,123}</string>
			</dict>

			<key>anim_gum_sad_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,387},{143,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,123}}</string>
				<key>sourceSize</key>
				<string>{143,123}</string>
			</dict>

			<key>anim_gum_sad_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,258},{143,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,123}}</string>
				<key>sourceSize</key>
				<string>{143,123}</string>
			</dict>

			<key>anim_gum_sad_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,129},{143,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,123}}</string>
				<key>sourceSize</key>
				<string>{143,123}</string>
			</dict>

			<key>anim_gum_sad_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,0},{143,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,123}}</string>
				<key>sourceSize</key>
				<string>{143,123}</string>
			</dict>

			<key>anim_gum_sad_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,516},{143,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,123}}</string>
				<key>sourceSize</key>
				<string>{143,123}</string>
			</dict>

			<key>anim_gum_sad_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,387},{143,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,123}}</string>
				<key>sourceSize</key>
				<string>{143,123}</string>
			</dict>

			<key>anim_gum_walk_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,258},{143,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,123}}</string>
				<key>sourceSize</key>
				<string>{143,123}</string>
			</dict>

			<key>anim_gum_walk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,129},{143,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,123}}</string>
				<key>sourceSize</key>
				<string>{143,123}</string>
			</dict>

			<key>anim_gum_walk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,0},{143,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,123}}</string>
				<key>sourceSize</key>
				<string>{143,123}</string>
			</dict>

			<key>anim_gum_walk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,516},{143,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,123}}</string>
				<key>sourceSize</key>
				<string>{143,123}</string>
			</dict>

			<key>anim_gum_walk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,387},{143,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,123}}</string>
				<key>sourceSize</key>
				<string>{143,123}</string>
			</dict>

			<key>anim_gum_walk_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,258},{143,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,123}}</string>
				<key>sourceSize</key>
				<string>{143,123}</string>
			</dict>

			<key>anim_gum_walk_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,129},{143,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,123}}</string>
				<key>sourceSize</key>
				<string>{143,123}</string>
			</dict>

			<key>anim_gum_walk_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{143,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,123}}</string>
				<key>sourceSize</key>
				<string>{143,123}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{596,645}</string>
			<key>textureFileName</key>
			<string>anim_gum.png</string>
			</dict>
		</dict>
</plist>