<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_bear_idleL_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{212,218}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{458,8},{212,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_idleL_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{214,220}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{8,694},{214,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_idleL_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{214,220}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{454,464},{214,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_idleL_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{214,222}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{232,694},{214,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_idleL_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{214,222}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{456,694},{214,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_idleL_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{212,220}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{678,464},{212,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_idleL_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{212,218}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{674,236},{212,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_pullL_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{212,218}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{8,464},{212,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_pullL_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{214,218}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{234,8},{214,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_pullL_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{8,8},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_pullR_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-7}</string>
                <key>spriteSize</key>
                <string>{210,218}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{232,236},{210,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_pullR_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{214,220}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{230,464},{214,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_pullR_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{214,218}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{8,236},{214,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_pullR_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{212,218}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{452,236},{212,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_bear_1.png</string>
            <key>size</key>
            <string>{898,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f4ef4bc8c3dbe5d974ecef1f9fe4139:3682605c7ab74d9d617043189ccfb46a:1c6b23939b65a77538af65740640ae0e$</string>
            <key>textureFileName</key>
            <string>char_bear_1.png</string>
        </dict>
    </dict>
</plist>
