<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_bear_idleR_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{204,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{436,234},{204,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_idleR_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{204,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{8,234},{204,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_idleR_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{204,218}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{436,686},{204,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_idleR_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{204,218}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{222,686},{204,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_idleR_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{204,218}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{650,686},{204,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_idleR_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{204,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{430,460},{204,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_idleR_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{204,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{8,686},{204,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_pullL_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{210,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{426,8},{210,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_pullL_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-8}</string>
                <key>spriteSize</key>
                <string>{202,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{218,460},{202,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_pullL_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-9}</string>
                <key>spriteSize</key>
                <string>{200,214}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{216,8},{200,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_pullL_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-8}</string>
                <key>spriteSize</key>
                <string>{202,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{644,460},{202,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_pullL_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{204,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{222,234},{204,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_pullR_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{204,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{646,8},{204,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_pullR_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-8}</string>
                <key>spriteSize</key>
                <string>{200,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{8,460},{200,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_pullR_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-9}</string>
                <key>spriteSize</key>
                <string>{198,214}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{8,8},{198,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bear_pullR_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{204,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,240}</string>
                <key>textureRect</key>
                <string>{{650,234},{204,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_bear_0.png</string>
            <key>size</key>
            <string>{862,912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f4ef4bc8c3dbe5d974ecef1f9fe4139:3682605c7ab74d9d617043189ccfb46a:1c6b23939b65a77538af65740640ae0e$</string>
            <key>textureFileName</key>
            <string>char_bear_0.png</string>
        </dict>
    </dict>
</plist>
