<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_sign.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,672},{92,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,91}}</string>
				<key>sourceSize</key>
				<string>{92,91}</string>
			</dict>

			<key>gobj_tentBack0.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,444},{351,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{351,222}}</string>
				<key>sourceSize</key>
				<string>{351,222}</string>
			</dict>

			<key>gobj_tentBack1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,444},{356,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,222}}</string>
				<key>sourceSize</key>
				<string>{356,222}</string>
			</dict>

			<key>gobj_tentDoor.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,444},{93,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,179}}</string>
				<key>sourceSize</key>
				<string>{93,179}</string>
			</dict>

			<key>gobj_tentFront0.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,0},{376,438}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,438}}</string>
				<key>sourceSize</key>
				<string>{376,438}</string>
			</dict>

			<key>gobj_tentFront1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{376,438}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,438}}</string>
				<key>sourceSize</key>
				<string>{376,438}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{818,769}</string>
			<key>textureFileName</key>
			<string>gobj.png</string>
			</dict>
		</dict>
</plist>