<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>titleScreen_gunterA_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{479,243}</string>
                <key>spriteSourceSize</key>
                <string>{497,279}</string>
                <key>textureRect</key>
                <string>{{8,8},{479,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleScreen_gunterB_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{202,225}</string>
                <key>spriteSourceSize</key>
                <string>{202,229}</string>
                <key>textureRect</key>
                <string>{{8,261},{202,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleScreen_gunterB_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-1}</string>
                <key>spriteSize</key>
                <string>{160,219}</string>
                <key>spriteSourceSize</key>
                <string>{202,229}</string>
                <key>textureRect</key>
                <string>{{220,261},{160,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleScreen_gunterB_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-4}</string>
                <key>spriteSize</key>
                <string>{160,213}</string>
                <key>spriteSourceSize</key>
                <string>{202,229}</string>
                <key>textureRect</key>
                <string>{{8,496},{160,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleScreen_gunterB_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-1}</string>
                <key>spriteSize</key>
                <string>{172,219}</string>
                <key>spriteSourceSize</key>
                <string>{202,229}</string>
                <key>textureRect</key>
                <string>{{178,496},{172,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>titleScreen_gunA_2.png</string>
            <key>size</key>
            <string>{495,723}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0978c667cbe4afbadc6d6799425faf9:afb756c3216b5778fec5d624a2dfdaf4:c410b50b08b93a667d24a199372e50fc$</string>
            <key>textureFileName</key>
            <string>titleScreen_gunA_2.png</string>
        </dict>
    </dict>
</plist>
