<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>titleScreen_gunterA_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-16}</string>
                <key>spriteSize</key>
                <string>{447,247}</string>
                <key>spriteSourceSize</key>
                <string>{497,279}</string>
                <key>textureRect</key>
                <string>{{469,261},{447,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleScreen_gunterA_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-7}</string>
                <key>spriteSize</key>
                <string>{445,265}</string>
                <key>spriteSourceSize</key>
                <string>{497,279}</string>
                <key>textureRect</key>
                <string>{{471,518},{445,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleScreen_gunterA_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-14}</string>
                <key>spriteSize</key>
                <string>{453,251}</string>
                <key>spriteSourceSize</key>
                <string>{497,279}</string>
                <key>textureRect</key>
                <string>{{8,518},{453,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleScreen_gunterA_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-19}</string>
                <key>spriteSize</key>
                <string>{479,241}</string>
                <key>spriteSourceSize</key>
                <string>{497,279}</string>
                <key>textureRect</key>
                <string>{{8,8},{479,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleScreen_gunterA_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-18}</string>
                <key>spriteSize</key>
                <string>{449,243}</string>
                <key>spriteSourceSize</key>
                <string>{497,279}</string>
                <key>textureRect</key>
                <string>{{497,8},{449,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleScreen_gunterA_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-17}</string>
                <key>spriteSize</key>
                <string>{451,245}</string>
                <key>spriteSourceSize</key>
                <string>{497,279}</string>
                <key>textureRect</key>
                <string>{{8,261},{451,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleScreen_gunterA_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-17}</string>
                <key>spriteSize</key>
                <string>{451,245}</string>
                <key>spriteSourceSize</key>
                <string>{497,279}</string>
                <key>textureRect</key>
                <string>{{8,261},{451,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>titleScreen_gunA_1.png</string>
            <key>size</key>
            <string>{954,791}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b19b972a784c6b4caf0da0b1cfcfddb:3cba981801a6dc4d615fcb57feea13b8:6b76f79c683d9adee0b4dc17a1ec929a$</string>
            <key>textureFileName</key>
            <string>titleScreen_gunA_1.png</string>
        </dict>
    </dict>
</plist>
