<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>titleScreen_gunterA_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{481,245}</string>
                <key>spriteSourceSize</key>
                <string>{497,279}</string>
                <key>textureRect</key>
                <string>{{8,259},{481,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleScreen_gunterA_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-19}</string>
                <key>spriteSize</key>
                <string>{479,241}</string>
                <key>spriteSourceSize</key>
                <string>{497,279}</string>
                <key>textureRect</key>
                <string>{{465,8},{479,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleScreen_gunterA_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{481,245}</string>
                <key>spriteSourceSize</key>
                <string>{497,279}</string>
                <key>textureRect</key>
                <string>{{8,259},{481,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleScreen_gunterA_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-17}</string>
                <key>spriteSize</key>
                <string>{467,245}</string>
                <key>spriteSourceSize</key>
                <string>{497,279}</string>
                <key>textureRect</key>
                <string>{{499,259},{467,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleScreen_gunterA_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-4}</string>
                <key>spriteSize</key>
                <string>{453,271}</string>
                <key>spriteSourceSize</key>
                <string>{497,279}</string>
                <key>textureRect</key>
                <string>{{463,514},{453,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleScreen_gunterA_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-12}</string>
                <key>spriteSize</key>
                <string>{445,255}</string>
                <key>spriteSourceSize</key>
                <string>{497,279}</string>
                <key>textureRect</key>
                <string>{{8,514},{445,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleScreen_gunterA_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-19}</string>
                <key>spriteSize</key>
                <string>{447,241}</string>
                <key>spriteSourceSize</key>
                <string>{497,279}</string>
                <key>textureRect</key>
                <string>{{8,8},{447,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titleScreen_gunterA_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-19}</string>
                <key>spriteSize</key>
                <string>{447,241}</string>
                <key>spriteSourceSize</key>
                <string>{497,279}</string>
                <key>textureRect</key>
                <string>{{8,8},{447,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>titleScreen_gunA_0.png</string>
            <key>size</key>
            <string>{974,793}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b19b972a784c6b4caf0da0b1cfcfddb:3cba981801a6dc4d615fcb57feea13b8:6b76f79c683d9adee0b4dc17a1ec929a$</string>
            <key>textureFileName</key>
            <string>titleScreen_gunA_0.png</string>
        </dict>
    </dict>
</plist>
