
@font-face {
  font-family: 'FredFredburgerAraHeadW21-Blk';
  src: url('FredFredburgerAraHeadW21-Blk.eot?#iefix') format('embedded-opentype'),  url('FredFredburgerAraHeadW21-Blk.woff') format('woff'), url('FredFredburgerAraHeadW21-Blk.ttf')  format('truetype'), url('FredFredburgerAraHeadW21-Blk.svg#FredFredburgerAraHeadW21-Blk') format('svg');
  font-weight: normal;
  font-style: normal;
}
