<?xml version="1.0" encoding="utf-8"?>
<config>
	
	<tracking enabled="false">
		<gameName>petvet</gameName>
		<!-- The localization region to load. Loads string files in strings/strings_<two letter locale>.xml. or, will load string.xml by default. -->
		<!-- <locale>ru</locale> -->
	</tracking>

	<options>
 		<hostingURL1><![CDATA[www.nick.com/games/nickelodeon-pet-vet.html]]></hostingURL1>
		<hostingURL2><![CDATA[www.nick-q.mtvi.com/games/nickelodeon-pet-vet.html]]></hostingURL2>
	</options>

</config>