<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_circleOrange.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,130},{67,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,59}}</string>
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>

			<key>anim_circleRed.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,190},{67,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,59}}</string>
				<key>sourceSize</key>
				<string>{67,59}</string>
			</dict>

			<key>anim_paintBrush_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,230},{135,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,114}}</string>
				<key>sourceSize</key>
				<string>{135,114}</string>
			</dict>

			<key>anim_paintBrush_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,345},{135,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,114}}</string>
				<key>sourceSize</key>
				<string>{135,114}</string>
			</dict>

			<key>anim_paintBrush_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,230},{135,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,114}}</string>
				<key>sourceSize</key>
				<string>{135,114}</string>
			</dict>

			<key>anim_paintBrush_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,115},{135,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,114}}</string>
				<key>sourceSize</key>
				<string>{135,114}</string>
			</dict>

			<key>anim_paintBrush_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{135,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,114}}</string>
				<key>sourceSize</key>
				<string>{135,114}</string>
			</dict>

			<key>anim_paintBrush_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,0},{135,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,114}}</string>
				<key>sourceSize</key>
				<string>{135,114}</string>
			</dict>

			<key>anim_paintBrush_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,345},{135,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,114}}</string>
				<key>sourceSize</key>
				<string>{135,114}</string>
			</dict>

			<key>anim_paintBrush_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,0},{135,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,114}}</string>
				<key>sourceSize</key>
				<string>{135,114}</string>
			</dict>

			<key>anim_paintBrush_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{135,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,114}}</string>
				<key>sourceSize</key>
				<string>{135,114}</string>
			</dict>

			<key>anim_paintBrush_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,230},{135,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,114}}</string>
				<key>sourceSize</key>
				<string>{135,114}</string>
			</dict>

			<key>anim_paintBrush_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,115},{135,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,114}}</string>
				<key>sourceSize</key>
				<string>{135,114}</string>
			</dict>

			<key>anim_slashLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,65},{77,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,64}}</string>
				<key>sourceSize</key>
				<string>{77,64}</string>
			</dict>

			<key>anim_slashRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,0},{77,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,64}}</string>
				<key>sourceSize</key>
				<string>{77,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>anim.png</string>
			</dict>
		</dict>
</plist>