<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_game0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,0},{460,644}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{460,644}}</string>
				<key>sourceSize</key>
				<string>{460,644}</string>
			</dict>

			<key>gobj_game0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1295,1956},{41,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,68}}</string>
				<key>sourceSize</key>
				<string>{41,68}</string>
			</dict>

			<key>gobj_game0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,1956},{85,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,32}}</string>
				<key>sourceSize</key>
				<string>{85,32}</string>
			</dict>

			<key>gobj_game0_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,2005},{55,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,27}}</string>
				<key>sourceSize</key>
				<string>{55,27}</string>
			</dict>

			<key>gobj_game0_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,1956},{45,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,80}}</string>
				<key>sourceSize</key>
				<string>{45,80}</string>
			</dict>

			<key>gobj_game0_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1245,1956},{42,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,45}}</string>
				<key>sourceSize</key>
				<string>{42,45}</string>
			</dict>

			<key>gobj_game0_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,1956},{47,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,51}}</string>
				<key>sourceSize</key>
				<string>{47,51}</string>
			</dict>

			<key>gobj_game1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,652},{460,644}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{460,644}}</string>
				<key>sourceSize</key>
				<string>{460,644}</string>
			</dict>

			<key>gobj_game1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,1049},{104,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,117}}</string>
				<key>sourceSize</key>
				<string>{104,117}</string>
			</dict>

			<key>gobj_game1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1956},{72,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,81}}</string>
				<key>sourceSize</key>
				<string>{72,81}</string>
			</dict>

			<key>gobj_game1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,2010},{81,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,23}}</string>
				<key>sourceSize</key>
				<string>{81,23}</string>
			</dict>

			<key>gobj_game1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,1956},{51,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,57}}</string>
				<key>sourceSize</key>
				<string>{51,57}</string>
			</dict>

			<key>gobj_game1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,1717},{43,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,115}}</string>
				<key>sourceSize</key>
				<string>{43,115}</string>
			</dict>

			<key>gobj_game1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,1499},{79,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,87}}</string>
				<key>sourceSize</key>
				<string>{79,87}</string>
			</dict>

			<key>gobj_game1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,2010},{40,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,22}}</string>
				<key>sourceSize</key>
				<string>{40,22}</string>
			</dict>

			<key>gobj_game2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{468,1304},{460,644}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{460,644}}</string>
				<key>sourceSize</key>
				<string>{460,644}</string>
			</dict>

			<key>gobj_game2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,762},{110,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,181}}</string>
				<key>sourceSize</key>
				<string>{110,181}</string>
			</dict>

			<key>gobj_game2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,1956},{101,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,66}}</string>
				<key>sourceSize</key>
				<string>{101,66}</string>
			</dict>

			<key>gobj_game2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,1594},{46,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,115}}</string>
				<key>sourceSize</key>
				<string>{46,115}</string>
			</dict>

			<key>gobj_game2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,1219},{50,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,107}}</string>
				<key>sourceSize</key>
				<string>{104,107}</string>
			</dict>

			<key>gobj_game2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,2015},{31,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,24}}</string>
				<key>sourceSize</key>
				<string>{31,24}</string>
			</dict>

			<key>gobj_game2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,1289},{99,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,98}}</string>
				<key>sourceSize</key>
				<string>{99,98}</string>
			</dict>

			<key>gobj_game2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,1956},{60,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,56}}</string>
				<key>sourceSize</key>
				<string>{60,56}</string>
			</dict>

			<key>gobj_game2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,2017},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,21}}</string>
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>

			<key>gobj_game3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,0},{460,644}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{460,644}}</string>
				<key>sourceSize</key>
				<string>{460,644}</string>
			</dict>

			<key>gobj_game3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2001},{106,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,35}}</string>
				<key>sourceSize</key>
				<string>{106,35}</string>
			</dict>

			<key>gobj_game3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1956},{64,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,41}}</string>
				<key>sourceSize</key>
				<string>{64,41}</string>
			</dict>

			<key>gobj_game3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,1840},{41,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,99}}</string>
				<key>sourceSize</key>
				<string>{41,99}</string>
			</dict>

			<key>gobj_game3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1344,1956},{39,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,37}}</string>
				<key>sourceSize</key>
				<string>{39,37}</string>
			</dict>

			<key>gobj_game3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1424,659},{106,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,102}}</string>
				<key>sourceSize</key>
				<string>{86,102}</string>
			</dict>

			<key>gobj_game3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,1956},{56,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,66}}</string>
				<key>sourceSize</key>
				<string>{56,66}</string>
			</dict>

			<key>gobj_game3_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1391,1956},{38,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,67}}</string>
				<key>sourceSize</key>
				<string>{38,67}</string>
			</dict>

			<key>gobj_game3_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1956},{51,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,37}}</string>
				<key>sourceSize</key>
				<string>{51,37}</string>
			</dict>

			<key>gobj_game3_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1956},{132,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,37}}</string>
				<key>sourceSize</key>
				<string>{132,37}</string>
			</dict>

			<key>gobj_game4_ 2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1344,2001},{37,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,38}}</string>
				<key>sourceSize</key>
				<string>{37,38}</string>
			</dict>

			<key>gobj_game4_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1304},{460,644}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{460,644}}</string>
				<key>sourceSize</key>
				<string>{460,644}</string>
			</dict>

			<key>gobj_game4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,1956},{66,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,53}}</string>
				<key>sourceSize</key>
				<string>{66,53}</string>
			</dict>

			<key>gobj_game4_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,1996},{65,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,34}}</string>
				<key>sourceSize</key>
				<string>{65,34}</string>
			</dict>

			<key>gobj_game4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,1956},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,53}}</string>
				<key>sourceSize</key>
				<string>{52,53}</string>
			</dict>

			<key>gobj_game4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,1395},{81,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,96}}</string>
				<key>sourceSize</key>
				<string>{81,96}</string>
			</dict>

			<key>gobj_game4_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,1956},{111,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,46}}</string>
				<key>sourceSize</key>
				<string>{111,46}</string>
			</dict>

			<key>gobj_game4_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,2001},{41,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,35}}</string>
				<key>sourceSize</key>
				<string>{41,35}</string>
			</dict>

			<key>gobj_game4_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,1956},{49,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,41}}</string>
				<key>sourceSize</key>
				<string>{49,41}</string>
			</dict>

			<key>gobj_game4_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1404,951},{105,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,90}}</string>
				<key>sourceSize</key>
				<string>{105,90}</string>
			</dict>

			<key>gobj_game4_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,1956},{75,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,65}}</string>
				<key>sourceSize</key>
				<string>{75,65}</string>
			</dict>

			<key>gobj_game_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,652},{460,644}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{460,644}}</string>
				<key>sourceSize</key>
				<string>{460,644}</string>
			</dict>

			<key>gobj_game_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,0},{460,644}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{460,644}}</string>
				<key>sourceSize</key>
				<string>{460,644}</string>
			</dict>

			<key>gobj_game_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1304},{460,644}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{460,644}}</string>
				<key>sourceSize</key>
				<string>{460,644}</string>
			</dict>

			<key>gobj_game_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{460,644}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{460,644}}</string>
				<key>sourceSize</key>
				<string>{460,644}</string>
			</dict>

			<key>gobj_game_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,652},{460,644}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{460,644}}</string>
				<key>sourceSize</key>
				<string>{460,644}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>gobj.png</string>
			</dict>
		</dict>
</plist>