<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,297},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>btn_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,297},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_barBase.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,191},{770,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{770,81}}</string>
				<key>sourceSize</key>
				<string>{770,81}</string>
			</dict>

			<key>ui_barFill.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,278},{726,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{726,44}}</string>
				<key>sourceSize</key>
				<string>{726,44}</string>
			</dict>

			<key>ui_barMask.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,328},{726,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{726,45}}</string>
				<key>sourceSize</key>
				<string>{726,45}</string>
			</dict>

			<key>ui_btnHint_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{1135,543},{175,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,123}}</string>
				<key>sourceSize</key>
				<string>{175,123}</string>
			</dict>

			<key>ui_btnHint_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{1257,672},{175,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,126}}</string>
				<key>sourceSize</key>
				<string>{175,126}</string>
			</dict>

			<key>ui_btnHowTo_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,749},{311,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,99}}</string>
				<key>sourceSize</key>
				<string>{311,99}</string>
			</dict>

			<key>ui_btnHowTo_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,191},{312,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{312,100}}</string>
				<key>sourceSize</key>
				<string>{312,100}</string>
			</dict>

			<key>ui_btnPlayAgain_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,0},{311,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,99}}</string>
				<key>sourceSize</key>
				<string>{311,99}</string>
			</dict>

			<key>ui_btnPlayAgain_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,854},{311,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{311,100}}</string>
				<key>sourceSize</key>
				<string>{311,100}</string>
			</dict>

			<key>ui_btnPlay_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{1135,353},{185,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,88}}</string>
				<key>sourceSize</key>
				<string>{185,88}</string>
			</dict>

			<key>ui_btnPlay_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{1135,447},{185,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,90}}</string>
				<key>sourceSize</key>
				<string>{185,90}</string>
			</dict>

			<key>ui_clear.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,772},{443,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{443,216}}</string>
				<key>sourceSize</key>
				<string>{443,216}</string>
			</dict>

			<key>ui_gameover.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{868,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{868,185}}</string>
				<key>sourceSize</key>
				<string>{868,185}</string>
			</dict>

			<key>ui_levelUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,379},{611,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{611,387}}</string>
				<key>sourceSize</key>
				<string>{611,387}</string>
			</dict>

			<key>ui_newRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{1094,105},{297,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{297,242}}</string>
				<key>sourceSize</key>
				<string>{297,242}</string>
			</dict>

			<key>ui_ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,772},{485,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{485,234}}</string>
				<key>sourceSize</key>
				<string>{485,234}</string>
			</dict>

			<key>ui_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,379},{512,364}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,364}}</string>
				<key>sourceSize</key>
				<string>{512,364}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>