<config>

   <!-- SERVICES -->
   <services>
      <service type="eventReporting" enabled="true" showGameTitle="Henry Danger - The Danger Trials"/>
      <service type="localStorage" enabled="false"/>
   </services>

   <!-- LOCALISATION SETTING - SET WITH LANGUAGE CODE IN BELOW LIST -->
   <!--
	    English: en
		French: fr
		Italian: it
		German: de
		Mexican Spanish: mx
		Castilian Spanish (Spain): es
		Danish: da
		Dutch: nl
		Finnish: fi
		Norwegian: no
		Polish: pl
		Swedish: se
		Portuguese: pt
		Brazilian Portuguese: br
		Romanian: ro
		Turkish: tr
		Russian: ru
		Ukrainian: uk
		Greek: el
	-->

	<!-- VO toggle.. use 'on' or 'off'-->
	<votoggle>
	<vo>off</vo>
	</votoggle>

	<!-- 'Game logos' toggle (use designed logos - 'on' or use basic localised strings -'off')-->
	<logotoggle>
	<uselogos>off</uselogos>
	</logotoggle>

   <localization>
	<languagecode>fr</languagecode>
   </localization>

</config>