@font-face {
	font-family: 'kelson_bd';
	src: url('kelsonsansbg-bold.otf') format('opentype'),
	url('kelsonsansbg-bold.ttf') format('truetype'),
	url('kelsonsansbg-bold.woff') format('woff');

	font-weight: normal;
	font-style: normal;
}