<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>q20_a1_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,385}</string>
                <key>spriteSourceSize</key>
                <string>{385,385}</string>
                <key>textureRect</key>
                <string>{{390,2},{385,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>q20_a1_imagesAlt_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,385}</string>
                <key>spriteSourceSize</key>
                <string>{385,385}</string>
                <key>textureRect</key>
                <string>{{390,390},{385,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>q20_a2_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,414}</string>
                <key>spriteSourceSize</key>
                <string>{385,414}</string>
                <key>textureRect</key>
                <string>{{2,2},{385,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>q20_a2_imagesAlt_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,414}</string>
                <key>spriteSourceSize</key>
                <string>{385,414}</string>
                <key>textureRect</key>
                <string>{{2,419},{385,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>g0_level20_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:961a03c5ac3bcfea48fc2a7c5a1a880f:b5e7a34b364b0dd187832de48b80eaad:f54a481ef3d4d71536e850e8f09dd8d5$</string>
            <key>textureFileName</key>
            <string>g0_level20_0.png</string>
        </dict>
    </dict>
</plist>
