<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>q19_a1_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,414}</string>
                <key>spriteSourceSize</key>
                <string>{385,414}</string>
                <key>textureRect</key>
                <string>{{2,2},{385,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>q19_a1_imagesAlt_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,414}</string>
                <key>spriteSourceSize</key>
                <string>{385,414}</string>
                <key>textureRect</key>
                <string>{{2,419},{385,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>q19_a2_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,414}</string>
                <key>spriteSourceSize</key>
                <string>{385,414}</string>
                <key>textureRect</key>
                <string>{{390,2},{385,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>q19_a2_imagesAlt_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,414}</string>
                <key>spriteSourceSize</key>
                <string>{385,414}</string>
                <key>textureRect</key>
                <string>{{390,419},{385,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>g0_level19_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94746a1aaa12a421d2dcb8befa529a51:e83e7fddeb648012473b7ff1c9dcbe62:4b7a81be9d6c935d5b7bb12b26408a31$</string>
            <key>textureFileName</key>
            <string>g0_level19_0.png</string>
        </dict>
    </dict>
</plist>
