<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qz0_q29_a1_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,414}</string>
                <key>spriteSourceSize</key>
                <string>{385,414}</string>
                <key>textureRect</key>
                <string>{{2,2},{385,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q29_a1_imagesAlt_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,414}</string>
                <key>spriteSourceSize</key>
                <string>{385,414}</string>
                <key>textureRect</key>
                <string>{{2,419},{385,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q29_a2_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,414}</string>
                <key>spriteSourceSize</key>
                <string>{385,414}</string>
                <key>textureRect</key>
                <string>{{390,2},{385,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q29_a2_imagesAlt_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,414}</string>
                <key>spriteSourceSize</key>
                <string>{385,414}</string>
                <key>textureRect</key>
                <string>{{390,419},{385,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>g0_level29_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:049a43911cccd7f4cce0483e308160f9:3ad6c893d461339ea8158df8bd7ca830:e8a88e439eaa70e6e7403929cba47633$</string>
            <key>textureFileName</key>
            <string>g0_level29_0.png</string>
        </dict>
    </dict>
</plist>
