<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>q17_a1_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,414}</string>
                <key>spriteSourceSize</key>
                <string>{385,414}</string>
                <key>textureRect</key>
                <string>{{2,2},{385,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>q17_a2_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,414}</string>
                <key>spriteSourceSize</key>
                <string>{385,414}</string>
                <key>textureRect</key>
                <string>{{2,419},{385,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>q17_a3_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,414}</string>
                <key>spriteSourceSize</key>
                <string>{385,414}</string>
                <key>textureRect</key>
                <string>{{390,2},{385,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>q17_a4_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,414}</string>
                <key>spriteSourceSize</key>
                <string>{385,414}</string>
                <key>textureRect</key>
                <string>{{390,419},{385,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>g0_level17_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11220645f1d4a7e4b8dc2ad671277394:f6ad2d3db1c6840da997b48739bef6b0:88465fc3580e83057083d8942ae46e89$</string>
            <key>textureFileName</key>
            <string>g0_level17_0.png</string>
        </dict>
    </dict>
</plist>
