<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>match_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>match_disc.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{426,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,426}}</string>
                <key>sourceSize</key>
                <string>{426,426}</string>
            </dict>
            <key>match_disc_electric1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{426,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,426}}</string>
                <key>sourceSize</key>
                <string>{426,426}</string>
            </dict>
            <key>match_disc_electric2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{426,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,426}}</string>
                <key>sourceSize</key>
                <string>{426,426}</string>
            </dict>
            <key>match_symbol_1_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,430},{65,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,54}}</string>
                <key>sourceSize</key>
                <string>{65,54}</string>
            </dict>
            <key>match_symbol_1_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,430},{65,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,54}}</string>
                <key>sourceSize</key>
                <string>{65,54}</string>
            </dict>
            <key>match_symbol_2_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,430},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
            <key>match_symbol_2_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,430},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
            <key>match_symbol_3_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,430},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>match_symbol_3_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,430},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>match_symbol_4_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,430},{80,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,35}}</string>
                <key>sourceSize</key>
                <string>{80,35}</string>
            </dict>
            <key>match_symbol_4_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,430},{80,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,35}}</string>
                <key>sourceSize</key>
                <string>{80,35}</string>
            </dict>
            <key>match_symbol_5_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,430},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>match_symbol_5_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites_jammin.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8b26c13e8b4e86586fcd0dbcfa70786:5aebc23c2fb767a4efcf764d6a20a8ea:3ffca0642df036f21e31b6056b41f2ba$</string>
            <key>textureFileName</key>
            <string>sprites_jammin.png</string>
        </dict>
    </dict>
</plist>
