<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mg1_ArrangeOatmeal_ThoughtGlow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{166,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{166,108}}</string>
                <key>sourceSize</key>
                <string>{168,116}</string>
            </dict>
            <key>mg1_Blink_Bear.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,376},{75,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,32}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>mg1_Blink_MamaBear.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,338},{87,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,36}}</string>
                <key>sourceSize</key>
                <string>{87,36}</string>
            </dict>
            <key>mg1_Blink_PapaBear.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,405},{71,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,31}}</string>
                <key>sourceSize</key>
                <string>{71,31}</string>
            </dict>
            <key>mg1_Bowl_Apples.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,271},{194,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,132}}</string>
                <key>sourceSize</key>
                <string>{194,132}</string>
            </dict>
            <key>mg1_Bowl_Berries.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,133},{196,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,136}}</string>
                <key>sourceSize</key>
                <string>{196,136}</string>
            </dict>
            <key>mg1_Bowl_Mac.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{195,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,123}}</string>
                <key>sourceSize</key>
                <string>{195,123}</string>
            </dict>
            <key>mg1_FX_Bowl_BottomLayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{124,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{128,58}</string>
            </dict>
            <key>mg1_FX_Bowl_TopLayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,461},{128,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,86}}</string>
                <key>sourceSize</key>
                <string>{128,86}</string>
            </dict>
            <key>mg1_HoneyThought.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,405},{143,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,54}}</string>
                <key>sourceSize</key>
                <string>{143,54}</string>
            </dict>
            <key>mg1_HoneyWalnut.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{204,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,129}}</string>
                <key>sourceSize</key>
                <string>{204,129}</string>
            </dict>
            <key>mg1_Thought_Apples.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{142,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,66}}</string>
                <key>sourceSize</key>
                <string>{142,66}</string>
            </dict>
            <key>mg1_Thought_Berries.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,438},{128,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,88}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>mg1_Thought_Mac.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,271},{99,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,65}}</string>
                <key>sourceSize</key>
                <string>{99,65}</string>
            </dict>
            <key>mg1_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,176}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minigame_1_0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f36b54046cbd12ba98e80931427d411:09129afa853aba90fdd4dc6039f90e63:8702d3830987550ecf882226eb6b5d27$</string>
            <key>textureFileName</key>
            <string>minigame_1_0.png</string>
        </dict>
    </dict>
</plist>
