<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mg13_Humpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,279},{205,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,321}}</string>
                <key>sourceSize</key>
                <string>{205,321}</string>
            </dict>
            <key>mg13_Humpty_LOSE1.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,602},{205,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,321}}</string>
                <key>sourceSize</key>
                <string>{205,321}</string>
            </dict>
            <key>mg13_Humpty_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{303,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,321}}</string>
                <key>sourceSize</key>
                <string>{303,321}</string>
            </dict>
            <key>mg13_Wolf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{263,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,330}}</string>
                <key>sourceSize</key>
                <string>{263,330}</string>
            </dict>
            <key>minigame_13_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{996,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{996,275}}</string>
                <key>sourceSize</key>
                <string>{996,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minigame_13_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f790eb0e9fccef193379ed64ec5aab68:14e4ccf565f4b888881b10f6456f8b46:9f340d15394eb54667da070cbf50c20a$</string>
            <key>textureFileName</key>
            <string>minigame_13_1.png</string>
        </dict>
    </dict>
</plist>
