<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mg13_Humpty_LOSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{73,37}}</string>
                <key>offset</key>
                <string>{32,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,83},{73,37}}</string>
                <key>sourceSize</key>
                <string>{205,321}</string>
            </dict>
            <key>mg13_Humpty_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{73,41}}</string>
                <key>offset</key>
                <string>{33,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,78},{73,41}}</string>
                <key>sourceSize</key>
                <string>{205,321}</string>
            </dict>
            <key>mg13_Layer1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{996,292}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{996,292}}</string>
                <key>sourceSize</key>
                <string>{996,300}</string>
            </dict>
            <key>mg13_Layer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{996,480}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{996,480}}</string>
                <key>sourceSize</key>
                <string>{996,546}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minigame_13_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f790eb0e9fccef193379ed64ec5aab68:14e4ccf565f4b888881b10f6456f8b46:9f340d15394eb54667da070cbf50c20a$</string>
            <key>textureFileName</key>
            <string>minigame_13_0.png</string>
        </dict>
    </dict>
</plist>
