<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Leaf_Full.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{353,317}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,317}}</string>
                <key>sourceSize</key>
                <string>{359,317}</string>
            </dict>
            <key>Leaf_Full_blown.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,321},{353,317}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{353,317}}</string>
                <key>sourceSize</key>
                <string>{359,317}</string>
            </dict>
            <key>Leaf_Most.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{353,233}}</string>
                <key>offset</key>
                <string>{-3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{353,233}}</string>
                <key>sourceSize</key>
                <string>{359,317}</string>
            </dict>
            <key>Leaf_Most_blown.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,739},{353,233}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,84},{353,233}}</string>
                <key>sourceSize</key>
                <string>{359,317}</string>
            </dict>
            <key>mg15_Wolf_Lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{259,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,328}}</string>
                <key>sourceSize</key>
                <string>{259,328}</string>
            </dict>
            <key>mg15_Wolf_Win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,411}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,411}}</string>
                <key>sourceSize</key>
                <string>{234,411}</string>
            </dict>
            <key>minigame_15_bad_wolf.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,410},{264,327}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,32},{264,327}}</string>
                <key>sourceSize</key>
                <string>{280,361}</string>
            </dict>
            <key>minigame_15_bad_wolf_inhale.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{256,361}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,361}}</string>
                <key>sourceSize</key>
                <string>{280,361}</string>
            </dict>
            <key>minigame_15_bad_wolf_inhale_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,385},{32,23}}</string>
                <key>offset</key>
                <string>{-45,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,37},{32,23}}</string>
                <key>sourceSize</key>
                <string>{280,361}</string>
            </dict>
            <key>minigame_15_leaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,332},{32,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,51}}</string>
                <key>sourceSize</key>
                <string>{32,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minigame_15_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:861edf6085aec067feeee4eff2ae2305:7ea5e0d760af40c1d9b0bbf7346794a7:870ae282d0b6dae2c573219db73752dd$</string>
            <key>textureFileName</key>
            <string>minigame_15_0.png</string>
        </dict>
    </dict>
</plist>
