<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qz0_q32_a1_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{2,306},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q32_a1_imagesAlt_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{2,609},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q32_a2_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{305,2},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q32_a2_imagesAlt_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,301}</string>
                <key>spriteSourceSize</key>
                <string>{300,301}</string>
                <key>textureRect</key>
                <string>{{2,2},{300,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q32_a3_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{608,2},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q32_a3_imagesAlt_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,299}</string>
                <key>spriteSourceSize</key>
                <string>{300,299}</string>
                <key>textureRect</key>
                <string>{{608,305},{300,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q32_a4_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{305,305},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qz0_q32_a4_imagesAlt_image.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{305,608},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>g0_level32_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a754584c49aa4a93b55e8a8c75246d27:e0145836338c67d678000ee836de1704:59760ea500766fdfad4fd07a52e1fe4b$</string>
            <key>textureFileName</key>
            <string>g0_level32_0.png</string>
        </dict>
    </dict>
</plist>
