<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>result_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{787,490}</string>
                <key>spriteSourceSize</key>
                <string>{787,490}</string>
                <key>textureRect</key>
                <string>{{2,2},{787,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{787,490}</string>
                <key>spriteSourceSize</key>
                <string>{787,490}</string>
                <key>textureRect</key>
                <string>{{2,495},{787,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameplay_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b79c297fb4a5f0006194d8e385611b69:0bd25cf4c73c1c887513b98886d237e5:5c25ae6c14c05f4246096cd8398952b3$</string>
            <key>textureFileName</key>
            <string>gameplay_1.png</string>
        </dict>
    </dict>
</plist>
