<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hand_Tap1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,142},{225,205}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,205}}</string>
                <key>sourceSize</key>
                <string>{225,209}</string>
            </dict>
            <key>Hand_Tap_GLOW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{264,248}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,248}}</string>
                <key>sourceSize</key>
                <string>{264,258}</string>
            </dict>
            <key>splash_Play.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,349},{121,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,119}}</string>
                <key>sourceSize</key>
                <string>{121,119}</string>
            </dict>
            <key>splash_TitleBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,142},{518,164}}</string>
                <key>offset</key>
                <string>{-2,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,316},{518,164}}</string>
                <key>sourceSize</key>
                <string>{996,560}</string>
            </dict>
            <key>subtitle_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{996,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{996,138}}</string>
                <key>sourceSize</key>
                <string>{996,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bootstrap_0.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d81ae1490fe34877f52dd2e7e950adf8:4337974cbe1762b48dc431b96189d850:16ba392b59b3b426d0846855931a15e4$</string>
            <key>textureFileName</key>
            <string>bootstrap_0.png</string>
        </dict>
    </dict>
</plist>
