<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_bonanza.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,672},{610,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{610,142}}</string>
				<key>sourceSize</key>
				<string>{610,142}</string>
			</dict>

			<key>ui_btnHowToPlay_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,221},{418,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{418,102}}</string>
				<key>sourceSize</key>
				<string>{418,102}</string>
			</dict>

			<key>ui_btnHowToPlay_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,672},{418,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{418,106}}</string>
				<key>sourceSize</key>
				<string>{418,106}</string>
			</dict>

			<key>ui_btnLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,879},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_btnPlayAgain_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,113},{418,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{418,102}}</string>
				<key>sourceSize</key>
				<string>{418,102}</string>
			</dict>

			<key>ui_btnPlayAgain_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,329},{418,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{418,106}}</string>
				<key>sourceSize</key>
				<string>{418,106}</string>
			</dict>

			<key>ui_btnPlay_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,820},{418,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{418,103}}</string>
				<key>sourceSize</key>
				<string>{418,103}</string>
			</dict>

			<key>ui_btnPlay_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,0},{418,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{418,107}}</string>
				<key>sourceSize</key>
				<string>{418,107}</string>
			</dict>

			<key>ui_btnRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,799},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_combo.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,929},{358,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{358,87}}</string>
				<key>sourceSize</key>
				<string>{358,87}</string>
			</dict>

			<key>ui_energyMeterBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,537},{225,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,94}}</string>
				<key>sourceSize</key>
				<string>{225,94}</string>
			</dict>

			<key>ui_energyMeterFill.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,784},{130,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,30}}</string>
				<key>sourceSize</key>
				<string>{130,30}</string>
			</dict>

			<key>ui_grizzStat_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,911},{72,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,86}}</string>
				<key>sourceSize</key>
				<string>{72,86}</string>
			</dict>

			<key>ui_grizzStat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,911},{72,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,86}}</string>
				<key>sourceSize</key>
				<string>{72,86}</string>
			</dict>

			<key>ui_iceStat_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,911},{72,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,85}}</string>
				<key>sourceSize</key>
				<string>{72,85}</string>
			</dict>

			<key>ui_iceStat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,441},{71,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,85}}</string>
				<key>sourceSize</key>
				<string>{71,85}</string>
			</dict>

			<key>ui_newRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,537},{189,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,165}}</string>
				<key>sourceSize</key>
				<string>{189,165}</string>
			</dict>

			<key>ui_ouch.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,784},{219,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,121}}</string>
				<key>sourceSize</key>
				<string>{219,121}</string>
			</dict>

			<key>ui_pandaStat_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,929},{72,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,85}}</string>
				<key>sourceSize</key>
				<string>{72,85}</string>
			</dict>

			<key>ui_pandaStat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,708},{71,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,85}}</string>
				<key>sourceSize</key>
				<string>{71,85}</string>
			</dict>

			<key>ui_perfect.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,820},{446,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{446,161}}</string>
				<key>sourceSize</key>
				<string>{446,161}</string>
			</dict>

			<key>ui_result.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{765,666}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{765,666}}</string>
				<key>sourceSize</key>
				<string>{765,666}</string>
			</dict>

			<key>ui_scoreboard.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,441},{297,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{297,90}}</string>
				<key>sourceSize</key>
				<string>{297,90}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>