<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mg14_wolf_Win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{609,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,468}}</string>
                <key>sourceSize</key>
                <string>{609,468}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minigame_14_2.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ece97e3f46c9c6da1061fd63e376199f:10d5a2562b2638755f065dbdcd47ddae:1faa7c6a5c38a7dc4409876ef4ab0366$</string>
            <key>textureFileName</key>
            <string>minigame_14_2.png</string>
        </dict>
    </dict>
</plist>
