<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SWR_Mini_Lander_Chopper.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>SWR_Mini_Lander_Crate.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>SWR_Mini_Lander_CrateCOVER.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>SWR_Mini_Lander_CrateFIRE1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{26,21}</string>
            </dict>
            <key>SWR_Mini_Lander_CrateFIRE2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{26,21}</string>
            </dict>
            <key>SWR_Mini_Lander_Direction.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{95,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,140}}</string>
                <key>sourceSize</key>
                <string>{95,140}</string>
            </dict>
            <key>SWR_Mini_Lander_GhostBACK.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{172,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,137}}</string>
                <key>sourceSize</key>
                <string>{172,137}</string>
            </dict>
            <key>SWR_Mini_Lander_GhostTOP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{98,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,24}}</string>
                <key>sourceSize</key>
                <string>{98,24}</string>
            </dict>
            <key>SWR_Mini_Lander_IMPERIAL_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,144},{272,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,79}}</string>
                <key>sourceSize</key>
                <string>{272,79}</string>
            </dict>
            <key>SWR_Mini_Lander_IMPERIAL_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{225,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,79}}</string>
                <key>sourceSize</key>
                <string>{225,79}</string>
            </dict>
            <key>SWR_Mini_Lander_IMPERIAL_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,225},{174,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,79}}</string>
                <key>sourceSize</key>
                <string>{174,79}</string>
            </dict>
            <key>SWR_Mini_Lander_IMPERIAL_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{128,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,79}}</string>
                <key>sourceSize</key>
                <string>{128,79}</string>
            </dict>
            <key>SWR_Mini_Lander_IMPERIAL_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,306},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>SWR_Mini_Lander_Imperial1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,306},{31,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,110}}</string>
                <key>sourceSize</key>
                <string>{31,110}</string>
            </dict>
            <key>SWR_Mini_Lander_Imperial2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,306},{38,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,77}}</string>
                <key>sourceSize</key>
                <string>{38,77}</string>
            </dict>
            <key>SWR_Mini_Lander_Imperial3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,306},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>SWR_Mini_Lander_Imperial4.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,306},{50,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,41}}</string>
                <key>sourceSize</key>
                <string>{50,41}</string>
            </dict>
            <key>SWR_Mini_Lander_Imperial5.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,306},{81,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,107}}</string>
                <key>sourceSize</key>
                <string>{81,107}</string>
            </dict>
            <key>SWR_Mini_Lander_Imperial6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{111,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,115}}</string>
                <key>sourceSize</key>
                <string>{111,115}</string>
            </dict>
            <key>SWR_Mini_Lander_Imperial7.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,418},{153,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,158}}</string>
                <key>sourceSize</key>
                <string>{153,158}</string>
            </dict>
            <key>SWR_Mini_Lander_ImperialFLAT_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,418},{238,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,99}}</string>
                <key>sourceSize</key>
                <string>{238,99}</string>
            </dict>
            <key>SWR_Mini_Lander_ImperialFLAT_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{200,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,99}}</string>
                <key>sourceSize</key>
                <string>{200,99}</string>
            </dict>
            <key>SWR_Mini_Lander_ImperialFLAT_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,578},{161,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,99}}</string>
                <key>sourceSize</key>
                <string>{161,99}</string>
            </dict>
            <key>SWR_Mini_Lander_ImperialFLAT_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,578},{120,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,99}}</string>
                <key>sourceSize</key>
                <string>{120,99}</string>
            </dict>
            <key>SWR_Mini_Lander_ImperialFLAT_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{82,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,99}}</string>
                <key>sourceSize</key>
                <string>{82,99}</string>
            </dict>
            <key>SWR_Mini_Lander_Jet.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,679},{39,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,116}}</string>
                <key>sourceSize</key>
                <string>{39,116}</string>
            </dict>
            <key>SWR_Mini_Lander_Land1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,679},{160,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,154}}</string>
                <key>sourceSize</key>
                <string>{160,154}</string>
            </dict>
            <key>SWR_Mini_Lander_Land2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,679},{116,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,72}}</string>
                <key>sourceSize</key>
                <string>{116,72}</string>
            </dict>
            <key>SWR_Mini_Lander_Land3.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,679},{88,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,59}}</string>
                <key>sourceSize</key>
                <string>{88,59}</string>
            </dict>
            <key>SWR_Mini_Lander_Land4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,835},{58,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,40}}</string>
                <key>sourceSize</key>
                <string>{58,40}</string>
            </dict>
            <key>SWR_Mini_Lander_Land5.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,835},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>SWR_Mini_Lander_Land6.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,835},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>SWR_Mini_Lander_Land7.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,835},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>SWR_Mini_Lander_Land8.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,835},{42,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,28}}</string>
                <key>sourceSize</key>
                <string>{42,28}</string>
            </dict>
            <key>SWR_Mini_Lander_LandFLAT.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,835},{46,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>slow-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,877},{432,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,138}}</string>
                <key>sourceSize</key>
                <string>{432,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites_lunarlander.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24e2e246d4e5169baa7c610fc44fa982:1a1828ceeffac79d0e77f707e76480c0:1c94607a8c1d3444e552cb493ec3fb15$</string>
            <key>textureFileName</key>
            <string>sprites_lunarlander.png</string>
        </dict>
    </dict>
</plist>
