    @font-face{
        font-family:"DefFont";
        src:url("5c1a4364-a05a-40cc-91c8-2b4b02e3cb6d.eot?#iefix");
        src:url("5c1a4364-a05a-40cc-91c8-2b4b02e3cb6d.eot?#iefix") format("eot"),url("7e70cbda-f952-448b-88f2-5fb88504cedb.woff2") format("woff2"),url("b4fb6260-dd83-4d6a-b621-d58ab2efe509.woff") format("woff"),url("8d4e35f6-bcdf-4b87-ad3e-9d23a335af60.ttf") format("truetype"),url("321da546-bf6e-4014-adee-9cd39923a541.svg#321da546-bf6e-4014-adee-9cd39923a541") format("svg");
    }

