<?xml version="1.0" encoding="UTF-8"?>

	<!-- Note : To control the Nickelodeon anti-piracy check, use assets/preloader/config.ini -->
	
    <!-- Ensure YES/NO settings are in ALL CAPS!! -->

<settings>

	<!-- Change to YES to enable cars in the street  -->
	<cars>NO</cars>

	<!-- Change to NO to turn off footprint hints  -->
	<footprints>YES</footprints>

	<!-- Change to NO to turn off enemy red glows/alerts  -->
	<alerts>YES</alerts>

	<!-- Change to NO to enable non-English fonts -->
	<english>YES</english>

	<!-- Change to YES to enable click tracking (for Canadian region) -->
	<tracking>NO</tracking>

	<!-- Change to NO to disable the rotate screen -->
	<rotateScreen>YES</rotateScreen>

	<!-- Change to the width (in pixels) below which the game will start to scale on smaller devices/containers -->
	<scaleBelow>960</scaleBelow>

<!-- DEBUG/TESTING SWITCHES -->

	<!-- Change to YES to show FPS in the top left corner of the screen -->
	<showFPS>NO</showFPS>

	<!-- Used for internal AOP testing only! -->
	<testMode>NO</testMode>

	<!-- Used for testing only.  Must be set to NO for deployment. -->
	<showDebugInfo>NO</showDebugInfo>

</settings>