<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_Box_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,0},{140,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,165}}</string>
				<key>sourceSize</key>
				<string>{140,165}</string>
			</dict>

			<key>gobj_food.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,930},{58,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,70}}</string>
				<key>sourceSize</key>
				<string>{58,70}</string>
			</dict>

			<key>gobj_foodParachute.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,558},{120,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,168}}</string>
				<key>sourceSize</key>
				<string>{120,168}</string>
			</dict>

			<key>gobj_greenBox_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,727},{140,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,165}}</string>
				<key>sourceSize</key>
				<string>{140,165}</string>
			</dict>

			<key>gobj_grizzBox_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,389},{140,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,165}}</string>
				<key>sourceSize</key>
				<string>{140,165}</string>
			</dict>

			<key>gobj_grizzBox_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,389},{140,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,165}}</string>
				<key>sourceSize</key>
				<string>{140,165}</string>
			</dict>

			<key>gobj_grizzBox_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,689},{140,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,165}}</string>
				<key>sourceSize</key>
				<string>{140,165}</string>
			</dict>

			<key>gobj_iceBearBox_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,558},{140,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,165}}</string>
				<key>sourceSize</key>
				<string>{140,165}</string>
			</dict>

			<key>gobj_iceBearBox_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,389},{140,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,165}}</string>
				<key>sourceSize</key>
				<string>{140,165}</string>
			</dict>

			<key>gobj_iceBearBox_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,727},{140,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,165}}</string>
				<key>sourceSize</key>
				<string>{140,165}</string>
			</dict>

			<key>gobj_orangeBox_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,558},{140,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,165}}</string>
				<key>sourceSize</key>
				<string>{140,165}</string>
			</dict>

			<key>gobj_panBox_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,389},{140,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,165}}</string>
				<key>sourceSize</key>
				<string>{140,165}</string>
			</dict>

			<key>gobj_panBox_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,727},{140,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,165}}</string>
				<key>sourceSize</key>
				<string>{140,165}</string>
			</dict>

			<key>gobj_panBox_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,558},{140,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,165}}</string>
				<key>sourceSize</key>
				<string>{140,165}</string>
			</dict>

			<key>gobj_pigeonFlying_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,896},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,115}}</string>
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>

			<key>gobj_pigeonFlying_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,896},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,115}}</string>
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>

			<key>gobj_pigeonFlying_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,896},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,115}}</string>
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>

			<key>gobj_pigeonFlying_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,896},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,115}}</string>
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>

			<key>gobj_pigeonFlying_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,896},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,115}}</string>
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>

			<key>gobj_pigeonFlying_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,896},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,115}}</string>
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>

			<key>gobj_pigeonFlying_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,338},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,115}}</string>
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>

			<key>gobj_pigeonFlying_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,730},{110,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,115}}</string>
				<key>sourceSize</key>
				<string>{110,115}</string>
			</dict>

			<key>gobj_pinkBox_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,169},{140,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,165}}</string>
				<key>sourceSize</key>
				<string>{140,165}</string>
			</dict>

			<key>gobj_pregame_pregame.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{949,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{949,385}}</string>
				<key>sourceSize</key>
				<string>{949,385}</string>
			</dict>

			<key>gobj_speech_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,389},{478,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{478,296}}</string>
				<key>sourceSize</key>
				<string>{478,296}</string>
			</dict>

			<key>gobj_speech_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,689},{434,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{434,237}}</string>
				<key>sourceSize</key>
				<string>{434,237}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>gobj.png</string>
			</dict>
		</dict>
</plist>