<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,74}}</string>
                <key>sourceSize</key>
                <string>{107,74}</string>
            </dict>
            <key>btn_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{230,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,132}}</string>
                <key>sourceSize</key>
                <string>{230,132}</string>
            </dict>
            <key>btn_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{243,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,69}}</string>
                <key>sourceSize</key>
                <string>{243,69}</string>
            </dict>
            <key>btn_longer.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{285,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,78}}</string>
                <key>sourceSize</key>
                <string>{285,78}</string>
            </dict>
            <key>btn_mission.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{371,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,75}}</string>
                <key>sourceSize</key>
                <string>{371,75}</string>
            </dict>
            <key>btn_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,136},{79,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,71}}</string>
                <key>sourceSize</key>
                <string>{79,71}</string>
            </dict>
            <key>btn_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,136},{79,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>btn_sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,136},{79,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>check_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,136},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>check_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,136},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>panel_mission_brief.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{869,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{869,400}}</string>
                <key>sourceSize</key>
                <string>{869,400}</string>
            </dict>
            <key>panel_mission_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{573,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,392}}</string>
                <key>sourceSize</key>
                <string>{573,392}</string>
            </dict>
            <key>star_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,615},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>star_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,615},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites_core_ui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:262db042e11c6a894bcbeb4915e9a6cf:f0c03bfab1b6a96719abcebdb369fda8:c03ce79ad837ca874375d5d0942f5d17$</string>
            <key>textureFileName</key>
            <string>sprites_core_ui.png</string>
        </dict>
    </dict>
</plist>
