<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brief_ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,308}}</string>
                <key>sourceSize</key>
                <string>{500,308}</string>
            </dict>
            <key>panels_pause_quit_and_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{572,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,395}}</string>
                <key>sourceSize</key>
                <string>{572,395}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites_ui_large.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a4f0db4c9f4af5e6fff588bf4005042:310d6e43b746e289f0c029b9cd107d4b:e967386d5580ab947bff912b65d0775e$</string>
            <key>textureFileName</key>
            <string>sprites_ui_large.png</string>
        </dict>
    </dict>
</plist>
