<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animals/antelope_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,764},{37,82}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,82}}</string>
                <key>sourceSize</key>
                <string>{37,102}</string>
            </dict>
            <key>animals/antelope_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,932},{37,86}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{37,86}}</string>
                <key>sourceSize</key>
                <string>{37,102}</string>
            </dict>
            <key>animals/rescue_oryx.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,658},{36,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,104}}</string>
                <key>sourceSize</key>
                <string>{36,104}</string>
            </dict>
            <key>animals/rescue_trap_undone.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,554},{110,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,122}}</string>
                <key>sourceSize</key>
                <string>{110,122}</string>
            </dict>
            <key>animals/rescue_wilderbeest.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,878},{47,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,99}}</string>
                <key>sourceSize</key>
                <string>{47,99}</string>
            </dict>
            <key>animals/rescue_zebra.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,331},{45,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,124}}</string>
                <key>sourceSize</key>
                <string>{45,124}</string>
            </dict>
            <key>beshte/beshte_blink_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,656},{145,81}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,50},{145,81}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_dash_water_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{161,183}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{161,183}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_dash_water_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,208},{159,183}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{159,183}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_earwiggle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,848},{145,81}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,50},{145,81}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_hit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,822},{139,81}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,50},{139,81}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_hit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,85},{133,81}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,50},{133,81}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_hit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,931},{145,81}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,50},{145,81}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,739},{145,81}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,50},{145,81}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_lips_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{131,81}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,50},{131,81}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_lips_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,85},{131,81}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,50},{131,81}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_lips_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,168},{131,81}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,50},{131,81}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_lips_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,85},{133,81}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,50},{133,81}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_lips_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{135,81}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,50},{135,81}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_lips_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{135,81}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,50},{135,81}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_move_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,331},{59,123}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,32},{59,123}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_positive_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,905},{139,81}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,50},{139,81}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_shake_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,450},{127,99}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,41},{127,99}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_shake_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,785},{131,91}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,46},{131,91}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_shake_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,85},{133,81}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,50},{133,81}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_shake_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,456},{129,93}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,44},{129,93}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_shake_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,551},{125,103}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,41},{125,103}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_stomp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,168},{131,80}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,63},{131,80}}</string>
                <key>sourceSize</key>
                <string>{207,216}</string>
            </dict>
            <key>beshte/beshte_stomp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{157,130}}</string>
                <key>offset</key>
                <string>{16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,36},{157,130}}</string>
                <key>sourceSize</key>
                <string>{207,216}</string>
            </dict>
            <key>beshte/beshte_walkonland_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{145,83}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,53},{145,83}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>land/land_end_small_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,204}}</string>
                <key>sourceSize</key>
                <string>{172,204}</string>
            </dict>
            <key>land/water_ripple_small_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{64,194}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{64,194}}</string>
                <key>sourceSize</key>
                <string>{72,194}</string>
            </dict>
            <key>obstacles/obstacle_crocodile_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,393},{41,161}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{41,161}}</string>
                <key>sourceSize</key>
                <string>{85,181}</string>
            </dict>
            <key>obstacles/obstacle_crocodile_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,562},{43,165}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{43,165}}</string>
                <key>sourceSize</key>
                <string>{85,181}</string>
            </dict>
            <key>obstacles/obstacle_crocodile_bite_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{47,173}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{47,173}}</string>
                <key>sourceSize</key>
                <string>{85,181}</string>
            </dict>
            <key>obstacles/obstacle_crocodile_dead_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{77,179}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{77,179}}</string>
                <key>sourceSize</key>
                <string>{85,181}</string>
            </dict>
            <key>obstacles/obstacle_crocodile_dead_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,393},{61,167}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{61,167}}</string>
                <key>sourceSize</key>
                <string>{85,181}</string>
            </dict>
            <key>obstacles/obstacle_crocodile_dead_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,884},{41,137}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{41,137}}</string>
                <key>sourceSize</key>
                <string>{85,181}</string>
            </dict>
            <key>obstacles/obstacle_crocodile_sink_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,556},{43,153}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{43,153}}</string>
                <key>sourceSize</key>
                <string>{85,181}</string>
            </dict>
            <key>obstacles/obstacle_crocodile_sink_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,884},{41,137}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{41,137}}</string>
                <key>sourceSize</key>
                <string>{85,181}</string>
            </dict>
            <key>obstacles/obstacle_log_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{54,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,172}}</string>
                <key>sourceSize</key>
                <string>{54,172}</string>
            </dict>
            <key>obstacles/obstacle_log_broken_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,551},{51,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,105}}</string>
                <key>sourceSize</key>
                <string>{51,105}</string>
            </dict>
            <key>obstacles/obstacle_log_broken_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,457},{54,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,95}}</string>
                <key>sourceSize</key>
                <string>{54,95}</string>
            </dict>
            <key>obstacles/obstacle_rock_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,761},{167,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,169}}</string>
                <key>sourceSize</key>
                <string>{167,169}</string>
            </dict>
            <key>obstacles/obstacle_rock_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,589},{167,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,170}}</string>
                <key>sourceSize</key>
                <string>{167,170}</string>
            </dict>
            <key>obstacles/obstacle_rock_broken_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,678},{109,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,105}}</string>
                <key>sourceSize</key>
                <string>{109,105}</string>
            </dict>
            <key>obstacles/obstacle_turtle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,134},{73,116}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,116}}</string>
                <key>sourceSize</key>
                <string>{81,116}</string>
            </dict>
            <key>obstacles/obstacle_turtle_sink_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{73,111}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{73,111}}</string>
                <key>sourceSize</key>
                <string>{81,119}</string>
            </dict>
            <key>tiles/grass_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,183},{150,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,146}}</string>
                <key>sourceSize</key>
                <string>{150,146}</string>
            </dict>
            <key>tiles/grass_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,331},{110,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,117}}</string>
                <key>sourceSize</key>
                <string>{110,117}</string>
            </dict>
            <key>tiles/grass_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,729},{123,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,153}}</string>
                <key>sourceSize</key>
                <string>{123,153}</string>
            </dict>
            <key>tiles/grass_flat_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,878},{109,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,98}}</string>
                <key>sourceSize</key>
                <string>{109,98}</string>
            </dict>
            <key>ui/ui_gameplay_character_beshte_roar.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,932},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{80,82}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay_beshte_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5552f673c4fda932bd9dfbc7391c1459:970e1fb899152b4cd3059e90bd9cd229:5a5a43725d8d59c27032642d41afa051$</string>
            <key>textureFileName</key>
            <string>gameplay_beshte_1.png</string>
        </dict>
    </dict>
</plist>
