<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animals/antelope_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,451},{37,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{37,92}}</string>
                <key>sourceSize</key>
                <string>{37,102}</string>
            </dict>
            <key>animals/antelope_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,351},{37,98}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{37,98}}</string>
                <key>sourceSize</key>
                <string>{37,102}</string>
            </dict>
            <key>animals/rescue_bushbuck.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,949},{32,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,73}}</string>
                <key>sourceSize</key>
                <string>{32,73}</string>
            </dict>
            <key>animals/rescue_trap.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,542},{110,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,122}}</string>
                <key>sourceSize</key>
                <string>{110,122}</string>
            </dict>
            <key>beshte/beshte_dash_water_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,802},{153,137}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,22},{153,137}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_earwiggle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,941},{147,81}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,50},{147,81}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_footprints_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,963},{70,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,53}}</string>
                <key>sourceSize</key>
                <string>{70,53}</string>
            </dict>
            <key>beshte/beshte_move_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,887},{85,123}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,34},{85,123}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_stomp_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,638},{193,162}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{193,162}}</string>
                <key>sourceSize</key>
                <string>{207,216}</string>
            </dict>
            <key>beshte/beshte_stomp_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,220},{205,200}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{205,200}}</string>
                <key>sourceSize</key>
                <string>{207,216}</string>
            </dict>
            <key>beshte/beshte_stomp_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,422},{199,214}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{199,214}}</string>
                <key>sourceSize</key>
                <string>{207,216}</string>
            </dict>
            <key>beshte/beshte_stomp_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{205,216}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,216}}</string>
                <key>sourceSize</key>
                <string>{207,216}</string>
            </dict>
            <key>beshte/beshte_walkonland_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,802},{145,83}}</string>
                <key>offset</key>
                <string>{15,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,46},{145,83}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_water_splash_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,802},{85,143}}</string>
                <key>offset</key>
                <string>{44,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,19},{85,143}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_water_splash_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,212},{91,147}}</string>
                <key>offset</key>
                <string>{45,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,16},{91,147}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>beshte/beshte_water_splash_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,198},{111,151}}</string>
                <key>offset</key>
                <string>{47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,16},{111,151}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>land/end_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,949},{76,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,71}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>land/land_end_large_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,560}}</string>
                <key>sourceSize</key>
                <string>{182,560}</string>
            </dict>
            <key>land/land_end_medium_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{238,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,429}}</string>
                <key>sourceSize</key>
                <string>{238,429}</string>
            </dict>
            <key>land/water_ripple_large_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{121,546}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{121,546}}</string>
                <key>sourceSize</key>
                <string>{145,556}</string>
            </dict>
            <key>land/water_ripple_large_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{141,556}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,556}}</string>
                <key>sourceSize</key>
                <string>{145,556}</string>
            </dict>
            <key>land/water_ripple_large_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{139,554}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{139,554}}</string>
                <key>sourceSize</key>
                <string>{145,556}</string>
            </dict>
            <key>land/water_ripple_med_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,550},{117,397}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{117,397}}</string>
                <key>sourceSize</key>
                <string>{145,401}</string>
            </dict>
            <key>land/water_ripple_med_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,560},{141,401}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{141,401}}</string>
                <key>sourceSize</key>
                <string>{145,401}</string>
            </dict>
            <key>land/water_ripple_med_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,558},{129,401}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,401}}</string>
                <key>sourceSize</key>
                <string>{145,401}</string>
            </dict>
            <key>land/water_ripple_small_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{70,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,194}}</string>
                <key>sourceSize</key>
                <string>{72,194}</string>
            </dict>
            <key>land/water_ripple_small_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,351},{72,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,194}}</string>
                <key>sourceSize</key>
                <string>{72,194}</string>
            </dict>
            <key>obstacles/obstacle_crocodile_dead_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,361},{85,179}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,179}}</string>
                <key>sourceSize</key>
                <string>{85,181}</string>
            </dict>
            <key>obstacles/obstacle_crocodile_dead_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,547},{69,173}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{69,173}}</string>
                <key>sourceSize</key>
                <string>{85,181}</string>
            </dict>
            <key>obstacles/obstacle_crocodile_sink_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,666},{29,133}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,12},{29,133}}</string>
                <key>sourceSize</key>
                <string>{85,181}</string>
            </dict>
            <key>obstacles/obstacle_rock_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,949},{78,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,69}}</string>
                <key>sourceSize</key>
                <string>{78,69}</string>
            </dict>
            <key>obstacles/obstacle_rock_broken_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,947},{78,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,69}}</string>
                <key>sourceSize</key>
                <string>{78,69}</string>
            </dict>
            <key>obstacles/obstacle_rock_broken_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{93,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,112}}</string>
                <key>sourceSize</key>
                <string>{93,112}</string>
            </dict>
            <key>obstacles/obstacle_turtle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,666},{81,110}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{81,110}}</string>
                <key>sourceSize</key>
                <string>{81,116}</string>
            </dict>
            <key>obstacles/obstacle_turtle_sink_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{37,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{37,117}}</string>
                <key>sourceSize</key>
                <string>{81,119}</string>
            </dict>
            <key>tiles/beshte_pickups_fruit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,963},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>tiles/beshte_pickups_fruit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,963},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>tiles/beshte_pickups_fruit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,961},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>ui/ui_gameplay_character_beshte.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,116},{92,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{92,94}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay_beshte_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5552f673c4fda932bd9dfbc7391c1459:970e1fb899152b4cd3059e90bd9cd229:5a5a43725d8d59c27032642d41afa051$</string>
            <key>textureFileName</key>
            <string>gameplay_beshte_0.png</string>
        </dict>
    </dict>
</plist>
