<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_grizzHide_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-16}</string>
                <key>spriteSize</key>
                <string>{275,260}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{580,293},{275,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_grizzHide_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{275,258}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{582,8},{275,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_grizzHide_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-17}</string>
                <key>spriteSize</key>
                <string>{275,258}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,540},{275,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_grizzHide_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-18}</string>
                <key>spriteSize</key>
                <string>{277,256}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,8},{277,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_grizzHide_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-18}</string>
                <key>spriteSize</key>
                <string>{277,256}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{295,8},{277,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_grizzHide_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-18}</string>
                <key>spriteSize</key>
                <string>{277,256}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,274},{277,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_grizzHide_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-18}</string>
                <key>spriteSize</key>
                <string>{275,256}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{295,274},{275,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_grizzHide_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{275,258}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{293,540},{275,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_grizzC.png</string>
            <key>size</key>
            <string>{848,806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07b05d3adb6c2610c1879a6a5d50ab73:b994a4777ff3769a5950a058ea65c494:2bf292e4125115cc4bff7b8206a34da9$</string>
            <key>textureFileName</key>
            <string>char_grizzC.png</string>
        </dict>
    </dict>
</plist>
