<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_pandaIdle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,285}</string>
                <key>spriteSourceSize</key>
                <string>{227,285}</string>
                <key>textureRect</key>
                <string>{{239,301},{221,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaIdle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{221,283}</string>
                <key>spriteSourceSize</key>
                <string>{227,285}</string>
                <key>textureRect</key>
                <string>{{470,301},{221,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaIdle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,285}</string>
                <key>spriteSourceSize</key>
                <string>{227,285}</string>
                <key>textureRect</key>
                <string>{{8,301},{221,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaIdle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{221,283}</string>
                <key>spriteSourceSize</key>
                <string>{227,285}</string>
                <key>textureRect</key>
                <string>{{470,8},{221,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaIdle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{223,281}</string>
                <key>spriteSourceSize</key>
                <string>{227,285}</string>
                <key>textureRect</key>
                <string>{{474,596},{223,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaIdle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{223,279}</string>
                <key>spriteSourceSize</key>
                <string>{227,285}</string>
                <key>textureRect</key>
                <string>{{241,596},{223,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaIdle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{223,279}</string>
                <key>spriteSourceSize</key>
                <string>{227,285}</string>
                <key>textureRect</key>
                <string>{{8,596},{223,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaIdle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{223,279}</string>
                <key>spriteSourceSize</key>
                <string>{227,285}</string>
                <key>textureRect</key>
                <string>{{701,301},{223,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaIdle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{221,281}</string>
                <key>spriteSourceSize</key>
                <string>{227,285}</string>
                <key>textureRect</key>
                <string>{{239,8},{221,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaIdle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{221,281}</string>
                <key>spriteSourceSize</key>
                <string>{227,285}</string>
                <key>textureRect</key>
                <string>{{8,8},{221,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaIdle_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{221,283}</string>
                <key>spriteSourceSize</key>
                <string>{227,285}</string>
                <key>textureRect</key>
                <string>{{701,8},{221,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_pandaA.png</string>
            <key>size</key>
            <string>{932,932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91a9413e916b3f59081b21b2ee5444bf:e57b3cc87d82b775d6448db0f2bb8c03:b919bf595711d2641c06192af1c7fec9$</string>
            <key>textureFileName</key>
            <string>char_pandaA.png</string>
        </dict>
    </dict>
</plist>
