<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_grizzCatch_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-6}</string>
                <key>spriteSize</key>
                <string>{221,280}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{8,8},{221,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_grizzCatch_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-5}</string>
                <key>spriteSize</key>
                <string>{271,282}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{239,8},{271,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_grizzCatch_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-9}</string>
                <key>spriteSize</key>
                <string>{265,274}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{520,8},{265,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_grizzCatch_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-12}</string>
                <key>spriteSize</key>
                <string>{285,268}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{8,300},{285,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_grizzCatch_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-15}</string>
                <key>spriteSize</key>
                <string>{309,262}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{303,300},{309,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_grizzCatch_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-15}</string>
                <key>spriteSize</key>
                <string>{309,262}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{303,300},{309,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_grizzCatch_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-10}</string>
                <key>spriteSize</key>
                <string>{269,272}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{8,578},{269,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_grizzD.png</string>
            <key>size</key>
            <string>{858,858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4eee61d523a7f1bb41769948457c4ce5:e0b5b5fdd28dc096aa1d75707191b729:d63cd40b066caf1ed1c90c193d630c59$</string>
            <key>textureFileName</key>
            <string>char_grizzD.png</string>
        </dict>
    </dict>
</plist>
