<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_grizzYES_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-6}</string>
                <key>spriteSize</key>
                <string>{221,280}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{8,8},{221,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_grizzYES_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-6}</string>
                <key>spriteSize</key>
                <string>{227,280}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{298,8},{227,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_grizzYES_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-6}</string>
                <key>spriteSize</key>
                <string>{229,280}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{588,8},{229,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_grizzYES_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-4}</string>
                <key>spriteSize</key>
                <string>{271,284}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{588,247},{271,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_grizzYES_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-6}</string>
                <key>spriteSize</key>
                <string>{271,280}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{8,239},{271,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_grizzYES_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,-6}</string>
                <key>spriteSize</key>
                <string>{271,280}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{298,245},{271,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_grizzG_0.png</string>
            <key>size</key>
            <string>{880,526}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e563389c00ee3e31b7367360fa556358:8f3eb1914028559741fc2243d7a52976:a3ec815b1555a794679cd80e421cc6b9$</string>
            <key>textureFileName</key>
            <string>char_grizzG_0.png</string>
        </dict>
    </dict>
</plist>
