<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_iceYES_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-6}</string>
                <key>spriteSize</key>
                <string>{221,280}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{588,8},{221,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceYES_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-6}</string>
                <key>spriteSize</key>
                <string>{219,280}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{8,8},{219,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceYES_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-6}</string>
                <key>spriteSize</key>
                <string>{225,280}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{8,237},{225,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceYES_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-6}</string>
                <key>spriteSize</key>
                <string>{219,280}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{298,8},{219,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceYES_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-6}</string>
                <key>spriteSize</key>
                <string>{225,280}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{298,237},{225,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceYES_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{225,278}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{588,239},{225,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceYES_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-8}</string>
                <key>spriteSize</key>
                <string>{225,276}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{8,472},{225,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceYES_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{225,278}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{294,472},{225,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceYES_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-6}</string>
                <key>spriteSize</key>
                <string>{225,280}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{582,474},{225,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceYES_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{225,278}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{8,707},{225,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceYES_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-8}</string>
                <key>spriteSize</key>
                <string>{225,276}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{296,707},{225,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceYES_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{225,278}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{582,709},{225,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_iceF.png</string>
            <key>size</key>
            <string>{876,942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87b235b2b88dadcdd3d9c4b435481474:f51503596420c0299fa6cc1e3ec5bc17:ec21cd1fc5434588b9a5af5742c1fc9c$</string>
            <key>textureFileName</key>
            <string>char_iceF.png</string>
        </dict>
    </dict>
</plist>
