<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_pandaHide_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-18}</string>
                <key>spriteSize</key>
                <string>{275,256}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,8},{275,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaHide_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-18}</string>
                <key>spriteSize</key>
                <string>{275,256}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,274},{275,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaHide_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-19}</string>
                <key>spriteSize</key>
                <string>{277,254}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{293,8},{277,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaHide_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-19}</string>
                <key>spriteSize</key>
                <string>{277,254}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{580,8},{277,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_pandaHide_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-19}</string>
                <key>spriteSize</key>
                <string>{277,254}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{293,272},{277,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaHide_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-20}</string>
                <key>spriteSize</key>
                <string>{277,252}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,540},{277,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaHide_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-19}</string>
                <key>spriteSize</key>
                <string>{275,254}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{580,295},{275,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_pandaHide_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-18}</string>
                <key>spriteSize</key>
                <string>{275,256}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{295,536},{275,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_pandaC.png</string>
            <key>size</key>
            <string>{842,800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c66ff9dc077bd7b1b9b2b23db4456b7:de2eae2c46a8a54b21d444bb84cd3085:d137266c85011c7fa1e53969b61e5b8a$</string>
            <key>textureFileName</key>
            <string>char_pandaC.png</string>
        </dict>
    </dict>
</plist>
