<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_pandaIdleToHide_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-6}</string>
                <key>spriteSize</key>
                <string>{221,280}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,8},{221,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_pandaIdleToHide_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-13}</string>
                <key>spriteSize</key>
                <string>{267,266}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,505},{267,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaIdleToHide_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-18}</string>
                <key>spriteSize</key>
                <string>{275,256}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,239},{275,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_pandaB.png</string>
            <key>size</key>
            <string>{296,779}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2c13918496553f128e2b4efe69b287a:73927698032e8ae6997cbf7ff95cb967:722ae7b3d244f07d65643f73c43cd640$</string>
            <key>textureFileName</key>
            <string>char_pandaB.png</string>
        </dict>
    </dict>
</plist>
