<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_pandaOuch_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-6}</string>
                <key>spriteSize</key>
                <string>{221,280}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,8},{221,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_pandaOuch_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{259,286}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{598,8},{259,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_pandaOuch_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-1}</string>
                <key>spriteSize</key>
                <string>{257,290}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{298,8},{257,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_pandaOuch_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-1}</string>
                <key>spriteSize</key>
                <string>{259,290}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,542},{259,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_pandaOuch_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-1}</string>
                <key>spriteSize</key>
                <string>{257,290}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{283,275},{257,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_pandaOuch_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-1}</string>
                <key>spriteSize</key>
                <string>{257,290}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{583,277},{257,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_pandaOuch_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{259,286}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{308,544},{259,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_pandaOuch_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{265,282}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,239},{265,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_pandaE.png</string>
            <key>size</key>
            <string>{892,811}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26af443d126def2d225dcaea17e3e7ea:4688dd9f1f8ace4ab22da4e8a0531785:f30f6df5dc0806ed54609a77a6fbb8d4$</string>
            <key>textureFileName</key>
            <string>char_pandaE.png</string>
        </dict>
    </dict>
</plist>
