<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_pandaCatch_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-6}</string>
                <key>spriteSize</key>
                <string>{221,280}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{280,569},{221,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_pandaCatch_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-5}</string>
                <key>spriteSize</key>
                <string>{273,282}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{280,286},{273,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_pandaCatch_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{265,274}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{575,8},{265,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaCatch_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-12}</string>
                <key>spriteSize</key>
                <string>{285,268}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{280,8},{285,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaCatch_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-15}</string>
                <key>spriteSize</key>
                <string>{309,262}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,8},{309,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_pandaCatch_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-15}</string>
                <key>spriteSize</key>
                <string>{309,262}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,327},{309,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_pandaCatch_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-10}</string>
                <key>spriteSize</key>
                <string>{271,272}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{572,292},{271,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_pandaD.png</string>
            <key>size</key>
            <string>{851,798}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8eb8da1b434c8fd14e0df2edaecef724:44168e472c049dd2f7937018e609212f:a9035adad20f1c745431db8fa7188bf4$</string>
            <key>textureFileName</key>
            <string>char_pandaD.png</string>
        </dict>
    </dict>
</plist>
