<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_iceCatch_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-6}</string>
                <key>spriteSize</key>
                <string>{221,280}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{280,569},{221,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceCatch_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-5}</string>
                <key>spriteSize</key>
                <string>{273,282}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{280,286},{273,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceCatch_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-9}</string>
                <key>spriteSize</key>
                <string>{265,274}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{575,8},{265,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_iceCatch_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-12}</string>
                <key>spriteSize</key>
                <string>{285,268}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{280,8},{285,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_iceCatch_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-15}</string>
                <key>spriteSize</key>
                <string>{307,262}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{8,8},{307,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceCatch_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-15}</string>
                <key>spriteSize</key>
                <string>{307,262}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{8,325},{307,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceCatch_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-10}</string>
                <key>spriteSize</key>
                <string>{271,272}</string>
                <key>spriteSourceSize</key>
                <string>{353,292}</string>
                <key>textureRect</key>
                <string>{{572,292},{271,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_iceD.png</string>
            <key>size</key>
            <string>{851,798}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4467ee604d2bc303ab837725b51922b0:d717c8ecdd9a60c6257f5903fcb79b3b:8f7623bd910bfa6d27f496d8d6bb0fc0$</string>
            <key>textureFileName</key>
            <string>char_iceD.png</string>
        </dict>
    </dict>
</plist>
