<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_iceTired_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{273,278}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,570},{273,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceTired_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{273,278}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{296,570},{273,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceTired_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{273,278}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{584,570},{273,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceTired_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{271,276}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,8},{271,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceTired_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{271,276}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{294,8},{271,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceTired_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{271,276}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{580,8},{271,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceTired_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{271,278}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,289},{271,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceTired_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{271,278}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{296,289},{271,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceTired_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{271,278}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{584,289},{271,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_iceG.png</string>
            <key>size</key>
            <string>{870,851}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:381780180c7144011a0b043ac0a6603e:25941113663293ed1667b0203cb9acb6:2be8505b4ca1288055229448992df5d8$</string>
            <key>textureFileName</key>
            <string>char_iceG.png</string>
        </dict>
    </dict>
</plist>
