<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_grizzIdle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{220,280}</string>
                <key>spriteSourceSize</key>
                <string>{228,282}</string>
                <key>textureRect</key>
                <string>{{8,8},{220,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_grizzIdle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{220,278}</string>
                <key>spriteSourceSize</key>
                <string>{228,282}</string>
                <key>textureRect</key>
                <string>{{238,8},{220,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_grizzIdle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{220,278}</string>
                <key>spriteSourceSize</key>
                <string>{228,282}</string>
                <key>textureRect</key>
                <string>{{700,582},{220,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_grizzIdle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{220,276}</string>
                <key>spriteSourceSize</key>
                <string>{228,282}</string>
                <key>textureRect</key>
                <string>{{468,8},{220,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_grizzIdle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{222,276}</string>
                <key>spriteSourceSize</key>
                <string>{228,282}</string>
                <key>textureRect</key>
                <string>{{698,8},{222,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_grizzIdle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{222,274}</string>
                <key>spriteSourceSize</key>
                <string>{228,282}</string>
                <key>textureRect</key>
                <string>{{8,298},{222,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_grizzIdle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{222,272}</string>
                <key>spriteSourceSize</key>
                <string>{228,282}</string>
                <key>textureRect</key>
                <string>{{240,298},{222,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_grizzIdle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{222,274}</string>
                <key>spriteSourceSize</key>
                <string>{228,282}</string>
                <key>textureRect</key>
                <string>{{472,298},{222,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_grizzIdle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{222,276}</string>
                <key>spriteSourceSize</key>
                <string>{228,282}</string>
                <key>textureRect</key>
                <string>{{8,582},{222,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_grizzIdle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{220,276}</string>
                <key>spriteSourceSize</key>
                <string>{228,282}</string>
                <key>textureRect</key>
                <string>{{240,582},{220,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_grizzIdle_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{220,278}</string>
                <key>spriteSourceSize</key>
                <string>{228,282}</string>
                <key>textureRect</key>
                <string>{{470,582},{220,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_grizzA.png</string>
            <key>size</key>
            <string>{928,928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b8b56e67ebe1cefa03a74fbd2f0fece:3a072ac47ad62a468f491fe0ec469dd5:a8491169f3de42556736521d9c48bd9d$</string>
            <key>textureFileName</key>
            <string>char_grizzA.png</string>
        </dict>
    </dict>
</plist>
