<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_iceHide_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-16}</string>
                <key>spriteSize</key>
                <string>{283,260}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,276},{283,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_iceHide_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-17}</string>
                <key>spriteSize</key>
                <string>{283,258}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{303,544},{283,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_iceHide_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-17}</string>
                <key>spriteSize</key>
                <string>{285,258}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{305,8},{285,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_iceHide_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-17}</string>
                <key>spriteSize</key>
                <string>{285,258}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{600,8},{285,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_iceHide_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-17}</string>
                <key>spriteSize</key>
                <string>{287,258}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,8},{287,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_iceHide_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-18}</string>
                <key>spriteSize</key>
                <string>{285,256}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,546},{285,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_iceHide_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-17}</string>
                <key>spriteSize</key>
                <string>{285,258}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{301,276},{285,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_iceHide_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-17}</string>
                <key>spriteSize</key>
                <string>{283,258}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{596,303},{283,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_iceC.png</string>
            <key>size</key>
            <string>{866,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f47254899523e9a0447ba15b8f9e1706:8368eb84926102fba344663d643fe23e:0cd5969f5948932932f6802bf6c81911$</string>
            <key>textureFileName</key>
            <string>char_iceC.png</string>
        </dict>
    </dict>
</plist>
