<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_pandaYES_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-3}</string>
                <key>spriteSize</key>
                <string>{297,286}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{638,600},{297,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaYES_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-4}</string>
                <key>spriteSize</key>
                <string>{285,284}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{658,8},{285,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_pandaYES_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-3}</string>
                <key>spriteSize</key>
                <string>{277,286}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{658,303},{277,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaYES_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-3}</string>
                <key>spriteSize</key>
                <string>{305,286}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,600},{305,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaYES_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-3}</string>
                <key>spriteSize</key>
                <string>{325,286}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,8},{325,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaYES_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-3}</string>
                <key>spriteSize</key>
                <string>{305,286}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{323,600},{305,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaYES_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-3}</string>
                <key>spriteSize</key>
                <string>{305,286}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{343,8},{305,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaYES_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-3}</string>
                <key>spriteSize</key>
                <string>{325,286}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{8,304},{325,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_pandaYES_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-3}</string>
                <key>spriteSize</key>
                <string>{305,286}</string>
                <key>spriteSourceSize</key>
                <string>{357,292}</string>
                <key>textureRect</key>
                <string>{{343,304},{305,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_pandaF_0.png</string>
            <key>size</key>
            <string>{950,894}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a67af677ef923780c02a780f8b828d4a:cd9ca806fd1378cbee3ee5543fbcc5db:b69b91f1a78ad32e194a0abe6890dad2$</string>
            <key>textureFileName</key>
            <string>char_pandaF_0.png</string>
        </dict>
    </dict>
</plist>
