<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buttons/main_mute.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,83},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>buttons/main_mute_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,82},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>buttons/ui_animals.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>buttons/ui_endscreen_button_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>buttons/ui_splash_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{191,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,191}}</string>
                <key>sourceSize</key>
                <string>{191,191}</string>
            </dict>
            <key>fade.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,82},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>loading/ui_loading_back.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{195,219},{459,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,50}}</string>
                <key>sourceSize</key>
                <string>{459,50}</string>
            </dict>
            <key>loading/ui_loading_fill.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{460,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,50}}</string>
                <key>sourceSize</key>
                <string>{460,50}</string>
            </dict>
            <key>loading/ui_loading_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,78}}</string>
                <key>sourceSize</key>
                <string>{489,78}</string>
            </dict>
            <key>title/main_subtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{463,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,135}}</string>
                <key>sourceSize</key>
                <string>{463,135}</string>
            </dict>
            <key>title/main_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,271},{351,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,133}}</string>
                <key>sourceSize</key>
                <string>{351,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>preload.png</string>
            <key>size</key>
            <string>{656,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7806922774dfa5278d89de4a62fcd1b8:1/1$</string>
            <key>textureFileName</key>
            <string>preload.png</string>
        </dict>
    </dict>
</plist>
