<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,729},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>btn_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,613},{49,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,73}}</string>
				<key>sourceSize</key>
				<string>{49,73}</string>
			</dict>

			<key>ui_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,842},{151,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,34}}</string>
				<key>sourceSize</key>
				<string>{151,34}</string>
			</dict>

			<key>ui_btnHowTo_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{453,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{453,98}}</string>
				<key>sourceSize</key>
				<string>{453,98}</string>
			</dict>

			<key>ui_btnHowTo_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,308},{452,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{452,97}}</string>
				<key>sourceSize</key>
				<string>{452,97}</string>
			</dict>

			<key>ui_btnPlayAgain_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,205},{452,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{452,98}}</string>
				<key>sourceSize</key>
				<string>{452,98}</string>
			</dict>

			<key>ui_btnPlayAgain_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,103},{452,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{452,97}}</string>
				<key>sourceSize</key>
				<string>{452,97}</string>
			</dict>

			<key>ui_btnPlay_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,729},{303,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{303,108}}</string>
				<key>sourceSize</key>
				<string>{303,108}</string>
			</dict>

			<key>ui_btnPlay_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,613},{304,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{304,111}}</string>
				<key>sourceSize</key>
				<string>{304,111}</string>
			</dict>

			<key>ui_lifeBar_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,410},{411,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{411,47}}</string>
				<key>sourceSize</key>
				<string>{411,47}</string>
			</dict>

			<key>ui_lifeBar_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,514},{411,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{411,47}}</string>
				<key>sourceSize</key>
				<string>{411,47}</string>
			</dict>

			<key>ui_lifeBar_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,462},{411,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{411,47}}</string>
				<key>sourceSize</key>
				<string>{411,47}</string>
			</dict>

			<key>ui_lifeBar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,566},{388,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{388,23}}</string>
				<key>sourceSize</key>
				<string>{388,23}</string>
			</dict>

			<key>ui_lifeBarfill.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,594},{379,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{379,14}}</string>
				<key>sourceSize</key>
				<string>{379,14}</string>
			</dict>

			<key>ui_newRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,882},{267,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,104}}</string>
				<key>sourceSize</key>
				<string>{267,104}</string>
			</dict>

			<key>ui_progressBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,842},{281,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{281,35}}</string>
				<key>sourceSize</key>
				<string>{281,35}</string>
			</dict>

			<key>ui_progressBarfill.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,991},{239,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{239,15}}</string>
				<key>sourceSize</key>
				<string>{239,15}</string>
			</dict>

			<key>ui_progressBarrobin.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,962},{51,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,23}}</string>
				<key>sourceSize</key>
				<string>{51,23}</string>
			</dict>

			<key>ui_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,923},{163,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,34}}</string>
				<key>sourceSize</key>
				<string>{163,34}</string>
			</dict>

			<key>ui_weaponGauge.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,902},{213,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{213,16}}</string>
				<key>sourceSize</key>
				<string>{213,16}</string>
			</dict>

			<key>ui_weaponGaugebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,991},{219,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,23}}</string>
				<key>sourceSize</key>
				<string>{219,23}</string>
			</dict>

			<key>ui_weaponGaugefill.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,882},{215,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{215,15}}</string>
				<key>sourceSize</key>
				<string>{215,15}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>