<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animals/animal_thorns.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,956},{115,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,66}}</string>
                <key>sourceSize</key>
                <string>{115,66}</string>
            </dict>
            <key>effects/effect_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,632},{128,124}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{128,124}}</string>
                <key>sourceSize</key>
                <string>{140,126}</string>
            </dict>
            <key>gazelle/gazelle_back_startled.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,830},{102,192}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{102,192}}</string>
                <key>sourceSize</key>
                <string>{146,196}</string>
            </dict>
            <key>kion/kion_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,767},{62,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,39}</string>
            </dict>
            <key>kion/kion_up_dizzy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{64,93}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{64,93}}</string>
                <key>sourceSize</key>
                <string>{110,93}</string>
            </dict>
            <key>kion/kion_up_dizzy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,537},{60,91}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{60,91}}</string>
                <key>sourceSize</key>
                <string>{110,93}</string>
            </dict>
            <key>kion/kion_up_dizzy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,537},{60,93}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{60,93}}</string>
                <key>sourceSize</key>
                <string>{110,93}</string>
            </dict>
            <key>kion/kion_up_dizzy_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,537},{60,93}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{60,93}}</string>
                <key>sourceSize</key>
                <string>{110,93}</string>
            </dict>
            <key>kion/kion_up_super.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,475},{129,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,155}}</string>
                <key>sourceSize</key>
                <string>{129,155}</string>
            </dict>
            <key>kion/kion_up_wiggle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,702},{62,63}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{62,63}}</string>
                <key>sourceSize</key>
                <string>{110,93}</string>
            </dict>
            <key>mongoose/mongoose_hole_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,956},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,34}}</string>
                <key>sourceSize</key>
                <string>{43,34}</string>
            </dict>
            <key>mongoose/mongoose_hole_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,992},{43,26}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{43,26}}</string>
                <key>sourceSize</key>
                <string>{43,34}</string>
            </dict>
            <key>world/grid_6x6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{622,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,400}}</string>
                <key>sourceSize</key>
                <string>{622,400}</string>
            </dict>
            <key>world/log_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,830},{172,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,69}}</string>
                <key>sourceSize</key>
                <string>{172,69}</string>
            </dict>
            <key>world/log_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,693},{254,88}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,88}}</string>
                <key>sourceSize</key>
                <string>{264,92}</string>
            </dict>
            <key>world/obstacle_ground_mud_slide.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,830},{181,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,186}}</string>
                <key>sourceSize</key>
                <string>{181,186}</string>
            </dict>
            <key>world/obstacle_ground_rock_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,404},{122,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,69}}</string>
                <key>sourceSize</key>
                <string>{122,69}</string>
            </dict>
            <key>world/obstacle_ground_tree_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{377,235}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,235}}</string>
                <key>sourceSize</key>
                <string>{379,235}</string>
            </dict>
            <key>world/obstacle_ground_tree_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,783},{326,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,218}}</string>
                <key>sourceSize</key>
                <string>{326,218}</string>
            </dict>
            <key>world/obstacle_ground_tree_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,239},{377,235}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,235}}</string>
                <key>sourceSize</key>
                <string>{379,235}</string>
            </dict>
            <key>world/obstacle_ground_tree_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,476},{358,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,224}}</string>
                <key>sourceSize</key>
                <string>{358,224}</string>
            </dict>
            <key>world/obstacle_water_crocodile_back_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,611},{235,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,80}}</string>
                <key>sourceSize</key>
                <string>{235,80}</string>
            </dict>
            <key>world/obstacle_water_crocodile_front_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,537},{238,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,72}}</string>
                <key>sourceSize</key>
                <string>{238,72}</string>
            </dict>
            <key>world/shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,767},{62,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,39}</string>
            </dict>
            <key>world/tile_edge_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{490,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{490,24}}</string>
                <key>sourceSize</key>
                <string>{490,50}</string>
            </dict>
            <key>world/tile_edge_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{490,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,50}}</string>
                <key>sourceSize</key>
                <string>{490,50}</string>
            </dict>
            <key>world/tile_ground_grass_small_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,901},{169,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,53}}</string>
                <key>sourceSize</key>
                <string>{169,53}</string>
            </dict>
            <key>world/tile_ground_tracks_rhino_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,702},{336,126}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{336,126}}</string>
                <key>sourceSize</key>
                <string>{340,130}</string>
            </dict>
            <key>world/tile_wall_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{228,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,390}}</string>
                <key>sourceSize</key>
                <string>{228,390}</string>
            </dict>
            <key>world/water_strip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{497,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,53}}</string>
                <key>sourceSize</key>
                <string>{497,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay_kion_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c991796d05556c44d8e6a374ffa3ab2d:1/3$</string>
            <key>textureFileName</key>
            <string>gameplay_kion_0.png</string>
        </dict>
    </dict>
</plist>
