<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_sarahFail_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1344},{341,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{341,162}}</string>
				<key>sourceSize</key>
				<string>{341,162}</string>
			</dict>

			<key>anim_sarahFail_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1512},{341,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{341,162}}</string>
				<key>sourceSize</key>
				<string>{341,162}</string>
			</dict>

			<key>anim_sarahFail_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1176},{341,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{341,162}}</string>
				<key>sourceSize</key>
				<string>{341,162}</string>
			</dict>

			<key>anim_sarahFail_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1848},{341,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{341,162}}</string>
				<key>sourceSize</key>
				<string>{341,162}</string>
			</dict>

			<key>anim_sarahFail_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,1176},{341,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{341,162}}</string>
				<key>sourceSize</key>
				<string>{341,162}</string>
			</dict>

			<key>anim_sarahFail_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1680},{341,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{341,162}}</string>
				<key>sourceSize</key>
				<string>{341,162}</string>
			</dict>

			<key>anim_sarahFail_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,1344},{341,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{341,162}}</string>
				<key>sourceSize</key>
				<string>{341,162}</string>
			</dict>

			<key>anim_sarahFail_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,1512},{341,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{341,162}}</string>
				<key>sourceSize</key>
				<string>{341,162}</string>
			</dict>

			<key>anim_sarahHappy_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,0},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHappy_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1175,1776},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHappy_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,1776},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHappy_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,1554},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHappy_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,1332},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHappy_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,1110},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHappy_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,888},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHappy_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,666},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHappy_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1175,1554},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHappy_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1108,1332},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHappy_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1108,1110},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHappy_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,888},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHappy_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,666},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHappy_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,444},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHappy_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,222},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHappy_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,0},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,444},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,444},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,444},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,444},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,444},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,222},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,0},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,1776},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,1554},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,1332},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,1110},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahHit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,888},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahIdle2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,222},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahIdle2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,222},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahIdle2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,0},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahIdle2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,1680},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahIdle2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,888},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahIdle2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,666},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahIdle2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,666},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahIdle2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,888},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahIdle2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,1680},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahIdle2_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,0},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahIn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,444},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahIn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,222},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahIn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,666},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahIn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,0},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahIn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,1680},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahIn_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,222},{201,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,216}}</string>
				<key>sourceSize</key>
				<string>{201,216}</string>
			</dict>

			<key>anim_sarahSuccess_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,168},{478,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{478,162}}</string>
				<key>sourceSize</key>
				<string>{478,162}</string>
			</dict>

			<key>anim_sarahSuccess_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{478,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{478,162}}</string>
				<key>sourceSize</key>
				<string>{478,162}</string>
			</dict>

			<key>anim_sarahSuccess_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,504},{478,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{478,162}}</string>
				<key>sourceSize</key>
				<string>{478,162}</string>
			</dict>

			<key>anim_sarahSuccess_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,672},{478,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{478,162}}</string>
				<key>sourceSize</key>
				<string>{478,162}</string>
			</dict>

			<key>anim_sarahSuccess_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1008},{478,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{478,162}}</string>
				<key>sourceSize</key>
				<string>{478,162}</string>
			</dict>

			<key>anim_sarahSuccess_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{478,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{478,162}}</string>
				<key>sourceSize</key>
				<string>{478,162}</string>
			</dict>

			<key>anim_sarahSuccess_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,336},{478,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{478,162}}</string>
				<key>sourceSize</key>
				<string>{478,162}</string>
			</dict>

			<key>anim_sarahSuccess_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{478,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{478,162}}</string>
				<key>sourceSize</key>
				<string>{478,162}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim_sarah.png</string>
			</dict>
		</dict>
</plist>