<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mg12_Basket_Back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{644,92}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{644,92}}</string>
                <key>sourceSize</key>
                <string>{656,152}</string>
            </dict>
            <key>mg12_Basket_Front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{656,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{656,152}}</string>
                <key>sourceSize</key>
                <string>{656,152}</string>
            </dict>
            <key>mg12_GoldenEgg.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,398},{145,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,102}}</string>
                <key>sourceSize</key>
                <string>{145,102}</string>
            </dict>
            <key>mg12_Jack_Lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,398},{205,228}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,228}}</string>
                <key>sourceSize</key>
                <string>{205,230}</string>
            </dict>
            <key>mg12_Jack_WIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{205,228}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,228}}</string>
                <key>sourceSize</key>
                <string>{205,230}</string>
            </dict>
            <key>mg12_Meter.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{281,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,146}}</string>
                <key>sourceSize</key>
                <string>{281,146}</string>
            </dict>
            <key>mg12_MeterNeedle.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,2},{34,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,135}}</string>
                <key>sourceSize</key>
                <string>{34,135}</string>
            </dict>
            <key>mg12_Nest_Back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{647,164}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{647,164}}</string>
                <key>sourceSize</key>
                <string>{649,166}</string>
            </dict>
            <key>mg12_Nest_Front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{607,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{607,73}}</string>
                <key>sourceSize</key>
                <string>{607,73}</string>
            </dict>
            <key>minigame_12_bg_overlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,150},{268,246}}</string>
                <key>offset</key>
                <string>{6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,196},{268,246}}</string>
                <key>sourceSize</key>
                <string>{996,560}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minigame_12_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e965e7c60f0ff3493173954ab132d405:3d7f58ec11282a4475697814e7248d89:8d7cd173696d48373f6dc58adf85a43c$</string>
            <key>textureFileName</key>
            <string>minigame_12_0.png</string>
        </dict>
    </dict>
</plist>
