<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1x1-exit-tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>1x1-open-tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>1x1-wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>arrow-button-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>arrow-button-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>crew_protect_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{604,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,483}}</string>
                <key>sourceSize</key>
                <string>{604,483}</string>
            </dict>
            <key>door-close-001.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{88,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,21}}</string>
                <key>sourceSize</key>
                <string>{88,21}</string>
            </dict>
            <key>door-close-002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{88,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,21}}</string>
                <key>sourceSize</key>
                <string>{88,21}</string>
            </dict>
            <key>door-close-003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,487},{88,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,21}}</string>
                <key>sourceSize</key>
                <string>{88,21}</string>
            </dict>
            <key>door-close-004.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,487},{88,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,21}}</string>
                <key>sourceSize</key>
                <string>{88,21}</string>
            </dict>
            <key>door-close-005.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,487},{88,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,21}}</string>
                <key>sourceSize</key>
                <string>{88,21}</string>
            </dict>
            <key>door-close-006.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,487},{88,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,21}}</string>
                <key>sourceSize</key>
                <string>{88,21}</string>
            </dict>
            <key>enemy-blip-solo.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,487},{32,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,41}}</string>
                <key>sourceSize</key>
                <string>{32,41}</string>
            </dict>
            <key>enemy-blip.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,487},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>green-blip-001.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,487},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>green-blip-002.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,487},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>green-blip-003.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,487},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>green-blip-004.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,487},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>green-blip-005.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,487},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>green-blip-006.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,487},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>green-blip-007.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,487},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>green-blip-008.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,487},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites_crewprotect.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30e8b4212a3c7a66aff037ac62d1edd0:6334fa02aabfc9ff6eee881d46179615:533287cb612f98401c3850efe49ad63f$</string>
            <key>textureFileName</key>
            <string>sprites_crewprotect.png</string>
        </dict>
    </dict>
</plist>
