<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mg6_RockingChair_MeterEasy.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,868},{281,130}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{281,130}}</string>
                <key>sourceSize</key>
                <string>{281,146}</string>
            </dict>
            <key>mg6_RockingChair_MeterEasy_Glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,331},{215,138}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,8},{215,138}}</string>
                <key>sourceSize</key>
                <string>{281,146}</string>
            </dict>
            <key>mg6_RockingChair_MeterHard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{281,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,146}}</string>
                <key>sourceSize</key>
                <string>{281,146}</string>
            </dict>
            <key>mg6_RockingChair_MeterHard_Glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{161,144}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,2},{161,144}}</string>
                <key>sourceSize</key>
                <string>{281,146}</string>
            </dict>
            <key>mg6_RockingChair_MeterMedium.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,860},{281,130}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{281,130}}</string>
                <key>sourceSize</key>
                <string>{281,146}</string>
            </dict>
            <key>mg6_RockingChair_MeterMedium_Glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{189,134}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,12},{189,134}}</string>
                <key>sourceSize</key>
                <string>{281,146}</string>
            </dict>
            <key>mg6_RockingChair_MeterNeedle.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,148},{34,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,135}}</string>
                <key>sourceSize</key>
                <string>{34,135}</string>
            </dict>
            <key>mg6_RockingChair_Pose1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,385},{286,387}}</string>
                <key>offset</key>
                <string>{-48,179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{286,387}}</string>
                <key>sourceSize</key>
                <string>{432,745}</string>
            </dict>
            <key>mg6_RockingChair_Pose2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{306,387}}</string>
                <key>offset</key>
                <string>{-58,179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{306,387}}</string>
                <key>sourceSize</key>
                <string>{432,745}</string>
            </dict>
            <key>mg6_RockingChair_Pose3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,471},{288,387}}</string>
                <key>offset</key>
                <string>{-49,179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{288,387}}</string>
                <key>sourceSize</key>
                <string>{432,745}</string>
            </dict>
            <key>mg6_RockingChair_PoseWIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{310,381}}</string>
                <key>offset</key>
                <string>{-60,177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{310,381}}</string>
                <key>sourceSize</key>
                <string>{432,745}</string>
            </dict>
            <key>mg6_RockingChair_Pose_LOSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{532,327}}</string>
                <key>offset</key>
                <string>{23,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,96},{532,327}}</string>
                <key>sourceSize</key>
                <string>{612,745}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minigame_6_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abb1e338ba5e39c0dcbeb3f0a9703eb8:2d3df1fdac0bc30ec9d69b1872baf4b7:90a1a9891405048b4b969fa79794eac7$</string>
            <key>textureFileName</key>
            <string>minigame_6_0.png</string>
        </dict>
    </dict>
</plist>
