<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_balloon_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,1949},{107,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,78}}</string>
				<key>sourceSize</key>
				<string>{107,78}</string>
			</dict>

			<key>gobj_balloon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,1949},{107,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,78}}</string>
				<key>sourceSize</key>
				<string>{107,78}</string>
			</dict>

			<key>gobj_balloon_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,1949},{107,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,78}}</string>
				<key>sourceSize</key>
				<string>{107,78}</string>
			</dict>

			<key>gobj_balloon_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,1949},{107,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,78}}</string>
				<key>sourceSize</key>
				<string>{107,78}</string>
			</dict>

			<key>gobj_balloon_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,1949},{107,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,78}}</string>
				<key>sourceSize</key>
				<string>{107,78}</string>
			</dict>

			<key>gobj_balloon_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,1949},{107,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,78}}</string>
				<key>sourceSize</key>
				<string>{107,78}</string>
			</dict>

			<key>gobj_balloon_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,1949},{107,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,78}}</string>
				<key>sourceSize</key>
				<string>{107,78}</string>
			</dict>

			<key>gobj_balloon_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,1949},{107,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,78}}</string>
				<key>sourceSize</key>
				<string>{107,78}</string>
			</dict>

			<key>gobj_balloon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1595},{107,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,78}}</string>
				<key>sourceSize</key>
				<string>{107,78}</string>
			</dict>

			<key>gobj_balloon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1595},{107,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,78}}</string>
				<key>sourceSize</key>
				<string>{107,78}</string>
			</dict>

			<key>gobj_balloon_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,342},{107,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,78}}</string>
				<key>sourceSize</key>
				<string>{107,78}</string>
			</dict>

			<key>gobj_balloon_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,342},{107,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,78}}</string>
				<key>sourceSize</key>
				<string>{107,78}</string>
			</dict>

			<key>gobj_balloon_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,342},{107,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,78}}</string>
				<key>sourceSize</key>
				<string>{107,78}</string>
			</dict>

			<key>gobj_balloon_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,342},{107,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,78}}</string>
				<key>sourceSize</key>
				<string>{107,78}</string>
			</dict>

			<key>gobj_balloon_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1595},{107,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,78}}</string>
				<key>sourceSize</key>
				<string>{107,78}</string>
			</dict>

			<key>gobj_balloon_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1595},{107,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,78}}</string>
				<key>sourceSize</key>
				<string>{107,78}</string>
			</dict>

			<key>gobj_bossBeam_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1675},{103,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,24}}</string>
				<key>sourceSize</key>
				<string>{103,24}</string>
			</dict>

			<key>gobj_bossBeam_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,1038},{103,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,24}}</string>
				<key>sourceSize</key>
				<string>{103,24}</string>
			</dict>

			<key>gobj_bossBeam_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,1012},{103,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,24}}</string>
				<key>sourceSize</key>
				<string>{103,24}</string>
			</dict>

			<key>gobj_busPink_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1275},{289,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{289,142}}</string>
				<key>sourceSize</key>
				<string>{289,142}</string>
			</dict>

			<key>gobj_busPink_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1563},{289,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{289,142}}</string>
				<key>sourceSize</key>
				<string>{289,142}</string>
			</dict>

			<key>gobj_busYellow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1419},{289,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{289,142}}</string>
				<key>sourceSize</key>
				<string>{289,142}</string>
			</dict>

			<key>gobj_busYellow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1131},{289,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{289,142}}</string>
				<key>sourceSize</key>
				<string>{289,142}</string>
			</dict>

			<key>gobj_carConstruction_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,1595},{257,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,143}}</string>
				<key>sourceSize</key>
				<string>{257,143}</string>
			</dict>

			<key>gobj_carConstruction_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1012},{257,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,143}}</string>
				<key>sourceSize</key>
				<string>{257,143}</string>
			</dict>

			<key>gobj_carConstruction_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1157},{257,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,143}}</string>
				<key>sourceSize</key>
				<string>{257,143}</string>
			</dict>

			<key>gobj_carConstruction_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,722},{257,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,143}}</string>
				<key>sourceSize</key>
				<string>{257,143}</string>
			</dict>

			<key>gobj_carFlower_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,1775},{257,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,143}}</string>
				<key>sourceSize</key>
				<string>{257,143}</string>
			</dict>

			<key>gobj_carFlower_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,577},{257,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,143}}</string>
				<key>sourceSize</key>
				<string>{257,143}</string>
			</dict>

			<key>gobj_carFlower_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,432},{257,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,143}}</string>
				<key>sourceSize</key>
				<string>{257,143}</string>
			</dict>

			<key>gobj_carFlower_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,1450},{257,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,143}}</string>
				<key>sourceSize</key>
				<string>{257,143}</string>
			</dict>

			<key>gobj_carTaxi_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,867},{257,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,143}}</string>
				<key>sourceSize</key>
				<string>{257,143}</string>
			</dict>

			<key>gobj_carTaxi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,142},{257,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,143}}</string>
				<key>sourceSize</key>
				<string>{257,143}</string>
			</dict>

			<key>gobj_carTaxi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,287},{257,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,143}}</string>
				<key>sourceSize</key>
				<string>{257,143}</string>
			</dict>

			<key>gobj_carTaxi_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,1305},{257,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,143}}</string>
				<key>sourceSize</key>
				<string>{257,143}</string>
			</dict>

			<key>gobj_catPink_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,942},{133,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,168}}</string>
				<key>sourceSize</key>
				<string>{133,168}</string>
			</dict>

			<key>gobj_catPink_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,1112},{133,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,168}}</string>
				<key>sourceSize</key>
				<string>{133,168}</string>
			</dict>

			<key>gobj_catPink_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,942},{133,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,168}}</string>
				<key>sourceSize</key>
				<string>{133,168}</string>
			</dict>

			<key>gobj_catPink_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,1112},{133,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,168}}</string>
				<key>sourceSize</key>
				<string>{133,168}</string>
			</dict>

			<key>gobj_catPink_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,628},{133,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,168}}</string>
				<key>sourceSize</key>
				<string>{133,168}</string>
			</dict>

			<key>gobj_catPink_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,458},{133,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,168}}</string>
				<key>sourceSize</key>
				<string>{133,168}</string>
			</dict>

			<key>gobj_catPink_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,288},{133,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,168}}</string>
				<key>sourceSize</key>
				<string>{133,168}</string>
			</dict>

			<key>gobj_catPink_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1036,1286},{133,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,168}}</string>
				<key>sourceSize</key>
				<string>{133,168}</string>
			</dict>

			<key>gobj_catPink_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1135,0},{133,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,168}}</string>
				<key>sourceSize</key>
				<string>{133,168}</string>
			</dict>

			<key>gobj_catPink_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,1870},{133,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,168}}</string>
				<key>sourceSize</key>
				<string>{133,168}</string>
			</dict>

			<key>gobj_catPink_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,1700},{133,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,168}}</string>
				<key>sourceSize</key>
				<string>{133,168}</string>
			</dict>

			<key>gobj_catPink_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,1116},{133,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{133,168}}</string>
				<key>sourceSize</key>
				<string>{133,168}</string>
			</dict>

			<key>gobj_copterFX_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,1302},{222,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{222,198}}</string>
				<key>sourceSize</key>
				<string>{222,198}</string>
			</dict>

			<key>gobj_copterFX_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,342},{222,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{222,198}}</string>
				<key>sourceSize</key>
				<string>{222,198}</string>
			</dict>

			<key>gobj_copterFX_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,542},{222,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{222,198}}</string>
				<key>sourceSize</key>
				<string>{222,198}</string>
			</dict>

			<key>gobj_copterFX_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,742},{222,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{222,198}}</string>
				<key>sourceSize</key>
				<string>{222,198}</string>
			</dict>

			<key>gobj_copterFX_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,142},{222,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{222,198}}</string>
				<key>sourceSize</key>
				<string>{222,198}</string>
			</dict>

			<key>gobj_drill_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,1012},{162,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,52}}</string>
				<key>sourceSize</key>
				<string>{162,52}</string>
			</dict>

			<key>gobj_drill_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,1066},{162,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,52}}</string>
				<key>sourceSize</key>
				<string>{162,52}</string>
			</dict>

			<key>gobj_drill_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,1949},{162,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,52}}</string>
				<key>sourceSize</key>
				<string>{162,52}</string>
			</dict>

			<key>gobj_drill_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1595},{162,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,52}}</string>
				<key>sourceSize</key>
				<string>{162,52}</string>
			</dict>

			<key>gobj_drill_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1649},{162,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,52}}</string>
				<key>sourceSize</key>
				<string>{162,52}</string>
			</dict>

			<key>gobj_enCar_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1911},{283,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,66}}</string>
				<key>sourceSize</key>
				<string>{283,66}</string>
			</dict>

			<key>gobj_enCar_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,1707},{283,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,66}}</string>
				<key>sourceSize</key>
				<string>{283,66}</string>
			</dict>

			<key>gobj_enCar_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1911},{283,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,66}}</string>
				<key>sourceSize</key>
				<string>{283,66}</string>
			</dict>

			<key>gobj_enCar_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1979},{283,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,66}}</string>
				<key>sourceSize</key>
				<string>{283,66}</string>
			</dict>

			<key>gobj_enCar_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1707},{283,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,66}}</string>
				<key>sourceSize</key>
				<string>{283,66}</string>
			</dict>

			<key>gobj_enCar_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1775},{283,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,66}}</string>
				<key>sourceSize</key>
				<string>{283,66}</string>
			</dict>

			<key>gobj_enCar_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1843},{283,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,66}}</string>
				<key>sourceSize</key>
				<string>{283,66}</string>
			</dict>

			<key>gobj_enCat_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,1502},{146,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,196}}</string>
				<key>sourceSize</key>
				<string>{146,196}</string>
			</dict>

			<key>gobj_enCopter_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1131},{272,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{272,172}}</string>
				<key>sourceSize</key>
				<string>{272,172}</string>
			</dict>

			<key>gobj_enCopter_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,1775},{272,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{272,172}}</string>
				<key>sourceSize</key>
				<string>{272,172}</string>
			</dict>

			<key>gobj_enPop_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,0},{168,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,145}}</string>
				<key>sourceSize</key>
				<string>{168,145}</string>
			</dict>

			<key>gobj_enPop_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,1116},{168,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,145}}</string>
				<key>sourceSize</key>
				<string>{168,145}</string>
			</dict>

			<key>gobj_enPop_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,1502},{168,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,145}}</string>
				<key>sourceSize</key>
				<string>{168,145}</string>
			</dict>

			<key>gobj_enPopcorn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,147},{148,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,139}}</string>
				<key>sourceSize</key>
				<string>{148,139}</string>
			</dict>

			<key>gobj_enPopcorn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,147},{148,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,139}}</string>
				<key>sourceSize</key>
				<string>{148,139}</string>
			</dict>

			<key>gobj_enPopcorn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,0},{148,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,139}}</string>
				<key>sourceSize</key>
				<string>{148,139}</string>
			</dict>

			<key>gobj_enRotten_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1447},{260,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,140}}</string>
				<key>sourceSize</key>
				<string>{260,140}</string>
			</dict>

			<key>gobj_enRotten_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,706},{260,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,140}}</string>
				<key>sourceSize</key>
				<string>{260,140}</string>
			</dict>

			<key>gobj_enRotten_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,564},{260,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,140}}</string>
				<key>sourceSize</key>
				<string>{260,140}</string>
			</dict>

			<key>gobj_enRotten_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,848},{260,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,140}}</string>
				<key>sourceSize</key>
				<string>{260,140}</string>
			</dict>

			<key>gobj_enRotten_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1305},{260,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,140}}</string>
				<key>sourceSize</key>
				<string>{260,140}</string>
			</dict>

			<key>gobj_enRotten_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,0},{260,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,140}}</string>
				<key>sourceSize</key>
				<string>{260,140}</string>
			</dict>

			<key>gobj_energy_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,1920},{63,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,81}}</string>
				<key>sourceSize</key>
				<string>{63,81}</string>
			</dict>

			<key>gobj_missileB_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,468},{142,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,34}}</string>
				<key>sourceSize</key>
				<string>{142,34}</string>
			</dict>

			<key>gobj_missileB_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,504},{142,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,34}}</string>
				<key>sourceSize</key>
				<string>{142,34}</string>
			</dict>

			<key>gobj_missileB_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,2003},{142,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,34}}</string>
				<key>sourceSize</key>
				<string>{142,34}</string>
			</dict>

			<key>gobj_missileB_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,432},{142,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,34}}</string>
				<key>sourceSize</key>
				<string>{142,34}</string>
			</dict>

			<key>gobj_pedestrian_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,376},{350,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,186}}</string>
				<key>sourceSize</key>
				<string>{350,186}</string>
			</dict>

			<key>gobj_pedestrian_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,188},{350,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,186}}</string>
				<key>sourceSize</key>
				<string>{350,186}</string>
			</dict>

			<key>gobj_pedestrian_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{350,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,186}}</string>
				<key>sourceSize</key>
				<string>{350,186}</string>
			</dict>

			<key>gobj_police_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,1740},{200,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,172}}</string>
				<key>sourceSize</key>
				<string>{200,172}</string>
			</dict>

			<key>gobj_police_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,942},{200,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,172}}</string>
				<key>sourceSize</key>
				<string>{200,172}</string>
			</dict>

			<key>gobj_waitress_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1175,170},{110,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,167}}</string>
				<key>sourceSize</key>
				<string>{110,167}</string>
			</dict>

			<key>gobj_waitress_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1175,339},{110,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,167}}</string>
				<key>sourceSize</key>
				<string>{110,167}</string>
			</dict>

			<key>gobj_waitress_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,1794},{110,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,167}}</string>
				<key>sourceSize</key>
				<string>{110,167}</string>
			</dict>

			<key>gobj_waitress_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,1789},{110,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,167}}</string>
				<key>sourceSize</key>
				<string>{110,167}</string>
			</dict>

			<key>gobj_waitress_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1273,677},{110,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,167}}</string>
				<key>sourceSize</key>
				<string>{110,167}</string>
			</dict>

			<key>gobj_waitress_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,1136},{110,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,167}}</string>
				<key>sourceSize</key>
				<string>{110,167}</string>
			</dict>

			<key>gobj_waitress_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,0},{110,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,167}}</string>
				<key>sourceSize</key>
				<string>{110,167}</string>
			</dict>

			<key>gobj_waitress_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1175,170},{110,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,167}}</string>
				<key>sourceSize</key>
				<string>{110,167}</string>
			</dict>

			<key>gobj_waitress_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1175,508},{110,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,167}}</string>
				<key>sourceSize</key>
				<string>{110,167}</string>
			</dict>

			<key>gobj_waitress_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1259,1451},{110,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,167}}</string>
				<key>sourceSize</key>
				<string>{110,167}</string>
			</dict>

			<key>gobj_waitress_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1264,967},{110,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,167}}</string>
				<key>sourceSize</key>
				<string>{110,167}</string>
			</dict>

			<key>gobj_waitress_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,1620},{110,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,167}}</string>
				<key>sourceSize</key>
				<string>{110,167}</string>
			</dict>

			<key>gobj_waitress_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1155,1625},{110,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,167}}</string>
				<key>sourceSize</key>
				<string>{110,167}</string>
			</dict>

			<key>gobj_waitress_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1171,1282},{110,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,167}}</string>
				<key>sourceSize</key>
				<string>{110,167}</string>
			</dict>

			<key>gobj_waitress_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1147,1456},{110,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,167}}</string>
				<key>sourceSize</key>
				<string>{110,167}</string>
			</dict>

			<key>gobj_waitress_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,798},{110,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,167}}</string>
				<key>sourceSize</key>
				<string>{110,167}</string>
			</dict>

			<key>gobj_whale_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,564},{293,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,187}}</string>
				<key>sourceSize</key>
				<string>{293,187}</string>
			</dict>

			<key>gobj_whale_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,942},{293,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,187}}</string>
				<key>sourceSize</key>
				<string>{293,187}</string>
			</dict>

			<key>gobj_whale_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,753},{293,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,187}}</string>
				<key>sourceSize</key>
				<string>{293,187}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>gobj.png</string>
			</dict>
		</dict>
</plist>