<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>platforms/cliff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,426},{323,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,180}}</string>
                <key>sourceSize</key>
                <string>{323,180}</string>
            </dict>
            <key>platforms/cliff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1},{410,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,177}}</string>
                <key>sourceSize</key>
                <string>{410,177}</string>
            </dict>
            <key>platforms/cliff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,204},{329,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,220}}</string>
                <key>sourceSize</key>
                <string>{329,220}</string>
            </dict>
            <key>platforms/cliff_broken_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,180},{253,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,164}}</string>
                <key>sourceSize</key>
                <string>{253,164}</string>
            </dict>
            <key>platforms/cliff_broken_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,531},{256,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,165}}</string>
                <key>sourceSize</key>
                <string>{256,165}</string>
            </dict>
            <key>platforms/cliff_broken_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,608},{254,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,168}}</string>
                <key>sourceSize</key>
                <string>{254,168}</string>
            </dict>
            <key>platforms/cliff_broken_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,383},{261,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,155}}</string>
                <key>sourceSize</key>
                <string>{261,155}</string>
            </dict>
            <key>platforms/cliff_cave.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,383},{324,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,146}}</string>
                <key>sourceSize</key>
                <string>{324,146}</string>
            </dict>
            <key>platforms/tree_plain_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{435,201}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,201}}</string>
                <key>sourceSize</key>
                <string>{453,201}</string>
            </dict>
            <key>platforms/tree_plain_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,180},{330,201}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,201}}</string>
                <key>sourceSize</key>
                <string>{348,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bunga_environment_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4829d2d4fc26f95f3714bf396d89c84f:2a341f51f557a8f19cf2d6fd2b358fb4:ab6fa9c4dc5c9b87eefe0451f3b53314$</string>
            <key>textureFileName</key>
            <string>bunga_environment_2.png</string>
        </dict>
    </dict>
</plist>
