<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animals/animal_exclamation.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,1},{44,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>animals/animal_gazelle_baby.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,514},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>effects/bunga_pickup_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,663},{175,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,158}}</string>
                <key>sourceSize</key>
                <string>{175,158}</string>
            </dict>
            <key>effects/dust_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,652},{94,36}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,39},{94,36}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
            <key>hyena/hyena_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,823},{156,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,173}}</string>
                <key>sourceSize</key>
                <string>{156,173}</string>
            </dict>
            <key>hyena/hyena_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,823},{148,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,168}}</string>
                <key>sourceSize</key>
                <string>{148,168}</string>
            </dict>
            <key>platforms/cliff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,410},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>platforms/cliff_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,410},{912,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{912,251}}</string>
                <key>sourceSize</key>
                <string>{912,251}</string>
            </dict>
            <key>platforms/cliff_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{974,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{974,407}}</string>
                <key>sourceSize</key>
                <string>{974,407}</string>
            </dict>
            <key>platforms/cliff_broken_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,663},{209,349}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,55},{209,349}}</string>
                <key>sourceSize</key>
                <string>{261,463}</string>
            </dict>
            <key>platforms/cliff_broken_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,663},{209,355}}</string>
                <key>offset</key>
                <string>{3,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,108},{209,355}}</string>
                <key>sourceSize</key>
                <string>{261,463}</string>
            </dict>
            <key>platforms/cliff_cave_plants_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,663},{287,356}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,356}}</string>
                <key>sourceSize</key>
                <string>{287,356}</string>
            </dict>
            <key>platforms/hyena_eyes_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,38},{33,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,12}}</string>
                <key>sourceSize</key>
                <string>{33,12}</string>
            </dict>
            <key>platforms/plant_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,690},{133,125}}</string>
                <key>offset</key>
                <string>{16,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{133,125}}</string>
                <key>sourceSize</key>
                <string>{165,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bunga_environment_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4829d2d4fc26f95f3714bf396d89c84f:2a341f51f557a8f19cf2d6fd2b358fb4:ab6fa9c4dc5c9b87eefe0451f3b53314$</string>
            <key>textureFileName</key>
            <string>bunga_environment_0.png</string>
        </dict>
    </dict>
</plist>
