<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animals/animal_baboon_baby.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,930},{60,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>animals/animal_greyheadedbushshrike.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,952},{85,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,67}}</string>
                <key>sourceSize</key>
                <string>{85,67}</string>
            </dict>
            <key>animals/animal_hare.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,135},{77,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,108}}</string>
                <key>sourceSize</key>
                <string>{77,108}</string>
            </dict>
            <key>animals/animal_hedgehog.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,135},{63,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>animals/animal_porcupine_baby.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,952},{79,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,65}}</string>
                <key>sourceSize</key>
                <string>{79,65}</string>
            </dict>
            <key>animals/trap_animal_bush.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,952},{138,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,71}}</string>
                <key>sourceSize</key>
                <string>{138,71}</string>
            </dict>
            <key>animals/trap_animal_bush_broken.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,948},{140,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,59}}</string>
                <key>sourceSize</key>
                <string>{140,59}</string>
            </dict>
            <key>effects/bunga_burst_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,479},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>effects/dust_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,81},{160,52}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{160,52}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
            <key>effects/dust_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,948},{154,58}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{154,58}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
            <key>effects/dust_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1},{162,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{162,78}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
            <key>hyena/hyena_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,169},{155,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,152}}</string>
                <key>sourceSize</key>
                <string>{155,152}</string>
            </dict>
            <key>hyena/hyena_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,323},{144,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,154}}</string>
                <key>sourceSize</key>
                <string>{144,154}</string>
            </dict>
            <key>hyena/hyena_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,770},{174,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,158}}</string>
                <key>sourceSize</key>
                <string>{174,158}</string>
            </dict>
            <key>platforms/cliff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,723},{316,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,227}}</string>
                <key>sourceSize</key>
                <string>{316,227}</string>
            </dict>
            <key>platforms/cliff_broken_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,723},{255,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,223}}</string>
                <key>sourceSize</key>
                <string>{255,223}</string>
            </dict>
            <key>platforms/cliff_broken_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,723},{243,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,248}}</string>
                <key>sourceSize</key>
                <string>{243,248}</string>
            </dict>
            <key>platforms/cliff_cave_cave_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1},{155,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,166}}</string>
                <key>sourceSize</key>
                <string>{155,166}</string>
            </dict>
            <key>platforms/cliff_cave_pawprints_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,973},{257,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,43}}</string>
                <key>sourceSize</key>
                <string>{257,43}</string>
            </dict>
            <key>platforms/plant_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,930},{51,79}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,46},{51,79}}</string>
                <key>sourceSize</key>
                <string>{165,179}</string>
            </dict>
            <key>platforms/plant_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,623},{139,145}}</string>
                <key>offset</key>
                <string>{-13,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{139,145}}</string>
                <key>sourceSize</key>
                <string>{165,179}</string>
            </dict>
            <key>wall_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{346,720}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,720}}</string>
                <key>sourceSize</key>
                <string>{348,720}</string>
            </dict>
            <key>wall_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1},{321,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,720}}</string>
                <key>sourceSize</key>
                <string>{321,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bunga_environment_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4829d2d4fc26f95f3714bf396d89c84f:2a341f51f557a8f19cf2d6fd2b358fb4:ab6fa9c4dc5c9b87eefe0451f3b53314$</string>
            <key>textureFileName</key>
            <string>bunga_environment_1.png</string>
        </dict>
    </dict>
</plist>
