<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bunga/bunga_hit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,216},{71,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,88}}</string>
                <key>sourceSize</key>
                <string>{71,88}</string>
            </dict>
            <key>bunga/bunga_hit_mog_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,126},{13,12}}</string>
                <key>offset</key>
                <string>{-20,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{13,12}}</string>
                <key>sourceSize</key>
                <string>{71,88}</string>
            </dict>
            <key>bunga/bunga_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,391},{64,79}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,79}}</string>
                <key>sourceSize</key>
                <string>{64,83}</string>
            </dict>
            <key>bunga/bunga_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,430},{58,81}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{58,81}}</string>
                <key>sourceSize</key>
                <string>{64,83}</string>
            </dict>
            <key>bunga/bunga_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,131},{64,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,83}}</string>
                <key>sourceSize</key>
                <string>{64,83}</string>
            </dict>
            <key>bunga/bunga_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,306},{62,83}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,83}}</string>
                <key>sourceSize</key>
                <string>{64,83}</string>
            </dict>
            <key>bunga/bunga_idle_mog_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,98},{10,11}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,33},{10,11}}</string>
                <key>sourceSize</key>
                <string>{64,83}</string>
            </dict>
            <key>bunga/bunga_idle_mog_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,150},{10,13}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{10,13}}</string>
                <key>sourceSize</key>
                <string>{64,83}</string>
            </dict>
            <key>bunga/bunga_idle_mog_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,150},{10,13}}</string>
                <key>offset</key>
                <string>{-19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{10,13}}</string>
                <key>sourceSize</key>
                <string>{64,83}</string>
            </dict>
            <key>bunga/bunga_idle_mog_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,110},{10,11}}</string>
                <key>offset</key>
                <string>{-20,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{10,11}}</string>
                <key>sourceSize</key>
                <string>{64,83}</string>
            </dict>
            <key>bunga/bunga_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,153},{68,90}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>bunga/bunga_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1},{96,80}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{96,80}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>bunga/bunga_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,85},{76,88}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{76,88}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>bunga/bunga_jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,97},{76,78}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{76,78}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>bunga/bunga_jump_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,175},{76,70}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{76,70}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>bunga/bunga_jump_mog_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,111},{10,10}}</string>
                <key>offset</key>
                <string>{-25,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{10,10}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>bunga/bunga_jump_mog_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,140},{12,12}}</string>
                <key>offset</key>
                <string>{-16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{12,12}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>bunga/bunga_jump_mog_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,168},{12,10}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{12,10}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>bunga/bunga_jump_mog_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,165},{12,10}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,34},{12,10}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>bunga/bunga_jump_mog_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,165},{12,10}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,38},{12,10}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>bunga/bunga_roll_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,306},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>bunga/bunga_roll_mog_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,97},{14,14}}</string>
                <key>offset</key>
                <string>{15,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,43},{14,14}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>bunga/bunga_slide_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,83},{92,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,83}}</string>
                <key>sourceSize</key>
                <string>{92,83}</string>
            </dict>
            <key>bunga/bunga_slide_mog_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,113},{14,11}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{14,11}}</string>
                <key>sourceSize</key>
                <string>{92,83}</string>
            </dict>
            <key>bunga/bunga_super_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1},{58,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,128}}</string>
                <key>sourceSize</key>
                <string>{58,128}</string>
            </dict>
            <key>bunga/bunga_super_blur_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,306},{57,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,122}}</string>
                <key>sourceSize</key>
                <string>{57,122}</string>
            </dict>
            <key>bunga/bunga_super_land_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,177},{74,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,66}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>bunga/bunga_super_land_mog_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,154},{12,12}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{12,12}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>bunga/bunga_super_mog_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,98},{12,10}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,43},{12,10}}</string>
                <key>sourceSize</key>
                <string>{58,128}</string>
            </dict>
            <key>obstacles/obstacle_bee.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,150},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>obstacles/obstacle_beehive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,98},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>obstacles/obstacle_thorns.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{173,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,95}}</string>
                <key>sourceSize</key>
                <string>{173,95}</string>
            </dict>
            <key>pickups/pickups_fruit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,247},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>pickups/pickups_fruit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,247},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>pickups/pickups_fruit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,98},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>ui/ui_gameplay_character_bunga.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1},{92,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{92,94}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>ui/ui_gameplay_character_bunga_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{80,82}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bunga_character_0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:858703d879151a2787aa7c426eff5393:5a748bb66305816e079df6718dede246:738307e8ba75972fd744f08946bb20bd$</string>
            <key>textureFileName</key>
            <string>bunga_character_0.png</string>
        </dict>
    </dict>
</plist>
