<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backgrounds/bunga_bg_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1022,719}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1022,719}}</string>
                <key>sourceSize</key>
                <string>{1022,719}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bunga_background_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:331e0d25958482fff3f16555e0df282e:1edc599e2fcc6034ee1883828e77641d:a677f9306c01c3b367fd16179894a33f$</string>
            <key>textureFileName</key>
            <string>bunga_background_1.png</string>
        </dict>
    </dict>
</plist>
