body
{
	margin: 0;
	padding: 0;
	background-color: #000;
	transform: scale(0.9999999);
}

@font-face {
    font-family: 'curse-casual';
    src: url('./../assets/fonts/curse_casual_jve-webfont.woff2') format('woff2'),
         url('./../assets/fonts/curse_casual_jve-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'luckiestguy';
    src: url('./../assets/fonts/luckiestguy-regular-webfont.woff2') format('woff2'),
         url('./../assets/fonts/luckiestguy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}