body
{
	margin: 0;
	padding: 0;
	background-color: #000;
	transform: scale(0.9999999);
}

@font-face {
    font-family: 'angostura';
    src: url('./../assets/fonts/angostura-webfont.woff2') format('woff2'),
         url('./../assets/fonts/angostura-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'angosturablack';
    src: url('./../assets/fonts/angostura_bl-webfont.woff2') format('woff2'),
         url('./../assets/fonts/angostura_bl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}