<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>story_kion_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1024,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,720}}</string>
                <key>sourceSize</key>
                <string>{1024,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>story_kion_jpgs_1.jpg</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15ced572a67095596908d74d2ae72b0c:aca8cb8042b14ba267f704f7655c789f:c3df7ce7ea0f58f52dba7dd173fc5287$</string>
            <key>textureFileName</key>
            <string>story_kion_jpgs_1.jpg</string>
        </dict>
    </dict>
</plist>
