<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lion_guard_story_kion.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{623,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,481}}</string>
                <key>sourceSize</key>
                <string>{623,481}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>story_kion_pngs_0.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b084402108efd01f0fa2bf4ba75a55c:6129c4f49c7e5b09471af78264c08b8f:4eeb9a9e4e85797aadd98c060a0711a3$</string>
            <key>textureFileName</key>
            <string>story_kion_pngs_0.png</string>
        </dict>
    </dict>
</plist>
