<?xml version="1.0" encoding="UTF-8"?>

	<!-- Note : To control the Nickelodeon anti-piracy check, use assets/preloader/config.ini -->
	
    <!-- Ensure YES/NO settings are in ALL CAPS!! -->

<settings>

	<!-- Change to YES to enable click tracking (for Canadian region) -->
	<tracking>NO</tracking>

	<!-- Change to NO to disable the rotate screen -->
	<rotateScreen>YES</rotateScreen>

	<!-- Change to the width (in pixels) below which the game will start to scale on smaller devices/containers -->
	<scaleBelow>960</scaleBelow>

	<!-- Change to YES to show FPS in the top left corner of the screen -->
	<showFPS>NO</showFPS>

	<!-- Used for internal AOP testing only! -->
	<testMode>YES</testMode>

<!-- LOCALISATION AND OPTIONS -->

	<!-- Change to YES to enable TUNE IN burst on title screen -->
	<tuneIn>NO</tuneIn>

	<!-- Change to YES to enable voiceover in non-lite builds, NO for no vo and international fonts -->
	<vo>NO</vo>

	<!-- Change to NO to disable Alvin -->
	<alvin>YES</alvin>

	<!-- Change to NO to disable Power Rangers -->
	<pr>YES</pr>

</settings>