<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animals/animal_elephant_baby.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,650},{197,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,170}}</string>
                <key>sourceSize</key>
                <string>{197,170}</string>
            </dict>
            <key>characters/fuli_baboon_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,818},{93,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{93,65}}</string>
                <key>sourceSize</key>
                <string>{97,79}</string>
            </dict>
            <key>characters/fuli_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,217},{311,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,81}}</string>
                <key>sourceSize</key>
                <string>{311,81}</string>
            </dict>
            <key>characters/fuli_mud_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,178},{50,37}}</string>
                <key>offset</key>
                <string>{33,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,79},{50,37}}</string>
                <key>sourceSize</key>
                <string>{300,137}</string>
            </dict>
            <key>characters/fuli_mud_launch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,973},{140,31}}</string>
                <key>offset</key>
                <string>{46,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,106},{140,31}}</string>
                <key>sourceSize</key>
                <string>{300,137}</string>
            </dict>
            <key>characters/fuli_peak_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,570},{290,105}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{290,105}}</string>
                <key>sourceSize</key>
                <string>{300,137}</string>
            </dict>
            <key>characters/fuli_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,300},{300,101}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{300,101}}</string>
                <key>sourceSize</key>
                <string>{300,137}</string>
            </dict>
            <key>characters/fuli_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,973},{194,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,37}}</string>
                <key>sourceSize</key>
                <string>{194,37}</string>
            </dict>
            <key>environments/fuli_bg_grass_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{690,146}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{690,146}}</string>
                <key>sourceSize</key>
                <string>{690,150}</string>
            </dict>
            <key>environments/fuli_bg_grass_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{690,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{690,150}}</string>
                <key>sourceSize</key>
                <string>{690,150}</string>
            </dict>
            <key>environments/fuli_bg_grass_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{690,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{690,150}}</string>
                <key>sourceSize</key>
                <string>{690,150}</string>
            </dict>
            <key>environments/fuli_bg_mountains.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{996,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{996,174}}</string>
                <key>sourceSize</key>
                <string>{996,174}</string>
            </dict>
            <key>environments/fuli_bg_tree_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{485,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,294}}</string>
                <key>sourceSize</key>
                <string>{485,294}</string>
            </dict>
            <key>environments/fuli_effect_blur_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{951,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{951,18}}</string>
                <key>sourceSize</key>
                <string>{951,18}</string>
            </dict>
            <key>environments/fuli_fg_grass_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,822},{421,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,176}}</string>
                <key>sourceSize</key>
                <string>{421,176}</string>
            </dict>
            <key>environments/fuli_obstacle_log_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,677},{274,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,139}}</string>
                <key>sourceSize</key>
                <string>{274,139}</string>
            </dict>
            <key>environments/fuli_obstacle_log_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,403},{295,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,165}}</string>
                <key>sourceSize</key>
                <string>{295,165}</string>
            </dict>
            <key>ui/ui_gameplay_character_fuli.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,885},{92,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{92,94}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay_fuli_pngs_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8d190dfe1b22ca9614c405066cdbd70:cf333191812563721330ec2e781f5dc8:566a802e2d56ba034bbc8898ed95179f$</string>
            <key>textureFileName</key>
            <string>gameplay_fuli_pngs_0.png</string>
        </dict>
    </dict>
</plist>
