<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animals/animal_eland.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,279},{261,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,243}}</string>
                <key>sourceSize</key>
                <string>{261,243}</string>
            </dict>
            <key>animals/animal_mongoose.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,524},{138,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,81}}</string>
                <key>sourceSize</key>
                <string>{138,81}</string>
            </dict>
            <key>animals/fuli_animal_bush.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,626},{138,72}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{138,72}}</string>
                <key>sourceSize</key>
                <string>{144,82}</string>
            </dict>
            <key>animals/fuli_animal_bush_broken.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,607},{140,60}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{140,60}}</string>
                <key>sourceSize</key>
                <string>{144,82}</string>
            </dict>
            <key>characters/baboonA_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,129},{171,131}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{171,131}}</string>
                <key>sourceSize</key>
                <string>{193,157}</string>
            </dict>
            <key>characters/baboonA_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,509},{175,123}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{175,123}}</string>
                <key>sourceSize</key>
                <string>{193,157}</string>
            </dict>
            <key>characters/baboonB_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{175,149}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{175,149}}</string>
                <key>sourceSize</key>
                <string>{193,157}</string>
            </dict>
            <key>characters/baboonB_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,395},{193,111}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{193,111}}</string>
                <key>sourceSize</key>
                <string>{193,157}</string>
            </dict>
            <key>characters/baboonB_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,262},{169,131}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{169,131}}</string>
                <key>sourceSize</key>
                <string>{193,157}</string>
            </dict>
            <key>characters/baboonB_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,609},{175,123}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{175,123}}</string>
                <key>sourceSize</key>
                <string>{193,157}</string>
            </dict>
            <key>characters/fuli_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{290,93}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{290,93}}</string>
                <key>sourceSize</key>
                <string>{300,137}</string>
            </dict>
            <key>characters/fuli_launch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{290,97}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,40},{290,97}}</string>
                <key>sourceSize</key>
                <string>{300,137}</string>
            </dict>
            <key>characters/fuli_mud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,333},{218,61}}</string>
                <key>offset</key>
                <string>{41,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,65},{218,61}}</string>
                <key>sourceSize</key>
                <string>{300,137}</string>
            </dict>
            <key>characters/fuli_mud_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,587},{154,57}}</string>
                <key>offset</key>
                <string>{40,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,80},{154,57}}</string>
                <key>sourceSize</key>
                <string>{300,137}</string>
            </dict>
            <key>characters/fuli_mud_launch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,524},{158,61}}</string>
                <key>offset</key>
                <string>{48,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,76},{158,61}}</string>
                <key>sourceSize</key>
                <string>{300,137}</string>
            </dict>
            <key>characters/fuli_mud_up_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{216,63}}</string>
                <key>offset</key>
                <string>{37,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,63},{216,63}}</string>
                <key>sourceSize</key>
                <string>{300,137}</string>
            </dict>
            <key>characters/fuli_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{288,125}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{288,125}}</string>
                <key>sourceSize</key>
                <string>{300,137}</string>
            </dict>
            <key>characters/fuli_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{268,97}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{268,97}}</string>
                <key>sourceSize</key>
                <string>{300,137}</string>
            </dict>
            <key>characters/fuli_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,101},{282,115}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{282,115}}</string>
                <key>sourceSize</key>
                <string>{300,137}</string>
            </dict>
            <key>characters/fuli_tumble_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{280,101}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{280,101}}</string>
                <key>sourceSize</key>
                <string>{300,137}</string>
            </dict>
            <key>characters/fuli_tumble_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,508},{188,117}}</string>
                <key>offset</key>
                <string>{24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,19},{188,117}}</string>
                <key>sourceSize</key>
                <string>{300,137}</string>
            </dict>
            <key>characters/fuli_tumble_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,396},{214,111}}</string>
                <key>offset</key>
                <string>{28,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,26},{214,111}}</string>
                <key>sourceSize</key>
                <string>{300,137}</string>
            </dict>
            <key>characters/fuli_tumble_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,218},{270,113}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{270,113}}</string>
                <key>sourceSize</key>
                <string>{300,137}</string>
            </dict>
            <key>environments/fuli_mud_splatter_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,92}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,10},{346,92}}</string>
                <key>sourceSize</key>
                <string>{410,118}</string>
            </dict>
            <key>environments/fuli_obstacle_rock_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,509},{161,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,115}}</string>
                <key>sourceSize</key>
                <string>{161,115}</string>
            </dict>
            <key>environments/fuli_obstacle_thorns.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,129},{271,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,148}}</string>
                <key>sourceSize</key>
                <string>{271,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay_fuli_pngs_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8d190dfe1b22ca9614c405066cdbd70:cf333191812563721330ec2e781f5dc8:566a802e2d56ba034bbc8898ed95179f$</string>
            <key>textureFileName</key>
            <string>gameplay_fuli_pngs_2.png</string>
        </dict>
    </dict>
</plist>
