<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>environments/fuli_bg_ground.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{996,272}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{996,272}}</string>
                <key>sourceSize</key>
                <string>{996,271}</string>
            </dict>
            <key>environments/fuli_bg_sky.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,272},{996,228}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{996,228}}</string>
                <key>sourceSize</key>
                <string>{996,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay_fuli_jpgs_0.jpg</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1dbfd17e55d5679a8295bbadc56a412:462e73f8bf303b8a83c285d9bf2764b8:57761893296908279f4b1f2e9391a6e1$</string>
            <key>textureFileName</key>
            <string>gameplay_fuli_jpgs_0.jpg</string>
        </dict>
    </dict>
</plist>
