
@font-face {
  font-family: 'AvenirNextRoundedStd-Demi';
  src: url('AvenirNextRoundedStd-Demi.eot?#iefix') format('embedded-opentype'),  url('AvenirNextRoundedStd-Demi.otf')  format('opentype'),
	     url('AvenirNextRoundedStd-Demi.woff') format('woff'), url('AvenirNextRoundedStd-Demi.ttf')  format('truetype'), url('AvenirNextRoundedStd-Demi.svg#AvenirNextRoundedStd-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
}
