body {
  background-color: #0b0920;
  cake: #233b3e;
  overflow: hidden;
}

@font-face {
    font-family: DKButterflyBall;
    src: url('../font/DKButterflyBall.woff2') format('woff2'),
         url('../font/DKButterflyBall.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
