<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>minigame_abort.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,47}}</string>
                <key>sourceSize</key>
                <string>{117,47}</string>
            </dict>
            <key>minigame_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{688,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,768}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>minigame_frame_timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{475,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,37}}</string>
                <key>sourceSize</key>
                <string>{475,37}</string>
            </dict>
            <key>minigame_timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,772},{18,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,53}}</string>
                <key>sourceSize</key>
                <string>{18,53}</string>
            </dict>
            <key>minigame_timer_backing.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,772},{18,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,53}}</string>
                <key>sourceSize</key>
                <string>{18,53}</string>
            </dict>
            <key>minigame_timer_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,772},{18,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,53}}</string>
                <key>sourceSize</key>
                <string>{18,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites_minigameHUD.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a949b8b090c4b922a6312acdd01b5693:4b8f59121207122529f73377ebd53662:9a3f8ac8eed00e65f394d5b8ca38f19b$</string>
            <key>textureFileName</key>
            <string>sprites_minigameHUD.png</string>
        </dict>
    </dict>
</plist>
