@font-face {
	font-family: "Kanit";
	font-display: block;
	src: url(../../assets/font/Kanit-SemiBoldItalic_cca2bd30c88fcc645f666b1182dbedff.woff) format("woff");
	font-style: normal;
	font-weight: 600;
}
