<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mg19_Construction_Hay_Glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,564},{217,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,248}}</string>
                <key>sourceSize</key>
                <string>{217,248}</string>
            </dict>
            <key>mg19_Construction_Lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,906},{85,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,94}}</string>
                <key>sourceSize</key>
                <string>{85,94}</string>
            </dict>
            <key>mg19_Construction_Screws.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,898},{147,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,77}}</string>
                <key>sourceSize</key>
                <string>{147,77}</string>
            </dict>
            <key>mg19_Construction_Screws_Glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{190,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,114}}</string>
                <key>sourceSize</key>
                <string>{190,114}</string>
            </dict>
            <key>mg19_Construction_Sticks.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,733},{275,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,174}}</string>
                <key>sourceSize</key>
                <string>{275,174}</string>
            </dict>
            <key>mg19_Construction_Sticks_Glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,814},{298,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,207}}</string>
                <key>sourceSize</key>
                <string>{298,207}</string>
            </dict>
            <key>mg19_Construction_Win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{938,560}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{938,560}}</string>
                <key>sourceSize</key>
                <string>{996,560}</string>
            </dict>
            <key>mg19_Construction_Wood_Glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,564},{292,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,167}}</string>
                <key>sourceSize</key>
                <string>{292,167}</string>
            </dict>
            <key>mg19_PigStandard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{212,340}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{212,340}}</string>
                <key>sourceSize</key>
                <string>{228,350}</string>
            </dict>
            <key>mg19_PigWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,564},{208,332}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{208,332}}</string>
                <key>sourceSize</key>
                <string>{228,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minigame_19_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:612f9243f29782846756218e2dfe9d90:a38ffa80c14b237d3570bb9573ccedcf:83e4efca7c2adad6644a708774f9487e$</string>
            <key>textureFileName</key>
            <string>minigame_19_0.png</string>
        </dict>
    </dict>
</plist>
