<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mg19_Construction_Bricks.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{265,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,145}}</string>
                <key>sourceSize</key>
                <string>{265,145}</string>
            </dict>
            <key>mg19_Construction_Bricks_Glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,184}}</string>
                <key>sourceSize</key>
                <string>{308,184}</string>
            </dict>
            <key>mg19_Construction_Hay.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{192,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,211}}</string>
                <key>sourceSize</key>
                <string>{192,211}</string>
            </dict>
            <key>mg19_Construction_Wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,335},{243,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,128}}</string>
                <key>sourceSize</key>
                <string>{243,128}</string>
            </dict>
            <key>mg2_Bowl_steam.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{145,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,160}}</string>
                <key>sourceSize</key>
                <string>{145,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minigame_19_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:612f9243f29782846756218e2dfe9d90:a38ffa80c14b237d3570bb9573ccedcf:83e4efca7c2adad6644a708774f9487e$</string>
            <key>textureFileName</key>
            <string>minigame_19_1.png</string>
        </dict>
    </dict>
</plist>
