<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_anaisBadCollect_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,270},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisBadCollect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,141},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisBadCollect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,657},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisBadCollect_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,399},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisBadCollect_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,528},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisBadCollect_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1044},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisBadCollect_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,786},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisBadCollect_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,915},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisGoodCollect_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1431},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisGoodCollect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1173},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisGoodCollect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1302},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisGoodCollect_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1818},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisGoodCollect_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1560},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisGoodCollect_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1689},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisGoodCollect_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1302},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisGoodCollect_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1173},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,270},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,0},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,141},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,270},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,657},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,399},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,528},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_anaisIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,786},{145,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,123}}</string>
				<key>sourceSize</key>
				<string>{145,123}</string>
			</dict>

			<key>anim_grannyBadCollect_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,1261},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyBadCollect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1097,1557},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyBadCollect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1097,1211},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyBadCollect_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,915},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyBadCollect_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,1434},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyBadCollect_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,1607},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyBadCollect_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,1088},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyBadCollect_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,129},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyGoodCollect_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,915},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyGoodCollect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,1780},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyGoodCollect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1261},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyGoodCollect_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1434},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyGoodCollect_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1088},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyGoodCollect_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1780},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyGoodCollect_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,0},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyGoodCollect_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1607},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,346},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,519},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,173},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1097,865},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1097,1038},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,692},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1097,1384},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_grannyIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1097,1730},{132,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,167}}</string>
				<key>sourceSize</key>
				<string>{132,167}</string>
			</dict>

			<key>anim_pennyBadCollect_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyBadCollect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,402},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyBadCollect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,603},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyBadCollect_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,804},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyBadCollect_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1005},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyBadCollect_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1206},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyBadCollect_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1407},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyBadCollect_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1608},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyGoodCollect_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyGoodCollect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1809},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyGoodCollect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,0},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyGoodCollect_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,201},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyGoodCollect_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,402},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyGoodCollect_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,603},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyGoodCollect_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,804},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyGoodCollect_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,1005},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,1206},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,1407},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,1608},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,1809},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,0},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,201},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_pennyIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,201},{170,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,195}}</string>
				<key>sourceSize</key>
				<string>{170,195}</string>
			</dict>

			<key>anim_tobiasBadCollect_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1812},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasBadCollect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,684},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasBadCollect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,402},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasBadCollect_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,543},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasBadCollect_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,825},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasBadCollect_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,966},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasBadCollect_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1107},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasBadCollect_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1248},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasGoodCollect_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1389},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasGoodCollect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1530},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasGoodCollect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1671},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasGoodCollect_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1812},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasGoodCollect_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,402},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasGoodCollect_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,543},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasGoodCollect_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,684},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasGoodCollect_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,825},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1812},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,966},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1107},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1248},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1389},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1530},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1671},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

			<key>anim_tobiasIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,0},{153,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,135}}</string>
				<key>sourceSize</key>
				<string>{153,135}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim.png</string>
			</dict>
		</dict>
</plist>