<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_crazyDoodle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,265},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,79}}</string>
				<key>sourceSize</key>
				<string>{77,79}</string>
			</dict>

			<key>fx_crazyDoodle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,350},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,79}}</string>
				<key>sourceSize</key>
				<string>{77,79}</string>
			</dict>

			<key>fx_crazyDoodle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,180},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,79}}</string>
				<key>sourceSize</key>
				<string>{77,79}</string>
			</dict>

			<key>fx_crazyDoodle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,0},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,79}}</string>
				<key>sourceSize</key>
				<string>{77,79}</string>
			</dict>

			<key>fx_crazyDoodle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,350},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,79}}</string>
				<key>sourceSize</key>
				<string>{77,79}</string>
			</dict>

			<key>fx_crazyDoodle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,180},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,79}}</string>
				<key>sourceSize</key>
				<string>{77,79}</string>
			</dict>

			<key>fx_crazyDoodle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,265},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,79}}</string>
				<key>sourceSize</key>
				<string>{77,79}</string>
			</dict>

			<key>fx_crazyDoodle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,180},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,79}}</string>
				<key>sourceSize</key>
				<string>{77,79}</string>
			</dict>

			<key>fx_flower_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{19,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,26}}</string>
				<key>sourceSize</key>
				<string>{19,26}</string>
			</dict>

			<key>fx_flower_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{19,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,26}}</string>
				<key>sourceSize</key>
				<string>{19,26}</string>
			</dict>

			<key>fx_flower_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,450},{19,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,26}}</string>
				<key>sourceSize</key>
				<string>{19,26}</string>
			</dict>

			<key>fx_flower_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,450},{19,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,26}}</string>
				<key>sourceSize</key>
				<string>{19,26}</string>
			</dict>

			<key>fx_flower_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{19,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,26}}</string>
				<key>sourceSize</key>
				<string>{19,26}</string>
			</dict>

			<key>fx_flower_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{19,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,26}}</string>
				<key>sourceSize</key>
				<string>{19,26}</string>
			</dict>

			<key>fx_flower_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,450},{19,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,26}}</string>
				<key>sourceSize</key>
				<string>{19,26}</string>
			</dict>

			<key>fx_flower_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,450},{19,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,26}}</string>
				<key>sourceSize</key>
				<string>{19,26}</string>
			</dict>

			<key>fx_star_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,270},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,84}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>

			<key>fx_star_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,0},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,84}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>

			<key>fx_star_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,84}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>

			<key>fx_star_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,90},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,84}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>

			<key>fx_star_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,84}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>

			<key>fx_star_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,90},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,84}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>

			<key>fx_star_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,84}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
			</dict>
		</dict>
</plist>