<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bean_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{123,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,64}}</string>
                <key>sourceSize</key>
                <string>{123,64}</string>
            </dict>
            <key>bean_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,377},{158,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,114}}</string>
                <key>sourceSize</key>
                <string>{158,114}</string>
            </dict>
            <key>bean_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,68},{123,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,64}}</string>
                <key>sourceSize</key>
                <string>{123,64}</string>
            </dict>
            <key>bean_plant.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,332},{111,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,202}}</string>
                <key>sourceSize</key>
                <string>{111,202}</string>
            </dict>
            <key>bean_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,134},{123,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,64}}</string>
                <key>sourceSize</key>
                <string>{123,64}</string>
            </dict>
            <key>bean_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,200},{123,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,64}}</string>
                <key>sourceSize</key>
                <string>{123,64}</string>
            </dict>
            <key>bean_sparkle.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,332},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>bean_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,266},{123,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,64}}</string>
                <key>sourceSize</key>
                <string>{123,64}</string>
            </dict>
            <key>pot_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{183,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{183,184}}</string>
                <key>sourceSize</key>
                <string>{183,186}</string>
            </dict>
            <key>pot_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,186}}</string>
                <key>sourceSize</key>
                <string>{183,186}</string>
            </dict>
            <key>pot_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{183,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,186}}</string>
                <key>sourceSize</key>
                <string>{183,186}</string>
            </dict>
            <key>pot_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{181,184}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{181,184}}</string>
                <key>sourceSize</key>
                <string>{183,186}</string>
            </dict>
            <key>pot_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,190},{182,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,185}}</string>
                <key>sourceSize</key>
                <string>{182,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minigame_10_0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e00e1270efd13326d51271ae3db9c27:b2917f2d51df47d73574f1de3e0c500f:6e67c4c15c4aa44cb50a032a1ec35ab6$</string>
            <key>textureFileName</key>
            <string>minigame_10_0.png</string>
        </dict>
    </dict>
</plist>
