<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hangar_TOP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,158}}</string>
                <key>sourceSize</key>
                <string>{229,158}</string>
            </dict>
            <key>Imperial_Hangar_SCREEN_Asteroid.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{404,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,153}}</string>
                <key>sourceSize</key>
                <string>{404,153}</string>
            </dict>
            <key>Imperial_Hangar_SCREEN_Space1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{404,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,153}}</string>
                <key>sourceSize</key>
                <string>{404,153}</string>
            </dict>
            <key>Imperial_Hangar_SCREEN_Space2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{404,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,153}}</string>
                <key>sourceSize</key>
                <string>{404,153}</string>
            </dict>
            <key>Imperial_TrashCompactor_Top1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{107,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,142}}</string>
                <key>sourceSize</key>
                <string>{107,142}</string>
            </dict>
            <key>SWRCC_Characters_Mouse_Hor.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,627},{59,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>SWRCC_Characters_Mouse_Ver.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,627},{44,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,69}}</string>
                <key>sourceSize</key>
                <string>{44,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites_imperial.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e0482a45178e89f1c78c161c99282e8:e1348b7b61c815c721a75308b4074dd9:40a5e8afbc6c0eae6c5e21aa8e858afc$</string>
            <key>textureFileName</key>
            <string>sprites_imperial.png</string>
        </dict>
    </dict>
</plist>
