<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1x1-cargo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,74}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>1x1-flame-001.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{75,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,88}}</string>
                <key>sourceSize</key>
                <string>{75,88}</string>
            </dict>
            <key>1x1-flame-002.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{74,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,88}}</string>
                <key>sourceSize</key>
                <string>{74,88}</string>
            </dict>
            <key>1x1-flame-003.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{74,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,88}}</string>
                <key>sourceSize</key>
                <string>{74,88}</string>
            </dict>
            <key>1x1-room-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>1x1-room.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>1x2-cargo.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,2},{71,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,181}}</string>
                <key>sourceSize</key>
                <string>{71,181}</string>
            </dict>
            <key>1x2-flame-001.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{70,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,175}}</string>
                <key>sourceSize</key>
                <string>{70,175}</string>
            </dict>
            <key>1x2-flame-002.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{69,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,175}}</string>
                <key>sourceSize</key>
                <string>{69,175}</string>
            </dict>
            <key>1x2-flame-003.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,2},{69,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,175}}</string>
                <key>sourceSize</key>
                <string>{69,175}</string>
            </dict>
            <key>1x2-room-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{113,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,225}}</string>
                <key>sourceSize</key>
                <string>{113,225}</string>
            </dict>
            <key>1x2-room.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{113,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,225}}</string>
                <key>sourceSize</key>
                <string>{113,225}</string>
            </dict>
            <key>2x1-cargo.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,229},{188,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,74}}</string>
                <key>sourceSize</key>
                <string>{188,74}</string>
            </dict>
            <key>2x1-flame-001.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,229},{135,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,87}}</string>
                <key>sourceSize</key>
                <string>{135,87}</string>
            </dict>
            <key>2x1-flame-002.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,229},{134,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,87}}</string>
                <key>sourceSize</key>
                <string>{134,87}</string>
            </dict>
            <key>2x1-flame-003.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,229},{134,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,87}}</string>
                <key>sourceSize</key>
                <string>{134,87}</string>
            </dict>
            <key>2x1-room-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,229},{225,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,113}}</string>
                <key>sourceSize</key>
                <string>{225,113}</string>
            </dict>
            <key>2x1-room.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{225,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,113}}</string>
                <key>sourceSize</key>
                <string>{225,113}</string>
            </dict>
            <key>2x2-cargo.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,456},{189,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,191}}</string>
                <key>sourceSize</key>
                <string>{189,191}</string>
            </dict>
            <key>2x2-flame-001.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,456},{161,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,173}}</string>
                <key>sourceSize</key>
                <string>{161,173}</string>
            </dict>
            <key>2x2-flame-002.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,456},{160,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,173}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>2x2-flame-003.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,456},{160,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,173}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>2x2-room-selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,649},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>2x2-room.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,649},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>air-lock-closed.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,649},{57,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,82}}</string>
                <key>sourceSize</key>
                <string>{57,82}</string>
            </dict>
            <key>air-lock-open.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,649},{96,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,82}}</string>
                <key>sourceSize</key>
                <string>{96,82}</string>
            </dict>
            <key>door-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,649},{27,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,99}}</string>
                <key>sourceSize</key>
                <string>{27,99}</string>
            </dict>
            <key>door-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,649},{27,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,99}}</string>
                <key>sourceSize</key>
                <string>{27,99}</string>
            </dict>
            <key>door-open.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,649},{25,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,98}}</string>
                <key>sourceSize</key>
                <string>{25,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites_fire.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37d2a6cdf6dc824bbf46721184f7c62f:d3107e272bbea52cfedc3dee126a130b:426d66be611b3afd2ce6c11dd6221698$</string>
            <key>textureFileName</key>
            <string>sprites_fire.png</string>
        </dict>
    </dict>
</plist>
