<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WaterWave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{622,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{622,90}}</string>
                <key>sourceSize</key>
                <string>{622,102}</string>
            </dict>
            <key>WaterWave2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{622,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{622,90}}</string>
                <key>sourceSize</key>
                <string>{622,102}</string>
            </dict>
            <key>WaterWave3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{622,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,102}}</string>
                <key>sourceSize</key>
                <string>{622,102}</string>
            </dict>
            <key>mg4_Bubble_Frog.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,429},{163,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,173}}</string>
                <key>sourceSize</key>
                <string>{163,173}</string>
            </dict>
            <key>mg4_Bubble_Frog_Blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,33},{47,27}}</string>
                <key>offset</key>
                <string>{-7,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,6},{47,27}}</string>
                <key>sourceSize</key>
                <string>{163,173}</string>
            </dict>
            <key>mg4_Bubble_pop0.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,780},{208,208}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{208,208}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>mg4_Bubble_pop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,554},{231,224}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,47},{231,224}}</string>
                <key>sourceSize</key>
                <string>{311,308}</string>
            </dict>
            <key>mg4_Bubble_pop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{273,262}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{273,262}}</string>
                <key>sourceSize</key>
                <string>{311,308}</string>
            </dict>
            <key>mg4_Bubble_pop3.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{311,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,308}}</string>
                <key>sourceSize</key>
                <string>{311,308}</string>
            </dict>
            <key>mg4_Falling_Frog.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{152,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,326}}</string>
                <key>sourceSize</key>
                <string>{152,326}</string>
            </dict>
            <key>mg4_Land_Frog.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,290},{263,137}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,137}}</string>
                <key>sourceSize</key>
                <string>{263,143}</string>
            </dict>
            <key>mg4_Land_Frog_Blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,2},{49,29}}</string>
                <key>offset</key>
                <string>{-2,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,8},{49,29}}</string>
                <key>sourceSize</key>
                <string>{309,231}</string>
            </dict>
            <key>mg4_Lilypad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{229,77}}</string>
                <key>offset</key>
                <string>{-7,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,66},{229,77}}</string>
                <key>sourceSize</key>
                <string>{263,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minigame_4_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e115f1326e363a4fec9de56f3012cc0:5e657bb05efe0a2891bbf6b12f46fb56:a120c41e161b88a6ef41c6076631e5fc$</string>
            <key>textureFileName</key>
            <string>minigame_4_0.png</string>
        </dict>
    </dict>
</plist>
