<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mg2_BlowOatmeal_AppleBowl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,827},{235,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,173}}</string>
                <key>sourceSize</key>
                <string>{235,173}</string>
            </dict>
            <key>mg2_BlowOatmeal_BerryBowl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{272,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,202}}</string>
                <key>sourceSize</key>
                <string>{272,202}</string>
            </dict>
            <key>mg2_BlowOatmeal_LOSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{301,367}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{301,367}}</string>
                <key>sourceSize</key>
                <string>{303,369}</string>
            </dict>
            <key>mg2_BlowOatmeal_MacBowl.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,623},{234,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,158}}</string>
                <key>sourceSize</key>
                <string>{234,158}</string>
            </dict>
            <key>mg2_BlowOatmeal_WIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{488,250}}</string>
                <key>offset</key>
                <string>{-36,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,177},{488,250}}</string>
                <key>sourceSize</key>
                <string>{996,560}</string>
            </dict>
            <key>mg2_BlowOatmeal_steam.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,254},{162,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,177}}</string>
                <key>sourceSize</key>
                <string>{162,177}</string>
            </dict>
            <key>mg2_Bowl_steam.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,433},{145,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,160}}</string>
                <key>sourceSize</key>
                <string>{145,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minigame_2_0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21b3873f37029e1f779bc745f59113c8:9ff6b98f4d9a65ad5342fdc9a97fa07b:dca37efabcfea9da135c11c4a9fa05d3$</string>
            <key>textureFileName</key>
            <string>minigame_2_0.png</string>
        </dict>
    </dict>
</plist>
